.UICategoryForm {
	background: #f7f7f7;
	margin: 8px;
	border: 1px solid #c7c7c7;
}

.UICategoryForm .UIForm {
	border: 1px solid white;
}

.UICategoryForm .HorizontalLayout {
	padding: 8px 0px 0px 0px;
	border: none;
}

.UICategoryForm .AddIcon16x16 {
	float: left ;
	width: 16px;
	height: 16px;
	margin: 0px 0px 0px 6px;
	background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/BlueCirclePlus.gif') ;
	cursor: pointer;
}

.UICategoryForm .UIFormInput {
	padding: 0px 0px 0px 20px;
}