.UIContactPortlet .UILDAPCategoryForm {
  width: 580px;
  border: 1px solid red;
  background: #f3f3f3;
  padding: 10px;
}

.UIContactPortlet .UILDAPCategoryForm .UIForm .HorizontalLayout {
  border: none;
}

.UIContactPortlet .UILDAPCategoryForm .UIAction {
  width: 300px;
  padding: 25px 0px 10px 20px;
}
