.Icon24x24 {
	width: 24px;
	height: 24px;
}

.ForumNewPostIcon {
	background: url('icons/ForumNewPostIcon.gif') no-repeat;
}

.ForumLockedIcon {
	background: url('icons/ForumCloseIcon.gif') no-repeat ;
}

.ForumCloseIcon {
	background: url('icons/ForumCloseIcon.gif') no-repeat ;
}

.ForumNormalIcon {
	background: url('icons/ForumNormalIcon.gif') no-repeat ;
}


.HotThreadNewPost {
	background: url('icons/HotThreadNewPost.gif') no-repeat ;
}

.HotThreadNoNewPost {
	background: url('icons/HotThreadNoNewPost.gif') no-repeat ;
}

.ThreadIsClose {
	background: url('icons/ThreadIsClose.gif') no-repeat ;
}

.ThreadNewPost {
	background: url('icons/ThreadNewPost.gif') no-repeat ;
}

.ThreadNoNewPost {
	background: url('icons/ThreadNoNewPost.gif') no-repeat ;
}

.HotThreadNewLockPost {
	background: url('icons/HotThreadNewLockPost.gif') no-repeat ;
}
/*******************************  MenuCategoryIcon    **************************************/

.AddForumIcon {
	background: url('icons/AddNewForum.gif') no-repeat ;
}

.ForumOption {
	background: url('icons/ForumOption.gif') no-repeat ;
}

/*===========================thread bar menu icon===========================*/

.DeleteThisForumIcon {
	background: url('icons/DeleteThisForumIcon.gif') no-repeat ;
}

.SetStickIcon {
	background: url('icons/StickThreadsIcon.gif') no-repeat ;
}

.SetUnStickIcon {
	background: url('icons/StickThreadsIcon.gif') no-repeat ;
}

.MoveThreadsIcon {
	background: url('icons/MoveThreadsIcon.gif') no-repeat ;
}

.DeleteThreadsIcon {
	background: url('icons/DeleteThreadsIcon.gif') no-repeat ;
}
