.Icon24x24 {
	width: 24px;
	height: 24px;
}

.ForumNewPostIcon {
	background: url('icons/ForumNewPostIcon.gif') no-repeat;
}

.ForumLockedIcon {
	background: url('icons/ForumCloseIcon.gif') no-repeat ;
}

.ForumCloseIcon {
	background: url('icons/ForumCloseIcon.gif') no-repeat ;
}

.ForumNormalIcon {
	background: url('icons/ForumNormalIcon.gif') no-repeat ;
}


.HotThreadNewPost {
	background: url('icons/HotThreadNewPost.gif') no-repeat ;
}

.HotThreadNoNewPost {
	background: url('icons/HotThreadNoNewPost.gif') no-repeat ;
}

.ThreadIsClose {
	background: url('icons/ThreadIsClose.gif') no-repeat ;
}

.ThreadNewPost {
	background: url('icons/ThreadNewPost.gif') no-repeat ;
}

.ThreadNoNewPost {
	background: url('icons/ThreadNoNewPost.gif') no-repeat ;
}

/*******************************  MenuCategoryIcon    **************************************/
.EditCategoryIcon {
	background: url('icons/EditCategory.gif') no-repeat ;
}

.AddForumIcon {
	background: url('icons/AddNewForum.gif') no-repeat ;
}

.EditForumIcon {
	background: url('icons/EditForum.gif') no-repeat ;
}

.SetLockedIcon {
	background: url('icons/Lock.gif') no-repeat ;
}

.SetUnLockIcon {
	background: url('icons/UnLock.gif') no-repeat ;
}

.SetCloseIcon {
	background: url('icons/CloseSelectedForum.gif') no-repeat ;
}

.SetOpenIcon {
	background: url('icons/OpenSelectedForum.gif') no-repeat ;
}

.MoveForumIcon {
	background: url('icons/MoveSelectedForum.gif') no-repeat ;
}

.ManageModerators {
	background: url('icons/Manage.gif') no-repeat ;
}

.ForumOption {
	background: url('icons/ForumOption.gif') no-repeat ;
}

/*===========================thread bar menu icon===========================*/

.ApproveThreadsIcon {
	background: url('icons/ApproveThreadsIcon.gif') no-repeat ;
}

.DeleteThisForumIcon {
	background: url('icons/DeleteThisForumIcon.gif') no-repeat ;
}

.RemoveForumIcon {
	background: url('icons/DeleteThisForumIcon.gif') no-repeat ;
}

.SetDeleteIcon {
	background: url('icons/DeleteThreadsIcon.gif') no-repeat ;
}

.DisplayOptionsIcon {
	background: url('icons/DisplayOptionsIcon.gif') no-repeat ;
}

.EditTopicIcon {
	background: url('icons/EditSelectedThreadIcon.gif') no-repeat ;
}

.EditForumIcon {
	background: url('icons/EditthisForumIcon.gif') no-repeat ;
}

.MergeThreadsIcon {
	background: url('icons/MergeThreadsIcon.gif') no-repeat ;
}

.MovethisForumIcon {
	background: url('icons/MovethisForumIcon.gif') no-repeat ;
}

.SetMoveIcon {
	background: url('icons/MoveThreadsIcon.gif') no-repeat ;
}

.PostnewThreadIcon {
	background: url('icons/PostnewThreadIcon.gif') no-repeat ;
}

.SetStickIcon {
	background: url('icons/StickThreadsIcon.gif') no-repeat ;
}

.SetUnStickIcon {
	background: url('icons/StickThreadsIcon.gif') no-repeat ;
	opacity: 0.3;
}

.ThreadsAuto-PruningIcon {
	background: url('icons/ThreadsAuto-PruningIcon.gif') no-repeat ;
}

.DeleteCategoryIcon {
	background: url('icons/DeleteCategoryIcon.gif') no-repeat ;
}

.ModerationPostIcon {
	background: url('icons/ModerationPostIcon.gif') no-repeat ;
}

.DeleteSelectedPostIcon {
	background: url('icons/DeleteSelectedPostIcon.gif') no-repeat ;
}

.UnapproveAttachmentsIcon {
	background: url('icons/UnapproveAttachmentsIcon.gif') no-repeat ;
}

.ApproveAttachmentsIcon {
	background: url('icons/ApproveAttachmentsIcon.gif') no-repeat ;
}

.UnapprovePostsIcon {
	background: url('icons/UnapprovePostsIcon.gif') no-repeat ;
}

.ApprovePostsIcon {
	background: url('icons/ApprovePostsIcon.gif') no-repeat ;
}

.PastePostsIcon {
	background: url('icons/PastePostsIcon.gif') no-repeat ;
}

.CopySelectedPostIcon {
	background: url('icons/CopySelectedPostIcon.gif') no-repeat ;
}

.MoveSelectedPostIcon {
	background: url('icons/MoveSelectedPostIcon.gif') no-repeat ;
}

.MergeSelectedPostsIcon {
	background: url('icons/MergeSelectedPostsIcon.gif') no-repeat ;
}

.SplitThisThreadIcon {
	background: url('icons/SplitThisThreadIcon.gif') no-repeat ;
}

.AddPollThreadIcon {
	background: url('icons/AddPollThreadIcon.gif') no-repeat ;
}

.EmailThisPageIcon {
	background: url('icons/EmailThisPageIcon.gif') no-repeat ;
}

.PrintThisPageIcon {
	background: url('icons/PrintThisPageIcon.gif') no-repeat ;
}

.OpenThreadsIcon {
	background: url('icons/OpenThreadsIcon.gif') no-repeat ;
}

.CloseThreadsIcon {
	background: url('icons/CloseThreadsIcon.gif') no-repeat ;
}

.MoveThreadsIcon {
	background: url('icons/MoveThreadsIcon.gif') no-repeat ;
}

.StickThreadsIcon {
	background: url('icons/StickThreadsIcon.gif') no-repeat ;
}

.StickThreadsIcon {
	background: url('icons/StickThreadsIcon.gif') no-repeat ;
}

.DeleteThreadsIcon {
	background: url('icons/DeleteThreadsIcon.gif') no-repeat ;
}

.PostsIcon {
	background: url('icons/PostsIcon.gif') no-repeat left center;
}