.UIMailPortlet .UIComboboxList {
	position: absolute ;
	display: none ;
}

.UIMailPortlet .UIComboboxList .UIComboboxContainer {
	background: white ;
	border: solid 1px gray ;
	overflow-y: auto ;
	max-height: 150px;
	display:block ;
}

.UIMailPortlet .UIComboboxList .UIComboboxContainer {
	*height: 150px ;
}


.UIMailPortlet .UIComboboxList .UIComboboxItem {
	display: block ;
	padding: 3px 5px ;
	text-decoration: none ;
	color: black ;
	outline:none;
}

.UIMailPortlet .UIComboboxList a:hover{
	background: blue ;
	color: white ;
}

.UIMailPortlet .UIComboboxList a:visit{
	background: white ;
	color: black ;
}

.UIMailPortlet .UIComboboxList .UIComboboxSelectedIcon a{
	background: blue ;
}

.UIMailPortlet .UIComboboxList .UIComboboxLabel {
	font-family: tahoma ;
	font-size: 11px ;
	margin-left: 16px ;
}
