.UIContactPortlet .UIImportForm {
  padding: 10px;
  min-width: 420px;
}

.UIContactPortlet .UIImportForm .HorizontalLayout {
  padding: 10px;
  background: #f3f3f3;
}

.UIContactPortlet .UIImportForm .UIFormGrid td.FieldLabel {
  line-height: 20px;
}

.UIContactPortlet .UIImportForm .HorizontalLayout .categoryInput {
  width: 100%;
  padding: 0px;
}

.UIContactPortlet .UIImportForm .categoryInput .UIFormGrid {
  margin: 0px;
  width: 100%;
}

.UIContactPortlet .UIImportForm .categoryInput .UIFormGrid td {
  padding: 0px;
}

.UIContactPortlet .UIImportForm .categoryInput .UIFormGrid td.FieldLabel {
  display: none;
}