.UIToolbarContainer {
	height:auto;
	background: #c0c0c0;	
}

.UIToolbarContainer .NormalContainerBlock .ToolbarContainer {
    background:none repeat scroll 0 0 #232D36;
    border-left: 1px solid #232D36;
    border-right: 1px solid #232D36;
}

.UIToolbarContainer .NormalContainerBlock .ToolbarContainer .TRContainer{
	padding: 0px 90px;
}

.UIToolbarContainer .ToolbarContainer a {
	color:white;
}

.UIToolbarContainer .UIHorizontalTabs .UITab {
	background: none;
}

.UIStarToolBarPortlet {
	background:transparent url(background/Logo_mini.gif) no-repeat 2px;
	height:32px;
	width:64px;
}

.UIToolbarContainer .GroupIcon {
	background:transparent url(background/GroupIcon.png) no-repeat left 5px;
	margin-left:10px;
}

.UIToolbarContainer .Name a{
	background:transparent url(background/UseIcon.png) no-repeat left 5px;
	margin-left:10px;
}

.UIToolbarContainer .SitesIcon {
	background:transparent url(background/SiteIcon.gif) no-repeat left 5px;
	margin-left:10px;
}


.UIToolbarContainer .MailIcon {
	background:transparent url(background/Mail.png) no-repeat 8px 8px;
	margin-left:10px;
}

.UIToolbarContainer .ContactIcon{
	background:transparent url(background/Contact.png) no-repeat 8px 9px;
	margin-left:10px;
}

.UIToolbarContainer .CalendarIcon {
	background:transparent url(background/Calenda.png) no-repeat 8px 9px;
	margin-left:10px;
}

.UIToolbarContainer .UITableColumnContainer .MenuItemContainer {
	z-index: 100;
	border: 1px solid #999999;
}

.UIToolbarContainer .UITableColumnContainer .MenuItemContainer .TitleBar{
	background: #d7d7d7;
	opacity: 1;
}


.UIToolbarContainer .UITableColumnContainer .MenuItemContainer .MenuItem{
	background: #f3f3f3;
	opacity: 1;
}

.UIToolbarContainer .UITableColumnContainer .MenuItemContainer .MenuItem a{
	color: #444444;
	font-weight: normal;
}

.UIToolbarContainer .UITableColumnContainer .MenuItemContainer .MenuItem a:hover{
	color: #058ee6;
}

.UIToolbarContainer  .UITableColumnContainer .UIStarToolBarPortlet .TabsContainer{
	position: relative;
}