.UIToolbarContainer {
	height:auto;
	background: #c0c0c0;	
}

.UIWorkingWorkspace .UIToolbarContainer  .ToolbarContainer {
    background:none repeat scroll 0 0 #343a50;
    border-left: 1px solid #343a50;
    border-right: 1px solid #343a50;
}

.UIToolbarContainer  .ToolbarContainer .TRContainer{
	padding: 0px 40px 0 40px;
}

.UIToolbarContainer .ToolbarContainer a {
	color:#ffd400;
	padding:0 0 0 20px; /* orientation=lt */
	padding:0 20px 0 0px; /* orientation=rt */
	font-size: 12px;
	font-weight: normal;
}

.UIToolbarContainer .ToolbarContainer a:hover {
	color:#8f8f8f;
}

.UIToolbarContainer .UIHorizontalTabs .UITab {
	background: none;
}

.UIStarToolBarPortlet {
	background:transparent url(background/Logo_mini.gif) no-repeat 2px;
	height:30px;
	width:64px;
}

.UIToolbarContainer .GroupIcon {
	background:transparent url(background/GroupIcon.png) no-repeat left 5px;
	margin-left:10px;
}

.UIToolbarContainer .Name a{
	background:none;
	margin:0;
	padding:0;
}

.UIToolbarContainer .SitesIcon {
	background:transparent url(background/SiteIcon.gif) no-repeat left 5px;
	margin-left:10px;
}


.UIToolbarContainer .MailIcon {
	background:transparent url(background/BorderList.gif) no-repeat 8px 10px; /* orientation=lt */
	background:transparent url(background/BorderList.gif) no-repeat 38px 10px; /* orientation=rt */
}


.UIToolbarContainer .CalendarIcon {
	background:transparent url(background/BorderList.gif) no-repeat 8px 10px;  /* orientation=lt */
	background:transparent url(background/BorderList.gif) no-repeat 60px 10px;  /* orientation=rt */
}

.UIToolbarContainer .UITableColumnContainer .MenuItemContainer {
	z-index: 100;
	width: 150px!important;
	border: none;
	top: 31px!important;
}

.UIToolbarContainer .UITableColumnContainer .MenuItemContainer .TitleBar{
	background: #d7d7d7;
	opacity: 1;
}


.UIToolbarContainer .UITableColumnContainer .MenuItemContainer .MenuItem{	
	opacity: 1;
	border-top: 1px solid #414760;
}

.UIToolbarContainer .UITableColumnContainer .MenuItemContainer .MenuItem a {
	color: #8f8f8f;
	font-weight: normal;
	padding:0 0 0 33px; /* orientation=lt */
	padding:0 33px 0 0; /* orientation=rt */
	background-color:#30385C;	
}

.UIToolbarContainer .UITableColumnContainer .MenuItemContainer .MenuItem a:hover {
	background-color: #20263F;
	color: #92918f;
}



.UIToolbarContainer  .UITableColumnContainer .UIStarToolBarPortlet .TabsContainer{
	position: relative;
}

.UIToolbarContainer .ChangeLanguageIcon {
	background: url('background/ToolbarContainer.png') no-repeat 5px -573px; /* orientation=lt */
	background: url('background/ToolbarContainer-rt.png') no-repeat 120px -573px; /* orientation=rt */
}

.UIToolbarContainer .ChangeSkinIcon {
	background-position: 5px -228px ; /* orientation=lt */
	background-position: 120px -228px ; /* orientation=rt */
}

.UIToolbarContainer .SignOutIcon {
	background: url('background/ToolbarContainer.png') no-repeat 5px -603px; /* orientation=lt */
	background: url('background/ToolbarContainer-rt.png') no-repeat 120px -603px; /* orientation=rt */
}