.UISendMail {
	width: 95%;
	margin: 10px auto;
}

.UISendMail .UIHorizontalLayout {
	background: #efefef;
	border: solid 1px #cdcdcd;
}

.UISendMail .UIHorizontalLayout .FormContainer {
	padding-top: 10px;
	width: 400px;
	margin: auto;
}

.UISendMail .FormContainer .UIFormGrid .FieldLabel {
	width: 128px;
	text-align: right;
	padding: 4px;
}

.UISendMail .FormContainer .UIFormGrid .FieldLabel {
	width: 128px;
	text-align: right;
	padding: 4px;
}

.UISendMail .FormContainer .UIFormGrid .FieldComponent {
	padding: 4px;
}

.UISendMail .FormContainer .UIFormGrid input {
	width: 235px;
	font-size: 11px;
}

.UISendMail .FormContainer .UIFormGrid textarea {
	width: 230px;
	font-size: 11px;
}
