.UICalendarPortlet .UISearchForm {
	background: url('../background/CalendarBackground.gif') repeat-x center -251px;	
	line-height: 34px;
	padding:0px 13px 0px 0px;
	border: 1px solid #c7c7c7;
	margin-bottom: 4px;
	width: 210px;
}

.UICalendarPortlet .UISearchForm .UISearchLabel {
	float: right;
	line-height: 20px;
	margin: 5px 0px;
	color: #555; 
}

.UICalendarPortlet .UISearchForm input {
	width: 140px;
	float: right;
	margin: 6px 5px;
}

.UICalendarPortlet .UICalendarContainer .SearchIcon {
	height: 16px;
	width: 16px;
	float: right;
	margin: 8px 5px 0px 0px;
	cursor: pointer;
}

.UICalendarPortlet .UISearchForm .AdvancedSearch {
	height: 16px; 
	width: 16px;
	float: right; 
	margin: 8px 0px 0px 2px;
	cursor: pointer;
}
