.UIUserTitleManagerForm {
	background-color: #ffffff;
	padding: 8px;
}

.UIUserTitleManagerForm .UserManagementContainer {
	background-color: #f7f7f7;
	padding: 8px;
	border: 1px solid #b4b4b4;
}

.UIUserTitleManagerForm .UIFormWithTitle {
	margin: 8px auto ;
}

.UIUserTitleManagerForm .UIFormWithTitle td {
	padding: 4px ;
}

.UIUserTitleManagerForm .UIFormWithTitle .FieldLabel {
	text-align: right ;
}
