@import url("UIComposerMessagePopup/DefaultStylesheet.css") ;
@import url("UIReadMessage/DefaultStylesheet.css") ;
/**
 * UIMailPortlet
 */
@import url("UIAccountSetting/DefaultStylesheet.css");
@import url("UIMailSetting/DefaultStylesheet.css");
@import url("UIInsertAddress/DefaultStylesheet.css");
 
.UIMailPortlet {
}
 
/******************************************** MailBanner ****************************************/
.UIMailPortlet .MailBanner {
  background: url('DefaultSkin/background/BgBanner457x63.gif') no-repeat left;
  height: 64px;
  padding: 0px 1px 0px 155px;
}

.UIMailPortlet .MailBanner .LeftHorizontalLine {
  background: url('DefaultSkin/background/LeftHorizontalLine44x2.gif') no-repeat left bottom;	
  padding-left: 44px;
  height: 30px;
}

.UIMailPortlet .MailBanner .RepeatHorizontalLine {
	font-size: 13px; font-family: tahoma;
	color: #5f5f5f; font-weight: bold;
  background: url('DefaultSkin/background/RepeatHorizontalLine1x2.gif') repeat-x bottom;	
  height: 21px; padding-top: 9px;
}

.UIMailPortlet .MailBanner .SearchForm {
  background: url('DefaultSkin/background/RightBottomBanner440x34.gif') no-repeat right;	
  height: 34px; line-height: 34px;
	padding-right: 13px;
	border-right: 1px solid #787e9f;
}

.UIMailPortlet .MailBanner .Label {
	float: right;
	line-height: 20px;
	margin: 5px 0px;
	color: #595b6a; 
}

.UIMailPortlet .MailBanner .Input {
	width: 195px;
	float: right;
	margin: 5px 8px;
}

.UIMailPortlet .MailBanner .Search {
  background: url('DefaultSkin/icons/16x16/SearchIcon.gif') no-repeat ;	
  height: 16px;
  width: 16px;
  float: right;
  margin: 8px 5px 0px 0px;
  cursor: pointer;
}

.UIMailPortlet .MailBanner .AdvancedSearch {
  background: url('DefaultSkin/icons/16x16/FindIcon.gif') no-repeat ;	
  height: 16px; width: 16px;
  float: right; cursor: pointer;
  margin: 8px 0px 0px 2px;
}

.UIMailPortlet .MailBanner .SeparatorLine {
  background: url('DefaultSkin/background/SeparatorLine2x27.gif') no-repeat ;	
  height: 27px; width: 2px;
  float: right;
  margin: 3px 7px;
}

/***************************************MailWorkingWorkspace********************************/

.UIMailPortlet .MailWorkingWorkspace {
	padding: 10px 5px;
}

.UIMailPortlet .MailWorkingWorkspace .MailControlBar {
	padding: 5px 5px 0px 5px;
	height: 31px;
}

.UIMailPortlet .MailWorkingWorkspace .MailControlBar a.ControlButton {
	float: left;
	display: plock;
	padding: 5px;
	width: 35px; height: 21px;
}

.UIMailPortlet .MailWorkingWorkspace .MailControlBar a:hover {
	background: url('DefaultSkin/background/ControlButtonBG.gif') repeat-y ;
	border: 1px solid #9d9d9d;
	text-color: #ffba00;
}

.UIMailPortlet .MailWorkingWorkspace .MailControlBar .MailIconLabel {
	line-height: 20px;
}

.UIMailPortlet .MailWorkingWorkspace .MailControlBar .MailIcon {
	width: 24px; height: 18px;
}

.UIMailPortlet .MailWorkingWorkspace .MailControlBar .CheckMailIcon {
	background: url('DefaultSkin/icons/CheckMailIcon.gif') no-repeat ;
}

.UIMailPortlet .MailContainer {
	padding: 0px 5px 5px 5px;
	border: 1px solid #c2c2c2;
	background: #f3f3f3;
	height: 100%;
}

/**************************************MailContentNavigation*********************************/

.UIMailPortlet .MailContainer .MailAccountManagendent {
	float: left;
	width: 215px;
	padding: 0px 2px;
}

.UIMailPortlet .MailAccountManagendent .UIDropDownItemSelector {
	width: 194px;
	float: left;
	margin: 10px 0px 1px 0px;
}

.UIMailPortlet .MailAccountManagendent .AddNavigationIcon {
	background: url('/eXoResources/icons/24x24/DefaultSkin/EditNavigation.gif') no-repeat left top;
	cursor: pointer;
	float: left; margin: 10px 0px 0px 0px;
	height: 21px; width: 21px;
	display: block;
}

.UIMailPortlet .MailAccountManagendent .AccountList {
}

.UIMailPortlet .MailAccountManagendent .FolderList {
	background: white;
	border: 1px solid #a5a5a5;
	margin: 1px 0px;
	padding: 1px 1px 30px 1px;
}

/**************************************FolderItemList*********************************/
 
.UIMailPortlet .MailAccountManagendent .FolderItemList .TitleItem {
	background: #e6e6e6 ;
	height: 20px; 
}

.UIMailPortlet .MailAccountManagendent .FolderItemList .LeftTitleItem {
	background: url('DefaultSkin/background/LeftTitleItem20x20.gif') no-repeat ;
	height: 20px; width: 20px;
	float: left;
}

.UIMailPortlet .MailAccountManagendent .FolderItemList .LabelTitle {
	background: url('DefaultSkin/icons/16x16/FolderIcon.gif') no-repeat left center ;
	height: 20px; line-height: 20px;
	color: #3d3d3d; font-weight: bold;
	margin-left: 20px;
	padding-left: 23px;
}

.UIMailPortlet .MailAccountManagendent .FolderItemList .ItemList {
	padding: 3px 0px 5px 22px;
}

.UIMailPortlet .MailAccountManagendent .FolderItemList a {
	color: #1e1f21;
}

.UIMailPortlet .MailAccountManagendent .FolderItemList a:hover {
	color: blue;
}

.UIMailPortlet .MailAccountManagendent .FolderItemList .Icon {
	padding-left: 30px;
	line-height: 28px; height: 28px;
}

.UIMailPortlet .MailAccountManagendent .FolderItemList .IndexIcon {
	background: url('DefaultSkin/icons/24x24/InboxIcon.gif') no-repeat left center ;
}

.UIMailPortlet .MailAccountManagendent .FolderItemList .DraftsIcon {
	background: url('DefaultSkin/icons/24x24/DraftsIcon.gif') no-repeat left center ;
}

.UIMailPortlet .MailAccountManagendent .FolderItemList .SentIcon {
	background: url('DefaultSkin/icons/24x24/SentIcon.gif') no-repeat left center ;
}

.UIMailPortlet .MailAccountManagendent .FolderItemList .SpamIcon {
	background: url('DefaultSkin/icons/24x24/SpamIcon.gif') no-repeat left center ;
}

.UIMailPortlet .MailAccountManagendent .FolderItemList .TrashIcon {
	background: url('DefaultSkin/icons/24x24/TrashIcon.gif') no-repeat left center ;
}

/**************************************MyFolder*********************************/
.UIMailPortlet .MailAccountManagendent .MyFolder .TitleMyFolder {
	background: url('DefaultSkin/background/LineTitle166x1.gif') no-repeat left bottom;
	height: 20px; line-height: 20px;
}

.UIMailPortlet .MailAccountManagendent .MyFolder .IconTitle {
	background: url('DefaultSkin/background/LeftTitleItem20x20.gif') no-repeat ;
	height: 20px; width: 20px;
	float: left;	
}

.UIMailPortlet .MailAccountManagendent .MyFolder .LabelTitle {
	color: #3d3d3d; font-weight: bold;
	margin-left: 20px;
}

.UIMailPortlet .MailAccountManagendent .MyFolder .UITree  {
	border: none;
}

.UIMailPortlet .MyFolder .UITree .ChildrenContainer {
	padding-left: 15px;
}

.UIMailPortlet .MyFolder .UITree .Icon {
	height: 22px; width: 24px;
}

.UIMailPortlet .MyFolder .UITree .Default {
	background: url('DefaultSkin/icons/24x24/DefaultIcon.gif') no-repeat center;
}

.UIMailPortlet .MyFolder .UITree .NodeLabel a {
	line-height: 20px;
	font-weight: normal;
	color: #1e1f21;
}

.UIMailPortlet .UITree .TreeContainer .NodeLabel a:hover {
	font-weight: normal;
	color: blue;
}

/*********************************TagList*************************************/

.UIMailPortlet .MailAccountManagendent .TagList {
	background: white;
	border: 1px solid #a5a5a5;
	margin: 1px 0px;
}

.UIMailPortlet .MailAccountManagendent .TagList .TitleTagList {
	background: url('DefaultSkin/background/BgTitleTag1x20.gif') repeat-x ;
}

.UIMailPortlet .MailAccountManagendent .TagList .LeftTitleTag {
	background: url('DefaultSkin/background/LeftTitleItem20x20.gif') no-repeat ;
	height: 20px; width: 20px;
	float: left;
}

.UIMailPortlet .MailAccountManagendent .TagList .IconTitle {
	background: url('DefaultSkin/icons/16x16/BlueTag.gif') no-repeat left center;
	height: 20px; line-height: 20px;
	padding-left: 20px;	
	margin-left: 20px;
	color: #3d3d3d; font-weight: bold;	
}

.UIMailPortlet .MailAccountManagendent .TagList .TagContent {
	padding: 8px 0px 8px 18px;
}

.UIMailPortlet .TagList .TagContent .IconItemTag {
	padding-left: 25px;
}

.UIMailPortlet .TagList .TagContent .IconItemTag a {
	line-height: 20px;
	color: #3d3d3d;
}

.UIMailPortlet .TagList .TagContent .IconItemTag a:hover {
	color: blue;
}

.UIMailPortlet .TagList .TagContent .BlueTag {
	background: url('DefaultSkin/icons/16x16/BlueTag.gif') no-repeat left center;
}

.UIMailPortlet .TagList .TagContent .RedTag {
	background: url('DefaultSkin/icons/16x16/RedTag.gif') no-repeat left center;
}

.UIMailPortlet .TagList .TagContent .GreenTag {
	background: url('DefaultSkin/icons/16x16/GreenTag.gif') no-repeat left center;
}

.UIMailPortlet .TagList .TagContent .VioletTag {
	background: url('DefaultSkin/icons/16x16/VioletTag.gif') no-repeat left center;
}
/*********************************MailContentWorkingArea*************************************/


/*=========================Mail ControlBar======================================*/

.UIMailPortlet .MailWorkingWorkspace .MailControlBar {
	height: 31px;
}

.UIMailPortlet .MailWorkingWorkspace .ControlButton {
	float: left;
	line-height: 26px;
}

.UIMailPortlet .MailWorkingWorkspace  .MailControlBar a {
	color: #000000;
	margin: 3px 0px 0px 0px;
	line-height: 26px;
}

.UIMailPortlet .MailWorkingWorkspace  .MailControlBar a:hover {
	background: url('DefaultSkin/background/ControlButtonBG1x26.gif') repeat-x ;
	color: blue; border: 1px solid #cbcbcb;
	height: 24px;
}

.UIMailPortlet .MailWorkingWorkspace .MailIconLabel {
	line-height: 24px;
}

.UIMailPortlet .MailWorkingWorkspace .SeparatorLine {
  background: url('DefaultSkin/background/SeparatorLine2x26.gif') no-repeat ;	
  height: 26px; width: 2px;
  float: left;
  margin: 3px 5px 2px 5px;
}

.UIMailPortlet .MailWorkingWorkspace .MailIcon {
	line-height: 26px;
	margin: 0px 7px;
	padding-left: 26px;
}

.UIMailPortlet .MailWorkingWorkspace .MailControlBar .CheckMailIcon {
	background: url('DefaultSkin/icons/24x24/CheckMailIcon.gif') no-repeat;
}

.UIMailPortlet .MailWorkingWorkspace .MailControlBar .ComposeIcon {
	background: url('DefaultSkin/icons/24x24/ComposeIcon.gif') no-repeat;
}

.UIMailPortlet .MailWorkingWorkspace .MailControlBar .ReplyIcon {
	background: url('DefaultSkin/icons/24x24/ReplyIcon.gif') no-repeat;
}

.UIMailPortlet .MailWorkingWorkspace .MailControlBar .ReplyAllIcon {
	background: url('DefaultSkin/icons/24x24/ReplyAllIcon.gif') no-repeat;
}

.UIMailPortlet .MailWorkingWorkspace .MailControlBar .ForwardIcon {
	background: url('DefaultSkin/icons/24x24/ForwardIcon.gif') no-repeat;
}

.UIMailPortlet .MailWorkingWorkspace .MailControlBar .PrintIcon {
	background: url('DefaultSkin/icons/24x24/PrintIcon.gif') no-repeat;
	width: 2px; height: 26px;
}

.UIMailPortlet .MailWorkingWorkspace .MailControlBar .ContactsIcon {
	background: url('DefaultSkin/icons/24x24/ContactsIcon.gif') no-repeat;
}

.UIMailPortlet .MailWorkingWorkspace .MailControlBar .RssIcon {
	background: url('DefaultSkin/icons/24x24/RssIcon.gif') no-repeat;
}

.UIMailPortlet .MailWorkingWorkspace .MailControlBar .CustomViewIcon {
	background: url('DefaultSkin/icons/24x24/CustomViewIcon.gif') no-repeat;
	float: left;
	width: 2px;  height: 25px;
}

.UIMailPortlet .MailWorkingWorkspace .MailControlBar .BlueDownArrowIcon {
	width: 12px; height: 16px;
	margin: 5px 6px 0px 0px; float: left;
}

.UIMailPortlet .MailWorkingWorkspace .MailControlBar .SettingsIcon {
	background: url('DefaultSkin/icons/24x24/SettingsIcon.gif') no-repeat;
	width: 2px;  height: 26px;
}

.UIMailPortlet .MailWorkingWorkspace .MailControlBar .DeleteIcon {
	background: url('DefaultSkin/icons/24x24/Dustbin.gif') no-repeat;
	width: 2px; height: 26px;
}







/*================================= MailContainer ================*/

.UIMailPortlet .MailWorkingWorkspace .MailContainer {
	padding: 0px 0px 5px 6px;
 	border: 1px solid #c2c2c2;
 	background: #f3f3f3;
 	height: 100%;
}


/*===================================MailWorkingDetail=================*/

.UIMailPortlet .MailWorkingWorkspace .MailContainer .MailContentWorkingArea {
	margin: 0px 0px 0px 225px;
}

.UIMailPortlet .MailWorkingDetail .MailListActionsbar {
	background: url('DefaultSkin/background/MailListControlbarBG1x24.gif') repeat-x;
	height: 24px;
	width: 98.8%;
	border-left: 1px solid #c0c0c0;
	border-right: 1px solid #c0c0c0;
}

.UIMailPortlet .MailWorkingWorkspace  .MailListActionsbar a {
	color: #000000;
}

.UIMailPortlet .MailWorkingWorkspace  .MailListActionsbar a:hover {
	color: blue;
}

.UIMailPortlet .MailWorkingWorkspace .MailListActionsbar .MailIconLabel {
	line-height: 24px;
	float: left;
}

.UIMailPortlet .MailWorkingWorkspace .MailListActionsbar .MoreActionsIcon {
	background: url('DefaultSkin/icons/16x16/MoreActions.gif') no-repeat left;
	float: left;
	width: 24px; height: 20px;
	margin: 2px 0px 0px 10px;
}

.UIMailPortlet .MailWorkingWorkspace .MailListActionsbar .ViewIcon {
	background: url('DefaultSkin/icons/16x16/View.gif') no-repeat left;
	float: left;
	width: 24px; height: 20px;
	margin: 2px 0px 0px 10px;
}

.UIMailPortlet .MailWorkingWorkspace .MailListActionsbar .AddEventIcon {
	background: url('DefaultSkin/icons/24x24/AddEvent.gif') no-repeat left;
	float: left;
	width: 24px; height: 20px;
	margin: 2px 0px 0px 10px;
}

.UIMailPortlet .MailWorkingWorkspace .MailListActionsbar .BlueDownArrowIcon {
	width: 16px; height: 16px;
	margin: 5px 0px 0px 0px;
	float: left;
}

/*================================== UIGrid===============*/

.UIMailPortlet .MailWorkingWorkspace .MailListDetail {
	padding-left: 1px;
}

.UIMailPortlet .MailWorkingWorkspace .UIGrid th {
	background: url(DefaultSkin/background/ThGridRepeatBg1x19.gif) repeat-x;
	border: 1px solid #d2d4dc;
	line-height: 19px;
}

.UIMailPortlet .MailWorkingWorkspace .NomalStarIcon {
	background: url(DefaultSkin/icons/16x16/NomalStarIcon.gif) no-repeat;
	width: 16px; height: 16px;
	margin: 1px 0px 0px 4px; 
	cursor: pointer;
}

.UIMailPortlet .MailWorkingWorkspace .HighlightStarIcon {
	background: url(DefaultSkin/icons/16x16/HighLightStarIcon.gif) no-repeat;
	width: 16px; height: 16px;
	margin: 1px 0px 0px 4px;
	cursor: pointer;
}

.UIMailPortlet .MailWorkingWorkspace .AttackIcon {
	background: url(DefaultSkin/icons/16x16/AttackmentIcon.gif) no-repeat;
	width: 16px; height: 16px;
	margin: 1px 0px 0px 4px;
	cursor: pointer;
}

.UIMailPortlet .MailWorkingWorkspace .TotalMessageIcon {
	background: url(DefaultSkin/icons/16x16/TotalMessageIcon.gif) no-repeat;
	width: 16px; height: 16px;
	margin: 1px 0px 0px 4px;
}

.UIMailPortlet .MailWorkingWorkspace .priorityIcon {
	background: url(DefaultSkin/icons/16x16/NomalPriorityIcon.gif) no-repeat;
	width: 16px; height: 16px;
	margin: 1px 0px 0px 4px;
}

.UIMailPortlet .MailWorkingWorkspace table {
	width: 99%; 
	background: #ffffff;
}

.UIMailPortlet .MailWorkingWorkspace td {
	border-top: none;
}

.UIMailPortlet .MailWorkingWorkspace .textBold {
	font-weight: bold;
}

.UIMailPortlet .MailWorkingWorkspace .ResizeReadingPane {
	background: url(DefaultSkin/background/ResizeReadingPane38x3.gif) no-repeat;
	width: 38px; height: 3px;
	margin: 1px auto 1px auto;
	cursor: n-resize;
}

.UIMailPortlet .MailWorkingWorkspace .MailListDetail .BlueDownArrowIcon {
	width: 16px; height: 16px;
	margin: 3px 0px 0px 0px;
	float: left; cursor: pointer;
}

/*=================================Reading Pane=================*/

.UIMailPortlet .MailWorkingWorkspace .ReadingPane {
	border: 1px solid #c0c0c0;
	width: 98.8%; 
	background: #ffffff;
}

.UIMailPortlet .MailWorkingWorkspace .ReadingPane .ReadingPaneBar {
	background: #e7e7e7;
	height: 25px;
	border: 1px solid #ffffff;
}

.UIMailPortlet .MailWorkingWorkspace .ReadingPane .ReadingPaneTitle {
	float: left;
	font-weight: bold;
	font-size: 11px;
	margin: 5px 0px 0px 10px; 
}

.UIMailPortlet .MailWorkingWorkspace .ReadingPane .MaximizeReadingPane {
  float: right;
	background: url(DefaultSkin/icons/16x16/MaximizeReadingPane.gif) no-repeat;
	width: 17px; height: 16px;
	margin: 4px 4px 0px 0px;
	cursor: pointer;
}

/*=======================Message Header====================*/

.UIMailPortlet .MailWorkingWorkspace .MessageHeader {
	padding: 5px;
	height: 120px;
}

.UIMailPortlet .MailWorkingWorkspace .MessageCheck {
	float: left;
	width: 50px; 
}

.UIMailPortlet .MailWorkingWorkspace .MessageCheck .CheckBox {
	float: left;
}

.UIMailPortlet .MailWorkingWorkspace .MessageCheck .NomalStarIcon {
	float: left; 
}

.UIMailPortlet .MailWorkingWorkspace .MessageAddress {
	float: left; 
}

.UIMailPortlet .MailWorkingWorkspace .MessageAddress .FieldContainer{
	line-height: 18px;
}

.UIMailPortlet .MailWorkingWorkspace .MessageAddress .Title {
	float: left;
	color: #6a6a6a;
	width: 80px;
	font-weight: bold;
}

.UIMailPortlet .MailWorkingWorkspace .MessageAddress .Address {
	float: left;
	font-weight: bold;
}

.UIMailPortlet .MailWorkingWorkspace .MessageAddress .LinkAddress {
	float: left;
	color: blue;
	cursor: pointer;
	font-weight: bold;
}

.UIMailPortlet .MailWorkingWorkspace .TagIcon {
	float: left;
	background: url(DefaultSkin/icons/16x16/RedTag.gif) no-repeat;
	width: 16px; height: 16px;
	cursor: pointer;
	margin: 0px 4px;
}

.UIMailPortlet .MailWorkingWorkspace .MessageActions {
	float: right; 
	width: 160px;
}

.UIMailPortlet .MailWorkingWorkspace .MessageActions .BlueDownArrowIcon {
	float: left;
	width: 12px; height: 20px;
	cursor: pointer;
}

.UIMailPortlet .MailWorkingWorkspace .MessageActions .ShowHideTitle {
	float: left;
	line-height: 20px;
	color: blue; cursor: pointer;
}

.UIMailPortlet .MailWorkingWorkspace .MessageActions .MonthDate {
	float: left;
	line-height: 20px;
	font-weight: bold;
	margin: 0px 4px;
}

.UIMailPortlet .MailWorkingWorkspace .MessageActions .AttackIcon {
	float: left;
	margin: 2px 2px 0px 0px;
}

.UIMailPortlet .MailWorkingWorkspace .MessageActions .ActionsThisMessage {
	background: url(DefaultSkin/icons/24x24/ThisMessageAction.gif) no-repeat bottom;
	float: right;
	cursor: pointer;
	width: 24px; height: 22px;
}

/*=====================MessageDetail===================*/

.UIMailPortlet .MailWorkingWorkspace .MessageDetail {
	padding: 10px;
}
