@import url("UIComposerMessagePopup/DefaultStylesheet.css") ;
@import url("UIReadMessage/DefaultStylesheet.css") ;
@import url(UIAccountCreationPopup/DefaultStylesheet.css) ;
@import url("UIAccountSetting/DefaultStylesheet.css");
@import url("UIMailSetting/DefaultStylesheet.css");
@import url("UIInsertAddress/DefaultStylesheet.css");
/**
 * UIMailPortlet
 */
 
.UIMailPortlet {
}
 
/******************************************** MailBanner ****************************************/
.UIMailPortlet .MailBanner {
  background: url('DefaultSkin/background/BgBanner457x63.gif') no-repeat left;
  height: 64px;
  padding: 0px 1px 0px 155px;
}

.UIMailPortlet .MailBanner .LeftHorizontalLine {
  background: url('DefaultSkin/background/LeftHorizontalLine44x2.gif') no-repeat left bottom;	
  padding-left: 44px;
  height: 30px;
}

.UIMailPortlet .MailBanner .RepeatHorizontalLine {
	font-size: 13px; font-family: tahoma;
	color: #5f5f5f; font-weight: bold;
  background: url('DefaultSkin/background/RepeatHorizontalLine1x2.gif') repeat-x bottom;	
  height: 21px; padding-top: 9px;
}

.UIMailPortlet .MailBanner .SearchForm {
  background: url('DefaultSkin/background/RightBottomBanner440x34.gif') no-repeat right;	
  height: 34px; line-height: 34px;
	padding-right: 13px;
	border-right: 1px solid #787e9f;
}

.UIMailPortlet .MailBanner .Label {
	float: right;
	line-height: 20px;
	margin: 5px 0px;
	color: #595b6a; 
}

.UIMailPortlet .MailBanner .Input {
	width: 195px;
	float: right;
	margin: 5px 8px;
}

.UIMailPortlet .MailBanner .Search {
  background: url('DefaultSkin/icons/16x16/SearchIcon.gif') no-repeat ;	
  height: 16px;
  width: 16px;
  float: right;
  margin: 8px 5px 0px 0px;
  cursor: pointer;
}

.UIMailPortlet .MailBanner .AdvancedSearch {
  background: url('DefaultSkin/icons/16x16/FindIcon.gif') no-repeat ;	
  height: 16px; width: 16px;
  float: right; cursor: pointer;
  margin: 8px 0px 0px 2px;
}

.UIMailPortlet .MailBanner .SeparatorLine {
  float: right;
  margin: 3px 7px;
}

/***************************************MailWorkingWorkspace********************************/

.UIMailPortlet .MailWorkingWorkspace {
	padding: 10px 5px;
}

.UIMailPortlet .MailWorkingWorkspace .MailControlBar a:hover {
	background: url('DefaultSkin/background/ControlButtonBG.gif') repeat-y ;
	border: 1px solid #9d9d9d;
	text-color: #126ca5;
}

.UIMailPortlet .MailWorkingWorkspace .MailControlBar .Label {
	line-height: 24px;
}

.UIMailPortlet .MailContainer {
	padding: 0px 5px 5px 5px;
	border: 1px solid #c2c2c2;
	background: #f3f3f3;
	height: 100%;
}

/**************************************MailContentNavigation*********************************/

.UIMailPortlet .MailContainer .MailAccountManagement {
	float: left;
	width: 215px;
	padding: 0px 2px;
}

.UIMailPortlet .MailAccountManagement .UIDropDownItemSelector {
	width: 194px;
	float: left;
	margin: 10px 0px 1px 0px;
}

.UIMailPortlet .MailAccountManagement .AddNavigationIcon {
	background: url('/eXoResources/icons/24x24/DefaultSkin/EditNavigation.gif') no-repeat left top;
	cursor: pointer;
	float: left; margin: 10px 0px 0px 0px;
	height: 21px; width: 21px;
	display: block;
}

.UIMailPortlet .MailAccountManagement .AccountList {
}

.UIMailPortlet .MailAccountManagement .FolderList {
	background: white;
	border: 1px solid #a5a5a5;
	margin: 1px 0px;
	padding: 1px 1px 30px 1px;
}

/**************************************FolderItemList*********************************/
 
.UIMailPortlet .MailQuantity {
	font-weight: bold;
}
 
.UIMailPortlet .MailAccountManagement .FolderItemList .TitleItem {
	background: #e6e6e6 ;
	height: 20px; 
}

.UIMailPortlet .MailAccountManagement .DownArrow3Icon {
	float: left;
}

.UIMailPortlet .MailAccountManagement .Title {
	color: #3d3d3d; font-weight: bold;
	margin-left: 20px;
	padding-left: 23px;
	line-height: 18px;
}

.UIMailPortlet .MailAccountManagement .FolderItemList .ItemList {
	padding: 3px 0px 5px 22px;
}

.UIMailPortlet .MailAccountManagement .FolderItemList a {
	color: #1e1f21;
	display: block;
}

.UIMailPortlet .MailAccountManagement .FolderItemList a:hover {
	color: #126ca5;
}

.UIMailPortlet .MailAccountManagement .FolderItemList .Icon {
	padding-left: 30px;
	line-height: 24px; 
	margin: 2px 0px; width: auto;
}

.UIMailPortlet .MailAccountManagement .MyFolder .UITree  {
	border: none;
}

.UIMailPortlet .MyFolder .UITree .ChildrenContainer {
	padding-left: 15px;
}

.UIMailPortlet .MyFolder .UITree .Icon {
	height: 22px; width: 24px;
}

.UIMailPortlet .MyFolder .UITree .NodeLabel a {
	line-height: 20px;
	font-weight: normal;
	color: #1e1f21;
}

.UIMailPortlet .UITree .TreeContainer .NodeLabel a:hover {
	font-weight: normal;
	color: #126ca5;
}

/*********************************TagList*************************************/

.UIMailPortlet .MailAccountManagement .TagTitle {
	float: left;
	padding-left: 20px;
	font-weight: bold;
}

.UIMailPortlet .MailAccountManagement .UITag {
	background: white;
	border: 1px solid #a5a5a5;
	margin: 1px 0px;
}

.UIMailPortlet .MailAccountManagement .UITag .IconTitle {
	padding-left: 20px;	
	margin-left: 20px;
	color: #3d3d3d; font-weight: bold;	
}

.UIMailPortlet .MailAccountManagement .UITag .TagsList {
	padding: 8px 0px 8px 18px;
}

.UIMailPortlet .UITag .TagsList .IconItemTag {
	padding-left: 25px;
}

.UIMailPortlet .UITag .TagsList a {
	line-height: 20px;
	color: #3d3d3d;
	display: block;
}

.UIMailPortlet .UITag .TagsList a:hover {
	color: #126ca5;
}


/*********************************MailContentWorkingArea*************************************/


/*=========================Mail ControlBar======================================*/

.UIMailPortlet .MailWorkingWorkspace .MailControlBar {
	height: 31px;
}

.UIMailPortlet .MailWorkingWorkspace .ControlButton {
	float: left;
	line-height: 26px;
}

.UIMailPortlet .MailWorkingWorkspace  .MailControlBar a {
	color: #000000;
	margin: 3px 0px 0px 0px;
	line-height: 26px;
}

.UIMailPortlet .MailWorkingWorkspace  .MailControlBar a:hover {
	background: url('DefaultSkin/background/ControlButtonBG1x26.gif') repeat-x ;
	color: #126ca5; border: 1px solid #cbcbcb;
	height: 24px;
}

.UIMailPortlet .MailWorkingWorkspace .SeparatorLine {
  float: left;
  margin: 3px 5px 2px 5px;
}

.UIMailPortlet .MailWorkingWorkspace .IconHolder {
	line-height: 26px;
	margin: 0px 7px;
	padding-left: 26px;
}

/*================================= MailContainer ================*/

.UIMailPortlet .MailWorkingWorkspace .MailContainer {
	padding: 0px 0px 5px 6px;
 	border: 1px solid #c2c2c2;
 	background: #f3f3f3;
 	height: 100%;
}


/*===================================MailWorkingDetail=================*/

.UIMailPortlet .MailWorkingWorkspace .MailContainer .MailWorkingDetail {
	margin: 0px 0px 0px 225px;
}

.UIMailPortlet .MailWorkingDetail .MailActionsbar {
	background: url('DefaultSkin/background/MailListControlbarBG1x24.gif') repeat-x;
	height: 24px;
	width: 98.8%;
	border-left: 1px solid #c0c0c0;
	border-right: 1px solid #c0c0c0;
}

.UIMailPortlet .MailWorkingWorkspace  .MailActionsbar a {
	color: #000000;
}

.UIMailPortlet .MailWorkingWorkspace  .MailActionsbar a:hover {
	color: #126ca5;
}

.UIMailPortlet .MailWorkingWorkspace .MailActionsbar .MoreActionsIcon {
	margin: 2px 0px 0px 10px;
	line-height: 24px;
	padding-left: 24px;
}

.UIMailPortlet .MailWorkingWorkspace .MailActionsbar .ViewIcon {
	margin: 2px 0px 0px 10px;
	line-height: 24px;
	padding-left: 24px;
}

.UIMailPortlet .MailWorkingWorkspace .MailActionsbar .AddEventIcon {
	margin: 2px 0px 0px 10px;
	line-height: 20px;
	padding-left: 24px;
}

.UIMailPortlet .MailWorkingWorkspace .MailActionsbar .DownArrow1Icon {
	line-height: 20px;
	background-position: right;
	padding-right: 16px; 
}

/*================================== UIGrid===============*/

.UIMailPortlet .MailWorkingWorkspace .MailListDetail {
	padding-left: 1px;
}

.UIMailPortlet .MailWorkingWorkspace .UIGrid th {
	background: url(DefaultSkin/background/ThGridRepeatBg1x19.gif) repeat-x;
	border: 1px solid #d2d4dc;
}

.UIMailPortlet .MailWorkingWorkspace .NomalStarIcon {
	margin: 1px 0px 0px 4px; 
}

.UIMailPortlet .MailWorkingWorkspace .HighlightStarIcon {
	margin: 1px 0px 0px 4px;
}

.UIMailPortlet .MailWorkingWorkspace .AttackIcon {
	margin: 1px 0px 0px 3px;
}

.UIMailPortlet .MailWorkingWorkspace .TotalMessageIcon {
	margin: 1px 0px 0px 4px;
}

.UIMailPortlet .MailWorkingWorkspace .priorityIcon {
	margin: 1px 0px 0px 4px;
}

.UIMailPortlet .MailWorkingWorkspace table {
	width: 99%; 
	background: #ffffff;
}

.UIMailPortlet .MailWorkingWorkspace td {
	border-top: none;
	height: 20px;
}

.UIMailPortlet .MailWorkingWorkspace .textBold {
	font-weight: bold;
}

.UIMailPortlet .MailWorkingWorkspace .ResizeReadingPane {
	margin: 1px auto 1px auto;
}

.UIMailPortlet .MailWorkingWorkspace .MailListDetail .DownArrow1Icon {
	width: 16px; height: 16px;
	margin: 3px 0px 0px 0px;
	float: left; cursor: pointer;
}

/*=================================Reading Pane=================*/

.UIMailPortlet .MailWorkingWorkspace .ReadingPane {
	border: 1px solid #c0c0c0;
	width: 98.8%; 
	background: #ffffff;
}

.UIMailPortlet .MailWorkingWorkspace .ReadingPane .ViewBoxStyle {
	height: 500px;
}

.UIMailPortlet .MailWorkingWorkspace .ReadingPane .ReadingPaneDeltail {
	height: 316px;
	overflow: auto;
}

.UIMailPortlet .MailWorkingWorkspace .ReadingPane .ReadingPaneBar {
	background: #e7e7e7;
	height: 25px;
	border: 1px solid #ffffff;
}

.UIMailPortlet .MailWorkingWorkspace .ReadingPane .Subject {
	float: left;
	font-weight: bold;
	font-size: 11px;
	margin: 5px 0px 0px 10px; 
}

.UIMailPortlet .MailWorkingWorkspace .ReadingPane .MaximizeReadingPane {
  float: right;
	margin: 4px 4px 0px 0px;
}

/*=======================Message Header====================*/

.UIMailPortlet .MailWorkingWorkspace .MessageHeader {
	padding: 5px;
	height: 120px;
}

.UIMailPortlet .MailWorkingWorkspace .MessageCheck {
	float: left;
	width: 50px; 
}

.UIMailPortlet .MailWorkingWorkspace .MessageCheck .CheckBox {
	float: left;
}

.UIMailPortlet .MailWorkingWorkspace .MessageCheck .NomalStarIcon {
	float: left; 
}

.UIMailPortlet .MailWorkingWorkspace .MessageAddress {
	float: left; 
}

.UIMailPortlet .MailWorkingWorkspace .MessageAddress .FieldContainer{
	line-height: 18px;
}

.UIMailPortlet .MailWorkingWorkspace .MessageAddress .Title {
	float: left;
	color: #6a6a6a;
	width: 80px;
	font-weight: bold;
}

.UIMailPortlet .MailWorkingWorkspace .MessageAddress .Address {
	float: left;
	font-weight: bold;
}

.UIMailPortlet .MailWorkingWorkspace .MessageAddress .LinkAddress {
	float: left;
	color: #2276ab;
	cursor: pointer;
	font-weight: bold;
}

.UIMailPortlet .MailWorkingWorkspace .TagIcon {
	float: left;
	margin: 0px 0px 0px 3px;
}

.UIMailPortlet .MailWorkingWorkspace .MessageActions {
	float: right; 
	width: 160px;
}

.UIMailPortlet .MailWorkingWorkspace .MessageActions .DownArrow1Icon {
	float: left;
	width: 12px; height: 20px;
	cursor: pointer;
}

.UIMailPortlet .MailWorkingWorkspace .MessageActions .ShowHideTitle {
	float: left;
	line-height: 20px;
	color: #126ca5; cursor: pointer;
}

.UIMailPortlet .MailWorkingWorkspace .MessageActions .MonthDate {
	float: left;
	line-height: 20px;
	font-weight: bold;
	margin: 0px 4px;
}

.UIMailPortlet .MailWorkingWorkspace .MessageActions .AttackIcon {
	float: left;
	margin: 2px 2px 0px 0px;
}

/*=====================MessageDetail===================*/

.UIMailPortlet .MailWorkingWorkspace .MessageDetail {
	padding: 10px;
}

/*=====================Page Iterator Container===================*/

.UIMailPortlet .MailWorkingWorkspace .FloatBlock {
	float: left;
	margin: 2px 3px;
} 

.UIMailPortlet .MailWorkingWorkspace .FloatBlockHidden {
	float: left;
	margin: 2px 3px;
	filter:alpha(opacity=30);-moz-opacity:.30;opacity:.30;
} 

.UIMailPortlet .MailWorkingWorkspace .MailPageIterator {
	float: right;
	margin: 2px 0px 0px 0px;
	width: 350px;
}

.MailPageIterator .MailIteratorContainer {
	float:right;
	line-height:22px;
	overflow:hidden;
	padding:0px 10px 0px 15px;
}

.MailPageIterator .MailIteratorContainer .RightPageIteratorBlock {
	float:right;
}

.MailPageIterator .MailIteratorContainer .LeftPageIteratorBlock {
	float:right;
	margin-right:15px;
}

.MailPageIterator .TotalPages {
	float:left;
	line-height:19px;
	vertical-align:middle;
}

.MailPageIterator .Number {
	float:left;
	line-height:19px;
	vertical-align:middle;
	font-weight: bold;
	margin: 0px 2px;
}



/*=====================Mail Icon Public User===================*/

.ReplyIcon {
	background: url('DefaultSkin/icons/24x24/ReplyIcon.gif') no-repeat;
}

.ReplyAllIcon {
	background: url('DefaultSkin/icons/24x24/ReplyAllIcon.gif') no-repeat;
}

.ForwardIcon {
	background: url('DefaultSkin/icons/24x24/ForwardIcon.gif') no-repeat;
}

.PrintIcon {
	background: url('DefaultSkin/icons/24x24/PrintIcon.gif') no-repeat;
	width: 2px; height: 26px;
}

.DeleteIcon {
	background: url('DefaultSkin/icons/24x24/Dustbin.gif') no-repeat;
	width: 2px; height: 26px;
}

.ActionsThisMessage {
	background: url(DefaultSkin/icons/24x24/ThisMessageAction.gif) no-repeat bottom;
	cursor: pointer;
	float: right;
	width: 24px; height: 22px;
}


.TagIcon {
	background: url(DefaultSkin/icons/16x16/RedTag.gif) no-repeat;
	width: 16px; height: 16px;
	cursor: pointer;
}

.MaximizeReadingPane {
	background: url(DefaultSkin/icons/16x16/MaximizeReadingPane.gif) no-repeat;
	width: 17px; height: 16px;
	cursor: pointer;
}

.ResizeReadingPane {
	background: url(DefaultSkin/background/ResizeReadingPane38x3.gif) no-repeat;
	width: 38px; height: 3px;
	cursor: n-resize;
}

.priorityIcon {
	background: url(DefaultSkin/icons/16x16/NomalPriorityIcon.gif) no-repeat;
	width: 16px; height: 16px;
}

.priorityHighlightIcon {
	background: url(DefaultSkin/icons/16x16/PriorityHighLight.gif) no-repeat;
	width: 16px; height: 16px;
}

.TotalMessageIcon {
	background: url(DefaultSkin/icons/16x16/TotalMessageIcon.gif) no-repeat;
	width: 16px; height: 16px;
}

.CheckMailIcon {
	background: url('DefaultSkin/icons/24x24/CheckMailIcon.gif') no-repeat ;
}

.InboxIcon {
	background: url('DefaultSkin/icons/24x24/InboxIcon.gif') no-repeat left center ;
}

.DraftsIcon {
	background: url('DefaultSkin/icons/24x24/DraftsIcon.gif') no-repeat left center ;
}

.SentIcon {
	background: url('DefaultSkin/icons/24x24/SentIcon.gif') no-repeat left center ;
}

.SpamIcon {
	background: url('DefaultSkin/icons/24x24/SpamIcon.gif') no-repeat left center ;
}

.TrashIcon {
	background: url('DefaultSkin/icons/24x24/TrashIcon.gif') no-repeat left center ;
}

.TitleMyFolder {
	background: url('DefaultSkin/background/LineTitle166x1.gif') no-repeat left bottom;
	height: 20px; line-height: 20px;
}

.Default {
	background: url('DefaultSkin/icons/24x24/DefaultIcon.gif') no-repeat center;
}

.TagTitleBar {
	background: url('DefaultSkin/background/BgTitleTag1x20.gif') repeat-x ;
}

.TagIcon {
	background: url('DefaultSkin/icons/16x16/BlueTag.gif') no-repeat left center;
	height: 20px; line-height: 20px;
}

.DownArrow3Icon {
	height: 20px; width: 20px;
	cursor: pointer;
}

.BlueTag {
	background: url('DefaultSkin/icons/16x16/BlueTag.gif') no-repeat left center;
}

.RedTag {
	background: url('DefaultSkin/icons/16x16/RedTag.gif') no-repeat left center;
}

.GreenTag {
	background: url('DefaultSkin/icons/16x16/GreenTag.gif') no-repeat left center;
}

.VioletTag {
	background: url('DefaultSkin/icons/16x16/VioletTag.gif') no-repeat left center;
}

.ComposeIcon {
	background: url('DefaultSkin/icons/24x24/ComposeIcon.gif') no-repeat;
}

.ContactsIcon {
	background: url('DefaultSkin/icons/24x24/ContactsIcon.gif') no-repeat;
}

.RssIcon {
	background: url('DefaultSkin/icons/24x24/RssIcon.gif') no-repeat;
}

.CustomViewIcon {
	background: url('DefaultSkin/icons/24x24/CustomViewIcon.gif') no-repeat;
	float: left;
	width: 2px;  height: 25px;
}

.SettingsIcon {
	background: url('DefaultSkin/icons/24x24/SettingsIcon.gif') no-repeat;
	width: 2px;  height: 26px;
}

.SeparatorLine {
  background: url('DefaultSkin/background/SeparatorLine2x26.gif') no-repeat ;	
  height: 26px; width: 2px;
}

.MoreActionsIcon {
	background: url('DefaultSkin/icons/16x16/MoreActions.gif') no-repeat left;
}

.ViewIcon {
	background: url('DefaultSkin/icons/16x16/View.gif') no-repeat left;
}

.AddEventIcon {
	background: url('DefaultSkin/icons/24x24/AddEvent.gif') no-repeat left;
}

.NomalStarIcon {
	background: url(DefaultSkin/icons/16x16/NomalStarIcon.gif) no-repeat;
	width: 16px; height: 16px;
	cursor: pointer;
}

.HighlightStarIcon {
	background: url(DefaultSkin/icons/16x16/HighLightStarIcon.gif) no-repeat;
	width: 16px; height: 16px;
	cursor: pointer;
}

.AttackIcon {
	background: url(DefaultSkin/icons/16x16/AttackmentIcon.gif) no-repeat;
	width: 16px; height: 16px;
	cursor: pointer;
}

.NomalReadingPane {
	background: url(DefaultSkin/icons/16x16/NomalReadingPane.gif) no-repeat;
	width: 17px; height: 16px;
	cursor: pointer;
}

.MaximizeAllViewBoxStyle {
	background: url(DefaultSkin/icons/24x24/MaximizeAllViewBoxStyle.gif) no-repeat;
	width: 24px; height: 20px;
	cursor: pointer;
}

.NextPageArrow {
	background: url(DefaultSkin/icons/16x16/NextPage.gif) no-repeat;
	width: 16px; height: 16px;
	cursor: pointer;
}

.LastPageArrow {
	background: url(DefaultSkin/icons/16x16/LastPage.gif) no-repeat;
	width: 16px; height: 16px;
	cursor: pointer;
}

.PriorityHighLightIcon {
	background: url(DefaultSkin/icons/16x16/PriorityHighLight.gif) no-repeat;
	width: 16px; height: 16px;
	cursor: pointer;
}

.FirstPageArrow{
	background: url(DefaultSkin/icons/16x16/PreviousPage.gif) no-repeat;
	width: 16px; height: 16px;
	cursor: pointer;
}

.PreviousPageArrow {
	background: url(DefaultSkin/icons/16x16/BackPage.gif) no-repeat;
	width: 16px; height: 16px;
	cursor: pointer;
}

.FolderIcon {
	background: url(DefaultSkin/icons/16x16/FolderIcon.gif) no-repeat;
	height: 16px;
}

.AccountIcon {
	background: url(DefaultSkin/icons/16x16/AccountIcon.gif) no-repeat;
	height: 16px; width: 17px;
}












