.UIAccountSetting {
	width: 700px;
	border: 1px solid red;
	background: #f3f3f3;
}

.UIAccountSetting .AccountSetting {
	border: 1px solid #c0c0c0;
	padding: 10px;
}

/************************************AccountSettingCategory**************************************/

.UIAccountSetting .AccountSettingCategory {
	width: 212px; height: 355px;
	float: left;
	background: white;
	border: 1px solid #a5a5a5;
}

.UIAccountSetting .AccountSettingCategory .HeadTitle {
	background: url('DefaultSkin/background/BgTitleTag1x20.gif') repeat-x ;
	height: 20px; line-height: 20px;
	padding: 0px 10px 0px 8px;
}

.UIAccountSetting .AccountSettingCategory .HeadTitle .Title {
	color: #3d3d3d;
	font-weight: bold;
	float: left;
}

.UIAccountSetting .AccountSettingCategory .HeadTitle .IconTitle {

}

.UIAccountSetting .AccountSettingCategory .HeadTitle .DeleteIcon {
	background: url('DefaultSkin/icons/DeleteIcon.gif') no-repeat center ;
	float: right;
	height: 18px; width: 20px;
	cursor: pointer;
	margin: 0px 0px 0px 4px;
}

.UIAccountSetting .AccountSettingCategory .HeadTitle .AddIcon {
	background: url('DefaultSkin/icons/AddIcon.gif') no-repeat center ;
	float: right;
	height: 18px; width: 20px;
	cursor: pointer;
	margin: 0px 0px 0px 4px;
}

.UIAccountSetting .AccountSettingCategory .AccountSettingList {
	padding: 10px 0px;
	color: #3d3d3d;
}

.UIAccountSetting .AccountSettingCategory .NormalItem {
	padding: 0px 27px;
	line-height: 22px;
	margin: 2px 0px;
}

.UIAccountSetting .AccountSettingCategory .SelectedItem {
	padding: 0px 27px;
	margin: 2px 0px;
	line-height: 22px;
	background: #cbdaf4 url('DefaultSkin/icons/SelectedIcon.gif') no-repeat 9px center ;
}
/************************************AccountSettingContainer*************************************/

.UIAccountSetting .AccountSettingContainer {
	margin-left: 223px;
}

.UIAccountSetting .UIHorizontalTabs {
	background: url('DefaultSkin/background/HorizontalTabBackground.gif') repeat-x bottom;
}

.UIAccountSetting .UIHorizontalTabs .NormalTabStyle .SelectedTab {
	float: left;
}

.UIAccountSetting .UIHorizontalTabs .NormalTabStyle .NormalTab {
	float: left;
}

.UIAccountSetting .UIFormTabPane {
	padding: 0px;
}

.UIAccountSetting .UITabPane .UITabContentContainer {
	border: 1px solid #939393;
	border-top: none;
}

.UIAccountSetting .UITabPane .UITabContentContainer .UITabContent {
	border: 1px solid white;	
	border-top: none;
}

.UIAccountSetting .UITabPane .UIFormGrid {
	width: 99%;
}

.UIAccountSetting .UITabPane .UIForm {
	height: 297px;
	padding: 10px;
}

.UIAccountSetting .UITabPane .UIForm .HorizontalLayout {
	border: none;
}

.UIAccountSetting .ServerSettings .UIFormGrid td.FieldLabel {
	width: 150px;
}

.UIAccountSetting .ServerSettings .UIFormGrid input {
	float: left;
}

.UIAccountSetting .ServerSettings .UIFormGrid .FieldComponent a {
	color: black;
}

.UIAccountSetting .ServerSettings .UIFormGrid .Icon {
	float: left;
	line-height: 20px;
}

.UIAccountSetting .ServerSettings .UIFormGrid .DefaultIcon {
	background: url('DefaultSkin/icons/DefaultIcon.gif') no-repeat left center;
	padding-left: 24px; 
}

.UIAccountSetting .UIForm .UIAction {
	width: 150px;
	padding: 13px 0px 0px 100px;
}

/************************************UIAction*************************************/

.UIAccountSetting .UIAction {
	width: 130px;
}