.UIMailPortlet .Actions {
	background: url(icons/ThisMessageAction.gif) no-repeat bottom;
	cursor: pointer;
	float: right;
	width: 24px; height: 22px;
}

.UIMailPortlet .CheckMailIcon {
	background: url('icons/CheckMailIcon.gif') no-repeat ;
}

.UIMailPortlet .InboxIcon {
	background: url('icons/InboxIcon.gif') no-repeat left center ;
}
.UIMailPortlet .inboxIcon {
	background: url('icons/InboxIcon.gif') no-repeat left center ;
}

.UIMailPortlet .DraftsIcon {
	background: url('icons/DraftsIcon.gif') no-repeat left center ;
}

.UIMailPortlet .SentIcon {
	background: url('icons/SentIcon.gif') no-repeat left center ;
}

.UIMailPortlet .SpamIcon {
	background: url('icons/SpamIcon.gif') no-repeat left center ;
}

.UIMailPortlet .TrashIcon {
	background: url('icons/TrashIcon.gif') no-repeat left center ;
}

.UIMailPortlet .OpenFolder {
	background: url('icons/OpenFolder.gif') no-repeat left center;
}

.UIMailPortlet .ComposeIcon {
	background: url('icons/ComposeIcon.gif') no-repeat;
}

.UIMailPortlet .ContactsIcon {
	background: url('icons/ContactsIcon.gif') no-repeat;
}

.UIMailPortlet .RssIcon {
	background: url('icons/RssIcon.gif') no-repeat;
}

.UIMailPortlet .CustomViewIcon {
	background: url('icons/CustomViewIcon.gif') no-repeat;
}

.UIMailPortlet .SettingsIcon {
	background: url('icons/SettingsIcon.gif') no-repeat left center;
}

.UIMailPortlet .AccountSettingIcon {
	background: url('icons/AccountSetting.gif') no-repeat left;
}

.UIMailPortlet .AddEventIcon {
	background: url('icons/AddEvent.gif') no-repeat left;
}

.UIMailPortlet .MaximizeAllViewBoxStyle {
	background: url(icons/MaximizeAllViewBoxStyle.gif) no-repeat;
	width: 24px; height: 20px;
	cursor: pointer;
}

.UIMailPortlet .AddGroup {
	background: url('icons/AddGroup.gif') no-repeat left;
}

.UIMailPortlet .AddContact {
	background: url('icons/AddContact.gif') no-repeat left;
}

.UIMailPortlet .DeleteContact {
	background: url('icons/DeleteContact.gif') no-repeat left;
}

.UIMailPortlet .EditContact {
	background: url('icons/EditContact.gif') no-repeat left;
}

.UIMailPortlet .FilterIcon {
	background: url('icons/FilterIcon.gif') no-repeat;
}

.UIMailPortlet .SpamMail {
	background: url('icons/SpamMail.gif') no-repeat;
}

.UIMailPortlet .NotSpamMail {
	background: url('icons/NotSpam.gif') no-repeat;
}

.UIMailPortlet .PowderBlueTag {
	background: url('icons/MailIcons.gif') no-repeat left top;
}

.UIMailPortlet .OrchidTag {
	background: url('icons/MailIcons.gif') no-repeat left -21px;
}

.UIMailPortlet .PaleGoldenRodTag {
	background: url('icons/MailIcons.gif') no-repeat left -42px;
}

.UIMailPortlet .PaleGreenTag {
	background: url('icons/MailIcons.gif') no-repeat left -63px;
}

.UIMailPortlet .OliveTag {
	background: url('icons/MailIcons.gif') no-repeat left -84px;
}

.UIMailPortlet .OliveDrabTag {
	background: url('icons/MailIcons.gif') no-repeat left -105px;
}

.UIMailPortlet .OrangeRedTag {
	background: url('icons/MailIcons.gif') no-repeat left -126px;
}

.UIMailPortlet .PaleTurquoiseTag {
	background: url('icons/MailIcons.gif') no-repeat left -147px;
}

.UIMailPortlet .PaleVioletRedTag {
	background: url('icons/MailIcons.gif') no-repeat left -168px;
}

.UIMailPortlet .PapayaWhipTag {
	background: url('icons/MailIcons.gif') no-repeat left -189px;
}

.UIMailPortlet .PeachPuffTag {
	background: url('icons/MailIcons.gif') no-repeat left -210px;
}

.UIMailPortlet .PeruTag {
	background: url('icons/MailIcons.gif') no-repeat left -231px;
}

.UIMailPortlet .PinkTag  {
	background: url('icons/MailIcons.gif') no-repeat left -252px;
}

.UIMailPortlet .PlumTag {
	background: url('icons/MailIcons.gif') no-repeat left -273px;
}

.UIMailPortlet .PurpleTag {
	background: url('icons/MailIcons.gif') no-repeat left -294px;
}

.UIMailPortlet .RedTag {
	background: url('icons/MailIcons.gif') no-repeat left -315px;
}

.UIMailPortlet .RosyBrownTag {
	background: url('icons/MailIcons.gif') no-repeat left -336px;
}

.UIMailPortlet .RoyalBlueTag {
	background: url('icons/MailIcons.gif') no-repeat left -357px;
}

.UIMailPortlet .SaddleBrownTag {
	background: url('icons/MailIcons.gif') no-repeat left -378px;
}

.UIMailPortlet .SalmonTag {
	background: url('icons/MailIcons.gif') no-repeat left -399px;
}

.UIMailPortlet .SandyBrownTag {
	background: url('icons/MailIcons.gif') no-repeat left -420px;
}

.UIMailPortlet .SeaGreenTag {
	background: url('icons/MailIcons.gif') no-repeat left -441px;
}

.UIMailPortlet .SeaShellTag {
	background: url('icons/MailIcons.gif') no-repeat left -462px;
}

.UIMailPortlet .SiennaTag {
	background: url('icons/MailIcons.gif') no-repeat left -378px;
}

.UIMailPortlet .SilverTag {
	background: url('icons/MailIcons.gif') no-repeat left -504px;
}

.UIMailPortlet .SkyBlueTag {
	background: url('icons/MailIcons.gif') no-repeat left -525px;
}

.UIMailPortlet .ThistleTag {
	background: url('icons/MailIcons.gif') no-repeat left -546px;
}

.UIMailPortlet .TomatoTag {
	background: url('icons/MailIcons.gif') no-repeat left -567px;
}
.UIMailPortlet .TurquoiseTag {
	background: url('icons/MailIcons.gif') no-repeat left -588px;
}

.UIMailPortlet .VioletTag {
	background: url('icons/MailIcons.gif') no-repeat left -609px;
}

.UIMailPortlet .WheatTag {
	background: url('icons/MailIcons.gif') no-repeat left -630px;
}

.UIMailPortlet .YellowTag {
	background: url('icons/MailIcons.gif') no-repeat left -651px;
}