.Folder {
	background: url('icons/DefaultIcon.gif') no-repeat left center;
}
.Actions {
	background: url(icons/ThisMessageAction.gif) no-repeat bottom;
	cursor: pointer;
	float: left;
	width: 24px; height: 22px;
}

.CheckMailIcon {
	background: url('icons/CheckMailIcon.gif') no-repeat ;
}

.InboxIcon {
	background: url('icons/InboxIcon.gif') no-repeat left center ;
}
.inboxIcon {
	background: url('icons/InboxIcon.gif') no-repeat left center ;
}

.DraftsIcon {
	background: url('icons/DraftsIcon.gif') no-repeat left center ;
}

.SentIcon {
	background: url('icons/SentIcon.gif') no-repeat left center ;
}

.SpamIcon {
	background: url('icons/SpamIcon.gif') no-repeat left center ;
}

.TrashIcon {
	background: url('icons/TrashIcon.gif') no-repeat left center ;
}

.CloseFolder {
	background: url('icons/DefaultIcon.gif') no-repeat left center;
}

.OpenFolder {
	background: url('icons/OpenFolder.gif') no-repeat left center;
}

.ComposeIcon {
	background: url('icons/ComposeIcon.gif') no-repeat;
}

.ContactsIcon {
	background: url('icons/ContactsIcon.gif') no-repeat;
}

.RssIcon {
	background: url('icons/RssIcon.gif') no-repeat;
}

.CustomViewIcon {
	background: url('icons/CustomViewIcon.gif') no-repeat;
	float: left;
}

.SettingsIcon {
	background: url('icons/SettingsIcon.gif') no-repeat left center;
}

.AddEventIcon {
	background: url('icons/AddEvent.gif') no-repeat left;
}

.MaximizeAllViewBoxStyle {
	background: url(icons/MaximizeAllViewBoxStyle.gif) no-repeat;
	width: 24px; height: 20px;
	cursor: pointer;
}

.AddAccount {
	background: url('icons/AddAccount.gif') no-repeat;
}

.EditAccount {
	background: url('icons/EditAccount.gif') no-repeat;
}

.DeleteAccount {
	background: url('icons/DeleteAccount.gif') no-repeat;
}

.CheckItem {
	background: url('icons/CheckItem.gif') no-repeat left;
}

.AddFolderIcon {
	background: url('icons/AddNewFolderIcon.gif') no-repeat;
}

.RemoveFolderIcon {
	background: url('icons/RemoveFolderIcon.gif') no-repeat;
}

.EmptyIcon {
	background: url('icons/EmptyIcon.gif') no-repeat;
}

.RenameFolderIcon {
	background: url('icons/RenameFolderIcon.gif') no-repeat left;
}

.MarkAll {
	background: url('icons/MarkAll.gif') no-repeat left;
}

.SearchFolderIcon {
	background: url('icons/SearchFolderIcon.gif') no-repeat left;
}
