.UIMailPortlet .Actions {
	background: url(icons/ThisMessageAction.gif) no-repeat bottom;
	cursor: pointer;
	float: right;
	width: 24px; height: 22px;
}

.UIMailPortlet .CheckMailIcon {
	background: url('icons/CheckMailIcon.gif') no-repeat ;
}

.UIMailPortlet .InboxIcon {
	background: url('icons/InboxIcon.gif') no-repeat left center ; /* orientation=lt */
	background: url('icons/InboxIcon-rt.gif') no-repeat right center ; /* orientation=rt */
}
.UIMailPortlet .inboxIcon {
	background: url('icons/InboxIcon.gif') no-repeat left center ;
}

.UIMailPortlet .DraftsIcon {
	background: url('icons/DraftsIcon.gif') no-repeat left center ; /* orientation=lt */
	background: url('icons/DraftsIcon-rt.gif') no-repeat right center ; /* orientation=rt */
}

.UIMailPortlet .SentIcon {
	background: url('icons/SentIcon.gif') no-repeat left center ; /* orientation=lt */
	background: url('icons/SentIcon-rt.gif') no-repeat right center ; /* orientation=rt */
}

.UIMailPortlet .SpamIcon {
	background: url('icons/SpamIcon.gif') no-repeat left center ; /* orientation=lt */
	background: url('icons/SpamIcon-rt.gif') no-repeat right center ; /* orientation=rt */
}

.UIMailPortlet .TrashIcon {
	background: url('icons/TrashIcon.gif') no-repeat left center ; /* orientation=lt */
	background: url('icons/TrashIcon-rt.gif') no-repeat right center ; /* orientation=rt */
}

.UIMailPortlet .OpenFolder {
	background: url('icons/OpenFolder.gif') no-repeat left center; /* orientation=lt */
	background: url('icons/OpenFolder-rt.gif') no-repeat right center; /* orientation=rt */
}

.UIMailPortlet .ComposeIcon {
	background: url('icons/ComposeIcon.gif') no-repeat;
}

.UIMailPortlet .ContactsIcon {
	background: url('icons/ContactsIcon.gif') no-repeat;
}

.UIMailPortlet .RssIcon {
	background: url('icons/RssIcon.gif') no-repeat;
}

.UIMailPortlet .CustomViewIcon {
	background: url('icons/CustomViewIcon.gif') no-repeat; 
}

.UIMailPortlet .SettingsIcon {
	background: url('icons/SettingsIcon.gif') no-repeat left center;
}

.UIMailPortlet .AccountSettingIcon {
	background: url('icons/AccountSetting.gif') no-repeat left;
}

.UIMailPortlet .AddEventIcon {
	background: url('icons/AddEvent.gif') no-repeat left;
}

.UIMailPortlet .MaximizeAllViewBoxStyle {
	background: url(icons/MaximizeAllViewBoxStyle.gif) no-repeat;
	width: 24px; height: 20px;
	cursor: pointer;
}

.UIMailPortlet .AddGroup {
	background: url('icons/AddGroup.gif') no-repeat left;
}

.UIMailPortlet .AddContact {
	background: url('icons/AddContact.gif') no-repeat left;
}

.UIMailPortlet .DeleteContact {
	background: url('icons/DeleteContact.gif') no-repeat left;
}

.UIMailPortlet .EditContact {
	background: url('icons/EditContact.gif') no-repeat left;
}

.UIMailPortlet .FilterIcon {
	background: url('icons/FilterIcon.gif') no-repeat;
}

.UIMailPortlet .SpamMail {
	background: url('icons/SpamMail.gif') no-repeat;
}

.UIMailPortlet .NotSpamMail {
	background: url('icons/NotSpam.gif') no-repeat;
}

/******************************************** Create tag  ****************************************/


.UIMailPortlet .PowderBlueTag {
	background: url('icons/MailIcons.gif') no-repeat left top; /* orientation=lt */
	background: url('icons/MailIcons.gif') no-repeat right top; /* orientation=rt */
}

.UIMailPortlet .OrchidTag {
	background: url('icons/MailIcons.gif') no-repeat left -21px; /* orientation=lt */
	background: url('icons/MailIcons.gif') no-repeat right -21px; /* orientation=rt */
}

.UIMailPortlet .PaleGoldenRodTag {
	background: url('icons/MailIcons.gif') no-repeat left -42px; /* orientation=lt */
	background: url('icons/MailIcons.gif') no-repeat right -42px; /* orientation=rt */
}

.UIMailPortlet .PaleGreenTag {
	background: url('icons/MailIcons.gif') no-repeat left -63px; /* orientation=lt */
	background: url('icons/MailIcons.gif') no-repeat right -63px; /* orientation=rt */
}

.UIMailPortlet .OliveTag {
	background: url('icons/MailIcons.gif') no-repeat left -84px; /* orientation=lt */
	background: url('icons/MailIcons.gif') no-repeat right -84px; /* orientation=rt */
}

.UIMailPortlet .OliveDrabTag {
	background: url('icons/MailIcons.gif') no-repeat left -105px; /* orientation=lt */
	background: url('icons/MailIcons.gif') no-repeat right -105px; /* orientation=rt */
}

.UIMailPortlet .OrangeRedTag {
	background: url('icons/MailIcons.gif') no-repeat left -126px; /* orientation=lt */
	background: url('icons/MailIcons.gif') no-repeat right -126px; /* orientation=rt */
}

.UIMailPortlet .PaleTurquoiseTag {
	background: url('icons/MailIcons.gif') no-repeat left -147px; /* orientation=lt */
	background: url('icons/MailIcons.gif') no-repeat right -147px; /* orientation=rt */
}

.UIMailPortlet .PaleVioletRedTag {
	background: url('icons/MailIcons.gif') no-repeat left -168px; /* orientation=lt */
	background: url('icons/MailIcons.gif') no-repeat right -168px; /* orientation=rt */
}

.UIMailPortlet .PapayaWhipTag {
	background: url('icons/MailIcons.gif') no-repeat left -189px; /* orientation=lt */
	background: url('icons/MailIcons.gif') no-repeat right -189px; /* orientation=rt */
}

.UIMailPortlet .PeachPuffTag {
	background: url('icons/MailIcons.gif') no-repeat left -210px; /* orientation=lt */
	background: url('icons/MailIcons.gif') no-repeat right -210px; /* orientation=rt */
}

.UIMailPortlet .PeruTag {
	background: url('icons/MailIcons.gif') no-repeat left -231px; /* orientation=lt */
	background: url('icons/MailIcons.gif') no-repeat right -231px; /* orientation=rt */
}

.UIMailPortlet .PinkTag  {
	background: url('icons/MailIcons.gif') no-repeat left -252px; /* orientation=lt */
	background: url('icons/MailIcons.gif') no-repeat right -252px; /* orientation=rt */
}

.UIMailPortlet .PlumTag {
	background: url('icons/MailIcons.gif') no-repeat left -273px; /* orientation=lt */
	background: url('icons/MailIcons.gif') no-repeat right -273px; /* orientation=rt */
}

.UIMailPortlet .PurpleTag {
	background: url('icons/MailIcons.gif') no-repeat left -294px; /* orientation=lt */
	background: url('icons/MailIcons.gif') no-repeat right -294px; /* orientation=rt */
}

.UIMailPortlet .RedTag {
	background: url('icons/MailIcons.gif') no-repeat left -315px; /* orientation=lt */
	background: url('icons/MailIcons.gif') no-repeat right -315px; /* orientation=rt */
}

.UIMailPortlet .RosyBrownTag {
	background: url('icons/MailIcons.gif') no-repeat left -336px; /* orientation=lt */
	background: url('icons/MailIcons.gif') no-repeat right -336px; /* orientation=rt */
}

.UIMailPortlet .RoyalBlueTag {
	background: url('icons/MailIcons.gif') no-repeat left -357px; /* orientation=lt */
	background: url('icons/MailIcons.gif') no-repeat right -357px; /* orientation=rt */
}

.UIMailPortlet .SaddleBrownTag {
	background: url('icons/MailIcons.gif') no-repeat left -378px; /* orientation=lt */
	background: url('icons/MailIcons.gif') no-repeat right -378px; /* orientation=rt */
}

.UIMailPortlet .SalmonTag {
	background: url('icons/MailIcons.gif') no-repeat left -399px; /* orientation=lt */
	background: url('icons/MailIcons.gif') no-repeat right -399px; /* orientation=rt */
}

.UIMailPortlet .SandyBrownTag {
	background: url('icons/MailIcons.gif') no-repeat left -420px; /* orientation=lt */
	background: url('icons/MailIcons.gif') no-repeat right -420px; /* orientation=rt */
}

.UIMailPortlet .SeaGreenTag {
	background: url('icons/MailIcons.gif') no-repeat left -441px; /* orientation=lt */
	background: url('icons/MailIcons.gif') no-repeat right -441px; /* orientation=rt */
}

.UIMailPortlet .SeaShellTag {
	background: url('icons/MailIcons.gif') no-repeat left -462px; /* orientation=lt */
	background: url('icons/MailIcons.gif') no-repeat right -462px; /* orientation=rt */
}

.UIMailPortlet .SiennaTag {
	background: url('icons/MailIcons.gif') no-repeat left -378px; /* orientation=lt */
	background: url('icons/MailIcons.gif') no-repeat right -378px; /* orientation=rt */
}

.UIMailPortlet .SilverTag {
	background: url('icons/MailIcons.gif') no-repeat left -504px; /* orientation=lt */
	background: url('icons/MailIcons.gif') no-repeat right -504px; /* orientation=rt */
}

.UIMailPortlet .SkyBlueTag {
	background: url('icons/MailIcons.gif') no-repeat left -525px; /* orientation=lt */
	background: url('icons/MailIcons.gif') no-repeat right -525px; /* orientation=rt */
}

.UIMailPortlet .ThistleTag {
	background: url('icons/MailIcons.gif') no-repeat left -546px; /* orientation=lt */
	background: url('icons/MailIcons.gif') no-repeat right -546px; /* orientation=rt */
}

.UIMailPortlet .TomatoTag {
	background: url('icons/MailIcons.gif') no-repeat left -567px; /* orientation=lt */
	background: url('icons/MailIcons.gif') no-repeat right -567px; /* orientation=rt */
}
.UIMailPortlet .TurquoiseTag {
	background: url('icons/MailIcons.gif') no-repeat left -588px; /* orientation=lt */
	background: url('icons/MailIcons.gif') no-repeat right -588px; /* orientation=rt */
}

.UIMailPortlet .VioletTag {
	background: url('icons/MailIcons.gif') no-repeat left -609px; /* orientation=lt */
	background: url('icons/MailIcons.gif') no-repeat right -609px; /* orientation=rt */
}

.UIMailPortlet .WheatTag {
	background: url('icons/MailIcons.gif') no-repeat left -630px; /* orientation=lt */
	background: url('icons/MailIcons.gif') no-repeat right -630px; /* orientation=rt */
}

.UIMailPortlet .YellowTag {
	background: url('icons/MailIcons.gif') no-repeat left -651px; /* orientation=lt */
	background: url('icons/MailIcons.gif') no-repeat right -651px; /* orientation=rt */
}

.UIMailPortlet .LayoutIcon {
	background: url('icons/SettingsIcon.gif') no-repeat left center;
}