.UIMailPortlet .UIMessageFilter {
	background: #f3f3f3;
}

.UIMailPortlet .UIMessageFilter .FilterSetting {
	border: 1px solid #c0c0c0;
	padding: 10px;
}

/*===========================FilterSettingCategory===========================*/

.UIMailPortlet .UIMessageFilter .FilterSettingCategory {
	width: 212px; 
	height: 355px;
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	background: white;
	border: 1px solid #a5a5a5;
}

.UIMailPortlet .CategoryControlBar {
	background: url('background/BgTitleTag1x20.gif') repeat-x ;
	height: 20px; line-height: 20px;
	padding: 0px 10px 0px 8px;
	font-weight: bold;
}

.UIMailPortlet .UIMessageFilter .FilterSettingCategory .CategoryControlBar .Title {
	color: #3d3d3d;
	font-weight: bold;
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
}

.UIMailPortlet .UIMessageFilter .FilterSettingCategory .CategoryControlBar .ControlBarIcon {
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
	height: 18px; width: 20px;
	cursor: pointer;
	margin: 0px 0px 0px 4px; /* orientation=lt */
	margin: 0px 4px 0px 0px; /* orientation=rt */
	background-position: left center; /* orientation=lt */
	background-position: right center; /* orientation=rt */
	background-repeat: no-reteat;
}

.UIMailPortlet .UIMessageFilter .FilterSettingCategory .CategoryControlBar .FilterDelete {
	background: url('icons/FilterDeleteIcon.gif');
}

.UIMailPortlet .UIMessageFilter .FilterSettingCategory .CategoryControlBar .FilterEdit {
	background: url('icons/FilterEditIcon.gif');
}

.UIMailPortlet .UIMessageFilter .FilterSettingCategory .CategoryControlBar .FilterAdd {
	background: url('icons/FilterAddIcon.gif');
}

.UIMailPortlet .UIMessageFilter .FilterSettingCategory .FilterSettingList {
	padding: 10px 0px;
	color: #3d3d3d;
	overflow-y: auto;
	height: 315px;
}

.UIMailPortlet .UIMessageFilter .FilterSettingCategory .FilterSettingList .AddNewFilter{
	color: #0101ff;
	text-decoration:underline;
	text-align:center;
}

.UIMailPortlet .UIMessageFilter .FilterSettingCategory .NormalItem {
	line-height:22px;
	margin:2px 0px;
	overflow:hidden;
	padding:0px 0px 0px 27px;
	white-space:nowrap;
	width:165px;
}

.UIMailPortlet .UIMessageFilter .FilterSettingCategory .SelectedItem {
	line-height:22px;
	margin:2px 0px;
	overflow:hidden;
	padding:0px 0px 0px 27px; /* orientation=lt */
	padding:0px 27px 0px 0px; /* orientation=rt */
	white-space:nowrap;
	width:auto;
	background: #cbdaf4 url('icons/SelectedIcon.gif') no-repeat 5% center; /* orientation=lt */
	background: #cbdaf4 url('icons/SelectedIcon.gif') no-repeat 95% center; /* orientation=rt */
}
/************************************FilterSettingContainer*************************************/

.UIMailPortlet .UIMessageFilter .FilterSettingContainer {
	margin-left: 223px; /* orientation=lt */
	margin-right: 223px; /* orientation=rt */
	background: white;
	border: 1px solid #a5a5a5;
	height: 355px;
}

.UIMailPortlet .UIMessageFilter .FilterSettingContainer .FilterSettingList {
	line-height: 20px;
	padding: 5px 10px;
	
}
/************************************Filter NULL*************************************/

.UIMailPortlet .UIMessageFilter .FilterSettingContainer .TitleFilterMail {
	margin: 1px 1px 0px 1px;
	background: #ccddf1;
	line-height: 25px;
	padding-left: 12px;
	color: #0101ff;
	font-weight: bold;
}

.UIMailPortlet .UIMessageFilter .FilterSettingContainer .FilterContent {
	background: url('background/BGIntroduction89x1.gif') repeat-y right; /* orientation=lt */
	background: url('background/BGIntroduction89x1-rt.gif') repeat-y left; /* orientation=rt */
	padding: 5px;
	height: 319px;
}

.UIMailPortlet .UIMessageFilter .FilterSettingContainer .IntroductionContent {
	background: url('background/BGMailFilter54x132.gif') no-repeat right; /* orientation=lt */
	background: url('background/BGMailFilter54x132-rt.gif') no-repeat left; /* orientation=rt */
	margin-right: 5px; /* orientation=lt */
	margin-left: 5px; /* orientation=rt */
	padding-right: 50px; /* orientation=lt */
	padding-left: 50px; /* orientation=rt */
}

.UIMailPortlet .UIMessageFilter .FilterSettingContainer .IntroductionContent .TitleFilter {
	color: #ff1b1b;
	line-height: 20px;
	padding-top: 20px;
}

.UIMailPortlet .UIMessageFilter .FilterSettingContainer .IntroductionContent .Text {
	color: #2d2d2d;
	padding-left: 5px;
}
