
.UIWorkingWorkspace {
  width: auto;
}

.UIPageBody .VIEW-PAGEBODY .UIPage {
  padding:0px;
}

.UIPageBody .BLPagebody {
  background:none;
  height:0px;
  padding-left:0px;
}

.UIPageBody .BRPagebody {
  background:0px;
  height:0px;
  padding-right:0px;
}

.UIPageBody .BMPagebody {
  background:0px;
  height:0px;
}

.UIWorkingWorkspace .UIFooterPortlet {
  background:white;
  margin:0;
}

.UIWorkingWorkspace  .UIFooterPortlet .CopyrightInfo {
  color:#8A8A8A;
  font-size:10px;
  font-weight:bold;
  height:30px;
  line-height:30px;
  padding-right:90px;
  text-align:right;
}

