.UIContactPortlet .AddNew {
	background: url('icons/Add.gif') no-repeat center;
	height: 20px; width: 24px;
}

.UIContactPortlet .AddressOptionIcon {
	background: url('icons/AddressOptionIcon.gif') no-repeat left center;
}

.UIContactPortlet .ContactIcon {
	background: url('icons/ContactIcon.gif') no-repeat left center;;
}

.UIContactPortlet .CustomLayoutIcon {
	background: url('icons/CustomLayoutIcon.gif') no-repeat left center;
}

.UIContactPortlet .ExportContactIcon {
	background: url('icons/ExportContactIcon.gif') no-repeat left center;
}

.UIContactPortlet .ChatIcon {
	background: url('icons/GoChatIcon.gif') no-repeat left center;
	width: 16px ; height: 20px;
}

.UIContactPortlet .ImportContactIcon {
	background: url('icons/ImportContactIcon.gif') no-repeat left center;
}

.UIContactPortlet .MessageIcon {
	background: url('icons/MessageIcon.gif') no-repeat left center;
}

.UIContactPortlet .MoveAddressIcon {
	background: url('icons/MoveAddressIcon.gif') no-repeat left center;
}

.UIContactPortlet .MoveTagIcon {
	background: url('icons/MoveTagIcon.gif') no-repeat left center;
}

.UIContactPortlet .MyLDAPIcon {
	background: url('icons/MyLDAPIcon.gif') no-repeat left center;
}

.UIContactPortlet .PrintIcon {
	background: url('icons/PrintIcon.gif') no-repeat left center;
}

.UIContactPortlet .CopyContactIcon {
	background: url('icons/Copy24x24.gif') no-repeat left center;
}

.UIContactPortlet .ViewIcon {
	background: url('icons/ViewIcon.gif') no-repeat left center;
}

.UIContactPortlet .ActionsAddIcon {
	background: url('icons/ActionsAdd.gif') no-repeat right center;
	width: 26px; height: 18px;
}