@import url("UIComposerMessagePopup/DefaultStylesheet.css") ;

/**
 * UIForumPortlet
 */
 
.UIForumPortlet {
	border: solid 1px red;
}
 
/******************************************** ForumBanner ****************************************/
.UIForumPortlet .ForumBanner {
  height: 64px;
  padding: 0px 1px 0px 155px;
}
