.UIAccountSetting {
	background: #f3f3f3;
}

.UIAccountSetting .AccountSetting {
	border: 1px solid #c0c0c0;
	padding: 10px;
}

/*===========================AccountSettingCategory===========================*/

.UIAccountSetting .AccountSettingCategory {
	width: 212px; height: 355px;
	float: left;
	background: white;
	border: 1px solid #a5a5a5;
}

.UIAccountSetting .AccountSettingCategory .CategoryControlBar {
	background: url('background/BgTitleTag1x20.gif') repeat-x ;
	height: 20px; line-height: 20px;
	padding: 0px 10px 0px 8px;
}

.UIAccountSetting .AccountSettingCategory .CategoryControlBar .Title {
	color: #3d3d3d;
	font-weight: bold;
	float: left;
}

.UIAccountSetting .AccountSettingCategory .CategoryControlBar .DeleteIcon {
	background: url('icons/DeleteIcon.gif') no-repeat center ;
	float: right;
	height: 18px; width: 20px;
	cursor: pointer;
	margin: 0px 0px 0px 4px;
}

.UIAccountSetting .AccountSettingCategory .CategoryControlBar .AddIcon {
	background: url('icons/AddIcon.gif') no-repeat center ;
	float: right;
	height: 18px; width: 20px;
	cursor: pointer;
	margin: 0px 0px 0px 4px;
}

.UIAccountSetting .AccountSettingCategory .AccountSettingList {
	padding: 10px 0px;
	color: #3d3d3d;
}

.UIAccountSetting .AccountSettingCategory .NormalItem {
	padding: 0px 27px;
	line-height: 22px;
	margin: 2px 0px;
}

.UIAccountSetting .AccountSettingCategory .SelectedItem {
	padding: 0px 27px;
	margin: 2px 0px;
	line-height: 22px;
	background: #cbdaf4 url('icons/SelectedIcon.gif') no-repeat 9px center ;
}
/************************************AccountSettingContainer*************************************/

.UIAccountSetting .AccountSettingContainer {
	margin-left: 223px;
}

.UIAccountSetting .UIHorizontalTabs {
	background: url('background/HorizontalTabBackground.gif') repeat-x bottom;
}

.UIAccountSetting .UIHorizontalTabs .NormalTabStyle .SelectedTab {
	float: left;
}

.UIAccountSetting .UIHorizontalTabs .NormalTabStyle .NormalTab {
	float: left;
}

.UIAccountSetting .UIFormTabPane {
	padding: 0px;
}

.UIAccountSetting .UITabPane .UITabContentContainer {
	border: 1px solid #939393;
	border-top: none;
}

.UIAccountSetting .UITabPane .UITabContentContainer .UITabContent {
	border: 1px solid white;	
	border-top: none;
}

.UIAccountSetting .UITabPane .UIFormGrid {
	width: 99%;
}

.UIAccountSetting .UITabPane .UIForm {
	height: 297px;
}

.UIAccountSetting .UITabPane .UIForm .HorizontalLayout {
	border: none;
}

.UIAccountSetting .ServerSettings .UIFormGrid td.FieldLabel {
	width: 150px;
}

.UIAccountSetting .ServerSettings .UIFormGrid input {
	float: left;
}

.UIAccountSetting .ServerSettings .UIFormGrid .FieldComponent a {
	color: black;
}

.UIAccountSetting .ServerSettings .UIFormGrid .Icon {
	float: left;
	line-height: 20px;
}

.UIAccountSetting .ServerSettings .UIFormGrid .DefaultIcon {
	background: url('icons/DefaultIcon.gif') no-repeat left center;
	padding-left: 24px; 
}

.UIAccountSetting .UIForm .HorizontalLayout .UIFormInputSet {
	padding: 15px 10px;
	height: 287px;
}

/************************************UIAction*************************************/
