.UICalendarPortlet .UIExportCalendar {
	width: 95%;
	margin: 10px auto;
}

.UICalendarPortlet .UIExportCalendar .UIHorizontalLayout {
	background: #efefef;
	border: solid 1px #cdcdcd;
}

.UICalendarPortlet .UIExportCalendar .UIHorizontalLayout .FormContainer {
	padding-top: 10px;
	width: 400px;
	margin: auto;
}

.UICalendarPortlet .UIExportCalendar .FormContainer .UIFormGrid .FieldLabel {
	width: 128px;
	text-align: right;
	padding: 4px;
}

.UICalendarPortlet .UIExportCalendar .FormContainer .UIFormGrid .FieldComponent {
	padding: 4px;
}

.UICalendarPortlet .UIExportCalendar .FormContainer .UIFormGrid input {
	width: 235px;
	font-size: 11px;
}

.UICalendarPortlet .UIExportCalendar .FormContainer .UIFormGrid textarea {
	width: 230px;
	font-size: 11px;
}

.UICalendarPortlet .UIExportCalendar .FormContainer .UIFormGrid select {
	width: 235px;
	font-size: 11px;
}
