.UIImageForm {
	background: #f3f3f3;
	padding: 20px;
}

.UIImageForm .UIForm .HorizontalLayout {
	border: none;
}

.UIImageForm .UIFormGrid td.FieldLabel {
	white-space: nowrap;
}

.UIImageForm .SelectFileFrame {
	width: 300px;
}