.UIReadMessage {
  padding: 8px;
}

.UIReadMessage .MailControlBar .ControlButton {
	float: left;
	line-height: 26px;
}

.UIReadMessage .MailControlBar  a {
	color: #000000;
	margin: 3px 0px 0px 0px;
	line-height: 26px;
}

.UIReadMessage .MailControlBar a:hover {
	background: url('DefaultSkin/background/ControlButtonBG1x26.gif') repeat-x ;
	color: blue; border: 1px solid #cbcbcb;
	height: 24px;
}

.UIReadMessage .MailControlBar .MailIconLabel {
	line-height: 24px;
}

.UIReadMessage .MailControlBar .SeparatorLine {
  float: left;
  margin: 3px 5px 2px 5px;
}

.UIReadMessage .MailControlBar .MailIcon {
	line-height: 26px;
	margin: 0px 7px;
	padding-left: 26px;
}

/*=================================Reading Pane=================*/

.UIReadMessage .MailControlBar .ReadingPane {
	border: 1px solid #c0c0c0;
	background: #ffffff;
}

.UIReadMessage .MailControlBar .ReadingPane .ReadingPaneBar {
	background: #e7e7e7;
	height: 25px;
	border: 1px solid #ffffff;
}

.UIReadMessage .MailControlBar .ReadingPane .ReadingPaneTitle {
	float: left;
	font-weight: bold;
	font-size: 11px;
	margin: 5px 0px 0px 10px; 
}

.UIReadMessage .MailControlBar .ReadingPane .NomalReadingPane {
  float: right;
	margin: 4px 4px 0px 0px;
}

.UIReadMessage .MailControlBar .ReadingPane .MaximizeAllViewBoxStyle {
  float: right;
	margin: 2px 4px 0px 0px;
}

/*=======================Message Header====================*/

.UIReadMessage .MailControlBar .MessageHeader {
	padding: 5px;
	height: 25px;
}

.UIReadMessage .MailControlBar .MessageCheck {
	float: left;
	width: 50px; 
}

.UIReadMessage .MailControlBar .MessageCheck .CheckBox {
	float: left;
}

.UIReadMessage .MailControlBar .MessageCheck .NomalStarIcon {
	float: left; 
}

.UIReadMessage .MailControlBar .MessageAddress {
	float: left; 
}

.UIReadMessage .MailControlBar .MessageAddress .FieldContainer{
	line-height: 18px;
}

.UIReadMessage .MailControlBar .MessageAddress .Title {
	float: left;
	color: #6a6a6a;
	width: 80px;
	font-weight: bold;
}

.UIReadMessage .MailControlBar .MessageAddress .Address {
	float: left;
	font-weight: bold;
}

.UIReadMessage .MailControlBar .MessageAddress .LinkAddress {
	float: left;
	color: blue;
	cursor: pointer;
	font-weight: bold;
}

.UIReadMessage .MailControlBar .TagIcon {
	float: left;
	margin: 0px 4px;
}

.UIReadMessage .MailControlBar .MessageActions {
	float: right; 
	width: 160px;
}

.UIReadMessage .MailControlBar .MessageAttach {
	float: right; 
	width: 100px;
}

.UIReadMessage .MailControlBar .MessageActions .BlueDownArrowIcon {
	float: left;
	width: 12px; height: 16px;
	cursor: pointer;
}

.UIReadMessage .MailControlBar .MessageActions .ShowHideTitle {
	float: left;
	line-height: 20px;
	color: blue; cursor: pointer;
}

.UIReadMessage .MailControlBar .MessageActions .Text {
	float: left;
	color: #969696;
	font-weight: nomal;
}

.UIReadMessage .MailControlBar .MonthDate {
	float: left;
	line-height: 20px;
	font-weight: bold;
	margin: 0px 4px;
}

.UIReadMessage .MailControlBar .AttackIcon {
	float: left;
	margin: 2px 2px 0px 0px;
}

.UIReadMessage .MailControlBar .MessageDetail {
	padding: 10px;
}

.UIReadMessage .MailControlBar .NomalStarIcon {
	margin: 1px 0px 0px 4px; 
}

.UIReadMessage .MailControlBar .BlueDownArrowIcon {
	width: 16px; height: 16px;
	margin: 3px 0px 0px 0px;
	float: left; cursor: pointer;
}
