.AddEventIcon {
	background: url('icons/AddEventIcon.gif') no-repeat;
}

.AddTaskIcon {
	background: url('icons/AddTaskIcon.gif') no-repeat;
}

.LayoutSwitcherIcon {
	background: url('icons/LayoutSwitcherIcon.gif') no-repeat;
}

.DeleteEventIcon {
	background: url('icons/DeleteEvent.gif') no-repeat;
}

.SettingCalendarIcon {
	background: url('icons/SettingCalendarIcon.gif') no-repeat;
}

.ImportCalendarIcon {
	background: url('icons/ImportCalendarIcon.gif') no-repeat;
}

.GenerateRssIcon {
	background: url('icons/GenerateRssIcon.gif') no-repeat;
}
.AddpuplicCalendarIcon {
	background: url('icons/AddpuplicCalendarIcon.gif') no-repeat;
}

.AddCalendarIcon {
	background: url('icons/AddCalendarIcon.gif') no-repeat;
}

.AddGroupIcon {
	background: url('icons/AddGroupIcon.gif') no-repeat;
}

.DeleteTaskIcon {
	background: url('icons/DeleteTask.gif') no-repeat;
}

.UIScheduleViewIcon {
	background: url('icons/ScheduleIcon.gif') no-repeat;
}

.UIYearViewIcon {
	background: url('icons/UIYearViewIcon.gif') no-repeat;
}

.EventIcon24 {
	background: url('icons/EventIcon24.gif') no-repeat;
}

.UIMonthViewIcon {
	background: url('icons/MonthIcon.gif') no-repeat;
}

.WeekWorkIcon {
	background: url('icons/WeekWorkIcon.gif') no-repeat;
}

.UIWeekViewIcon {
	background: url('icons/WeekIcon.gif') no-repeat;
}

.UIDayViewIcon {
	background: url('icons/DayIcon24.gif') no-repeat;
}

.UIListContainerIcon {
	background: url('icons/UIListViewIcon.gif') no-repeat;
}

.DeleteGroupIcon {
	background: url('icons/DeleteGroupIcon.gif') no-repeat;
}

.EditGroupIcon {
	background: url('icons/EditGroupIcon.gif') no-repeat;
}

.PasteGroupIcon {
	background: url('icons/PasteGroupIcon.gif') no-repeat;
}

.ExportCalendarIcon {
	background: url('icons/ExportCalendarIcon.gif') no-repeat;
}

.CopyCalendarIcon {
	background: url('icons/CopyCalendarIcon.gif') no-repeat;
}

.CutCalendarIcon {
	background: url('icons/CutCalendarIcon.gif') no-repeat;
}

.RemoveCalendarIcon {
	background: url('icons/DeleteCalendarIcon.gif') no-repeat;
}

.AddNewEventIcon {
	background: url('icons/AddNewEvent.gif') no-repeat;
}

.SendMailCalendarIcon {
	background: url('icons/SendToFriend.gif') no-repeat;
}

.GotoDate {
	background: url('icons/GotoDateIcon.gif') no-repeat;
}

.AddNewEvent {
	background: url('icons/AddNewEvent.gif') no-repeat;
}

.AddNewTask {
	background: url('icons/AddNewTask.gif') no-repeat;
}

.QuickAddEvent {
	background: url('icons/AddNewEvent.gif') no-repeat;
}

.QuickAddTask {
	background: url('icons/AddNewTask.gif') no-repeat;
}

.ChangeColorCalendarIcon {
	background: url('icons/ChangeColorCalendarIcon.gif') no-repeat;
}





