.AddEventIcon {
	background: url('icons/AddEventIcon.gif') no-repeat;
}

.AddTaskIcon {
	background: url('icons/AddTaskIcon.gif') no-repeat;
}

.LayoutSwitcherIcon {
	background: url('icons/LayoutSwitcherIcon.gif') no-repeat;
}

.DeleteEventIcon {
	background: url('icons/DeleteEvent.gif') no-repeat;
}

.DeleteTaskIcon {
	background: url('icons/DeleteTask.gif') no-repeat;
}
