.UIForumWorkingWorkspace {
	width: auto;
	padding: 10px;
}


.UIForumWorkingWorkspace .ContentContainer .UserIcon {
	background: url('icons/24x24/UserIcon.gif') no-repeat ;
	width: 24px; height: 22px;
	margin: 0px 4px;
}


.UIForumWorkingWorkspace .ContentContainer .ChartIcon {
	background: url('icons/24x24/ChartIcon.gif') no-repeat ;
	width: 24px; height: 22px;
	margin: 0px 4px;
}


