
.DayIcon {
	background: url('icons/DayIcon.gif') no-repeat;
}

.FindIcon {
	background: url('icons/FindIcon.gif') no-repeat;
}

.PrintIcon {
	background: url('icons/PrintIcon.gif') no-repeat;
}
.RssIcon {
	background: url('icons/RssIcon.gif') no-repeat;
}

.SearchIcon {
	background: url('icons/SearchIcon.gif') no-repeat;
}

.TaskIcon {
	background: url('icons/TaskIcon.gif') no-repeat;
}

.TodayIcon {
	background: url('icons/TodayIcon.gif') no-repeat;
}

.CalendarSettingIcon {
	background: url('icons/CalendarSettingIcon.gif') no-repeat;
}

.NextIcon {
	background: url('icons/NextIcon.gif') no-repeat;
	width: 16px;height: 16px;
}

.BackIcon {
	background: url('icons/BackIcon.gif') no-repeat;
	width: 16px;height: 16px;
}

.CalendarGroupIcon {
	background: url('icons/CalendarGroupIcon.gif') no-repeat;
}

.CalendarIcon {
	background: url('icons/CalendarIcon.gif') no-repeat;
}

.AttachmentIcon {
	background: url('icons/AttachmentIcon.gif') no-repeat;
}

.MaximizeButton {
	background: url('icons/MaximizeReadingPane.gif') no-repeat;
	width: 17px; height: 16px;
}

.ViewOnCalendar {
	background: url('icons/ViewOnCalendar.gif') no-repeat;
}

.EditEventIcon {
	background: url('icons/EditEvent.gif') no-repeat;
}

.EditTaskIcon {
	background: url('icons/EditTask.gif') no-repeat;
}

.StatusIcon {
	background: url('icons/SelectIcon.gif') no-repeat;
}

.AddAnyIcon {
	background: url('icons/SmallGroupIcon.gif') no-repeat;
}

.SelectMemberIcon {
	background: url('icons/SmallMemberIcon.gif') no-repeat;
}

.SelectUserIcon {
	background: url('icons/SmallUserIcon.gif') no-repeat;
	border: solid 1px red;
}

.AddCategory {
	background: url('icons/AddCategory.gif') no-repeat;
}

.ViewAttachmentIcon {
	background: url('icons/ViewIcon.gif') no-repeat;
	height: 16px;
}

.DownLoadAttachmentIcon {
	background: url('icons/DownLoadIcon.gif') no-repeat;
	height: 16px;
}

.IconFeed {
	background: url('icons/FeedIcon.gif') no-repeat;
}
.EditIcon {
	background: url('icons/EditTask.gif') no-repeat;
	width: 16px;height: 16px;
}