
.UICalendarPortlet .DayIcon {
	background: url('icons/DayIcon.gif') no-repeat;
}

.UICalendarPortlet .FindIcon {
	background: url('icons/FindIcon.gif') no-repeat;
}

.UICalendarPortlet .PrintCalendarIcon {
	background: url('icons/PrintIcon.gif') no-repeat;
}

.UICalendarPortlet .SearchIcon {
	background: url('icons/SearchIcon.gif') no-repeat;
}

.UICalendarPortlet .TaskIcon {
	background: url('icons/TaskIcon.gif') no-repeat left center;
}

.UICalendarPortlet .EventIcon {
	background: url('icons/EventIcon.gif') no-repeat left center;
}
.UICalendarPortlet .BothIcon {
	background: url('icons/BothIcon.gif') no-repeat left center;
}
.UICalendarPortlet .TodayIcon {
	background: url('icons/TodayIcon.gif') no-repeat;
}

.UICalendarPortlet .NextIcon {
	background: url('icons/NextIcon.gif') no-repeat;
	width: 16px;height: 16px;
}

.UICalendarPortlet .BackIcon {
	background: url('icons/BackIcon.gif') no-repeat;
	width: 16px;height: 16px;
}

.UICalendarPortlet .CalendarGroupIcon {
	background: url('icons/CalendarGroupIcon.gif') no-repeat;
}

.UICalendarPortlet .CalendarIcon {
	background: url('icons/CalendarIcon.gif') no-repeat;
}

.UICalendarPortlet .AttachmentIcon {
	background: url('icons/AttachmentIcon.gif') no-repeat;
}

.UICalendarPortlet .MaximizeButton {
	background: url('icons/MaximizeReadingPane.gif') no-repeat;
	width: 17px; height: 16px;
}

.UICalendarPortlet .ViewOnCalendar {
	background: url('icons/ViewOnCalendar.gif') no-repeat;
}

.UICalendarPortlet .ViewEventIcon {
	background: url('icons/ViewEventIcon.gif') no-repeat left center;
}

.UICalendarPortlet .EditEventIcon {
	background: url('icons/EditEventIcon.gif') no-repeat left center;
}

.UICalendarPortlet .DeleteEventIcon {
	background: url('icons/EditEvent.gif') no-repeat left center;
}

.UICalendarPortlet .EditTaskIcon {
	background: url('icons/EditTask.gif') no-repeat;
}

.UICalendarPortlet .SelectIcon {
	background: url('icons/SelectIcon.gif') no-repeat;
}

.UICalendarPortlet .AddAnyIcon {
	background: url('icons/SmallGroupIcon.gif') no-repeat;
}

.UICalendarPortlet .SelectMemberIcon {
	background: url('icons/SmallMemberIcon.gif') no-repeat;
}

.UICalendarPortlet .SelectGroupIcon {
	background: url('icons/SmallGroupIcon.gif') no-repeat;
}

.UICalendarPortlet .SelectUserIcon {
	background: url('icons/SmallUserIcon.gif') no-repeat;
}

.UICalendarPortlet .AddCategory {
	background: url('icons/AddCategory.gif') no-repeat;
}

.UICalendarPortlet .ViewAttachmentIcon {
	background: url('icons/ViewIcon.gif') no-repeat;
	height: 16px;
}

.UICalendarPortlet .DownLoadAttachmentIcon {
	background: url('icons/DownLoadIcon.gif') no-repeat;
	height: 16px;
}

.UICalendarPortlet .IconFeed {
	background: url('icons/FeedIcon.gif') no-repeat;
}

.UICalendarPortlet .EditIcon {
	background: url('icons/EditTask.gif') no-repeat;
	width: 16px;height: 16px;
}

.UICalendarPortlet .highPriorityIcon {
	background: url('icons/HeighPriorityIcon.gif') no-repeat;
}

.UICalendarPortlet .normalPriorityIcon {
	background: url('icons/NormalPriorityIcon.gif') no-repeat;
}

.UICalendarPortlet .lowPriorityIcon{
	background: url('icons/LowPriorityIcon.gif') no-repeat;
}

.UICalendarPortlet .LayoutSwitcherIcon {
	background: url('icons/LayoutSwitcherIcon.gif') no-repeat;
}

.UICalendarPortlet .DeleteEventIcon {
	background: url('icons/DeleteEvent.gif') no-repeat left center;
}

.UICalendarPortlet .SettingCalendarIcon {
	background: url('icons/SettingCalendarIcon.gif') no-repeat left center;
}

.UICalendarPortlet .ImportCalendarIcon {
	background: url('icons/ImportCalendarIcon.gif') no-repeat left center;
}

.UICalendarPortlet .GenerateRssIcon {
	background: url('icons/GenerateRssIcon.gif') no-repeat left center;
}

.UICalendarPortlet .AddpuplicCalendarIcon {
	background: url('icons/AddpuplicCalendarIcon.gif') no-repeat left center;
}

.UICalendarPortlet .AddCalendarIcon {
	background: url('icons/AddCalendarIcon.gif') no-repeat left center;
}

.UICalendarPortlet .AddGroupIcon {
	background: url('icons/AddGroupIcon.gif') no-repeat left center;
}

.UICalendarPortlet .DeleteTaskIcon {
	background: url('icons/DeleteTask.gif') no-repeat left center;
}

.UICalendarPortlet .UIScheduleViewIcon {
	background: url('icons/ScheduleIcon.gif') no-repeat left center;
}

.UICalendarPortlet .UIYearViewIcon {
	background: url('icons/UIYearViewIcon.gif') no-repeat left center;
}

.UICalendarPortlet .EventIcon {
	background: url('icons/EventIcon.gif') no-repeat left center;
}

.UICalendarPortlet .UIMonthViewIcon {
	background: url('icons/MonthIcon.gif') no-repeat left center;
}

.UICalendarPortlet .WeekWorkIcon {
	background: url('icons/WeekWorkIcon.gif') no-repeat left center;
}

.UICalendarPortlet .UIWeekViewIcon {
	background: url('icons/WeekIcon.gif') no-repeat left center;
}

.UICalendarPortlet .UIDayViewIcon {
	background: url('icons/DayIcon.gif') no-repeat left center;
}

.UICalendarPortlet .UIListContainerIcon {
	background: url('icons/UIListViewIcon.gif') no-repeat center left;
}

.UICalendarPortlet .DeleteGroupIcon {
	background: url('icons/DeleteGroupIcon.gif') no-repeat left center;
}

.UICalendarPortlet .EditGroupIcon {
	background: url('icons/EditGroupIcon.gif') no-repeat left center;
}

.UICalendarPortlet .PasteGroupIcon {
	background: url('icons/PasteGroupIcon.gif') no-repeat left center;
}

.UICalendarPortlet .ExportCalendarIcon {
	background: url('icons/ExportCalendarIcon.gif') no-repeat left center;
}

.UICalendarPortlet .CopyCalendarIcon {
	background: url('icons/CopyCalendarIcon.gif') no-repeat left center;
}

.UICalendarPortlet .CutCalendarIcon {
	background: url('icons/CutCalendarIcon.gif') no-repeat left center;
}

.UICalendarPortlet .RemoveCalendarIcon {
	background: url('icons/DeleteCalendarIcon.gif') no-repeat left center;
}

.UICalendarPortlet .SendMailCalendarIcon {
	background: url('icons/SendToFriend.gif') no-repeat left center;
}

.UICalendarPortlet .GotoDate {
	background: url('icons/GotoDateIcon.gif') no-repeat left center;
}

.UICalendarPortlet .AddNewEvent {
	background: url('icons/AddNewEvent.gif') no-repeat left center;
}

.UICalendarPortlet .AddNewTask {
	background: url('icons/AddTaskIcon.gif') no-repeat left center;
}

.UICalendarPortlet .QuickAddEvent {
	background: url('icons/AddNewEvent.gif') no-repeat left center;
}

.UICalendarPortlet .QuickAddTask {
	background: url('icons/AddTaskIcon.gif') no-repeat left center;
}

.UICalendarPortlet .ChangeColorCalendarIcon {
	background: url('icons/ChangeColorCalendarIcon.gif') no-repeat;
}

.UICalendarPortlet .EditCalendarIcon {
	background: url('icons/EditCalendarIcon.gif') no-repeat left center;
}

.UICalendarPortlet .SharedCalendarIcon {
	background: url('icons/SharedCalendarIcon.gif') no-repeat left center;
}

.UICalendarPortlet .ShowMinicalendar {
	background: url('icons/ShowMinicalendar.gif') no-repeat;
}

.UICalendarPortlet .HidenMinicalendar {
	background: url('icons/HidenMinicalendar.gif') no-repeat left center;
}

.UICalendarPortlet .HidenAllCalendar {
	background: url('icons/HidenAllCalendar.gif') no-repeat left center;
}

.UICalendarPortlet .CalDavIcon {
	background: url('icons/CalDavIcon.gif') no-repeat left center;
}

.UICalendarPortlet .AddCategoryIcon {
		background: url('icons/AddCategory.gif') no-repeat left center;
}