
.UIMailPortlet .UIMailSetting {
	min-width: 600px;
}

/*****************************FlatTabStyle****************************************/

.UIMailPortlet .UIMailSetting .UITabSelector .FlatTabStyle .SelectedTab {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
}

.UIMailPortlet .UIMailSetting .UITabSelector .FlatTabStyle .NormalTab {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
}

.UIMailPortlet .UIMailSetting .UITabSelector .FlatTabStyle .TabIcon {
	margin: 1px 4px 0px 4px;
	padding-left: 25px; /* orientation=rt */
	padding-right: 25px; /* orientation=lt */
}

.UIMailPortlet .UIMailSetting .UITabSelector .FlatTabStyle .ShortcutKeyIcon {
	background: url('icons/ShortcutkeyIcon.gif') no-repeat center;
	height: 27px; width: 24px;
}

.UIMailPortlet .UIMailSetting .UITabSelector .FlatTabStyle .AccountIcon {
	background: url('icons/AccountIcon.gif') no-repeat center;
	height: 25px; width: 24px;
}

.UIMailPortlet .UIMailSetting .UITabPane .UITabContentContainer {
	border: 1px solid #d5d5d5;
}

.UIMailPortlet .UIMailSetting .UIForm .HorizontalLayout {
	border: none;
	padding: 10px 10px 20px 10px;
}
