.UIContactPortlet .UIAddNewEvent {
	padding: 8px; 
}

.UIContactPortlet .UIAddNewEvent .ReminderByEmail {
	background: url('background/ReminderTabHeader1x24.gif') repeat-x top ;
	padding: 4px;
}

.UIContactPortlet .UIAddNewEvent .ReminderByEmail input.checkbox{
	float: left;
}

.UIContactPortlet .UIAddNewEvent .ReminderByPopup input.checkbox{
	float: left;
}

.UIContactPortlet .UIAddNewEvent .ReminderByEmail .selectbox{
	width: 80px;
}

.UIContactPortlet .UIAddNewEvent .ReminderByEmail .FieldLabel{
	padding-top: 2px;
	padding-left: 2px;
}

.UIContactPortlet .UIAddNewEvent .ReminderByPopup .selectbox{
	width: 80px;
}

.UIContactPortlet .UIAddNewEvent .ReminderByPopup .FieldLabel{
	padding-top: 2px;
	padding-left: 2px;
}

.UIContactPortlet .UIAddNewEvent .ReminderByPopup {
	background: url('background/ReminderTabHeader1x24.gif') repeat-x top ;
	padding: 4px;
}

.UIContactPortlet .UIAddNewEvent .UIFormGrid{
	margin-top: 10px;
}

.UIContactPortlet .UIAddNewEvent .HorizontalLayout {
	border: none;
}

.UIContactPortlet .UIAddNewEvent .UIFormWithTitle {
	margin: 8px auto ;
}

.UIContactPortlet .UIAddNewEvent .UITabContentContainer .UITabContent {
	border:none;
}

.UIContactPortlet .UIAddNewEvent .HorizontalLayout .DateTime {
	float: left;
	margin-right: 3px;
}

.UIContactPortlet .UIAddNewEvent .UIFormGrid .FieldComponent .Date {
	float: left;
	margin-right: 7px;
}

.UIAddNewEvent .UIFormGrid .FieldComponent .Date input{
	font-size: 11px;
	width: 104px;
}

.UIAddNewEvent .UIFormGrid .FieldComponent .Time{
	font-size: 11px;
}

.UIAddNewEvent .UIFormGrid .FieldComponent .Time .selectbox{
	width: 104px;
}

.UIAddNewEvent .UIFormGrid .FieldComponent .ReminderLabel{
	float:left;
}

.UIAddNewEvent .UIFormGrid .FieldComponent .ReminderTime .selectbox{
	width: 60px;
}

.UIAddNewEvent .HorizontalLayout .FieldComponent .UIAction {
	float: left;
	padding: 0px;
	margin-left: 4px; 
}