.UIAddEmailAdress {
	width: 95%;
	margin: 10px auto;
}

.UIAddEmailAdress .UIHorizontalLayout {
	background: #efefef;
	border: solid 1px #cdcdcd;
}

.UIAddEmailAdress .UIHorizontalLayout .FormContainer {
	padding: 10px;
}

.UIAddEmailAdress .FormContainer .UIFormGrid .FieldLabel {
	width: 128px;
	text-align: right;
	padding: 4px;
}

.UIAddEmailAdress .FormContainer .UIFormGrid .FieldComponent {
	padding: 4px;
}

.UIAddEmailAdress .FormContainer .UIFormGrid input {
	width: 235px;
	font-size: 11px;
}

.UIAddEmailAdress .FormContainer .UIFormGrid textarea {
	width: 230px;
	font-size: 11px;
}

.UIAddEmailAdress .FormContainer .UIFormGrid select {
	width: 235px;
	font-size: 11px;
}

.UIAddEmailAdress .UIPropertyTab .UIGrid .Icon16x16{
	margin-right: 3px;
}

.UIAddEmailAdress .SearchPublic {
	padding-bottom: 10px;
}

.UIAddEmailAdress .SearchPublic .LeftSearchPublic{
	background: url('background/LeftPublicCalendar5x40.gif') no-repeat left;
	padding-left: 5px;
}

.UIAddEmailAdress .SearchPublic .RightSearchPublic{
	background: url('background/RightPublicCalendar5x40.gif') no-repeat right;
	padding-right: 5px;
}

.UIAddEmailAdress .SearchPublic .MiddleSerchPublic{
	background: url('background/MiddlePublicCalendar1x40.gif') repeat-x center;
	height: 40px;
	line-height: 36px;
}