.UIContactPortlet .UIAddNewAddressBook {
	width: 500px;
	border: 1px solid red;
	background: #f3f3f3;
	padding: 20px;
}

.UIContactPortlet .UIAddNewAddressBook .UIForm .HorizontalLayout {
	border: none;
}

.UIContactPortlet .UIAddNewAddressBook .UIAction {
	width: 130px;
	padding: 25px 0px 10px 20px;
}
