.UIForumPortlet .UITopicDetail {}

.UIForumPortlet .UITopicDetail .ButtomAndPageListContainer {
	margin: 0px 0px 1px 0px;
}

.UIForumPortlet .UITopicDetail .PostReplyIcon {
	background: url('icons/16x16/PostReplyIcon.gif') no-repeat left 2px ;
}

.UIForumPortlet .UITopicDetail .QuotePostIcon {
	background: url('icons/16x16/PostReplyIcon.gif') no-repeat left 2px ;
}

.UIForumPortlet .UITopicDetail .PrintPostIcon {
	background: url('icons/16x16/PrintPostIcon.gif') no-repeat left 2px ;
}

/********************************* PostsInThreadContainer ************************************/
.UIForumPortlet .UITopicDetail .PostsInThreadContainer {
	margin: 0px;
}

.UIForumPortlet .UITopicDetail .ToolbarActionsContainer {
	padding-right: 10px;
}

.UIForumPortlet .UITopicDetail .ForumToolbar .SearchIcon {
	background-repeat: no-repeat;
	background-position: left center;
	width: auto; height: auto;
}

.UIForumPortlet .UITopicDetail .ForumToolbar .ToolIcon {
	background: url('icons/16x16/ToolIcon.gif') no-repeat center left;
}

.UIForumPortlet .UITopicDetail .ForumToolbar .VoteIcon {
	background: url('icons/16x16/VoteIcon.gif') no-repeat center left;
}

.UIForumPortlet .UITopicDetail .ForumToolbar .TagIcon {
	background: url('icons/16x16/TagIcon.gif') no-repeat center left;
}

/*************************************** ContentContainer ************************************/
.UIForumPortlet .UITopicDetail .PostContentContainer {
	min-height: 130px ;
}

*html .UIForumPortlet .UITopicDetail .PostContentContainer {
	height: 130px ;
}

.UIForumPortlet .UITopicDetail .TablePost {
	border-collapse: separate;
	border: 1px solid #c4c4c4;
}

.UIForumPortlet .UITopicDetail .MemberContainer {
	background: #eeedf7;
	border: 1px solid white;
	width: 192px;
}

.UIForumPortlet .UITopicDetail .MemberContent {
	padding: 10px 15px;
}	

.UIForumPortlet .UITopicDetail .MemberContent .State {
	float: left;	
	width: 16px;
	height: 20px;
	cursor: pointer;
}

.UIForumPortlet .UITopicDetail .MemberContent .AvailableIcon {
	background: url('icons/16x16/OnlineIcon.gif') no-repeat center;
}

.UIForumPortlet .UITopicDetail .MemberContent .BusyIcon {
	background: url('/forum/skin/DefaultSkin/webui/skinIcons/16x16/icons/BusyIcon.gif') no-repeat center;
}

.UIForumPortlet .UITopicDetail .MemberContent .Name {
	float: left;
	color: #135bbe;
	font-size: 14px; font-weight: bold;
	line-height: 20px;
	padding: 0px 5px;
}

.UIForumPortlet .UITopicDetail .MemberContent .Action {
	background: url('icons/16x16/DropDownIcon.gif') no-repeat center 4px;
	float: left;
	width: 16px; height: 20px;
	cursor: pointer;
}

.UIForumPortlet .UITopicDetail .MemberContent .Rank {
	color: #2c2c2c;
	font-size: 12px;
	padding: 0px 0px 0px 2px;
}

.UIForumPortlet .UITopicDetail .Img {
	border: 1px solid #484848;
	padding: 1px;
	background: white;
	margin: 8px 0px;
	cursor: pointer;
}

.UIForumPortlet .UITopicDetail .MemberContent .InfoMember {
	line-height: 18px;
	color: #2c2c2c;
}

/************************************** PostViewContainer ***********************************/

.UIForumPortlet .UITopicDetail .PostViewContainer {
	color: #2c2c2c;
	border-left: solid 1px #c4c4c4;
	padding: 0px 8px;
}

.UIForumPortlet .UITopicDetail .PostViewContainer .PostViewHeader {
	border-bottom: 1px solid #d8d8d8;
	padding: 5px 0px 3px 0px;
}

.UIForumPortlet .UITopicDetail .PostViewContainer .PostViewIcon {
	font-weight: bold; font-size: 12px;
	font-family: arial;
	line-height: 20px;
	padding-left: 20px;
}

.UIForumPortlet .UITopicDetail .PostViewContainer .PostTime {
	padding: 2px 0px 0px 20px;
}

.UIForumPortlet .UITopicDetail .PostViewContainer .PostContent {
	padding: 0px 5px;
}

.UIForumPortlet .UITopicDetail .PostViewContainer a {
	color: blue;
}

.UIForumPortlet .UITopicDetail .PostViewContainer .AttachmentContainer .AttachmentTitle {
	background: #e7e7e7 url('/forum/skin/DefaultSkin/webui/skinIcons/16x16/icons/AttachmentIcon.gif') no-repeat 3px center;
	padding-left: 20px;
	line-height: 25px;
	font-weight: bold;
	white-space: nowrap;
}

.UIForumPortlet .UITopicDetail .PostViewContainer .AttachmentContainer .AttachmentBox {
	float: left;
	padding: 15px;
}

.UIForumPortlet .UITopicDetail .PostViewContainer .AttachmentContainer .LabelBox {
	float: left;
}

.UIForumPortlet .UITopicDetail .AttachmentContainer .Image {
	float: left;
	margin: 0px 10px 0px 0px;
}

.UIForumPortlet .UITopicDetail .PostViewContainer .AttachmentContainer .AttachmentIcon {
	float: left;
	height: 20px; 
	width: 20px;
}

.UIForumPortlet .UITopicDetail .PostViewContainer .AttachmentContainer .AttachmentLabel {
	color: #1555b5;
	line-height: 20px;
	font-weight: bold;
	float:left;
}

.UIForumPortlet .UITopicDetail .PostViewContainer .AttachmentContainer .AttachmentInfo {
	float: right;
}

.UIForumPortlet .UITopicDetail .PostViewContainer .AttachmentContainer .Action {
	padding-top: 50px;
}

.UIForumPortlet .UITopicDetail .PostViewContainer .AttachmentContainer .Action .Icon {
	float: left;
	color: #1555b5;
	padding-left: 20px;
	line-height: 20px;
	margin-right: 10px;
	cursor: pointer;
}

.UIForumPortlet .UITopicDetail .PostViewContainer .AttachmentContainer .Action .View {
	background: url('icons/16x16/ViewIcon.gif') no-repeat left center;
}

.UIForumPortlet .UITopicDetail .PostViewContainer .AttachmentContainer .WordIcon {
	background: url('icons/16x16/WordIcon.gif') no-repeat left center;
}

.UIForumPortlet .UITopicDetail .PostViewContainer .AttachmentContainer .PPTIcon {
	background: url('icons/16x16/PPTIcon.gif') no-repeat left center;
}

.UIForumPortlet .UITopicDetail .PostViewContainer .AttachmentContainer .PNGIcon {
	background: url('icons/16x16/PNGIcon.gif') no-repeat left center;
}

.UIForumPortlet .UITopicDetail .PostViewContainer .AttachmentContainer .JPGIcon {
	background: url('icons/16x16/JPGIcon.gif') no-repeat left center;
}

.UIForumPortlet .UITopicDetail .PostViewContainer .AttachmentContainer .Size {
	padding-left: 25px;
}

.UIForumPortlet .UITopicDetail .PostViewContainer .FootPost {
	border-top: 1px dotted #9b9b9b;
	padding: 5px 0px 0px 0px;
	width: auto;
}

.UIForumPortlet .UITopicDetail .PostViewContainer .PostInfo {
	float: left;
	line-height: 18px;
}

.UIForumPortlet .UITopicDetail .PostViewContainer .ButtonContainer {
	float: right;
	padding: 10px 0px 0px 0px;
}

/***************************************** Quote ****************************************/

.UIForumPortlet .UITopicDetail .PostViewContainer .QuoteContent {
	padding: 10px;
}

.UIForumPortlet .UITopicDetail .PostViewContainer .Quote {
	background: #ededf7;
	border: 1px solid #d8d8d8;
	padding: 10px 15px;
	margin: 5px 0px;
}

.UIForumPortlet .UIRatingForm {
	padding: 8px 10px;
}

.UIForumPortlet .UIRatingForm .VoteFormContainer {
	border: solid 1px #e1e1e1 ;
	background: #f4f4f4 ;
	padding-top: 10px;
}

.UIForumPortlet .UIRatingForm .VoteFormContainer .RatingInfoContainer {
	border: solid 1px #e1e1e1 ;
	width: 130px;
	margin: auto;
}

.UIForumPortlet .UIRatingForm .VoteFormContainer .OptionsContainer {
	border: solid 1px #ffffff ;
	padding-left: 7px;
}

.UIForumPortlet .UIRatingForm .VoteFormContainer .RatedVote {
	float: left ;
	background: url('../skinIcons/16x16/icons/SmallGreyStar.gif') no-repeat center;
	height: 22px;
	width: 22px;
	cursor: pointer;
}

.UIForumPortlet .UIRatingForm .VoteFormContainer .OverVote {
	float: left ;
	background: url('../skinIcons/16x16/icons/SmallYellowStar.gif') no-repeat center;
	height: 22px;
	width: 22px;
	cursor: pointer;
}

.UIForumPortlet .UIRatingForm .VoteFormContainer .NormalVote {
	float: left ;
	background: url('../skinIcons/16x16/icons/SmallGreyStar.gif') no-repeat center;
	height: 22px;
	width: 22px;
	cursor: pointer;
}













