.UICalendarPortlet .UIAddEventCategory {
	background: #ffffff;
	padding:8px;
}

.UICalendarPortlet .UIAddEventCategory .UIHorizontalLayout {
	padding: 8px;
	background: #efefef;
	border: 1px solid #c7c7c7;
}

.UICalendarPortlet .UIAddEventCategory .UIFormWithTitle .HorizontalLayout {
	padding: 0px;
	border-top: none;
}

.UICalendarPortlet .UIAddEventCategory .UIHorizontalLayout .FormContainer {
	padding: 5px;
	border: none;
}

.UICalendarPortlet .UIAddEventCategory .FormContainer .UIFormGrid .FieldLabel {
	width: 128px;
	text-align: right;
	padding: 4px;
}

.UICalendarPortlet .UIAddEventCategory .FormContainer .UIFormGrid .FieldComponent {
	padding: 4px;
}

.UICalendarPortlet .UIAddEventCategory .FormContainer .UIFormGrid input {
	width: 235px;
	font-size: 11px;
}