.UIContactPortlet .UIExportContactForm {
  padding: 10px ;
}

.UIContactPortlet .UIExportContactForm .ExportContact {
  border: 1px solid #aeaeae;
  background: #f7f7f7;
}

.UIContactPortlet .UIExportContactForm .WorkingContainer {
  border: 1px solid white;
  padding: 5px 15px 10px 15px;
}

.UIContactPortlet .UIExportContactForm .Title {
  line-height: 30px;
  font-weight: bold;
}

.UIContactPortlet .UIExportContactForm .State {
  width: auto;
  padding-left: 18px;
  line-height: 17px;
}

.UIContactPortlet .UIExportContactForm .ExportForm {
  padding: 10px;
}

.UIContactPortlet .UIExportContactForm .UIContactList .text{
  white-space: nowrap;
}