@import url("UIComposerMessagePopup/Stylesheet.css") ;
@import url("UIReadMessage/Stylesheet.css") ;
@import url(UIAccountCreationPopup/Stylesheet.css) ;
@import url("UIAccountSetting/Stylesheet.css");
@import url("UIMailSetting/Stylesheet.css");
@import url("UIInsertAddress/Stylesheet.css");
@import url("skinIcons/16x16/Stylesheet.css");
@import url("skinIcons/24x24/Stylesheet.css");
/**
 * UIMailPortlet
 */
 
.UIMailPortlet {
}
 
/******************************************** MailBanner ****************************************/
.UIMailPortlet .UIBannerContainer {
  background: url('background/BgBanner457x63.gif') no-repeat left;
  height: 64px;
  padding: 0px 1px 0px 155px;
}

.UIMailPortlet .UIBannerContainer .LeftHorizontalLine {
  background: url('background/LeftHorizontalLine44x2.gif') no-repeat left bottom;	
  padding-left: 44px;
  height: 30px;
}

.UIMailPortlet .UIBannerContainer .RepeatHorizontalLine {
	font-size: 13px; font-family: tahoma;
	color: #5f5f5f; font-weight: bold;
  background: url('background/RepeatHorizontalLine1x2.gif') repeat-x bottom;	
  height: 21px; padding-top: 9px;
}

.UIMailPortlet .UIBannerContainer .SearchForm {
  background: url('background/RightBottomBanner440x34.gif') no-repeat right;	
  height: 34px; line-height: 34px;
	padding-right: 13px;
	border-right: 1px solid #787e9f;
}

.UIMailPortlet .UIBannerContainer .Label {
	float: right;
	line-height: 20px;
	margin: 5px 0px;
	color: #595b6a; 
}

.UIMailPortlet .UIBannerContainer .Input {
	width: 195px;
	float: right;
	margin: 5px 8px;
}

.UIMailPortlet .UIBannerContainer .Search {
  background: url('skinIcons/16x16/icons/SearchIcon.gif') no-repeat ;	
  height: 16px;
  width: 16px;
  float: right;
  margin: 8px 5px 0px 0px;
  cursor: pointer;
}

.UIMailPortlet .UIBannerContainer .AdvancedSearch {
  background: url('skinIcons/16x16/icons/FindIcon.gif') no-repeat ;	
  height: 16px; width: 16px;
  float: right; cursor: pointer;
  margin: 8px 0px 0px 2px;
}

.UIMailPortlet .UIBannerContainer .SeparatorLine {
	background: url('background/SeparatorLineBaner2x26.gif') no-repeat ;
  float: right;
  margin: 3px 7px;
}

/***************************************MailWorkingWorkspace********************************/

.UIMailPortlet .MailWorkingWorkspace {
	padding: 10px 5px;
}

.UIMailPortlet .MailWorkingWorkspace .UIActionBar a:hover {
	background: url('background/ControlButtonBG.gif') repeat-y ;
	border: 1px solid #9d9d9d;
	text-color: #126ca5;
}

.UIMailPortlet .MailWorkingWorkspace .UIActionBar .Label {
	line-height: 24px;
}

.UIMailPortlet .MailContainer {
	padding: 0px 5px 5px 5px;
	border: 1px solid #c2c2c2;
	background: #f3f3f3;
	height: 100%;
}

/**************************************MailContentNavigation*********************************/

.UIMailPortlet .MailContainer .UINavigationContainer {
	float: left;
	width: 215px;
	padding: 0px 2px;
}

.UIMailPortlet .UISelectAccount {
}

.UIMailPortlet .UISelectAccount .ItemSelectorContainer {
	width: 194px;
	float: left;
	margin: 10px 0px 1px 0px;
	border-right: none;
	height: 19px;
}

.UIMailPortlet .UISelectAccount .ItemInfoBar {
	background: white url(background/DropDownItemSelectorBG1x2.gif) repeat-x top;
	padding-left: 5px;
	border: 1px solid #929292;
	cursor: pointer;
}

.UIMailPortlet .UISelectAccount .ItemInfoBar .SelectedItemLabel {
	float: left;
	line-height: 19px;
	font-size: 10px; font-weight: bold; color: #333333;
	margin-left: 7px;
}

.UIMailPortlet .UISelectAccount .ItemInfoBarDisable .SelectedItemLabel {
	float: left;
	line-height: 19px;
	font-weight: bold;
	margin-left: 8px;
	overflow: hidden;
}

.UIMailPortlet .UISelectAccount .DropDownSelectIcon {
	float: right; 
	width: 20px; height: 19px;
	background: url('background/DropDownButton.gif') no-repeat right;
	cursor: pointer;	
}

.UIMailPortlet .UISelectAccount .UIItemList .ItemSelectorLabel {
	text-transform: capitalize; 
}


.UIMailPortlet .UINavigationContainer .AddAccountIcon {
	background: url('/eXoResources/skin/DefaultSkin/skinIcons/24x24/icons/EditNavigation.gif') no-repeat left top;
	cursor: pointer;
	float: left; margin: 10px 0px 0px 0px;
	height: 21px; width: 21px;
	display: block;
}

.UIMailPortlet .UINavigationContainer .UIFolderContainer {
	background: white;
	border: 1px solid #a5a5a5;
	margin: 1px 0px;
	padding: 1px 1px 30px 1px;
}

/**************************************UIFolderContainer*********************************/
 
.UIMailPortlet .MailQuantity {
	padding-left: 3px;
	color: #333333;
}

.UIMailPortlet .UINavigationContainer .DownArrow3Icon {
	float: left;
	margin: 2px;
}
 
.UIMailPortlet .UINavigationContainer .UIFolderContainer .FolderListTitleBar {
	background: #e6e6e6 ;
	height: 20px; line-height: 20px;
}

.UIMailPortlet .UINavigationContainer .Title {
	color: #3d3d3d; font-weight: bold;
	margin-left: 20px;
	padding-left: 23px;
	line-height: 18px;
}

.UIMailPortlet .UINavigationContainer .UIFolderContainer .MailFolderList {
	padding: 3px 0px 5px 22px;
}

.UIMailPortlet .UINavigationContainer .UIFolderContainer a {
	color: #1e1f21;
	display: block;
}

.UIMailPortlet .UINavigationContainer .UIFolderContainer a:hover {
	color: #126ca5;
}

.UIMailPortlet .UINavigationContainer .UIFolderContainer .Icon {
	padding-left: 30px;
	line-height: 24px; 
	margin: 2px 0px; width: auto;
}

.UIMailPortlet .UINavigationContainer .MyFolder .TitleBar {
	background: url('background/LineTitle166x1.gif') no-repeat left bottom;
	height: 20px; line-height: 20px;
}

.UIMailPortlet .UINavigationContainer .MyFolder .Title {
	margin: 0px;
	padding-left: 18px;
}

.UIMailPortlet .UINavigationContainer .MyFolder .UITree  {
	border: none;
}

.UIMailPortlet .UINavigationContainer .MyFolder .Icon  {
	padding: 0px;
}

.UIMailPortlet .MyFolder .UITree .ChildrenContainer {
	padding-left: 15px;
}

.UIMailPortlet .MyFolder .UITree .IconFolder {
	float:left; 
	width: 24px; height: 24px;
}

.UIMailPortlet .MyFolder .UITree .NodeLabel a {
	line-height: 20px;
	font-weight: normal;
	color: #1e1f21;
}

.UIMailPortlet .UITree .TreeContainer .NodeLabel a:hover {
	font-weight: normal;
	color: #126ca5;
}

/*********************************TagList*************************************/

.UIMailPortlet .UINavigationContainer .TagTitle {
	float: left;
	padding-left: 20px;
	font-weight: bold;
}

.UIMailPortlet .UINavigationContainer .UITagContainer {
	background: white;
	border: 1px solid #a5a5a5;
	margin: 1px 0px;
}

.UIMailPortlet .UINavigationContainer .UITagContainer .IconTitle {
	padding-left: 20px;	
	margin-left: 20px;
	color: #3d3d3d; font-weight: bold;	
}

.UIMailPortlet .UINavigationContainer .UITagContainer .TagsList {
	padding: 8px 0px 8px 18px;
}

.UIMailPortlet .UITagContainer .TagsList .IconItemTag {
	padding-left: 25px;
}

.UIMailPortlet .UITagContainer .TagsList a {
	line-height: 20px;
	color: #3d3d3d;
	display: block;
}

.UIMailPortlet .UITagContainer .TagsList a:hover {
	color: #126ca5;
}


/*********************************MailContentWorkingArea*************************************/


/*=========================Mail ControlBar======================================*/

.UIMailPortlet .MailWorkingWorkspace .UIActionBar {
	height: 31px;
}

.UIMailPortlet .MailWorkingWorkspace .ControlButton {
	float: left;
	line-height: 26px;
}

.UIMailPortlet .MailWorkingWorkspace  .UIActionBar a {
	color: #000000;
	margin: 3px 0px 0px 0px;
	line-height: 26px;
}

.UIMailPortlet .MailWorkingWorkspace  .UIActionBar a:hover {
	background: url('background/ControlButtonBG1x26.gif') repeat-x ;
	color: #126ca5; border: 1px solid #cbcbcb;
	height: 24px;
}

.UIMailPortlet .MailWorkingWorkspace .SeparatorLine {
  float: left;
  margin: 3px 5px 2px 5px;
}

.UIMailPortlet .MailWorkingWorkspace .IconHolder {
	line-height: 26px;
	margin: 0px 7px;
	padding-left: 26px;
}

/*================================= MailContainer ================*/

.UIMailPortlet .MailWorkingWorkspace .MailContainer {
	padding: 0px 0px 5px 6px;
 	border: 1px solid #c2c2c2;
 	background: #f3f3f3;
 	height: 100%;
}


/*===================================MailWorkingDetail=================*/

.UIMailPortlet .MailWorkingWorkspace .MailContainer .UIMessageArea {
	margin: 0px 0px 0px 225px;
}

.UIMailPortlet .UIMessageArea .UIMessageActionsBar {
	background: url('background/MailListControlbarBG1x24.gif') repeat-x;
	height: 24px;
	width: 98.7%;
	border-left: 1px solid #c0c0c0;
	border-right: 1px solid #c0c0c0;
}

.UIMailPortlet .MailWorkingWorkspace  .UIMessageActionsBar a {
	color: #000000;
}

.UIMailPortlet .MailWorkingWorkspace  .UIMessageActionsBar a:hover {
	color: #126ca5;
}

.UIMailPortlet .MailWorkingWorkspace .UIMessageActionsBar .MoreActionsIcon {
	margin: 2px 0px 0px 10px;
	line-height: 24px;
	padding-left: 24px;
}

.UIMailPortlet .MailWorkingWorkspace .UIMessageActionsBar .ViewIcon {
	margin: 2px 0px 0px 10px;
	line-height: 24px;
	padding-left: 24px;
}

.UIMailPortlet .MailWorkingWorkspace .UIMessageActionsBar .AddEventIcon {
	margin: 2px 0px 0px 10px;
	line-height: 20px;
	padding-left: 24px;
}

.UIMailPortlet .MailWorkingWorkspace .UIMessageActionsBar .DownArrow1Icon {
	line-height: 20px;
	background-position: right;
	padding-right: 16px; 
}

/*================================== UIGrid===============*/

.UIMailPortlet .MailWorkingWorkspace .UIMessageList {
	padding-left: 1px;
}

.UIMailPortlet .MailWorkingWorkspace .UIGrid th {
	background: url(background/ThGridRepeatBg1x19.gif) repeat-x;
	border: 1px solid #d2d4dc;
}

.UIMailPortlet .MailWorkingWorkspace .UnStarredIcon {
	margin: 1px 0px 0px 4px; 
}

.UIMailPortlet .MailWorkingWorkspace .StarredIcon {
	margin: 1px 0px 0px 4px;
}

.UIMailPortlet .MailWorkingWorkspace .AttachmentIcon {
	margin: 1px 0px 0px 3px;
}

.UIMailPortlet .MailWorkingWorkspace .TotalMessageIcon {
	margin: 1px 0px 0px 4px;
}

.UIMailPortlet .MailWorkingWorkspace .PriorityIcon {
	margin: 1px 0px 0px 4px;
}

.UIMailPortlet .MailWorkingWorkspace table {
	width: 99%; 
	background: #ffffff;
}

.UIMailPortlet .MailWorkingWorkspace td {
	border-top: none;
	height: 20px;
}

.UIMailPortlet .MailWorkingWorkspace .textBold {
	font-weight: bold;
}

.UIMailPortlet .MailWorkingWorkspace .ResizeReadingPane {
	margin: 1px auto 1px auto;
}

.UIMailPortlet .MailWorkingWorkspace .UIMessageList .DownArrow1Icon {
	height: 16px; width: 60px;
	line-height: 16px;
	margin: 3px 0px 0px 0px;
	cursor: pointer;
	background-position: right;
	padding-right: 16px;
}

/*=================================Reading Pane=================*/

.UIMailPortlet .MailWorkingWorkspace .UIMessagePreview {
	border: 1px solid #c0c0c0;
	width: 98.8%; 
	background: #ffffff;
}

.UIMailPortlet .MailWorkingWorkspace .UIMessagePreview .ViewBoxStyle {
	height: 442px;
}

.UIMailPortlet .MailWorkingWorkspace .UIMessagePreview .ReadingPaneDeltail {
	height: 316px;
	overflow: auto;
}

.UIMailPortlet .MailWorkingWorkspace .UIMessagePreview .ReadingPaneBar {
	background: #e7e7e7;
	height: 25px;
	border: 1px solid #ffffff;
}

.UIMailPortlet .MailWorkingWorkspace .UIMessagePreview .Subject {
	float: left;
	font-weight: bold;
	font-size: 11px;
	margin: 5px 0px 0px 10px; 
}

.UIMailPortlet .MailWorkingWorkspace .UIMessagePreview .MaximizeReadingPane {
  float: right;
	margin: 4px 4px 0px 0px;
}

/*=======================Message Header====================*/

.UIMailPortlet .MailWorkingWorkspace .MessageHeader {
	font-size: 12px;
	padding: 5px; 
	height: 120px;
}

.UIMailPortlet .MailWorkingWorkspace .MessageCheck {
	float: left;
	width: 50px; 
}

.UIMailPortlet .MailWorkingWorkspace .MessageCheck .CheckBox {
	float: left;
}

.UIMailPortlet .MailWorkingWorkspace .MessageCheck .UnStarredIcon {
	float: left; 
}

.UIMailPortlet .MailWorkingWorkspace .MessageAddress {
	float: left; 
}

.UIMailPortlet .MailWorkingWorkspace .MessageAddress .FieldContainer{
	line-height: 18px;
}

.UIMailPortlet .MailWorkingWorkspace .MessageAddress .Title {
	float: left;
	color: #6a6a6a;
	width: 80px;
}

.UIMailPortlet .MailWorkingWorkspace .MessageAddress .Address {
	float: left;
	padding-left: 2px;
}

.UIMailPortlet .MailWorkingWorkspace .MessageAddress span {
	font-weight: bold;
}

.UIMailPortlet .MailWorkingWorkspace .MessageAddress .LinkAddress {
	float: left;
	color: #2276ab;
	cursor: pointer;
}

.UIMailPortlet .MailWorkingWorkspace .MessageAddress .LinkAddress span {
	font-weight: bold;
}

.UIMailPortlet .MailWorkingWorkspace .TagIcon {
	float: left;
	margin: 0px 0px 0px 3px;
}

.UIMailPortlet .MailWorkingWorkspace .MessageActions {
	float: right; 
	width: 160px;
	line-height: 20px;
}

.UIMailPortlet .MailWorkingWorkspace .MessageActions .DownArrow1Icon {
	float: left;
	width: 12px; height: 16px;
	margin-top: 2px;
	cursor: pointer;
}

.UIMailPortlet .MailWorkingWorkspace .MessageActions .ShowHideTitle {
	float: left;
	font-size: 11px;
	padding-left: 2px;
	color: #126ca5; cursor: pointer;
}

.UIMailPortlet .MailWorkingWorkspace .MessageActions .MonthDate {
	float: left;
	font-size: 11px; font-weight: bold;
	margin: 0px 4px;
}

.UIMailPortlet .MailWorkingWorkspace .MessageActions .AttackIcon {
	float: left;
	margin: 2px 2px 0px 0px;
}

/*=====================MessageDetail===================*/

.UIMailPortlet .MailWorkingWorkspace .MessageDetails {
	padding: 10px;
}

/*=====================Page Iterator Container===================*/

.UIMailPortlet .MailWorkingWorkspace .FloatBlock {
	float: left;
	margin: 2px 3px;
} 

.UIMailPortlet .MailWorkingWorkspace .FloatBlockHidden {
	float: left;
	margin: 2px 3px;
	filter:alpha(opacity=30);-moz-opacity:.30;opacity:.30;
} 

.UIMailPortlet .MailWorkingWorkspace .UIMessagePageList {
	margin: 0px;
}

.UIMessagePageList .MailIteratorContainer {
	line-height:22px;
	padding: 0px 10px 0px 15px;
}

.UIMessagePageList .MailIteratorContainer .RightPageIteratorBlock {
	float:right;
}

.UIMessagePageList .MailIteratorContainer .LeftPageIteratorBlock {
	float:right;
	margin-right:15px;
}

.UIMessagePageList .TotalPages {
	float:left;
	line-height:19px;
	vertical-align:middle;
}

.UIMessagePageList .Number {
	float:left;
	line-height:19px;
	vertical-align:middle;
	font-weight: bold;
	margin: 0px 2px;
}

/*=====================Mail Icon Public User===================*/

.ResizeReadingPane {
	background: url('background/ResizeReadingPane38x3.gif') no-repeat;
	width: 38px; height: 3px;
	cursor: n-resize;
}

.TagTitleBar {
	background: url('background/BgTitleTag1x20.gif') repeat-x ;
}

.SeparatorLine {
  background: url('background/SeparatorLine2x26.gif') no-repeat ;	
  height: 26px; width: 2px;
}

.HighPriority {
	cursor: pointer;
	text-align: center;
	color: #585858;
}