@import url("UIComposerMessagePopup/Stylesheet.css") ;
@import url("UIReadMessage/Stylesheet.css") ;
@import url(UIAccountCreationPopup/Stylesheet.css) ;
@import url("UIAccountSetting/Stylesheet.css");
@import url("UIMailSetting/Stylesheet.css");
@import url("UIInsertAddress/Stylesheet.css");
@import url("skinIcons/16x16/Stylesheet.css");
@import url("skinIcons/24x24/Stylesheet.css");
@import url("UIQuickAddEvent/Stylesheet.css");
@import url("UIAddMessageFilter/Stylesheet.css");
@import url("UIMessageFilter/Stylesheet.css");
@import url("UIAddNewEvent/Stylesheet.css");
/**
 * UIMailPortlet
*/
 
.UIMailPortlet {
}
 
/******************************************** MailBanner ****************************************/


.UIMailPortlet .SearchForm {
  background: url('background/SearchForm1x34.gif') repeat-x;	
  height: 34px; line-height: 34px;
	padding-right: 13px;
	border-right: 1px solid #787e9f;
	margin-top: 8px;
	border: 1px solid #c7c7c7;
}

.UIMailPortlet .SearchForm .Label {
	float: right;
	line-height: 20px;
	margin: 5px 0px;
	color: #595b6a; 
}

.UIMailPortlet .SearchForm .InputSearch {
  border: 1px solid #b7b7b7;
	width: 135px;
	float: right;
	height: 22px;
  margin: 5px 8px 5px 0px;
  line-height: 22px;
  background: white;
}

.UIMailPortlet .SearchForm .SearchActions {
	width: 20px;
	height: 20px;
	float: left;
	display: block;
	padding-left: 3px;
}

.UIMailPortlet .SearchForm .Input {
	border: none;
	float: left;
	width: 110px;
	font-size: 11px;
	padding: 4px 0px 0px 2px;
}

.UIMailPortlet .SearchForm .Search {
  background: url('skinIcons/16x16/icons/SearchIcon.gif') no-repeat ;	
  height: 16px;
  width: 16px;
  float: right;
  margin: 8px 5px 0px 0px;
  cursor: pointer;
}

.UIMailPortlet .SearchForm .AdvancedSearch {
  background: url('skinIcons/16x16/icons/FindIcon.gif') no-repeat ;	
  height: 16px; width: 16px;
  float: right; cursor: pointer;
  margin: 8px 0px 0px 2px;
}

.UIMailPortlet .MailWorkingWorkspace .SearchForm .SeparatorLine {
  float: right;
  margin: 3px 5px 2px 1px;
}

/***************************************MailWorkingWorkspace********************************/

.UIMailPortlet .MailWorkingWorkspace {
	padding: 10px 5px;
}

.UIMailPortlet .MailWorkingWorkspace .UIActionBar .Label {
	line-height: 24px;
}

/**************************************MailContentNavigation*********************************/

.UIMailPortlet .MailContainer .UINavigationContainer {
	float: left;
	width: 215px;
	padding: 0px 2px;
}

/********UISelectAccount*********/

.UISelectAccount {
	margin-bottom: 1px;
}

.UISelectAccount .selectbox {
	float: left;
	margin: 8px 0px 0px 0px;
	width: 194px;
	line-height: 20px;
	height: 20px;
	border: 1px solid #A5A5A5;
}

.UISelectAccount .UIRightClickPopupMenu {
	 top :5px;
	 left:100px ;
}

.UISelectAccount .ItemSelectorContainer {
	width: 194px;
	float: left;
	margin: 7px 0px 1px 0px;
	border-right: none;
}

.UISelectAccount .ItemInfoBar {
	background: white url(background/DropDownItemSelectorBG1x2.gif) repeat-x top;
	padding-left: 5px;
	border: 1px solid #929292;
	cursor: pointer;
}

.UISelectAccount .ItemInfoBar .SelectedItemLabel {
	float: left;
	line-height: 19px;
	font-size: 10px; font-weight: bold; color: #333333;
	margin-left: 7px;
}

.UISelectAccount .ItemInfoBarDisable .SelectedItemLabel {
	float: left;
	line-height: 19px;
	font-weight: bold;
	margin-left: 8px;
	overflow: hidden;
}

.UISelectAccount .DropDownSelectIcon {
	float: right; 
	width: 20px; height: 19px;
	background: url('background/DropDownButton.gif') no-repeat right;
	cursor: pointer;	
}

.UISelectAccount .UIItemList .ItemSelectorLabel {
	text-transform: capitalize; 
}

.UISelectAccount .AddAccountIcon {
	background: url('/mail/skin/DefaultSkin/webui/skinIcons/24x24/icons/EditSelectAccount.gif') no-repeat left top;
	cursor: pointer;
	float: right; margin: 8px 0px 0px 0px;
	height: 22px; width: 21px;
	display: block;
}
/********End UISelectAccount*********/

.UIMailPortlet .UINavigationContainer .UIFolderContainer {
	background: white;
	border: 1px solid #a5a5a5;
	margin: 0px 0px 7px 0px;
	padding: 0px 0px 30px 0px;
}

/**************************************UIFolderContainer*********************************/
 
.UIMailPortlet .MailQuantity {
	padding-left: 3px;
	color: #333333;
}

.UIMailPortlet .UINavigationContainer .DownArrow3Icon {
	float: left;
	margin: 2px;
}
 
.UIMailPortlet .UINavigationContainer .Title {
	color: #3d3d3d; font-weight: bold;
	padding-left: 23px;
	float: left;
}

.UIMailPortlet .UINavigationContainer .ActionIcon {
	background: url('/mail/skin/DefaultSkin/webui/skinIcons/16x16/icons/ActionIcon.gif') no-repeat center;
	float: right;
	width: 20px;
	height: 20px;	
}

.UIMailPortlet .UINavigationContainer .UIFolderContainer .MailFolderList {
	padding: 3px 0px 5px 22px;
}

.UIMailPortlet .UINavigationContainer .UIFolderContainer a {
	display: block;
}

.UIMailPortlet .UINavigationContainer .UIFolderContainer .Icon {
	padding-left: 30px;
	line-height: 24px; 
	margin: 2px 0px; width: auto;
}

.UIMailPortlet .UINavigationContainer .MyFolder .TitleBar {
	background: url('background/LineTitle166x1.gif') no-repeat left bottom;
	height: 20px; line-height: 20px;
	border: none;
}

.UIMailPortlet .UINavigationContainer .MyFolder .Title {
	margin: 0px;
	padding-left: 0px;
}

.UIMailPortlet .UINavigationContainer .MyFolder .Icon  {
	padding: 0px;
}

.UIMailPortlet .MyFolder .ChildrenContainer {
	padding-left: 15px;
}

.UIMailPortlet .MyFolder .IconFolder {
	height: 24px; line-height: 24px;
	color: #1e1f21;
	padding-left: 28px;
}

.UIMailPortlet .MyFolder .MyFolderContent {
	padding: 5px 0px 0px 17px;
}

/*********************************TagList*************************************/

.UIMailPortlet .UINavigationContainer .TagTitle {
	float: left;
	padding-left: 20px;
	font-weight: bold;
	line-height: 23px;
}

.UIMailPortlet .UINavigationContainer .UITagContainer {
	background: white;
	border: 1px solid #a5a5a5;
	margin: 1px 0px;
}

.UIMailPortlet .UINavigationContainer .UITagContainer .IconTitle {
	padding-left: 20px;	
	margin-left: 20px;
	color: #3d3d3d; font-weight: bold;	
}

.UIMailPortlet .UINavigationContainer .UITagContainer .TagsList {
	padding: 8px 0px 8px 12px;
}

.UIMailPortlet .UITagContainer .TagsList .IconItemTag {
	padding-left: 25px;
}

.UIMailPortlet .UITagContainer .TagsList a {
	line-height: 20px;
	color: #3d3d3d;
	display: block;
}

/*********************************MailContentWorkingArea*************************************/


/*=========================Mail ControlBar======================================*/

.UIMailPortlet .MailWorkingWorkspace .UIActionBar {
	height: 31px;
}

.UIMailPortlet .MailWorkingWorkspace .ControlButton {
	float: left;
	line-height: 26px;
}

.UIMailPortlet .MailWorkingWorkspace .SelectButton {
	float:left;
	line-height:18px;
	margin-top:3px;
	cursor: pointer;
}

.UIMailPortlet .MailWorkingWorkspace  .UIActionBar a.ControlButton {
	color: #000000;
	margin: 3px 0px 0px 0px;
	line-height: 26px;
	border-width: 1px ;
}

.UIMailPortlet .MailWorkingWorkspace  .UIActionBar a:hover.ControlButton {
	background: url('background/ControlButtonBG1x26.gif') repeat-x ;
	color: #058ee6; border: 1px solid #cbcbcb;
}

.UIMailPortlet .MailWorkingWorkspace .SeparatorLine {
  float: left;
  margin: 3px 5px 2px 5px;
}

.UIMailPortlet .MailWorkingWorkspace .IconHolder {
	line-height: 24px;
	margin: 0px 7px;
	padding-left: 30px;
}

.UIMailPortlet .MailWorkingWorkspace .IconTagHolder {
	line-height: 24px;
	margin: 0px 7px;
	padding-left: 30px;
}

.UIMailPortlet .MailWorkingWorkspace .UIActionBar .DownArrow1Icon {
	padding-right: 20px;
}

.UIMailPortlet .UIActionBar .UIPopupCategory {
	left: -5px;
	position:absolute;
	top: 28px;
}

.UIMailPortlet .UIActionBar .UIPopupCategory .UIRightClickPopupMenu {
	width: 150px;
}

/*================================= MailContainer ================*/

.UIMailPortlet .MailWorkingWorkspace .MailContainer {
	padding: 0px 6px 7px 6px;
 	border: 1px solid #c2c2c2;
 	background: #f3f3f3;
 	height: 100%;
}

/*===================================MailWorkingDetail=================*/

.UIMailPortlet .MailWorkingDetails {
	margin: 0px 0px 0px 225px;
}

.UIMailPortlet .MailWorkingWorkspace .MailContainer .UIMessageArea {
	background: white;
	border-top: none;
}

.UIMailPortlet .UIMessageArea .UIMessageActionsBar {
	background: url('background/BgMessageActionsBar1x29.gif') repeat-x;
	height: 29px;
	padding-left: 8px;
}

.UIMailPortlet .UIMessageActionsBar .UIPopupCategory  {
	left: -30px;
	top: 3px;
}

.UIMailPortlet .UIMessageActionsBar .MoreActionsIcon .UIRightClickPopupMenu  {
	width: 130px;
}

.UIMailPortlet .UIMessageActionsBar .UIRightClickPopupMenu .ItemIcon {
	width: auto;
	background-position: left center;
}

.UIMailPortlet .MailWorkingWorkspace .UIMessageActionsBar .SeparatorLine {
	background: url('background/SeparatorDottedLine2x23.gif') no-repeat;
	height: 23px;
	margin: 2px;
	padding: 0px;
}

.UIMailPortlet .MailWorkingWorkspace .UIMessageActionsBar .SelectButton {
	margin: 0px;
}

.UIMailPortlet .MailWorkingWorkspace  a {
	color: #000000;
}

.UIMailPortlet .MailWorkingWorkspace .UIMessageActionsBar .IconHolder {
	height: 26px;
	width: 24px;
	padding: 0px;
	background-position: center;
}

.UIMailPortlet .MailWorkingWorkspace a:hover {
	color: #058ee6;
}

.UIMailPortlet .MailWorkingWorkspace .UIMessageActionsBar .MoreActionsIcon {
	margin: 1px 0px 0px 10px;
	line-height: 29px;
	padding-left: 24px;
}

.UIMailPortlet .MailWorkingWorkspace .UIMessageActionsBar .View {
	margin: 1px 0px 0px 10px;
	line-height: 29px;
	padding-left: 24px;
}

.UIMailPortlet .MailWorkingWorkspace .UIActionBar .AddEventIcon {
	margin: 1px 7px 0px 7px;
	line-height: 23px;
	background-position: left center;
}

.UIMailPortlet .MailWorkingWorkspace .UIMessageActionsBar .DownArrow1Icon {
	line-height: 25px;
	background-position: right;
	padding-right: 18px; 
}

.UIRightClickPopupMenu .MenuItem {
	font-size:11px;
}

/*================================== UIGrid==============================*/

.UIMailPortlet .MailWorkingWorkspace .UIMessageList {
	padding-left: 1px;
}

.UIMailPortlet .MailWorkingWorkspace .UIGrid {
	background: #ffffff;
	border-bottom: 1px solid #e8e8e8;
	border-right: none;
	border-left: none;	
}

.UIMailPortlet .MailWorkingWorkspace .UIGrid thead {
	border-right: none;
	border-left: none;
}

.UIMailPortlet .MailWorkingWorkspace .UIGrid th {
	background: url(background/ThGridRepeatBg1x19.gif) repeat-x;
	border: 1px solid #d2d4dc;
	border-left: none;
	border-right: 1px solid #e8e8e8;
	text-align: left;
	padding: 0px 5px;
}

.UIMailPortlet .MailWorkingWorkspace .UIGrid td.Border {
	border-right: 1px solid #e8e8e8;
}

.UIMailPortlet .MailWorkingWorkspace .UIGrid td {
	height: 20px; line-height: 20px;
	border-left: none;
	border-right: 1px solid #e8e8e8;
	padding: 0px 0px 0px 6px;
}

.UIMailPortlet .MailWorkingWorkspace .UIGrid .IconTag {
	width: 16px;
	height: 20px;
	margin-left: 4px;
}

.UIMailPortlet .MailWorkingWorkspace .UnStarredIcon {
	margin: 1px 0px 0px 4px; 
}

.UIMailPortlet .MailWorkingWorkspace .StarredIcon {
	margin: 1px 0px 0px 4px;
}

.UIMailPortlet .MailWorkingWorkspace .AttachmentIcon {
	margin: 0px 3px 0px 3px;
}

.UIMailPortlet .MailWorkingWorkspace .TotalMessageIcon {
	margin: 1px 0px 0px 4px;
}

.UIMailPortlet .MailWorkingWorkspace .PriorityIcon {
	margin: 1px 0px 0px 4px;
}

.UIMailPortlet .MailWorkingWorkspace .UIMessageCompose table {
	background: none;
}

.UIMailPortlet .MailWorkingWorkspace input.checkbox {
	margin: 2px 0px 0px 0px;
}

.UIMailPortlet .MailWorkingWorkspace .ResizeReadingPane {
	margin: 0px auto;
}

.UIMailPortlet .MailWorkingWorkspace .UIMessageList .DownArrow1Icon {
	height: 16px;
	line-height: 16px;
	margin: 3px 0px 0px 0px;
	cursor: pointer;
	background-position: right;
	padding-right: 16px;
}

.UIMailPortlet .MailWorkingWorkspace .UIMessageList .UpArrow1Icon {
	height: 16px; 
	line-height: 16px;
	margin: 3px 0px 0px 0px;
	cursor: pointer;
	background-position: right;
	padding-right: 16px;
}

.AdvancedTooltipTmpl {
	display: none ;
	height: 80px;
	width: 250px;
	border: 1px solid red;
}

.UIMailPortlet .MailWorkingWorkspace .MessageNotice {
	height: 35px; width: 300px;
	line-height: 35px;
	text-align: center;
	color: #d21717;
	border: none;
	margin: 20px auto 20px auto;
}

/*=================================Reading Pane=================*/

.SpliterResizableListArea {
	overflow-y: auto ;
	overflow-x: hidden ;
	background: white;
	border: 1px solid #c0c0c0;
	width: 100%;
	height: 220px;
}

.SpliterResizableArea {
	overflow-y: auto ;
	overflow-x: hidden ;
	background: white;
	border: 1px solid #c0c0c0;
}

.UIMailPortlet .MailWorkingWorkspace .UIMessagePreview {
	background: #ffffff;
}

.UIMailPortlet .MailWorkingWorkspace .UIMessagePreview .ReadingPaneDetails {
	overflow: auto;
	padding: 5px;
}

.UIMailPortlet .MailWorkingWorkspace .UIMessagePreview .ReadingPaneBar {
	background: #e7e7e7;
	height: 25px;
	border: 1px solid #ffffff;
}

.UIMailPortlet .MailWorkingWorkspace .UIMessagePreview .Subject {
	float: left;
	font-weight: bold;
	font-size: 11px;
	margin: 5px 0px 0px 10px; 
}

.UIMailPortlet .MailWorkingWorkspace .UIMessagePreview .MaximizeReadingPane {
    float: right;
	margin: 4px 4px 0px 0px;
}

.UIMailPortlet .MailWorkingWorkspace .UIMessagePreview .MinimumReadingPane {
    float: right;
	margin: 4px 4px 0px 0px;
}

.UIMessagePreview .AttachmentContainer {
	padding: 10px 0px;
}

.UIMessagePreview .AttachmentContainer .AttachmentTitle {
	line-height: 20px;
	font-weight: bold;
	background: #e7e7e7;
	padding-left: 5px;
}

.UIMessagePreview .AttachmentContainer .AttachmentContent {
	padding: 10px;
}

.UIMessagePreview .AttachmentContainer .AttachmentFile {
	float: left;
	width: 24px;
	height: 24px;
}

.UIMessagePreview .AttachmentContainer .AttachmentBox {
	margin-left: 30px
	padding-top: 0px;
}

.UIMessagePreview .AttachmentContainer .AttachmentBox .DownloadIcon {
	padding-left: 24px;
}

.UIMessagePreview .AttachmentContainer .AttachmentBox .ViewDownloadIcon {
	padding-left: 24px;
}

.UIMessagePreview .AttachmentContainer .AttachmentIcon {
	width: auto;
	padding-left: 24px;
	font-weight: bold;
}

.UIMessagePreview .AttachmentContainer .Size {
	width: auto;
	padding-left: 28px;
}

.UIMessagePreview .AttachmentContainer .AttachmentBox .Icon {
	padding-left: 24px;
	width: auto;
	height: 24px;
	line-height: 24px;
	margin-right: 5px;
	background-position: left center;
}
/*=======================Message Header====================*/

.UIMailPortlet .DecoratorBox .MiddleCenterViewBoxStyle {
	padding: 10px;
}

.UIMailPortlet .MailWorkingWorkspace .MessageHeader {
	font-size: 12px;
	height: auto;
	border-bottom: 1px dotted #acacac;
}

.UIMailPortlet .MailWorkingWorkspace .MessageCheck {
	float: left;
	width: 30px; 
}

.UIMailPortlet .MailWorkingWorkspace .MessageCheck .CheckBox {
	float: left;
}

.UIMailPortlet .MailWorkingWorkspace .MessageCheck .UnStarredIcon {
	float: left; 
}

.UIMailPortlet .MailWorkingWorkspace .MessageAddress {
	float: left; 
}

.UIMailPortlet .MailWorkingWorkspace .MessageAddress .FieldContainer{
	line-height: 18px;
}

.UIMailPortlet .MailWorkingWorkspace .MessageAddress .Title {
	float: left;
	color: #6a6a6a;
	width: 80px;
}

.UIMailPortlet .MailWorkingWorkspace .MessageAddress .Address {
	float: left;
	padding-left: 2px;
}

.UIMailPortlet .MailWorkingWorkspace .MessageAddress .LinkAddress {
	float: left;
	color: #2276ab;
	cursor: pointer;
}

.UIMailPortlet .MailWorkingWorkspace .MessageAddress .LinkAddress span {
	font-weight: bold;
}

.UIMailPortlet .MailWorkingWorkspace .CollapseMessageAddress {
	float: left; 
}

.UIMailPortlet .MailWorkingWorkspace .CollapseMessageAddress .FieldContainer{
	line-height: 18px;
}

.UIMailPortlet .MailWorkingWorkspace .CollapseMessageAddress .Title {
	float: left;
	text-align: center;
	color: #6a6a6a;
	width: 35px;
}

.UIMailPortlet .MailWorkingWorkspace .CollapseMessageAddress .Address {
	float: left;
	padding-left: 2px;
}

.UIMailPortlet .MailWorkingWorkspace .CollapseMessageAddress .LinkAddress {
	float: left;
	color: #2276ab;
	cursor: pointer;
}

.UIMailPortlet .MailWorkingWorkspace .CollapseMessageAddress .LinkAddress span {
	font-weight: bold;
}

.UIMailPortlet .MailWorkingWorkspace .MessageActions {
	float: right; 
	width: 160px;
	line-height: 20px;
}

.UIMailPortlet .MailWorkingWorkspace .MessageActions .DownArrow1Icon {
	float: left;
	width: 12px; height: 16px;
	margin-top: 2px;
	cursor: pointer;
}

.UIMailPortlet .MailWorkingWorkspace .MessageActions .NextArrow1Icon {
  float: left;
  width: 12px; height: 16px;
  margin-top: 2px;
  cursor: pointer;
}

.UIMailPortlet .MailWorkingWorkspace .MessageActions .ShowHideTitle {
	float: left;
	font-size: 11px;
	padding-left: 2px;
	color: #126ca5; cursor: pointer;
}

.UIMailPortlet .MailWorkingWorkspace .MessageActions .MonthDate {
	float: left;
	font-size: 11px; font-weight: bold;
	margin: 0px 4px;
}

.UIMailPortlet .MailWorkingWorkspace .MessageActions .AttackIcon {
	float: left;
	margin: 2px 2px 0px 0px;
}

/*=====================MessageDetail===================*/

.UIMailPortlet .MailWorkingWorkspace .MessageDetails {
	padding: 10px;
}

/*=====================Page Iterator Container===================*/

.UIMailPortlet .MailWorkingWorkspace .FloatBlock {
	float: left;
	margin: 5px 3px;
} 

.UIMailPortlet .MailWorkingWorkspace .FloatBlockHidden {
	float: left;
	margin: 5px 3px;
	filter:alpha(opacity=30);-moz-opacity:.30;opacity:.30;
} 

.UIMailPortlet .MailWorkingWorkspace .UIMessagePageList {
	margin: 0px;
}

.UIMessagePageList .MailIteratorContainer {
	line-height: 29px;
	padding: 0px 10px 0px 15px;
}

.UIMessagePageList .MailIteratorContainer .RightPageIteratorBlock {
	float:right;
}

.UIMessagePageList .MailIteratorContainer .LeftPageIteratorBlock {
	float:right;
	margin-right:15px;
}

.UIMessagePageList .TotalPages {
	float:left;
	line-height:25px;
	vertical-align:middle;
}

.UIMessagePageList .Number {
	float:left;
	line-height: 25px;
	vertical-align:middle;
	font-weight: bold;
	margin: 0px 2px;
}

.ResizeReadingPane {
	background: url('background/ResizeReadingPane38x3.gif') no-repeat center;
	height: 5px;
	cursor: n-resize;
	width: 38px;
}

.UIMailPortlet .TitleBar {
	background: url('background/BgTitle1x23.gif') repeat-x ;
	height: 23px; line-height: 23px;
	padding: 0px 4px 0px 0px;
	border-bottom: 1px solid #bfc2cd;
}

.UIMailPortlet .TitleBar .UIPopupCategory {
	left: 20px;
	position:absolute;
	top: 20px;
	width: auto;
}

.UIMailPortlet .UIRightClickPopupMenu .ItemIcon {
	white-space: nowrap;
}

.SeparatorLine {
  background: url('background/SeparatorLine2x26.gif') no-repeat ;	
  height: 26px; width: 2px;
}

.OddItem {
	background: #ffffff ;
}

.EvenItem {
	background: #f6f6f6 ;
}

.SelectedItem {
	background: #eceffc ;
}

.ReadItem { 
	font-weight: normal ;
}

.UnreadItem { 
	font-weight: bold ;
}

.UIMailPortlet .UIFolderContainer .NormalLabel {
	font-weight: normal ;
}

.UIMailPortlet .UIFolderContainer .SelectedLabel {
	font-weight: bold ;
}


/*=======================SubjectMail========================*/
.UIMailPortlet .SubjectMail {
	padding: 8px;
}

.UIMailPortlet .SubjectMail .WelcomeMail .LabelWelcomeMail {
	float: left;
	color: #469ae2;
	font-size: 14px;
}

.UIMailPortlet .SubjectMail .WelcomeMail .LabelComment {
	float: right;
	color: #8a8a8a;
	font-size: 10px;
	padding:3px 0px;
}

.UIMailPortlet .SubjectMail .LogoMail {
	background: url('background/LogoMail346x49.gif') no-repeat left;
	width: 346px; height: 49px; margin-left: 40px;
}

.UIMailPortlet .SubjectMail .OverviewMail {
	color: #f7941e;
	font-size: 12px;
	font-weight: bolder;
	border-bottom: 1px solid #c7c7c7;
}

.UIMailPortlet .SubjectMail .ContentMail {
	padding: 4px 0px;
}

.UIMailPortlet .SubjectMail .FeaturesMail {
	color: #f7941e;
	font-size: 12px;
	font-weight: bolder;
	border-bottom: 1px solid #c7c7c7;
}

/*=======================Print Priview Mail========================*/
.UIMailPortlet .PrintPreview {
	padding: 8px;
	border-bottom:1px solid #BBBBBB; 
	margin:15px;
}

.UIMailPortlet .PrintPreview .PrintHeader {
	height: 49px; 
}

.UIMailPortlet .PrintPreview .PrintHeader .PrintLogoMail {
	background: url('background/LogoMail346x49.gif') no-repeat left;
	float: left;
	width: 346px; height: 49px;
}

.UIMailPortlet .PrintPreview .PrintHeader .PrintUser {
	color: #272727;
	padding:5px 0px;
	margin-left: 350px;
	font-weight: bolder;
	border-bottom: 1px solid #bbbbbb;
	text-align: right;
}

.UIMailPortlet .PrintPreview .PrintSubject {
	font-size: 12px; font-weight: bolder;
	border-bottom: 1px solid #bbbbbb;
	margin: 8px;
	padding:5px 0px;
}

.UIMailPortlet .PrintPreview .PrintAddress {
	padding: 8px; 
	height: 30px;
}

.UIMailPortlet .PrintPreview .PrintAddress .FromAndTo {
	float: left;
}

.UIMailPortlet .PrintPreview .PrintAddress .PrintFrom {
}

.UIMailPortlet .PrintPreview .PrintAddress .PrintTo {
}

.UIMailPortlet .PrintPreview .PrintAddress .DateAndTime {
	float: right;
	padding: 4px 0px;
}

.UIMailPortlet .PrintPreview .PrintContent {
	padding: 16px 8px;
}

.UIMailPortlet .PrintPreview .PrintAttachments .AttachmentTitle {
	background: #e7e7e7 url('/forum/skin/DefaultSkin/webui/skinIcons/16x16/icons/AttachmentIcon.gif') no-repeat 3px center;
	padding-left: 20px;
	line-height: 25px;
	font-weight: bold;
	white-space: nowrap;
}

.UIMailPortlet .PrintPreview .PrintAttachments .ImageAttachment {
	float: left;
	height: 24px; 
	width: 24px;
	margin: 5px;
}

.UIMailPortlet .PrintPreview .PrintAttachments .AttachmentLabel {
	padding: 10px 4px 0px 0px;
	float:left;
}

.UIMailPortlet .PrintPreview .PrintAttachments .NameImage {
	font-weight: bolder;
}

/*=======================UIAddToContact========================*/

.UIAddToContact{
	padding: 8px;
}

.UIAddToContact .HorizontalLayout {
	background-color: #f3f3f3;
	padding: 8px;
}

.UIAddToContact .UIFormGrid {
	width: 95%;
}

.UIAddToContact table {
	background: none;
}

.UIAddToContact .HorizontalLayout td.FieldLabel {
	font-weight: bold;
	width: 120px;
}

.UIAddToContact .HorizontalLayout td {
	border: none;
}	
	
.UIAddToContact .HorizontalLayout {
	padding: 10px 0px;
	border: 1px solid #cccccc;
}

.UIAddToContact .HorizontalLayout input {
	width: 235px;
}

.UIAddToContact .HorizontalLayout .FieldComponentShort {
	margin-right: 5px;
}

.UIAddToContact .HorizontalLayout .FieldComponentShort input {
	width: 113px;
}

.UIAddToContact .HorizontalLayout .FieldComponentShort select {
	width: 117px;
}


/*=======================UIAddToContact========================*/

.UIAdvanceSearchMail{
	background-color: #f3f3f3;
}

.UIAdvanceSearchMail .SearchBox {
	background: white;
	height: 30px;
	padding: 10px;
}

.UIAdvanceSearchMail .AdvanSearchForm {
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid white;
}

.UIAdvanceSearchMail .SearchContent {
	border-top: 1px solid white;
	border-bottom: 1px solid #cccccc;
	padding: 10px;
}

.UIAdvanceSearchMail table {
	background: none;
}
	
.UIAdvanceSearchMail .HorizontalLayout {
	border: none;
}

.UIAdvanceSearchMail .UIFormGrid td.FieldLabel {
	width: 150px;
}

.UIAdvanceSearchMail .HorizontalLayout .FieldShort select {
	width: 135px;
}

.UIAdvanceSearchMail .HorizontalLayout .SearchForDate {
	padding-left: 70px;
}

.UIAdvanceSearchMail .HorizontalLayout .SearchForDate .FieldLabel {
	width: 81px;
}

.UIAdvanceSearchMail .HorizontalLayout .SearchForDate .FieldComponent {
	width: 120px;
}
	
.UIAdvanceSearchMail .HorizontalLayout .SearchForDate input {
	width: 130px;
}

.UIAdvanceSearchMail .HorizontalLayout .SearchForPriority {
	padding-left: 160px;
}

.UIAdvanceSearchMail .HorizontalLayout .SearchForPriority input.checkbox {
	margin: 5px 0px 0px 8px;
}

.UIAdvanceSearchMail .HorizontalLayout .SearchContent .Short input {
	width: 130px;
}

.UIAdvanceSearchMail .HorizontalLayout .SearchContent .Short select {
	width: 135px;
}

.UIAdvanceSearchMail .HorizontalLayout .SearchForPriority .FieldLabel {
	width: 83px;
}

.UIAdvanceSearchMail .HorizontalLayout .SearchForPriority .ShortComponent {
	width: 25px;
}

.UIAdvanceSearchMail .HorizontalLayout .SearchForPriority .FieldComponent {
	width: 80px;
}

/********************* ContactsPopup************************/

.UIContactsPopup {
}

.UIContactsPopup .ContactPopup {
	background:  #E7E7E7 url(skinIcons/24x24/icons/ContactPopup.gif) no-repeat scroll left center;
}

.UIContactsPopup .ContactContainer .IconHolder {
	margin: 0px;
	padding-left: 20px;
}

.UIContactsPopup .Input {
	float: right;
	margin-top: 5px;
	height: 13px;
}

.UIContactsPopup .WorkContainer .BoxWorkContainer {
	padding: 10px;
}

.UIContactsPopup .UISearch {
	background: white;
	height: auto;
	margin: 10px 10px 0px 10px;
	padding: 0px;
}

.UIContactsPopup .UIForm .HorizontalLayout {
	border: none;
}

.UIContactsPopup .WorkContainer {
	margin: 0px 10px;
	background: #f3f3f3;
	border: 1px solid #cccccc;
}

.UIContactsPopup .WorkContainer .LeftContacts {
	width: 215px;
	float: left;
}

.UIContactsPopup .WorkContainer .RightContacts {
	margin-left: 220px;
}

.UIContactsPopup .WorkContainer .RightContacts .DecoratorBox {
	overflow: auto;
	background: #fff;
}

.UIContactsPopup .UISelectAccount .selectbox {
	margin: 0px;
	width: 215px;
}

.UIContactsPopup .UISelectAccount .AddAccountIcon {
	margin: 0px;
}

.UIContactsPopup .ContactContainer {
	border: 1px solid #c0c0c0;
	border-top: none;
	padding: 0px 1px 1px 1px;
}

.UIContactsPopup .ContactContainer .Title {
	background: #e7e7e7;
	line-height: 27px;
	height: 27px;
	padding: 0px 0px 0px 5px ;
	height: 20px;
	line-height: 20px;
}

.UIContactsPopup .ContactContainer .ListContact {
	padding: 10px;
	overflow: auto;
	background: #fff;
}

.UIContactsPopup .ContactContainer .NormalItem {
	line-height: 20px;
	height: 20px;
	padding-left: 24px;
}

.UIContactsPopup .RightContacts .ContactContainer {
	border: 1px solid #ccc;
}

.UIContactsPopup .BoxSearch {
	padding-top: 15px;
}

.UIContactsPopup .BoxSearch .InputContact {
	float: left;
	width: 190px;
}

.UIContactsPopup .FieldComponent .selectbox {
	width: 200px;
}

.UIContactsPopup .Search {
	background: transparent url(skinIcons/16x16/icons/SearchIcon.png) no-repeat scroll 0%;
	height: 25px;
	margin: 2px 0px 0px 7px;
	padding-right: 20px;
	float: right;
}

.UIContactsPopup .LabelSearch {
	color:#313030;
	float:right;
	line-height:20px;
	margin:5px 5px;
}


.UIContactsPopup .ContactPreviewContainer {
	padding: 10px 15px;
	color: #1e1f21;
}

.UIContactsPopup .ContactPreviewContainer .Avatar {
	float: left;
	margin: 0px 0px 5px 0px;
	border: 1px solid #545454;
}

.UIContactsPopup .ContactPreviewContainer .Member {
	margin-left: 80px;
}

.UIContactsPopup .ContactPreviewContainer .State {
	background: url(skinIcons/16x16/icons/OnlineIcon.gif) no-repeat left center;
	padding-left: 20px;
	line-height: 25px;
	font-size: 14px;
	font-weight: bold;
}

.UIContactsPopup .ContactPreviewContainer .Job {
	font-size: 13px;
	padding-left: 20px;
}

.UIContactsPopup .ContactPreviewContainer .InfoContainer {
	padding: 5px 0px;
}

.UIContactsPopup .InfoContainer .TitleInfo {
	color: #f56301;
	font-size: 14px;
	border-bottom: 1px solid #cbcbcb;
	padding: 0px 0px 5px;
}

.UIContactsPopup .InfoContainer .Content {
	padding: 10px 0px;
	line-height: 20px;
	font-size: 12px;
}

.UIContactsPopup .InfoContainer .Content a {
	color: blue;
}

.UIContactsPopup .InfoContainer .LeftContent {
	float: left;
	width: 250px;
}

.UIContactsPopup .InfoContainer .RightContent {
	margin-left: 255px;
}

.UIContactsPopup .InfoContainer .Content .InfoLabel1 {
	float: left;
	width: 60px;
}

.UIContactsPopup .InfoContainer .Content .InfoLabel {
	width: 90px;
	float: left;
}

.UIContactsPopup .InfoContainer .Content .Info1 {
	margin-left: 65px;
}

.UIContactsPopup .InfoContainer .Content .Info {
	background: none;
	margin-left: 100px;
}

.UIContactsPopup .InfoContainer .Content .Email {
	background: url(skinIcons/16x16/icons/EmailIcon.gif) no-repeat left center;
	padding-left: 20px;
	margin-left: 60px;
}

.UIContactsPopup .SelectFileFrame {
	width: 300px;
}
