@import url("skinIcons/16x16/Stylesheet.css") ;
@import url("skinIcons/24x24/Stylesheet.css") ;
@import url("UIAddNewCalendar/Stylesheet.css") ;
@import url("UICalendarSettings/Stylesheet.css") ;
@import url("UISendMail/Stylesheet.css") ;
@import url("UIExportCalendar/Stylesheet.css") ;
@import url("UIImportCalendar/Stylesheet.css") ;
@import url("UIAddCalendarGroup/Stylesheet.css") ;
@import url("UIAddTaskCategory/Stylesheet.css") ;
@import url("UIAddOtherCalendar/Stylesheet.css") ;
@import url("UIAddMailAddress/Stylesheet.css") ;
@import url("UIAddNewEvent/Stylesheet.css") ;
@import url("UIAddTask/Stylesheet.css") ;
@import url("UIQuickAddTask/Stylesheet.css") ;
@import url("UIQuickAddEvent/Stylesheet.css") ;
@import url("UISetting/Stylesheet.css") ;
@import url("UIReminder/Stylesheet.css") ;
@import url("UIAddGroup/Stylesheet.css") ;


/******************************************** MailBanner ****************************************/
.UICalendarPortlet .UIBannerContainer {
  background: #fbfbfb url('background/BgBanner457x62.gif') no-repeat left;
  height: 62px;
  padding-left: 235px;
}

.UICalendarPortlet .UIBannerContainer .LeftHorizontalLine {
  background: url('background/LeftHorizontalLine44x2.gif') no-repeat left bottom;	
  padding-left: 44px;
  height: 34px;
}

.UICalendarPortlet .UIBannerContainer .RepeatHorizontalLine {
	font-size: 13px; font-family: tahoma;
	color: #5f5f5f; font-weight: bold;
  background: url('background/RepeatHorizontalLine1x2.gif') repeat-x bottom;	
  height: 22px; padding-top: 12px;
}

.UICalendarPortlet .UIBannerContainer .SearchForm {
  background: url('background/RightBottomBanner440x28.gif') no-repeat right;	
  height: 28px; line-height: 28px;
	padding-right: 13px;
}

.UICalendarPortlet .UIBannerContainer .Label {
	float: right;
	line-height: 20px;
	margin: 5px 0px;
	color: #595b6a; 
}

.UICalendarPortlet .UIBannerContainer .Input {
	width: 195px;
	float: right;
	margin: 3px 8px;
}

.UICalendarPortlet .UIBannerContainer .Search {
  background: url('skinIcons/16x16/icons/SearchIcon.gif') no-repeat ;	
  height: 16px;
  width: 16px;
  float: right;
  margin: 8px 5px 0px 0px;
  cursor: pointer;
}

.UICalendarPortlet .UIBannerContainer .AdvancedSearch {
  background: url('skinIcons/16x16/icons/FindIcon.gif') no-repeat ;	
  height: 16px; width: 16px;
  float: right; cursor: pointer;
  margin: 8px 0px 0px 2px;
}

.UICalendarPortlet .UIBannerContainer .SeparatorLine {
	background: url('background/SeparatorLineBaner2x26.gif') no-repeat ;
  float: right; width: 2px; height: 26px;
  margin: 0px 7px;
}

/***************************************Calendar Working Container********************************/

.UICalendarPortlet .CalendarWorkingWorkspace {
	padding: 10px 5px;
}


/*=========================Calendar ControlBar======================================*/


.UICalendarPortlet .CalendarWorkingWorkspace .UIActionBar .Title {
	margin: 8px 4px 0px 4px;
	font-weight: bold;
}

.UICalendarPortlet .CalendarWorkingWorkspace .UIActionBar {
	height: 31px;
}

.UICalendarPortlet .CalendarWorkingWorkspace .ControlButton {
	float: left;
	line-height: 18px;
}

.UICalendarPortlet .CalendarWorkingWorkspace .RightControlButton {
	float: right;
	line-height: 18px;
}

.UICalendarPortlet .CalendarWorkingWorkspace  .UIActionBar a {
	color: #000000;
	margin: 3px 0px 0px 0px;
}

.UICalendarPortlet .CalendarWorkingWorkspace  .UIActionBar a:hover {
	background: url('background/ControlButtonBG1x26.gif') repeat-x ;
	color: #058ee6; border: 1px solid #cbcbcb;
	height: 24px;
}

.UICalendarPortlet .CalendarWorkingWorkspace .SeparatorLine {
  float: left;
  margin: 3px 5px 2px 5px;
}

.UICalendarPortlet .CalendarWorkingWorkspace .NextIcon {
  margin-top: 6px;
}

.UICalendarPortlet .CalendarWorkingWorkspace .BackIcon {
  margin-top: 6px;
}

.UICalendarPortlet .CalendarWorkingWorkspace .RightLine {
  float: right;
  margin: 3px 5px 2px 5px;
}

.UICalendarPortlet .CalendarWorkingWorkspace .IconHolder {
	line-height: 18px;
	margin: 5px 7px 0px 7px;
	padding-left: 26px;
}

.UICalendarPortlet .CalendarWorkingWorkspace .LayoutSwitcherIcon {
	padding-left: 0px;
	width: 22px; height: 18px;
}

.UICalendarPortlet .CalendarWorkingWorkspace .UIActionBar .DownArrow1Icon {
	line-height: 18px;
	background-position: right;
	padding-right: 16px; 
}

/*==================Calendar Working Container===================*/


.UICalendarPortlet .UICalendarWorkingContainer {
	background-color: #f3f3f3;
	border: 1px solid #c7c7c7;
}

.UICalendarPortlet .UICalendarWorkingContainer .SeparatorLine {
  float: left;
  margin: 2px 5px 0px 5px;
  background: url('background/SeparatorLine2x23.gif') no-repeat ;	
  height: 23px; width: 2px;
}

.UICalendarContainer {
	float: left;
	width: 225px;
	padding: 8px;
}

.UIMiniCalendar {
	border: 1px solid #c7c7c7;
}

.UIMiniCalendar .MiniCalendarContainer {
	height: 140px;
	border: 1px solid #ffffff;
	background: #e9edf9 url('background/MiniCalendarBG1x17.gif') repeat-x bottom;
}

.UICalendars {
	background-color: #ffffff;
	border: 1px solid #c7c7c7;
	margin: 4px 0px 0px 0px;
}

.UICalendars .ContentContainer {
	height: 300px;
	overflow: auto;
}

.UICalendars .ActionsButton {
	float: right;
  background: url('background/ActionsButton.gif') no-repeat ;	
  width: 17px; height: 15px;
  margin: 3px 4px 0px 0px;
  cursor: pointer;
}

.UICalendars .Title {
	float: left;
  line-height: 22px;
  font-weight: bold;
  margin-left: 6px;
}

.UICalendars .Label {
	float: left;
  line-height: 18px;
  margin-left: 3px;
}

.UICalendars .CalendarTitle {
	background: url('background/TitleBarBG136x1.gif') no-repeat bottom left ;	
	height: 18px;
	padding-top: 5px;
}

.UICalendars .CollapserFlatStyle {
	background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/BlackNextArrow.gif') no-repeat ;
	width: 13px; height: 16px;
	float: left;
	margin: 1px 0px 0px 3px;
	cursor: pointer;
	background-position: left;
}

.UICalendarPortlet .MyCalendarContainer .IconHolder {
	line-height: 18px;
	margin: 0px 7px;
	padding-left: 26px;
}

.UICalendars .MyCalendarContainer {
	padding: 8px;
}

.UICalendars .MyCalendarContainer .GroupItem {
	border: 1px solid #c7c7c7;
}

.UICalendars .MyCalendarContainer .GroupItem .GroupColor1 {
	border: 1px solid #ffffff;
	background-color: #edd5ff;
}

.UICalendars .CalendarGroupIcon {
  padding-left: 19px; height: 16px;
  margin: 1px 3px 0px 0px;
  float: left;
  line-height: 16px;
  font-weight: bold;
}

.UICalendars .CalendarIcon {
  padding-left: 19px; height: 16px;
  margin: 1px 3px 0px 0px;
  float: left;
  line-height: 16px;
}

.UICalendars .CheckBox {
  margin: 0px 3px 0px 0px;
  float: left;
}

.UICalendars a {
	color: #000000;
}

.UICalendars a:hover {
	color: #058ee6;
}

.UICalendars .CalendarItem {
	border: 1px solid #c7c7c7;
	margin-top: 6px;
}

.UICalendars .UIVTabContent {
	border: 1px solid #e7e7e7;
	border-top: none;
	padding: 1px 8px 8px 25px;
}

.UICalendars .CalendarItem .CalendarColor1 {
	border: 1px solid #ffffff;
	background-color: #e5eaff;
}

.UICalendars .CalendarItem .CalendarColor2 {
	border: 1px solid #ffffff;
	background-color: #f6ffe5;
}

.UICalendars .CalendarItem .CalendarColor3 {
	border: 1px solid #ffffff;
	background-color: #ffe5fd;
}

.UICalendars .CalendarItem .CalendarColor4 {
	border: 1px solid #ffffff;
	background-color: #d7d8ff;
}

.UICalendars .CalendarItem .CalendarColor5 {
	border: 1px solid #ffffff;
	background-color: #f4e5ff;
}

.UICalendars .CalendarItem .CalendarColor6 {
	border: 1px solid #ffffff;
	background-color: #fff1bb;
}

.UICalendars .CalendarItem .CalendarColor7 {
	border: 1px solid #ffffff;
	background-color: #fefdc9;
}

.UICalendars .OtherCalendarContainer {
	padding: 8px;
}

/*====================Calendar View=====================*/

.UICalendarView {
	margin-left: 243px;
}

.UICalendarView .EventAllDay {
	border: 1px solid #ffffff;
}

.UICalendarView .EventAllDay .EventAllDayColor2 {
	border: 1px solid #c7c7c7;
	background-color: #f6ffe5;
	padding: 6px;
}

.UICalendarView .EventDayContainer {
	height: 437px;
	overflow: auto;
	border-top: 1px solid #c7c7c7;
}

.UICalendarView .EventDayContent {
	height: 800px;
	background-color: #ffffff;
}

/*====================Event List View=====================*/

.UIEventListView .EventListContainer {
	height: 490px;
	overflow: auto;
}

.UIEventListView .EventListContent {
	margin-right: 3px;
}

.UIEventListView .EventListContent .ViewEvent {
	padding: 1px;
	background-color: #ffffff ;
	border: 1px solid #c7c7c7;
}

.UIEventListView .EventListContent .ListBar {
	background: url('background/TitleBarBG1x26.gif') repeat-x ;	
	height: 26px;
	padding: 0px 8px;
	border-left: 1px solid #c7c7c7;
	border-right: 1px solid #c7c7c7;
}

.UIEventListView .EventListContent .ViewBar {
	background-color: #e7e7e7 ;	
	height: 30px;
	padding: 0px 8px;
}

.UIEventListView .EventListContent .EventList {
	padding-left: 1px;
	background-color: #ffffff;
}

.UIEventListView .EventListContent .AddCategoryIcon {
	background: url('skinIcons/16x16/icons/AddCategory.gif') no-repeat ;
	float: right;
	width: 16px; height: 16px;
	margin: 5px 6px 0px 3px;
}

.UIEventListView .EventListContent .IconHolder {
	line-height: 18px;
	margin: 2px 7px 0px 7px;
	padding-left: 26px;
}

.UIEventListView .EventListContent .ComboBox {
	float: right;
	margin: 3px 6px 0px 3px;
}

.UIEventListView .EventListContent .ListBar .Label {
	float: right;
	margin: 7px 4px 0px 3px;
}

.UIEventListView .EventListContent .ViewBar .Label {
	float: left;
	margin: 7px 4px 0px 3px;
	font-weight: bold;
}

.UIEventListView .EventListContent .ViewBar .MaximizeButton {
	float: right;
	margin: 7px 4px 0px 3px;
	cursor: pointer;
}

.UIEventListView .EventListContent .AttachmentIcon {
	margin: 3px;
	width: 16px; height: 16px;
}

.UIEventListView .EventListContent .ViewContainer {
	padding: 4px;
}

.UIEventListView .EventListContent .ViewContainer td{
	border: none;
}

.UIEventListView .EventListContent .ViewContainer table{
	border: none;
}

.UIEventListView .EventListContent .ViewContainer .AttachmentIcon {
	line-height: 16px;
	padding-left: 18px;
}

.UIEventListView .EventListContent .ViewContainer a {
	color: #1756d5;
	text-decoration: underline;
}

.UIEventListView .EventListContent .ViewContainer .Actions {
	text-align: right;
	padding-right: 10px;
	line-height: 20px;
}

.UIEventListView .EventListContent .ViewContainer .Text {
	line-height: 20px;
}

.UIEventListView .EventListContent .ViewContainer .Img {
	width: 175px; height: 110px;
	margin: 5px auto; border: 1px solid #ffffff;
}

.UIEventListView .EventListContent .ViewContainer .EventDescription {
	background: url('background/Event33x12.gif') no-repeat ;
	padding-left: 40px; line-height: 14px;
	color: #3ca094;
}

.UIEventListView .EventListContent .ViewContainer .SeparatorDotLine {
	float: left;
	background: url('background/SeparatorDotLine1x25.gif') no-repeat ;
	width: 1px; height: 25px;
	margin: 3px 5px;
}

.UIEventListView .EventListContent .ViewContainer .ActionsContainer {
	background: url('background/DotLine2x1.gif') repeat-x top ;
	margin: 0px 10px 0px 33px;
}

.UIEventListView .EventListContent .ViewContainer .ActionsContainer a {
	color: #000000;
	text-decoration: none;
}

.UIEventListView .EventListContent .ViewContainer .ActionsContainer a:hover {
	color: #1756d5;
}

.UIEventListView .EventListContent .ViewContainer .EditIcon {
	background-repeat: no-repeat;
	width: 50px;
}

.UIEventListView .EventListContent select {
	width: 150px; height: 18px;
	font-size: 11px;
}


.UIEventListView a {
	color: #000000;
	margin: 3px 0px 0px 0px;
}

.UIEventListView a:hover {
	color: #058ee6;
}


.UIEventListView .EventListContent  .UIGrid th {
	background: url('background/TitleBarBG1x20.gif') repeat-x ;	
  height: 20px;
	border-right: 1px solid #c7c7c7;
	border-bottom: none;
}
/*====================Event Month View=====================*/

.UIEventMonthView .EventMonthContent .RowContainerDay {
	height: 464px;
	overflow: auto;
}

.UIEventMonthView .EventMonthContent {
	background-color: #ffffff;
	margin-top: 4px;
}

.UIEventMonthView .EventMonthContent  .WeekSuburd {
	text-align: right;
	border-top: 1px solid #c7c7c7;
	padding: 2px 6px;
}

.UIEventMonthView .EventMonthContent  .DisableDay {
	text-align: right;
	border-top: 1px solid #c7c7c7;
	padding: 2px 6px;
	color: #909090;
}

.UIEventMonthView .EventMonthContent .WeekSuburd .Today {
	border: 1px solid red;
	background-color: #ffffff;
	float: right;
	width: 18px;
	text-align: center;
}

.UIEventMonthView .EventMonthContent .ViewMoreIcon {
	background: url('skinIcons/16x16/icons/ViewMoreEvent.gif') no-repeat right;
	line-height: 16px;
	padding-right: 18px;
	text-align: right;
	cursor: pointer;
	color: #0e31ff;
	
}

.UIEventMonthView .EventMonthContent  .UIGrid td {
	border-right: 1px solid #c7c7c7;
}

.UIEventMonthView .EventMonthContent  .WeekList {
	background: url('background/TitleBarBG1x23.gif') repeat-x ;	
  height: 23px;
}

.UIEventMonthView .EventMonthContent  .WeekTitle {
	float: left;
	text-align: center;
	line-height: 22px;
	width: 14%;
}

.UIEventMonthView .EventMonthContent .DayContent {
	height: 100px;
}

.UIEventMonthView .EventMonthContent  .RowContainerDay {
	padding: 0px ;
}

.UIEventMonthView .EventMonthContent  .RowContainerDay .CalendarContentNomal {
	background: #ffffff;
	padding: 0px;
}

.UIEventMonthView .EventMonthContent  .RowContainerDay .CalendarContentDisable {
	background: #f3f3f3;
	padding: 0px;
}

.UIEventMonthView .EventMonthContent  .RowContainerDay .CalendarMatchedEventContent {
	background: #cadbff;
	padding: 0px;
}


.UIEventMonthView .EventMonthContent  .RowContainerDay .NormalDayLabel {
	text-align: right;
}

.UIEventMonthView .EventMonthContent  .RowContainerDay .CurrentMonthLabel {
	font-weight: bold;
}

.UIEventMonthView .EventMonthContent .EventOnDayBorder {
	border: 1px solid #e4e4e4;
	margin: 3px;
}

.UIEventMonthView .EventMonthContent .EventOnDayContent {
	width: auto; height: 20px;
	background: #fff8c7;
	border: 1px solid #ffffff;
}

.UIEventMonthView .EventMonthContent .EventOnDayLabel {
	line-height: 20px;
	text-align: center;
}

/*====================Task List View=====================*/

.UITaskListView .TaskListContainer {
	height: 490px;
}

.UITaskListView .TaskListContent {
	padding-right: 3px;
}

.UITaskListView .TaskListContent .ListBar {
	background: url('background/TitleBarBG1x26.gif') repeat-x ;	
	height: 26px;
	padding: 0px 8px;
	border-left: 1px solid #c7c7c7;
	border-right: 1px solid #c7c7c7;
}

.UITaskListView .TaskListContent .ViewTask {
	padding: 1px;
	background-color: #ffffff ;
	border: 1px solid #c7c7c7;
}

.UITaskListView .TaskListContent .ViewBar {
	background-color: #e7e7e7 ;	
	height: 30px;
	padding: 0px 8px;
}

.UITaskListView .TaskListContent .TaskList {
	padding-left: 1px;
	background-color: #ffffff;
}

.UITaskListView .TaskListContent .AddCategoryIcon {
	background: url('skinIcons/16x16/icons/AddCategory.gif') no-repeat ;
	float: right;
	width: 16px; height: 16px;
	margin: 5px 6px 0px 3px;
}

.UITaskListView .TaskListContent .ComboBox {
	float: right;
	margin: 3px 6px 0px 3px;
}

.UITaskListView .TaskListContent .ListBar .Label {
	float: right;
	margin: 7px 4px 0px 3px;
}

.UITaskListView .TaskListContent .ViewBar .Label {
	float: left;
	margin: 7px 4px 0px 3px;
	font-weight: bold;
}

.UITaskListView .TaskListContent .ViewBar .MaximizeButton {
	float: right;
	margin: 7px 4px 0px 3px;
	cursor: pointer;
}

.UITaskListView .TaskListContent .AttachmentIcon {
	margin: 3px;
	width: 16px; height: 16px;
}

.UITaskListView .TaskListContent .ViewContainer {
	padding: 4px;
}

.UITaskListView .TaskListContent .ViewContainer td{
	border: none;
}

.UITaskListView .TaskListContent .ViewContainer table{
	border: none;
}

.UITaskListView .TaskListContent .ViewContainer .AttachmentIcon {
	line-height: 16px;
	padding-left: 18px;
}

.UITaskListView .TaskListContent .ViewContainer a {
	color: #058ee6;
	text-decoration: underline;
}

.UITaskListView .TaskListContent .ViewContainer .Actions {
	text-align: right;
	padding-right: 10px;
	line-height: 20px;
}

.UITaskListView .TaskListContent .ViewContainer .Text {
	line-height: 20px;
}

.UITaskListView .TaskListContent .ViewContainer .Img {
	width: 175px; height: 110px;
	margin: 5px auto; border: 1px solid #ffffff;
}

.UITaskListView .TaskListContent .ViewContainer .TaskDescription {
	line-height: 14px;
	font-weight: bold;
	color: #2c498b;
}

.UITaskListView .TaskListContent .ViewContainer .SeparatorDotLine {
	float: left;
	background: url('background/SeparatorDotLine1x25.gif') no-repeat ;
	width: 1px; height: 25px;
	margin: 3px 5px;
}

.UITaskListView .TaskListContent .ViewContainer .ActionsContainer {
	background: url('background/DotLine2x1.gif') repeat-x top ;
	margin-right: 10px;
}

.UITaskListView .TaskListContent .ViewContainer .ActionsContainer a {
	color: #000000;
	text-decoration: none;
}

.UITaskListView .TaskListContent .ViewContainer .ActionsContainer a:hover {
	color: #1756d5;
}

.UITaskListView .TaskListContent select {
	width: 150px; height: 18px;
	font-size: 11px;
}

.UITaskListView .TaskListContent .DownArrow1Icon {
	line-height: 18px;
	background-position: right;
	padding-right: 16px; 
}

.UITaskListView a {
	color: #000000;
}

.UITaskListView a:hover {
	color: #058ee6;
}

.UITaskListView .TaskListContent  .UIGrid th {
	background: url('background/TitleBarBG1x20.gif') repeat-x ;	
  height: 20px;
	border-right: 1px solid #c7c7c7;
	border-bottom: none;
}

/*==========================================*/
.UICalendarPortlet .SeparatorLine {
  background: url('background/SeparatorLine2x26.gif') no-repeat ;	
  height: 26px; width: 2px;
}

.UICalendarPortlet .TitleBar {
  background: url('background/TitleBarBG1x23.gif') repeat-x ;	
  height: 23px;
}

.UICalendarPortlet .ResizeReadingPane {
	background: url('background/ResizeReadingPane38x3.gif') no-repeat;
	width: 38px; height: 3px;
	cursor: n-resize;
	margin: 1px auto 1px auto;
}

