.UIMoveTopicForm {
	padding: 10px;
	background: #ffffff;
}

.UIMoveTopicForm .TitleMoveThreads {
	padding-left: 10px;
	line-height: 20px;
}

.UIMoveTopicForm .UITree {
	border: 1px solid #a5a5a5;
	padding: 3px 1px;
	overflow-y: auto;
	height: 235px;
}

.UIMovePostForm .UITree {
	height: 300px;
}

.UIMoveTopicForm .UITree .TreeContainer {
	background: none;
}

.UIMoveTopicForm .UITree .TreeContainer .Node {
	width: auto;
}

.UIMoveTopicForm .UITree .TreeContainer .Node .NodeLabel a {
	font-weight: normal;
	color: #272727;
	line-height: 24px;
	margin: 0px;
}

.UIMoveTopicForm .UITree .TreeContainer .Node .NodeLabel a:hover {
	color: #058ee6;
}

.UIMoveTopicForm .UITree .TreeContainer .Selected {
	background: #d8d9ee;
	margin: 0px;
	height: 20px;
}

.UIMoveTopicForm .UITree .TreeContainer .ChildrenContainer {
	padding-left: 20px;
}

.UIMoveTopicForm .UITree .TreeContainer .ChildrenContainer .Node {
	padding: 0px 0px 0px 3px;
}
