.UIForumPortlet .UIMoveTopicForm {
	padding: 10px;
	background: #ffffff;
}

.UIForumPortlet .UIMoveTopicForm .TitleMoveThreads {
	padding-left: 10px;
	line-height: 20px;
}

.UIForumPortlet .UIMoveTopicForm .UITree {
	border: 1px solid #a5a5a5;
	padding: 3px 1px;
	overflow-y: auto;
	height: 235px;
}

.UIForumPortlet .UIMovePostForm .UITree {
	height: 300px;
}

.UIForumPortlet .UIMoveTopicForm .UITree .TreeContainer {
	background: none;
}

.UIForumPortlet .UIMoveTopicForm .UITree .TreeContainer .Node {
	width: auto;
	padding: 0px 0px 0px 20px;
}

.UIForumPortlet .UIMoveTopicForm .UITree .TreeContainer .Node .NodeLabel a {
	font-weight: normal;
	color: #272727;
	margin: 0px;
	line-height: 22px;
}

.UIForumPortlet .UIMoveTopicForm .UITree .TreeContainer .Node .Icon {
	height: 22px; width: 22px;
	margin: 0px;
}

.UIForumPortlet .UIMoveTopicForm .UITree .TreeContainer .Node .NodeLabel a:hover {
	color: #058ee6;
}

.UIForumPortlet .UIMoveTopicForm .UITree .TreeContainer .Selected {
	background: #d8d9ee;
	margin: 0px;
	height: 22px;
}

