
.AddNewContact {
	padding: 10px 20px;
	background: #f3f3f3;
}

.AddNewContact .AddContact .HorizontalLayout {
	border: none;
}

.AddNewContact .AddContact .HorizontalLayout .UIFormInputSet {
	width: 500px;
	margin: auto;
	height: auto;
}

/*============================= noteTab ===============================*/

.AddNewContact .noteTab textarea {
	width: 300px;
	height: 250px;
}

/*============================= shareContactTab ===============================*/

.AddNewContact .UIForm .UIFormInputSet {
	width: 500px;
	margin: 10px auto;
	height: 280px;
}

.AddNewContact .UIFormGrid td.FieldLabel {
	width: 150px; 
}

.AddNewContact .shareContactTab .AddIcon16x16 {
	background-position: center;
	width: 16px;
	height: 16px;
	cursor: pointer;
}