.UICalendarPortlet .UIAddNewCalendar {
	background: #ffffff;
	padding:8px;
}

.UICalendarPortlet .UIAddNewCalendar .UIForm .HorizontalLayout {
	border: none;
}

.UICalendarPortlet .UIAddNewCalendar .UIFormWithTitle .HorizontalLayout {
	border: 1px solid #c7c7c7;
	border-top: none;
}

.UICalendarPortlet .UIAddNewCalendar .UIFormWithTitle .HorizontalLayout .FormContainer {
	border: none;
	padding: 4px;
}

.UICalendarPortlet .UIAddNewCalendar .UITabContentContainer .UITabContent {
	border: none;
}

.UICalendarPortlet .UIAddNewCalendar .FormContainer .UIFormGrid .FieldLabel {
	width: 128px;
	text-align: right;
	padding: 4px;
}

.UICalendarPortlet .UIAddNewCalendar .HorizontalLayout .AddIcon16x16 {
	width: 16px;
	height: 16px;
	margin: 0px 2px;
}

.UICalendarPortlet .UIAddNewCalendar .HorizontalLayout .SelectUserIcon {
	background: url('/forum/skin/DefaultSkin/webui/skinIcons/16x16/icons/SmallUserIcon.gif') no-repeat;
}

.UICalendarPortlet .UIAddNewCalendar .HorizontalLayout .SelectMemberIcon {
	background: url('/forum/skin/DefaultSkin/webui/skinIcons/16x16/icons/SmallGroupIcon.gif') no-repeat;
}

.UICalendarPortlet .UIAddNewCalendar .HorizontalLayout .AddAnyIcon {
	background: url('/forum/skin/DefaultSkin/webui/skinIcons/16x16/icons/SmallMemberIcon.gif') no-repeat;
}
