.UIContactPortlet .UIFormColorPicker {
 
}
.UIContactPortlet .UIFormColorPicker .UIColorPickerItem {
	display: block ;
	padding: 3px 5px ;
	text-decoration: none ;
	color: black ;
}
.UIContactPortlet .UIFormColorPicker .UIColorPickerInput {
	border: solid 1px gray ;
	width: 235px;
	height: 18px;
	*height: 18px;
	line-height: 18px;
}
.UIContactPortlet .UIFormColorPicker  .DisplayValue {
	display:block ;
 	margin: 1px;
 	height: 15px;
	*height: 15px;
	line-height: 15px;
  border: solid 1px #cccccc ;
}

.UIContactPortlet .UIFormColorPicker  .UIColorLine {
	margin: 5px 0px ;
}

.UIContactPortlet .UIFormColorPicker a:hover{
	color: white ;
}

.UIContactPortlet .UIFormColorPicker a:visit{
	color: black ;
}

.UIContactPortlet .UIFormColorPicker .UIColorPickerLabel {
	font-family: tahoma ;
	font-size: 11px ;
	margin-left: 16px ;
}
.UIContactPortlet .UIFormColorPicker .ContactTableColor {
	display: none;
 	position: absolute;
 	background: #e4eaf5;
	padding: 2px;
  border: solid 1px #cccccc ;
}
 

.UIContactPortlet .ContactTableColor .ColorCell {
 width: 12px; height: 12px;
 margin: 2px;
 border: 1px solid #ffffff;
}

.UIContactPortlet .ContactTableColor .ColorCell img {
 width: 12px; height: 12px;
}
.UIContactPortlet .ContactTableColor .SelectedColorCell {
	border: solid 1px red ;
}

.UIContactPortlet .ContactTableColor a:hover {
	border: 2px solid red;
  margin: 1px ;
}

/* Colors*/
.ContactTableColor .Olive {background-color: #808000; }
.ContactTableColor .OliveDrab {background-color: #6B8E23;}   
.ContactTableColor .Orange {background-color: #FFA500;}    
.ContactTableColor .OrangeRed {background-color: #FF4500;}    
.ContactTableColor .Orchid {background-color: #DA70D6;}    
.ContactTableColor .PaleGoldenRod {background-color: #EEE8AA;}    
.ContactTableColor .PaleGreen {background-color: #98FB98;}    
.ContactTableColor .PaleTurquoise {background-color: #AFEEEE;}    
.ContactTableColor .PaleVioletRed {background-color: #D87093;}    
.ContactTableColor .PapayaWhip  {background-color: #FFEFD5;}    
.ContactTableColor .PeachPuff {background-color: #FFDAB9;}    
.ContactTableColor .Peru {background-color: #CD853F;}    
.ContactTableColor .Pink {background-color: #FFC0CB ;}   
.ContactTableColor .Plum {background-color: #DDA0DD ;}   
.ContactTableColor .PowderBlue {background-color: #B0E0E6;}    
.ContactTableColor .Purple {background-color: #800080;}    
.ContactTableColor .Red {background-color: #FF0000;}    
.ContactTableColor .RosyBrown {background-color: #BC8F8F;}    
.ContactTableColor .RoyalBlue {background-color: #4169E1;}    
.ContactTableColor .SaddleBrown {background-color: #8B4513;}    
.ContactTableColor .Salmon {background-color: #FA8072;}    
.ContactTableColor .SandyBrown {background-color: #F4A460;}    
.ContactTableColor .SeaGreen {background-color: #2E8B57;}    
.ContactTableColor .SeaShell {background-color: #FFF5EE;}    
.ContactTableColor .Sienna {background-color: #A0522D;}    
.ContactTableColor .Silver {background-color: #C0C0C0;}    
.ContactTableColor .SkyBlue {background-color: #87CEEB;}
.ContactTableColor .Thistle {background-color: #D8BFD8;}    
.ContactTableColor .Tomato {background-color: #FF6347;}    
.ContactTableColor .Turquoise {background-color: #40E0D0;}    
.ContactTableColor .Violet {background-color: #EE82EE;}    
.ContactTableColor .Wheat {background-color: #F5DEB3;}    
.ContactTableColor .Yellow {background-color: #FFFF00;}    
