@import url("DefaultSkin/tooltip/TooltipAtTop.css");

.UIResizableBlock {
	overflow: auto;
}

.UIPageDesktop .UIChatBarPortlet {
	overflow: hidden;
}

.UIChatBarPortlet {
	z-index:1;
}

.UIChatBarPortlet .UIActionbar {
	background: #e2ddc7;
	margin-bottom: 0px;
}

.UIRightClickPopupMenu {
	background: #F6F6F6;
    margin: 1px;
    padding: 5px 0;
	border: 1px solid #7E7E7F;
}

.UIChatBarPortlet .AddContactIcon {
	background: url('DefaultSkin/skinIcons/SmallChatIcons.gif') no-repeat left -225px; /* orientation=lt */
	background: url('DefaultSkin/skinIcons/SmallChatIcons.gif') no-repeat right -225px; /* orientation=rt */
	
}

.UIChatBarPortlet .NewRoomIcon {
	background: url('DefaultSkin/skinIcons/SmallChatIcons.gif') no-repeat left -175px; /* orientation=lt */
	background: url('DefaultSkin/skinIcons/SmallChatIcons.gif') no-repeat right -175px; /* orientation=rt */
}

.UIChatBarPortlet .JoinRoomIcon {
	background: url('DefaultSkin/skinIcons/SmallChatIcons.gif') no-repeat left -200px; /* orientation=lt */
	background: url('DefaultSkin/skinIcons/SmallChatIcons.gif') no-repeat right -200px; /* orientation=rt */
}

/* Down menu status */
.UIChatBarPortlet .UIRightClickPopupMenu .ItemIcon {
	text-align: left; /* orientation=lt */
	text-align: right; /* orientation=rt */
	height: 25px; 
	line-height: 25px;
	cursor: pointer;
	display: block;
	padding: 0px 0px 0px 26px; /* orientation=lt */
	padding: 0px 26px 0px 0px; /* orientation=rt */
}

.UIChatBarPortlet .UIRightClickPopupMenu .ItemIcon:hover {
	color: orange;
	background-color: #DEE4F2;
}

/* ====================== User status shared Icons =================== */
.UIChatBarPortlet .UIRightClickPopupMenu .IconChat {
	text-align: left; /* orientation=lt */
	text-align: right; /* orientation=rt */
	height: 25px; 
	line-height: 25px;
	cursor: pointer;
	display: block;
	padding: 0px 0px 0px 26px; /* orientation=lt */
	padding: 0px 26px 0px 0px; /* orientation=rt */
}

.UIChatBarPortlet .UIRightClickPopupMenu .IconChat:hover {
	color: orange;
	background-color: #DEE4F2;
}


.UIChatBarPortlet .OnlineIcon {
	background: url('DefaultSkin/skinIcons/SmallChatIcons.gif') no-repeat left -365px; /* orientation=lt */
	background: url('DefaultSkin/skinIcons/SmallChatIcons.gif') no-repeat right -365px; /* orientation=rt */
}

.UIChatBarPortlet .OfflineIcon {
	background: url('DefaultSkin/skinIcons/SmallChatIcons.gif') no-repeat left -74px; /* orientation=lt */
	background: url('DefaultSkin/skinIcons/SmallChatIcons.gif') no-repeat right -74px; /* orientation=rt */
}

.UIChatBarPortlet .AwayIcon {
	background: url('DefaultSkin/skinIcons/SmallChatIcons.gif') no-repeat left -25px; /* orientation=lt */
	background: url('DefaultSkin/skinIcons/SmallChatIcons.gif') no-repeat right -25px; /* orientation=rt */
}

.UIChatBarPortlet .ExtendAwayIcon {
	background: url('DefaultSkin/skinIcons/SmallChatIcons.gif') no-repeat left -300px; /* orientation=lt */
	background: url('DefaultSkin/skinIcons/SmallChatIcons.gif') no-repeat right -300px; /* orientation=rt */
}

.UIChatBarPortlet .FreeToChat {
	background: url('DefaultSkin/skinIcons/SmallChatIcons.gif') no-repeat left -50px; /* orientation=lt */
	background: url('DefaultSkin/skinIcons/SmallChatIcons.gif') no-repeat right -50px; /* orientation=rt */
}

/* ====================== User status shared Icons =================== */

.ChatContainer .RightPage .OnlineIcon {
	background: url('DefaultSkin/skinIcons/SmallChatIcons.gif') no-repeat left 0px; /* orientation=lt */
	background: url('DefaultSkin/skinIcons/SmallChatIcons.gif') no-repeat right 0px; /* orientation=rt */
}

.ChatContainer .RightPage .OfflineIcon {
	background: url('DefaultSkin/skinIcons/SmallChatIcons.gif') no-repeat left -75px; /* orientation=lt */
	background: url('DefaultSkin/skinIcons/SmallChatIcons.gif') no-repeat right -75px; /* orientation=rt */
}

.ChatContainer .RightPage .AwayIcon {
	background: url('DefaultSkin/skinIcons/SmallChatIcons.gif') no-repeat left -25px; /* orientation=lt */
	background: url('DefaultSkin/skinIcons/SmallChatIcons.gif') no-repeat right -25px; /* orientation=rt */
}

.ChatContainer .RightPage .ExtendAwayIcon {
	background: url('DefaultSkin/skinIcons/SmallChatIcons.gif') no-repeat left -300px; /* orientation=lt */
	background: url('DefaultSkin/skinIcons/SmallChatIcons.gif') no-repeat right -300px; /* orientation=rt */
}

.ChatContainer .RightPage .FreeToChat {
	background: url('DefaultSkin/skinIcons/SmallChatIcons.gif') no-repeat left -50px; /* orientation=lt */
	background: url('DefaultSkin/skinIcons/SmallChatIcons.gif') no-repeat right -50px; /* orientation=rt */
}


/* For normal page */
.ResizeArea {
	background: url('DefaultSkin/background/ResizeArea18x18.gif') no-repeat left top; /* orientation=lt */
	background: url('DefaultSkin/background/ResizeArea18x18-rt.gif') no-repeat right top; /* orientation=rt */
	cursor:nw-resize;
	float:right; /* orientation=lt */
	float:left; /* orientation=rt */
	height:18px;
	width:18px;
}

/* PopUp menu right click of member */
.BuddyItemActionMenu .ItemIcon {
    cursor: pointer;
    display: block;
    line-height: 16px;
	margin: 0 5px;
    padding: 5px 0 5px 26px; /* orientation=lt */
	padding: 5px 26px 5px 0; /* orientation=rt */
    white-space: nowrap;
    width: auto;
}

.BuddyItemActionMenu .RemoveIcon {
	background: url('DefaultSkin/skinIcons/ActionMenuIconRemove.gif') no-repeat left center;
}

.BuddyItemActionMenu .MessageIcon {
	background: url('DefaultSkin/skinIcons/ActionMenuIconSend.gif') no-repeat left center;
}

 /* Form Join Room */
.UIJoinRoom .FieldName {
	width: 20%;
}
 
.UIJoinRoom .PopupContent {
	padding: 10px 5px 0px 5px;
	width: auto;
}
 
.UIJoinRoom .ListAddress {
	padding-top: 5px;
}
	
.UIJoinRoom .UIWindowContent .PopupContent .UIInsertAddress {
	margin: 5px 5px 10px 5px;
	border: 1px solid #B3B3B3;
	background-color: #efefef;
}

.UIJoinRoom .UIWindowContent .PopupContent .InsertAddressContainer {
	padding: 6px;
}

.UIJoinRoom .UIGrid tr.UIRoomRow {
	background-color: #fff;
}

.UIJoinRoom .UIGrid tr.UIRoomRowC {
	background-color: #fbf8f8;
}

.UIJoinRoom .UIGrid td {
	padding: 5px 0 2px 2px; /* orientation=lt */
	padding: 5px 2px 2px 0px; /* orientation=rt */
}

.UIJoinRoom .UIGrid input.CheckBox {
	height: 15px;
	margin: 0px 8px 0px 0px; /* orientation=lt */
	margin: 0px 0px 0px 8px; /* orientation=rt */
	width: 15px;
}

/* Form New Room */
form {
	margin: 0px;
	padding: 0px;
}

.UINewRoom .FieldName {
	text-align: right; /* orientation=lt */
	text-align: left; /* orientation=rt */
	width: 150px;
}

.UINewRoom .PopupContent {
	padding: 10px 5px 0px 5px;
	width: auto;
}

.UINewRoom .ListAddress {
	padding: 0px 5px 5px 5px;
}

.UINewRoom .UIGrid {
	width: 100%;
	margin: auto;
	border: none;
}

.UINewRoom .UIGrid td {
	border: none;
}

.UINewRoom .UIGrid input {
	width: 60%;
	border: 1px solid gray;
	background: none;
}

/* Chat Message */
.UIConversation {
	background: none;
	padding: 8px;
}

.UIConversation .UITabPane {
	height: auto;
}

.UIConversation .UIActionbar {
	background: url('DefaultSkin/background/Background.gif') repeat-x center top;
	border-left: 1px solid #aeadad;
	border-right: 1px solid #aeadad;
	line-height: 30px;
	margin-bottom: 10px;
	font-weight: bold;
	padding-left: 8px; /* orientation=lt */
	padding-right: 8px; /* orientation=rt */
}

.UIConversation .UIActionbar .SeperatorLine {
	background: url('DefaultSkin/background/Background.gif') no-repeat left -420px;	/* orientation=lt */
	background: url('DefaultSkin/background/Background-rt.gif') no-repeat right -420px;	/* orientation=rt */
	line-height: 30px; height: 30px;
	width: 2px;
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	margin: 0px 7px;
}

.UIConversation .UIActionbar .ExportMessageIcon {
	background: url('DefaultSkin/skinIcons/SmallChatIcons.gif') no-repeat left -275px; /* orientation=lt */
	background: url('DefaultSkin/skinIcons/SmallChatIcons-rt.gif') no-repeat right -275px; /* orientation=rt */
}

.UIConversation .UIActionbar .AddChatIcon {
	background: url('DefaultSkin/skinIcons/SmallChatIcons.gif') no-repeat left -100px; /* orientation=lt */
	background: url('DefaultSkin/skinIcons/SmallChatIcons-rt.gif') no-repeat right -100px; /* orientation=rt */
}

.UIConversation .UIActionbar .LeaveIcon {
	background: url('DefaultSkin/skinIcons/SmallChatIcons.gif') no-repeat left -125px; /* orientation=lt */
	background: url('DefaultSkin/skinIcons/SmallChatIcons-rt.gif') no-repeat right -125px; /* orientation=rt */
}

.UIConversation .UIActionbar .OptionsIcon {
	background: url('DefaultSkin/skinIcons/SmallChatIcons.gif') no-repeat left -150px; /* orientation=lt */
	background: url('DefaultSkin/skinIcons/SmallChatIcons-rt.gif') no-repeat right -150px; /* orientation=rt */
}

.UIConversation .UIActionbar .SendFileIcon {
	background: url('DefaultSkin/skinIcons/SendFile.gif') no-repeat left top; /* orientation=lt */
	background: url('DefaultSkin/skinIcons/SendFile-rt.gif') no-repeat right top; /* orientation=rt */
	height: 25px;
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	cursor: pointer;
	overflow: hidden;
}

.UIConversation .UIActionbar .InputSendFile{
	opacity:0; 
	filter: alpha(opacity=0);
	cursor: pointer;
	width: 25px;
}

.UIConversation .UIActionbar .Icon {
	padding: 0px 0px 0px 25px; /* orientation=lt */
	padding: 0px 25px 0px 0px; /* orientation=rt */
	margin-top: 2px;
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	cursor: pointer;
	height: 25px; line-height: 25px; 
}

.UIConversation .UIAction {
	margin: 10px 0px;
	width: 100%; height: auto;
}

.UIConversation .UITabPane .UITabContentContainer .UITabContent {
	padding-bottom: 0px;
}

.UIConversation .UIAction .SendButton {
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
	width: 6%;
	border: 1px solid #ACACAC;
	background: url('DefaultSkin/background/BgButton.gif') repeat-x center; /* orientation=lt */
	background: url('DefaultSkin/background/BgButton-rt.gif') repeat-x center; /* orientation=rt */
}

.UIConversation .UIAction .SendButton .IconSend {
	background: url('DefaultSkin/skinIcons/ButtonSend.gif') no-repeat center; /* orientation=lt */
	background: url('DefaultSkin/skinIcons/ButtonSend-rt.gif') no-repeat center; /* orientation=rt */
	height: 68px;
	display: block;
	border: 1px solid white;
}

.UIConversation .UIAction .MsgBox{
	width: 92%; overflow-y: auto;
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	height: 68px;
	margin: 0px;
}

.UIConversation .UIActionbar .HistoryIcon {
	background: url('DefaultSkin/skinIcons/SmallChatIcons.gif') no-repeat left -422px; /* orientation=lt */
	background: url('DefaultSkin/skinIcons/SmallChatIcons-rt.gif') no-repeat right -422px; /* orientation=rt */
	position: relative;
}

.UIConversation .UIActionbar .HistoryIcon .DownArrow1Icon {
	background-position:right center; /* orientation=lt */
	background-position:left center; /* orientation=rt */
	line-height:24px;
	margin-top:0px;
	padding-right:16px; /* orientation=lt */
	padding-left:16px; /* orientation=rt */
}

.UIConversation .UIActionbar .HistoryIcon .ItemIcon {
	padding: 3px 5px;
	font-weight: normal;
}

.UIConversation .UIActionbar .HistoryIcon .ItemIcon:hover {
	background: #dee4f2;
	color: orange;
}

/* New Form */
.UINewForm .ContainerForm {
	background: #fff;
	border: 1px solid gray;
	padding: 10px;
}

.UINewForm .BoxForm {
	border: 1px solid #B7B7B7;
	margin-top: 3px;
}

.UINewForm .BorderForm {
	border: 1px solid #fff;
	background: #F7F7F7;
	padding: 8px;
}

.UINewForm .BorderForm fieldset {
	border: 1px solid #b7b7b7;
}

.UINewForm .UIFormGrid td.FieldLabel {
	text-align: right; /* orientation=lt */
	text-align: left; /* orientation=rt */
	vertical-align: top;
	padding: 4px 10px 4px 4px; /* orientation=lt */
	padding: 4px 4px 4px 10px; /* orientation=rt */
	width: 150px;
}

.UINewForm .UIFormGrid input {
	font-size: 11px;
}

.UINewForm .UIFormGrid .FieldComponent select {
	font-size: 11px;
	width: 120px;
	border: 1px solid gray;
}

.UINewForm .UIFormGrid .FieldComponent textarea {
	border: 1px solid gray;
}

.UINewForm .UIFormGrid td.FieldComponent {
	padding: 4px;
	white-space: nowrap;
	
}

/* Scroll chat window */

.ScrollButtons {
	float: right;  /* orientation=lt */
	float: left;  /* orientation=rt */
	padding: 4px;
	display: block;
}

.ScrollLeftButton {
	cursor: pointer;
	background: url('DefaultSkin/skinIcons/ScollArrow.gif') no-repeat left 0px;
	width: 17px;
	height: 17px;
	padding-left: 17px; /* orientation=lt */
	padding-right: 17px; /* orientation=rt */
	margin: 0px 5px;
}

.ScrollRightButton {
	cursor: pointer;
	background: url('DefaultSkin/skinIcons/ScollArrow.gif') no-repeat left -18px;
	width: 17px;
	height: 17px;
	margin: 0px 5px;
}

.DisableScrollLeftButton {
	cursor: pointer;
	background: url('DefaultSkin/skinIcons/ScollArrow.gif') no-repeat left -36px;
	width: 17px;
	height: 17px;
	padding-left: 17px; /* orientation=lt */
	padding-right: 17px; /* orientation=rt */
	margin: 0px 5px;
}

.DisableScrollRightButton { 
	cursor: pointer;
	background: url('DefaultSkin/skinIcons/ScollArrow.gif') no-repeat left -54px;
	width: 17px;
	height: 17px;
	margin: 0px 4px;
}

.HighlightScrollLeftButton {
	cursor: pointer;
	background: url('DefaultSkin/skinIcons/ScollArrow.gif') no-repeat left -72px;
	width: 17px;
	height: 17px;
	padding-left: 17px; /* orientation=lt */
	padding-right: 17px; /* orientation=rt */
	margin: 0px 5px;
}

.HighlightScrollRightButton {
	cursor: pointer;
	background: url('DefaultSkin/skinIcons/ScollArrow.gif') no-repeat left -90px;
	width: 17px;
	height: 17px;
	margin: 0px 4px;
}	

/* UIPopupWindow ExoMesseageDecorator */
.UIPopupWindow .ExoMesseageDecorator {
	background: #e1e1e1;
	border: 1px solid #cfcfcf;
	box-shadow: 1px 1px 3px #dbdbdb;
	-moz-box-shadow: 1px 1px 3px #dbdbdb;
	-webkit-box-shadow: 1px 1px 3px #dbdbdb;
	padding: 5px;
}

.UIPopupWindow .ExoMesseageDecorator .UIWindowContent {
	margin: 5px 3px 3px;
}

/* Form Add Contact */
.UIAddContact .UIWindowContent .PopupContent .UIInsertAddress {
	margin: 10px;
	border: 1px solid #B3B3B3;
	background-color: #efefef;
}

.UIAddContact .UIWindowContent .PopupContent .InsertAddressContainer {
	padding: 6px;
}

.UIAddContact .UIGrid input.CheckBox {
	height: 15px;
	width: 15px;
	margin: 0px 8px 0px 0px; /* orientation=lt */
	margin: 0px 0px 0px 8px; /* orientation=rt */
}

.UIAddContact .UIGrid tr.UIContactRow {
	background-color: #fff;
}

.UIAddContact .UIGrid tr.UIContactRowC {
	background-color: #fbf8f8;
}

.AddressContainer .StyleInput {
	width: 20px;
	padding: 4px;
}

.UIAddContact .UIGrid td {
	padding: 4px;
	margin:0 auto;
	width: 20px;
}

.UIAddContact .UIGrid .Label {
	line-height: 25px;
}

.UIAddContact .UIWindowContent .UISearch {
	background: #ffffff;
	border: 1px solid #b7b7b7;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
 
.UIAddContact .UIWindowContent .UISearchForm {
	height: 26px;
	margin-bottom: 5px;
	padding-top: 9px;
	overflow: hidden;
}
 
.UIAddContact .UIWindowContent .UISearchForm .SearchTitle {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	font-weight: bold;
	height: 20px;
	line-height: 20px;
	padding-left: 10px; /* orientation=lt */
	padding-right: 10px; /* orientation=rt */
}

.UIAddContact .UIWindowContent .UISearchForm input {
	border: 1px solid gray;
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	height: 16px;
	margin: 0 5px 0 10px; /* orientation=lt */
	margin: 0 10px 0 5px; /* orientation=rt */
	padding-left: 4px; /* orientation=lt */
	padding-right: 4px; /* orientation=rt */
	width: 180px;
}

.UIAddContact .UIWindowContent .UISearchForm .SearchIcon {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
}

.UIAddContact .UIWindowContent .PopupContent .InsertAddressContainer {
	padding: 6px;
}

/* WindowChat moi moi */
.ChatContainer .RightPage {	
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
	width: 130px;
	height: 215px;
	border: 1px solid #acacac;
}

.ChatContainer .RightPage .OverflowGroupNick {	
	height: 215px;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #f7f7f8; 
}

.ChatContainer .RightPage .GroupNick {	
	background: #FFFFFF;
	border: 1px solid #DADADA;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	box-shadow: 1px 1px 3px #DADADA;
	-moz-box-shadow: 1px 1px 3px #DADADA;
	-webkit-box-shadow: 1px 1px 3px #DADADA;
	height: 28px;
 	padding: 0 7px;
	margin: 5px;
}

.ChatContainer .RightPage .StatusIcon {	
	float: left;  /* orientation=lt */
	float: right;  /* orientation=rt */
	background: url('DefaultSkin/skinIcons/SmallChatIcons.gif') no-repeat left 0px;
	height: 25px; line-height: 25px;
}

.ChatContainer .RightPage .NameId {	
	font-size: 11px;
	font-family: tahoma;
	padding: 7px 0 8px 26px; /* orientation=lt */
	padding: 7px 26px 8px 0px; /* orientation=rt */
	display: block;
}

.ChatContainer .MessagesContainer {
	background-color: #fff;
	height: 215px;
	border: 1px solid #ACACAC;
}

.ChatContainer .LeftPane {
	margin-right: 140px; /* orientation=lt */
	margin-left: 140px; /* orientation=rt */
}

.ChatContainer .MessagesContainer .OverflowMessagesContainer {
	overflow: auto;
	height: 215px;
	width: 100%;
}

.ChatContainer .MessagesContainer .OverflowMessagesContainer .Message {
	padding: 8px;
}

.ChatContainer .UserMessage .ChatName {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	font-weight: bold;
	color: #ff9d03;
	font-style: italic;
	width: 35%;
	height: 24px; line-height: 24px;
}

.ChatContainer .GuestMessage .ChatName {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	width: 35%;
	font-weight: bold;
	color: #0473c0;
	font-style: italic;
	height: 24px; line-height: 24px;
}

.ChatContainer .ChatTime {
	background: #E1E1E1;
    border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
    float: right; /* orientation=lt */
	float: left; /* orientation=rt */
    padding: 2px 10px;
    text-align: center;
    width: 145px;
}

.ChatContainer .ChatTimeHistory {
	background: #E1E1E1;
    border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
    float: right; /* orientation=lt */
	float: left; /* orientation=rt */
    padding: 2px 10px;
    text-align: center;
    width: 145px;
}

.ChatContainer .UserMessage .ChatIcon {
	background: url(DefaultSkin/skinIcons/ChatIcon.gif) no-repeat left -24px; /* orientation=lt */
	background: url(DefaultSkin/skinIcons/ChatIcon-rt.gif) no-repeat right -24px; /* orientation=rt */
	padding-left: 28px;/* orientation=lt */
	padding-right: 28px;/* orientation=rt */
	display: block;
}

.ChatContainer .GuestMessage .ChatIcon {
	background: url('DefaultSkin/skinIcons/ChatIcon.gif') no-repeat left top; /* orientation=lt */
	background: url('DefaultSkin/skinIcons/ChatIcon-rt.gif') no-repeat right top; /* orientation=rt */
	padding-left: 28px; /* orientation=lt */
	padding-right: 28px; /* orientation=rt */
	display: block;
}

.ChatContainer .UserMessage .MessageBody {
	display: block;
	position: static;
}

.ChatContainer .UserMessage .MessageBody .TLBoxMessage {
	background: url('DefaultSkin/background/TipUserChat.gif') no-repeat left top; /* orientation=lt */
	background: url('DefaultSkin/background/TipUserChat-rt.gif') no-repeat right top; /* orientation=rt */
	padding-left: 109px; /* orientation=lt */
	padding-right: 109px; /* orientation=rt */
	height: 20px; line-height: 20px;
}

.ChatContainer .UserMessage .MessageBody .TRBoxMessage {
	background: url('DefaultSkin/background/Background.gif') no-repeat right -275px; /* orientation=lt */
	background: url('DefaultSkin/background/Background-rt.gif') no-repeat left -275px; /* orientation=rt */
	padding-right: 7px; /* orientation=lt */
	padding-left: 7px; /* orientation=rt */
	height: 20px; line-height: 20px;
}

.ChatContainer .UserMessage .MessageBody .TCBoxMessage {
	background: url('DefaultSkin/background/Background.gif') repeat-x center -295px; /* orientation=lt */
	background: url('DefaultSkin/background/Background-rt.gif') repeat-x center -295px; /* orientation=rt */
	height: 20px; line-height: 20px;
}

.ChatContainer .UserMessage .MessageBody .MLBoxMessage {
	background: url('DefaultSkin/background/LeftMiddeUserChat4x1.gif') repeat-y left; /* orientation=lt */
	background: url('DefaultSkin/background/LeftMiddeUserChat4x1.gif') repeat-y right; /* orientation=rt */
	padding-left: 4px; /* orientation=lt */
	padding-right: 4px; /* orientation=rt */
}

.ChatContainer .UserMessage .MessageBody .MRBoxMessage {
	background: url('DefaultSkin/background/RightMiddeUserChat4x1.gif') repeat-y right; /* orientation=lt */
	background: url('DefaultSkin/background/RightMiddeUserChat4x1-rt.gif') repeat-y left; /* orientation=rt */
	padding-right: 4px; /* orientation=lt */
	padding-left: 4px; /* orientation=rt */
}

.ChatContainer .UserMessage .MessageBody .BLBoxMessage {
	background: url('DefaultSkin/background/Background.gif') no-repeat left -315px; /* orientation=lt */
	background: url('DefaultSkin/background/Background-rt.gif') no-repeat right -315px; /* orientation=rt */
	padding-left: 7px; /* orientation=lt */
	padding-right: 7px; /* orientation=rt */
	height: 7px; line-height: 7px;
}

.ChatContainer .UserMessage .MessageBody .BRBoxMessage {
	background: url('DefaultSkin/background/Background.gif') no-repeat right -322px; /* orientation=lt */
	background: url('DefaultSkin/background/Background-rt.gif') no-repeat left -322px; /* orientation=rt */
	padding-right: 7px; /* orientation=lt */
	padding-left: 7px; /* orientation=rt */
	height: 7px; line-height: 7px;
}

.ChatContainer .UserMessage .MessageBody .BCBoxMessage {
	background: url('DefaultSkin/background/Background.gif') repeat-x center -329px; /* orientation=lt */
	background: url('DefaultSkin/background/Background-rt.gif') repeat-x center -329px; /* orientationrt */
	height: 7px; line-height: 7px;
}

.ChatContainer .UserMessage .MessageBody .ContextChat {
	background: #fef2b7 url('DefaultSkin/background/BgCenterMiddle1x52.gif') repeat-x top; /* orientation=lt */
	background: #fef2b7 url('DefaultSkin/background/BgCenterMiddle1x52-rt.gif') repeat-x top; /* orientation=rt */
	padding: 10px 15px;
	line-height: 20px;
}

.ChatContainer .GuestMessage .MessageBody {
	display: block;
	position: static;
}

.ChatContainer .GuestMessage .MessageBody .TLBoxMessage {
	background: url('DefaultSkin/background/TipGuestChat.gif') no-repeat left top; /* orientation=lt */
	background: url('DefaultSkin/background/TipGuestChat-rt.gif') no-repeat right top; /* orientation=rt */
	padding-left: 109px; /* orientation=lt */
	padding-right: 109px; /* orientation=rt */
	height: 21px; line-height: 21px;
}

.ChatContainer .GuestMessage .MessageBody .TRBoxMessage {
	background: url('DefaultSkin/background/Background.gif') no-repeat right -357px; /* orientation=lt */
	background: url('DefaultSkin/background/Background-rt.gif') no-repeat left -357px; /* orientation=rt */
	padding-right: 6px; /* orientation=lt */
	padding-left: 6px; /* orientation=rt */
	height: 21px; line-height: 21px;}

.ChatContainer .GuestMessage .MessageBody .TCBoxMessage {
	background: url('DefaultSkin/background/Background.gif') repeat-x center -378px; /* orientation=lt */
	background: url('DefaultSkin/background/Background-rt.gif') repeat-x center -378px; /* orientation=rt */
	height: 21px; line-height: 21px;
}

.ChatContainer .GuestMessage .MessageBody .MLBoxMessage {
	background: url('DefaultSkin/background/LeftMiddleGuestChat3x1.gif') repeat-y left; /* orientation=lt */
	background: url('DefaultSkin/background/LeftMiddleGuestChat3x1-rt.gif') repeat-y right; /* orientation=rt */
	padding-left: 3px; /* orientation=lt */
	padding-right: 3px; /* orientation=rt */
}

.ChatContainer .GuestMessage .MessageBody .MRBoxMessage {
	background: url('DefaultSkin/background/RightMiddleGuestChat4x1.gif') repeat-y right; /* orientation=lt */
	background: url('DefaultSkin/background/RightMiddleGuestChat4x1-rt.gif') repeat-y left; /* orientation=rt */
	padding-right: 4px; /* orientation=lt */
	padding-left: 4px; /* orientation=rt */
}

.ChatContainer .GuestMessage .MessageBody .BLBoxMessage{
	background: url('DefaultSkin/background/Background.gif') no-repeat left -399px; /* orientation=lt */
	background: url('DefaultSkin/background/Background-rt.gif') no-repeat right -399px; /* orientation=rt */
	padding-left: 6px; /* orientation=lt */
	padding-right: 6px; /* orientation=rt */
	height: 7px; line-height: 7px;
}

.ChatContainer .GuestMessage .MessageBody .BRBoxMessage {
	background: url('DefaultSkin/background/Background.gif') no-repeat right -406px; /* orientation=lt */
	background: url('DefaultSkin/background/Background-rt.gif') no-repeat left -406px; /* orientation=rt */
	padding-right: 6px; /* orientation=lt */
	padding-left: 6px; /* orientation=rt */
	height: 7px; line-height: 7px;
}

.ChatContainer .GuestMessage .MessageBody .BCBoxMessage {
	background: url('DefaultSkin/background/Background.gif') repeat-x center -413px; /* orientation=lt */
	background: url('DefaultSkin/background/Background-rt.gif') repeat-x center -413px; /* orientation=rt */
	height: 7px; line-height: 7px;
}

.ChatContainer .GuestMessage .MessageBody .ContextChat {
	background: #d0d8fe url('DefaultSkin/background/BgCenterGuestChat1x67.gif') repeat-x top; /* orientation=lt */
	background: #d0d8fe url('DefaultSkin/background/BgCenterGuestChat1x67-rt.gif') repeat-x top; /* orientation=rt */
	padding: 10px 15px;
}


/**************************** MiniBoxChat*****************************/
.NormalMiniBoxChat {
	height: 23px; line-height: 23px;
	background: #f6f6f6;
	border: 1px solid #a0a0a0;
	border-bottom: none;
	border-radius: 3px 3px 1px 1px;
	-moz-border-radius: 3px 3px 1px 1px;
	-webkit-border-radius: 3px 3px 1px 1px;
}		

.HightLightMiniBoxChat {
	height: 23px; line-height: 23px;
	background: #fcce50;
	border: 1px solid #dea405;
	border-bottom: none;
	border-radius: 3px 3px 1px 1px;
	-moz-border-radius: 3px 3px 1px 1px;
	-webkit-border-radius: 3px 3px 1px 1px;
}

.MiniBoxChat .ControlIconChat {
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
	background: url('DefaultSkin/skinIcons/ControlIcon.gif') no-repeat;
	width: 16px;
	height: 16px;
	margin: 3px 1px 0px 1px;
	cursor: pointer;
}

.MiniBoxChat .RestoreIcon {
	background-position: left top;
}

.MiniBoxChat .OverRestoreIcon {
	background-position: right top;
}

.MiniBoxChat .CloseIcon {
	background-position: left -16px;
}

.MiniBoxChat .OverCloseIcon {
	background-position: right -16px;
}

.MiniBoxChat .InfoIcon {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	background: url('DefaultSkin/skinIcons/Chat.gif') no-repeat left center;
	line-height: 23px;
	margin: 0px 4px;
	font-weight: bold;
	font-size: 10px;
	font-family: tahoma;
	padding-left: 20px; /* orientation=lt */
	padding-right: 20px; /* orientation=rt */
	color: red;
}

/**************************** HistoryList*****************************/
.HistoryList {
	padding: 5px 5px 0px 5px;
}

.HistoryList .LeftHistoryList {
	background: url('DefaultSkin/background/HistoryList.gif') no-repeat left -66px;
	padding-left: 6px; /* orientation=lt */
	padding-right: 6px; /* orientation=rt */
}
			
.HistoryList .RightHistoryList {
	background: url('DefaultSkin/background/HistoryList.gif') no-repeat right -33px;
	padding-right: 6px; /* orientation=lt */
	padding-left: 6px; /* orientation=rt */
}
			
.HistoryList .CenterHistoryList {
	background: url('DefaultSkin/background/HistoryList.gif') repeat-x left top;
}
		
.HistoryList .ContainerHistoryList {
	text-align: center;
}
			
.HistoryList .ContainerHistoryList .LableHistory {
	color: #333;
	padding-right: 7px; /* orientation=lt */
	padding-left: 7px; /* orientation=rt */
}
			
.HistoryList .ContainerHistoryList .Line {
	color: #999;
	padding: 0px 5px;
}
			
.HistoryList .ContainerHistoryList .LinkHistory {
	color: #0044bb; 
	text-decoration: none;							
	cursor: pointer;
}
			
.HistoryList .ContainerHistoryList .LinkHistory a {
	color: #0044bb;
}

.MessagesBox .MessageLink {
	color: #0044BB;
	text-decoration: none;
}

.MessagesBox .MessageLink:hover {
	text-decoration: underline;
}

/**************************** Send File*****************************/
.SendFile {
	margin: 8px 15px 8px 8px;
	background-color: #fbfaf3;
	border-bottom: 1px solid #dfdcc4;
	height: auto;
	padding-bottom: 2px;
}

.SendFile .ImageFile {
	float: left;
	background: url('DefaultSkin/background/Picture50x46.gif') no-repeat center;
	height: 46px;
	padding: 3px 5px 2px 65px; /* orientation=lt */
	padding: 3px 65px 2px 5px; /* orientation=rt */
}

.SendFile .ContentSendFile {
	line-height:16px;
	margin-left:66px;
	overflow:hidden;
	width:83%;
}

.SendFile .ContentSendFile .LableSendFile {
	font-weight: bold;
	color: #e1ad29;
}

.SendFile .ContentSendFile .ActionFile {
	font-weight: bold;
	color: #0066cc;
	cursor: pointer;
	text-decoration: underline;
	padding-right: 20px; /* orientation=lt */
	padding-left: 20px; /* orientation=rt */
	float: left;
}

.UINewForm {
	overflow:auto;
}

.UINewForm .StyleLegend {
	color: #5286d6;
}

.UIChatBarPortlet{
	min-width: 900px;
	position:fixed;
	bottom:1px;
	padding:0px;
}

.UIWindow .UIChatBarPortlet {
	min-width: 0px;
	position:static;
	bottom:auto;
}

.UIChatBarPortlet .StatusContainer {
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
	height:30px;
	line-height:30px;
}

.UIChatBarPortlet .MiniBoxChat{
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
	margin-top:4px;
	width:56px;
}

.UIChatBarPortlet .OnlineNoticeIcon {
	background:url('DefaultSkin/skinIcons/OnlineNotice25x23.gif') no-repeat left top; /* orientation=lt */
	background:url('DefaultSkin/skinIcons/OnlineNotice25x23.gif') no-repeat right top; /* orientation=rt */
	float:left; /* orientation=lt */
	float:left; /* orientation=rt */
	margin-left:3px; /* orientation=lt */
	margin-right:3px; /* orientation=rt */
	width:25px;
	height:23px;
	text-align:center;
	color:white;
	line-height:18px;
}

.UIChatBarPortlet .UIActionbar .IconHolder {
	margin-left:0px;
	display:block;
	white-space:nowrap;
	padding-left: 25px; /* orientation=lt */
	padding-right: 25px; /* orientation=rt */
	height: 26px;
	text-align: left; /* orientation=lt */
	text-align: right; /* orientation=rt */
	margin: 0px;
}

.UIChatBarPortlet .UIActionbar .IconButton {
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
	line-height:26px;
	margin-top:2px;
	display:block;
}

.UIChatBarPortlet .UIActionbar .ContactArea {
	width: 27px;
	position: relative;
}

.UIChatBarPortlet .UIActionbar .ContactArea .UIRightClickPopupMenu {
	right: 0; /* orientation=lt */
	left: 0; /* orientation=rt */
	width: 200px; 
	bottom: 27px; 
}

.UIChatBarPortlet .UIActionbar .RoomArea {
	width: 27px;
	position: relative;
}

.UIChatBarPortlet .UIActionbar .RoomArea .UIRightClickPopupMenu {
	right: 0; /* orientation=lt */
	left: 0; /* orientation=rt */
	width: 200px; bottom: 27px;
}

.UIChatBarPortlet .UIActionbar .RoomArea {
	width: 27px;
	position: relative;
}

.UIChatBarPortlet .UIActionbar .StatusArea .UIRightClickPopupMenu {
	right: 0; /* orientation=lt */
	left: 0; /* orientation=rt */
	width: 150px; bottom: 27px; 
}

.UIChatBarPortlet .SeperatorLine {
	background: url('DefaultSkin/background/SeperatorLine1x30.gif') no-repeat;
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
	height:30px;
	line-height:30px;
	margin:0px 2px 0px 4px; /* orientation=lt */
	margin:0px 4px 0px 2px; /* orientation=rt */
	width:2px;
}

.UIChatBarPortlet .UIActionbar .ContactManageIcon {
	background: url('DefaultSkin/skinIcons/ChatIcon.png') no-repeat left -1px;
}

.UIChatBarPortlet .UIActionbar .RoomManageIcon {
	background: url('DefaultSkin/skinIcons/ChatIcon.png') no-repeat left -33px;
}

.UIChatBarPortlet .UIActionbar .OnlineStatusIcon {
	background:url('DefaultSkin/skinIcons/SmallChatIcons.gif') no-repeat center 5px;
}

.UIChatBarPortlet .UIActionbar .Arrow {
	background: url('DefaultSkin/skinIcons/ChatIcon.png') no-repeat center -90px; /* orientation=lt */
	background: url('DefaultSkin/skinIcons/ChatIcon.png') no-repeat center -90px; /* orientation=rt */
	padding-right: 20px; /* orientation=lt */
	padding-left: 20px; /* orientation=rt */
	cursor: pointer;
}

.UIChatBarPortlet .UIActionbar .StatusArea .StatusIcon {
	background:none;
}

/**************************** Pop up Group *****************************/

.UIChatBarPortlet .Icon {
	cursor: pointer;
	padding-left: 30px; /* orientation=lt */
	padding-right: 30px; /* orientation=rt */
	line-height: 25px;
	height: 25px;
	margin: 2px;
}

.UIChatBarPortlet .UIRightClickPopupMenu .Split{
	background:url('DefaultSkin/background/CornerQuickChat.gif') repeat-x left -18px;
	display: block;
	height: 9px;
}

.UIChatBarPortlet .UIRightClickPopupMenu .RoomData li {
	cursor:pointer;
	line-height: 25px;
	padding: 0px 5px;
	color:#058EE6;
	display: block;
}

.UIChatBarPortlet .UIRightClickPopupMenu .RoomData li:hover{
	background: #dee4f2;
	color: orange;
}

.UIChatBarPortlet .UIRightClickPopupMenu .ScrollGroup{
	overflow: auto;
	height: 150px;
	min-width:120px;
}

/* App portlet */
.UIChatBarPortlet .UIActionbar .ItemBar {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	width: 24px;
	height: 30px;
	margin-left: 5px; /* orientation=lt */
	margin-right: 5px; /* orientation=rt */
	display: block;
}

.UIChatBarPortlet .UIActionbar .Email {
	background: url('DefaultSkin/skinIcons/AppIcon.png') no-repeat left 3px;
}

.UIChatBarPortlet .UIActionbar .Contact {
	background: url('DefaultSkin/skinIcons/AppIcon.png') no-repeat left -30px;
}

.UIChatBarPortlet .UIActionbar .Calendar {
	background: url('DefaultSkin/skinIcons/AppIcon.png') no-repeat left -62px;
}

/* Copyright */
.UIChatBarPortlet .Copyright {
	margin: 0 auto;
	color: #484848;
	text-align: center;
}