.UIAutoPruning {
	background-color: #ffffff;
	padding: 8px;
}

.UIAutoPruning .AutoPruningContainer {
	background-color: #f7f7f7;
	padding: 8px;
	border: 1px solid #b4b4b4;
}

.UIAutoPruning .UIFormWithTitle {
	margin: 8px auto ;
}

.UIAutoPruning .UIFormWithTitle .UIAction {
	width: auto;
}
