.UICalendarPortlet .UIQuickAddTask {
	background-color: #ffffff;
	padding: 8px;
}

.UICalendarPortlet .UIQuickAddTask .HorizontalLayout {
	background-color: #f7f7f7;
	padding: 8px;
}

.UICalendarPortlet .UIQuickAddTask .UIFormWithTitle {
	margin: 8px auto ;
}

.UICalendarPortlet .UIQuickAddTask .HorizontalLayout .DateTime {
	float: left;
	margin-right: 3px;
}

.UICalendarPortlet .UIQuickAddTask .HorizontalLayout .DateTime input {
	font-size: 11px;
	width: 104px;
}
