.UIWindow .UIHomePagePortlet {	
	margin: 0px;
	padding: 10px;
}

.UIHomePagePortlet {	
	margin: 0px 5px 5px 5px;
}

.UIHomePagePortlet .PortletDecoration{	
	padding: 7px 7px 10px 7px;
	border: 1px solid #dedede;
	background: #fff;
}

.UIHomePagePortlet .HomePortletAdBackround{	
	background: #fff url('DefaultSkin/background/BgRepeat.jpg') repeat-x top;
}

.UIHomePagePortlet .LeftAdImage{	
	background: transparent url('DefaultSkin/background/LeftHomePage.jpg') no-repeat left center;
}

.UIHomePagePortlet .RightAdImage {
 background: transparent url('DefaultSkin/background/RightHomePage.jpg') no-repeat right top; 
 height: 229px;
 text-align: right;
 padding-right: 20px;
}

.UIHomePagePortlet .HomePortletAdBackround .EmptyBlock{
	height: 125px;
}

.UIHomePagePortlet .HomePortletAdBackround .ProductSlogan {
	font-size: 22px;
	font-weight: bold;
	height: 58px;
	letter-spacing: 1px;
	color: #656669;
}

.UIHomePagePortlet .HomePortletAdBackround .ProductIntro {
	font-size: 13px;
	letter-spacing: 1px;
	color: #fff;
	line-height: 14px;
}

.UIHomePagePortlet .HomePortletContainer {
}

.UIHomePagePortlet .HomePortletContainer .Mail {
	background: transparent url('DefaultSkin/background/ProductsCS.jpg') no-repeat left top;
	padding-left: 95px;
	height: 89px; line-height: 89px;
}

.UIHomePagePortlet .HomePortletContainer .Calendar {
	background: transparent url('DefaultSkin/background/ProductsCS.jpg') no-repeat left -178px;
	padding-left: 95px;
	height: 89px; line-height: 89px;
}

.UIHomePagePortlet .HomePortletContainer .Addressbook {
	background: transparent url('DefaultSkin/background/ProductsCS.jpg') no-repeat left -267px;
	padding-left: 95px;
	height: 89px; line-height: 89px;
}

.UIHomePagePortlet .HomePortletContainer .BgReat {
	background: url('DefaultSkin/background/ProductsCS.jpg') repeat-x left -89px;
	
}

.UIHomePagePortlet .HomePortletContainer .LableProduct {
	font-family: Arial;
	font-size: 16px;
	color: #454e56;
}

.UIHomePagePortlet .HomePortletContainer .ContentProductsCS {
	background-color: #cacaca;
	padding-left: 30px;
	height: auto;
}

.UIHomePagePortlet .HomePortletContainer .ContentProductsCS .Bullet {
	background: url('DefaultSkin/background/Bullet.gif') no-repeat;
	padding-left: 25px;
}

.UIHomePagePortlet .HomePortletContainer .ContentProductsCS .Text {
	font-size: 11px;
	line-height: 16px;
}

.UIHomePagePortlet .HomePortletContainer .LeftBottom {
	background: transparent url('DefaultSkin/background/BgBottom.gif') no-repeat left top;
	padding-left: 3px;
}

.UIHomePagePortlet .HomePortletContainer .RightBottom {
	background: transparent url('DefaultSkin/background/BgBottom.gif') no-repeat right -7px;
	padding-right: 3px;
	height: 7px;
}

.UIHomePagePortlet .HomePortletContainer .CenterBottom {
	background: url('DefaultSkin/background/BgBottom.gif') repeat-x center -14px;
	
}

/*****************************************************sidebar**********************************************/

.sidebarTDContaineCS {
	width: 220px;
}

.SideBar { 
background:white none repeat scroll 0 0;
border:1px solid #DEDEDE;
padding:14px 8px 22px;
}
.SideBarContainer {
  text-align: center;
}
.SideBar .DownloadButton{
	background: #f1f1f1 url('DefaultSkin/background/DownloadButton.gif') no-repeat ;
	width: 192px; height: 89px;
	margin:18px 0px 0px 0px;
	display: block;
}

.SideBar .NormalText { 
    color:#3D3D3D;
    line-height:16px;
}

.SideBar .DotLine {
   background:transparent url(DefaultSkin/background/DotLine.gif) repeat-x scroll 0 0;
   height:1px;
   margin:12px 10px;
}
.SideBar .LeftButton {
	background: url('DefaultSkin/background/Button.gif') no-repeat left -33px;
	padding-left: 17px;
	margin: 10px;
}

.SideBar .RightButton {
	background: url('DefaultSkin/background/Button.gif') no-repeat right -66px;
	padding-right: 16px;
}

.SideBar .CenterButton {
	background: url('DefaultSkin/background/Button.gif') repeat-x top;
	line-height: 33px;
	font-size: 18px;
	font-family: tahoma;
	font-weight: bold;
	color: white;
}

.SideBar .SignUp {
   color:#E63C00;
   font-family:tahoma;
   font-size:18px;
   font-weight:bold;
   line-height:30px;
}


.SideBar .VersionIcon {
	background: url('DefaultSkin/background/VersionIcon.gif') no-repeat ;
	width: 58px; height: 72px;
	margin: auto;
	padding-bottom: 15px;
}

.SideBar .ProVersion { 
   color:#5D8C18;
   font-family:tahoma;
   font-size:12px;
   font-weight:bold;
   line-height:18px;
}