.UIThreadsInForum {
	padding: 10px;
	height: 400px;
}

.UIThreadsInForum .UIActionForum {
	width: 103px;
}

.UIThreadsInForum .AddTheradIcon {
	background: url('icons/16x16/AddNewThreadIcon.gif') left center;
}

.UIThreadsInForum .ButtomAndPageIteratorContainer .UIPageIterator {
	width: 60%;
	float: right;
}

.UIThreadsInForum .ForumToolbar .ToolIcon {
	float: right;
	line-height: 16px; 
	padding-left: 18px;
	margin: 1px 5px 0px 0px;
	cursor: pointer;
}

.UIThreadsInForum .ForumToolbar .ModeratedIcon {
	float: right;
	line-height: 16px; 
	padding-left: 18px;
	margin: 1px 5px 0px 0px;
	cursor: pointer;
}

.UIThreadsInForum .ForumToolbar .SeachIcon {
	float: right;
	line-height: 16px; 
	padding-left: 18px;
	margin: 1px 5px 0px 0px;
	cursor: pointer;
}

.UIThreadsInForum .ForumToolbar .ToolbarActionsContainer {
	width: 300px;
}
