.BusyIcon {
	background: url('icons/BusyIcon.gif') no-repeat ;
}

.BigGrinIcon {
	background: url('icons/BigGrinIcon.gif') no-repeat ;
}

.OfflineIcon {
	background: url('icons/OffLineIcon.gif') no-repeat ;
}

.OnlineIcon {
	background: url('icons/OnlineIcon.gif') no-repeat ;
}

.ManageCategoryButton {
	background: url('icons/ManageCategory.gif') no-repeat left center;
}

.ToolIcon {
	background: url('icons/ToolIcon.gif') no-repeat ;
}

.ModeratedIcon {
	background: url('icons/ModeratedIcon.gif') no-repeat ;
}

.ModerationIcon {
	background: url('icons/ModerationIcon.gif') no-repeat ;
}

.SeachIcon {
	background: url('icons/SeachIcon.gif') no-repeat ;
}

.StickyIcon {
	background: url('icons/StickyIcon.gif') no-repeat ;
}

.BlueTagIcon {
	background: url('icons/BlueTagIcon.gif') no-repeat ;
}

.GreenTagIcon {
	background: url('icons/GreenTagIcon.gif') no-repeat ;
}

.RedTagIcon {
	background: url('icons/RedTagIcon.gif') no-repeat ;
}

.VioletTagIcon {
	background: url('icons/VioletTagIcon.gif') no-repeat ;
}

.LeftArrowIcon {
	background: url('icons/LeftArrowIcon.gif') no-repeat ;
}

.RightArrowIcon {
	background: url('icons/LeftArrowIcon.gif') no-repeat ;
}

.BlueTagIcon {
	background: url('icons/BlueTagIcon.gif') no-repeat ;
}

.AttachmentIcon {
	background: url('icons/AttachmentIcon.gif') no-repeat ;
}

.ExpandButton {
	background: url('icons/Expand.gif') no-repeat ;
}

.CollapseButton {
	background: url('icons/Collapser.gif') no-repeat ;
}

.Voted {
	background: url('icons/SmallYellowStar.gif') no-repeat center;
}

.HalfVoted {
	background: url('icons/SmallHalfStar.gif') no-repeat center;
}

.Unvoted {
	background: url('icons/SmallGreyStar.gif') no-repeat center;
}

.NormalTopicIcon {
	background: url('icons/NormalTopicIcon.gif') no-repeat left;
}

.Download {
	background: url('icons/DownLoadIcon.gif') no-repeat left;
}

.ClosePoll {
	background: url('icons/ClosePollIcon.gif') no-repeat left center;
}

.EditPoll {
	background: url('icons/EditPollIcon.gif')  no-repeat left center;
}

.ForumIcon {
	background: url('icons/ForumIcon.gif') no-repeat left center;
}

.ThreadsIcon {
	background: url('icons/ThreadIcon.gif') no-repeat left center;
}

.WordIcon {
	background: url('icons/WordIcon.gif') no-repeat left center;
}

.PPTIcon {
	background: url('icons/PPTIcon.gif') no-repeat left center;
}

.PNGIcon {
	background: url('icons/PNGIcon.gif') no-repeat left center;
}

.JPGIcon {
	background: url('icons/JPGIcon.gif') no-repeat left center;
}

.LockIcon {
	background: url('icons/Lock.gif') no-repeat left center;
}

.EditPostIcon {
	background: url('icons/EditPost.gif') no-repeat left center;
}

.DeletePostIcon {
	background: url('icons/DeletePost.gif') no-repeat left center;
}