.BusyIcon {
	background: url('icons/BusyIcon.gif') no-repeat ;
}

.BigGrinIcon {
	background: url('icons/BigGrinIcon.gif') no-repeat ;
}

.OfflineIcon {
	background: url('icons/OffLineIcon.gif') no-repeat ;
}

.OnlineIcon {
	background: url('icons/OnlineIcon.gif') no-repeat ;
}

.ManageCategoryButton {
	background: url('icons/ManageCategory.gif') no-repeat left center;
}

.ToolIcon {
	background: url('icons/ToolIcon.gif') no-repeat ;
}

.ModeratedIcon {
	background: url('icons/ModeratedIcon.gif') no-repeat ;
}

.ModerationIcon {
	background: url('icons/ModerationIcon.gif') no-repeat ;
}

.SmallGrayPlus {
	background: url('icons/SmallGrayPlus.gif') no-repeat left top;
}

.SmallGrayMinus {
	background: url('icons/SmallGrayMinus.gif') no-repeat left top;
}

.SeachIcon {
	background: url('icons/SeachIcon.gif') no-repeat ;
}

.StickyIcon {
	background: url('icons/StickyIcon.gif') no-repeat ;
}

.BlueTagIcon {
	background: url('icons/BlueTagIcon.gif') no-repeat ;
}

.GreenTagIcon {
	background: url('icons/GreenTagIcon.gif') no-repeat ;
}

.RedTagIcon {
	background: url('icons/RedTagIcon.gif') no-repeat ;
}

.VioletTagIcon {
	background: url('icons/VioletTagIcon.gif') no-repeat ;
}

.LeftArrowIcon {
	background: url('icons/LeftArrowIcon.gif') no-repeat ;
}

.RightArrowIcon {
	background: url('icons/LeftArrowIcon.gif') no-repeat ;
}

.BlueTagIcon {
	background: url('icons/BlueTagIcon.gif') no-repeat ;
}

.AttachmentIcon {
	background: url('icons/AttachmentIcon.gif') no-repeat ;
}

.ExpandButton {
	background: url('icons/Expand.gif') no-repeat ;
}

.CollapseButton {
	background: url('icons/Collapser.gif') no-repeat ;
}

.Voted {
	background: url('icons/SmallYellowStar.gif') no-repeat center;
}

.HalfVoted {
	background: url('icons/SmallHalfStar.gif') no-repeat center;
}

.Unvoted {
	background: url('icons/SmallGreyStar.gif') no-repeat center;
}

.NormalTopicIcon {
	background: url('icons/NormalTopicIcon.gif') no-repeat left;
}

.Download {
	background: url('icons/DownLoadIcon.gif') no-repeat left;
}

.ClosePoll {
	background: url('icons/ClosePollIcon.gif') no-repeat left center;
}

.EditPoll {
	background: url('icons/EditPollIcon.gif')  no-repeat left center;
}

.ForumIcon {
	background: url('icons/ForumIcon.gif') no-repeat left center;
}

.ThreadsIcon {
	background: url('icons/ThreadIcon.gif') no-repeat left center;
}

.WordIcon {
	background: url('icons/WordIcon.gif') no-repeat left center;
}

.PPTIcon {
	background: url('icons/PPTIcon.gif') no-repeat left center;
}

.PNGIcon {
	background: url('icons/PNGIcon.gif') no-repeat left center;
}

.JPGIcon {
	background: url('icons/JPGIcon.gif') no-repeat left center;
}

.LockIcon {
	background: url('icons/Lock.gif') no-repeat left center;
}

.EditPostIcon {
	background: url('icons/EditPost.gif') no-repeat left center;
}

.DeletePostIcon {
	background: url('icons/DeletePost.gif') no-repeat left center;
}

.AddPollIcon {
	background: url('icons/AddPollThreadIcon.gif') no-repeat left center;
}

.SetApproveAttachmentIcon {
	background: url('icons/ApproveAttachmentsIcon.gif') no-repeat left center;
}

.SetApprovePostIcon {
	background: url('icons/ApprovePostsIcon.gif') no-repeat left center;
}

.SetApproveIcon {
	background: url('icons/ApproveThreadsIcon.gif') no-repeat left center;
}

.SetCloseIcon {
	background: url('icons/CloseSelectedForum.gif') no-repeat left center;
}

.CloseThreadsIcon {
	background: url('icons/CloseThreadsIcon.gif') no-repeat left center;
}

.CopySelectedPostIcon {
	background: url('icons/CopySelectedPostIcon.gif') no-repeat left center;
}

.DeleteCategoryIcon {
	background: url('icons/DeleteCategoryIcon.gif') no-repeat left center;
}

.DeleteSelectedPostIcon {
	background: url('icons/DeleteSelectedPostIcon.gif') no-repeat left center;
}

.RemoveForumIcon {
	background: url('icons/DeleteThisForumIcon.gif') no-repeat left center;
}

.SetDeleteIcon {
	background: url('icons/DeleteThreadsIcon.gif') no-repeat left center;
}

.DisplayOptionsIcon {
	background: url('icons/DisplayOptionsIcon.gif') no-repeat left center;
}
.EditCategoryIcon {
	background: url('icons/EditCategory.gif') no-repeat left center;
}

.EditForumIcon {
	background: url('icons/EditForum.gif') no-repeat left center;
}

.EditTopicIcon {
	background: url('icons/EditSelectedThreadIcon.gif') no-repeat left center;
}

.EditForumIcon {
	background: url('icons/EditthisForumIcon.gif') no-repeat left center;
}

.EmailThisPageIcon {
	background: url('icons/EmailThisPageIcon.gif') no-repeat left center;
}

.SetLockedIcon {
	background: url('icons/Lock.gif') no-repeat left center;
}

.ManageModerators {
	background: url('icons/Manage.gif') no-repeat left center;
}

.MergeSelectedPostsIcon {
	background: url('icons/MergeSelectedPostsIcon.gif') no-repeat left center;
}

.MergeThreadsIcon {
	background: url('icons/MergeThreadsIcon.gif') no-repeat left center;
}

.ModerationPostIcon {
	background: url('icons/ModerationPostIcon.gif') no-repeat left center;
}

.MoveForumIcon {
	background: url('icons/MoveSelectedForum.gif') no-repeat left center;
}

.MovePostIcon {
	background: url('icons/MoveSelectedPostIcon.gif') no-repeat left center;
}

.MovethisForumIcon {
	background: url('icons/MovethisForumIcon.gif') no-repeat left center;
}

.SetMoveIcon {
	background: url('icons/MoveThreadsIcon.gif') no-repeat left center;
}

.SetOpenIcon {
	background: url('icons/OpenSelectedForum.gif') no-repeat left center;
}

.OpenThreadsIcon {
	background: url('icons/OpenThreadsIcon.gif') no-repeat left center;
}

.PastePostsIcon {
	background: url('icons/PastePostsIcon.gif') no-repeat left center;
}

.PostnewThreadIcon {
	background: url('icons/PostnewThreadIcon.gif') no-repeat left center;
}

.PostsIcon {
	background: url('icons/PostsIcon.gif') no-repeat left center;
}

.PrintPageIcon {
	background: url('icons/PrintThisPageIcon.gif') no-repeat left center;
}

.SplitTopicIcon {
	background: url('icons/SplitThisThreadIcon.gif') no-repeat left center;
}

.StickThreadsIcon {
	background: url('icons/StickThreadsIcon.gif') no-repeat left center;
}

.ThreadsAuto-PruningIcon {
	background: url('icons/ThreadsAuto-PruningIcon.gif') no-repeat left center;
}

.SetUnApproveAttachmentIcon {
	background: url('icons/UnapproveAttachmentsIcon.gif') no-repeat left center;
}

.SetUnApprovePostIcon {
	background: url('icons/UnapprovePostsIcon.gif') no-repeat left center;
}

.SetUnLockIcon {
	background: url('icons/UnLock.gif') no-repeat left center;
}

.SetStickIcon {
	background: url('icons/StickThreadsIcon.gif') no-repeat left center;
}

.SetUnStickIcon {
	background: url('icons/StickThreadsIcon.gif') no-repeat left center;
}