.UIMailPortlet .UIAddNewEvent {
  padding: 8px; 
}

.UIMailPortlet .UIAddNewEvent .ReminderByEmail {
  background: url('background/ReminderTabHeader1x24.gif') repeat-x top ;
  padding: 4px;
  *padding-top: 0px;
}

.UIMailPortlet .UIAddNewEvent .ReminderByEmail input.checkbox{
  float: left;
}

.UIMailPortlet .UIAddNewEvent .ReminderByPopup input.checkbox{
  float: left;
}

.UIMailPortlet .UIAddNewEvent .ReminderByEmail .selectbox{
  width: 92px;
}

.UIMailPortlet .UIAddNewEvent .ReminderByEmail .FieldLabel{
  padding-top: 2px;
  *padding-top: 6px;
  padding-left: 2px;
}

.UIMailPortlet .UIAddNewEvent .ReminderByPopup .selectbox{
  width: 92px;
}

.UIMailPortlet .UIAddNewEvent .ReminderByPopup .FieldLabel{
  padding-top: 2px;
  padding-left: 2px;
}

.UIMailPortlet .UIAddNewEvent .ReminderByPopup {
  background: url('background/ReminderTabHeader1x24.gif') repeat-x top ;
  padding: 4px;
}

.UIMailPortlet .UIAddNewEvent .UIFormGrid{
  margin-top: 10px;
}

.UIMailPortlet .UIAddNewEvent .HorizontalLayout {
  border: none;
}

.UIMailPortlet .UIAddNewEvent .UIFormWithTitle {
  margin: 8px auto ;
}

.UIMailPortlet .UIAddNewEvent .UITabContentContainer .UITabContent {
  border:none;
}

.UIMailPortlet .UIAddNewEvent .HorizontalLayout .DateTime {
  float: left;
  margin-right: 3px;
}

.UIMailPortlet .UIAddNewEvent .UIFormGrid .FieldComponent .Date {
  float: left;
  margin-right: 7px;
  width: 108px;
}

.UIMailPortlet .UIAddNewEvent .UIFormGrid .FieldComponent .Date input{
  font-size: 11px;
  width: 104px;
}

.UIMailPortlet .UIAddNewEvent .UIFormGrid .FieldComponent .Time{
  font-size: 11px;
  float: left;
}

.UIMailPortlet .UIAddNewEvent .UIFormGrid .FieldComponent .Time .selectbox{
  width: 104px;
}

.UIMailPortlet .UIAddNewEvent .UIFormGrid .FieldComponent .ReminderLabel{
  float:left;
}

.UIMailPortlet .UIAddNewEvent .UIFormGrid .FieldComponent .ReminderTime .selectbox{
  width: 60px;
}

.UIMailPortlet .UIAddNewEvent .HorizontalLayout .FieldComponent .UIAction {
  float: left;
  padding: 0px;
  margin-left: 4px; 
}
.UIMailPortlet .UIAddNewEvent .UIFormGrid .FieldComponent .Time .UIComboboxInput{
  width: 120px;
}

