.UIWindow .UIHomePagePortlet {	
	margin: 0px;
	padding: 10px;
}

.UIHomePagePortlet {	
	margin: 0px 5px 5px 5px;
	border: 1px solid #fff;
}

.UIHomePagePortlet .PortletDecoration{	
	padding: 7px 7px 10px 7px;
	border: 1px solid #dedede;
	background: #fff;
}

.UIHomePagePortlet .HomePortletAdBackround{	
	background: #fff url('DefaultSkin/background/BgRepeat.jpg') repeat-x top;
}

.UIHomePagePortlet .LeftAdImage{	
	background: transparent url('DefaultSkin/background/LeftHomePage.jpg') no-repeat left center;
}

.UIHomePagePortlet .RightAdImage {
 background: transparent url('DefaultSkin/background/RightHomePage.jpg') no-repeat right top; 
 height: 229px;
 text-align: right;
 padding-right: 20px;
}

.UIHomePagePortlet .HomePortletAdBackround .EmptyBlock{
	height: 125px;
}

.UIHomePagePortlet .HomePortletAdBackround .ProductSlogan {
	font-size: 22px;
	font-weight: bold;
	height: 58px;
	letter-spacing: 1px;
	color: #656669;
}

.UIHomePagePortlet .HomePortletAdBackround .ProductIntro {
	font-size: 13px;
	letter-spacing: 1px;
	color: #fff;
	line-height: 14px;
}

.UIHomePagePortlet .HomePortletContainer {
}

.UIHomePagePortlet .HomePortletContainer .Mail {
	background: transparent url('DefaultSkin/background/ProductsCS.jpg') no-repeat left top;
	padding-left: 95px;
	height: 89px; line-height: 89px;
}

.UIHomePagePortlet .HomePortletContainer .Calendar {
	background: transparent url('DefaultSkin/background/ProductsCS.jpg') no-repeat left -178px;
	padding-left: 95px;
	height: 89px; line-height: 89px;
}

.UIHomePagePortlet .HomePortletContainer .Addressbook {
	background: transparent url('DefaultSkin/background/ProductsCS.jpg') no-repeat left -267px;
	padding-left: 95px;
	height: 89px; line-height: 89px;
}

.UIHomePagePortlet .HomePortletContainer .BgReat {
	background: url('DefaultSkin/background/ProductsCS.jpg') repeat-x left -89px;
	
}

.UIHomePagePortlet .HomePortletContainer .LableProduct {
	font-family: Arial;
	font-size: 16px;
	color: #454e56;
}

.UIHomePagePortlet .HomePortletContainer .ContentProductsCS {
	background-color: #cacaca;
	padding-left: 30px;
	height: auto;
}

.UIHomePagePortlet .HomePortletContainer .ContentProductsCS .Bullet {
	background: url('DefaultSkin/background/Bullet.gif') no-repeat;
	padding-left: 25px;
}

.UIHomePagePortlet .HomePortletContainer .ContentProductsCS .Text {
	font-size: 11px;
	line-height: 16px;
}

.UIHomePagePortlet .HomePortletContainer .LeftBottom {
	background: transparent url('DefaultSkin/background/BgBottom.gif') no-repeat left top;
	padding-left: 3px;
}

.UIHomePagePortlet .HomePortletContainer .RightBottom {
	background: transparent url('DefaultSkin/background/BgBottom.gif') no-repeat right -7px;
	padding-right: 3px;
	height: 7px;
}

.UIHomePagePortlet .HomePortletContainer .CenterBottom {
	background: url('DefaultSkin/background/BgBottom.gif') repeat-x center -14px;
	
}

/*****************************************************sidebar**********************************************/

.sidebarTDContaineCS {
	width: 220px;
}

.SideBar {
	padding: 8px 8px 22px 8px;
	margin-top: 2px;
	border: 1px solid #dedede;
}


.SideBar .DownloadButton{
	background: #f1f1f1 url('DefaultSkin/background/DownloadButton.gif') no-repeat ;
	width: 192px; height: 89px;
	margin:18px 0px 0px 0px;
}


.SideBar .NormalText{
	padding-left: 30px;
	color: #3d3d3d;
}

.SideBar .DotLine{
	background: url('DefaultSkin/background/DotLine.gif') repeat-x ;
	height: 1px;
	margin: 10px;
}

.SideBar .LeftButton {
	background: url('DefaultSkin/background/LeftButton17x33.gif') no-repeat left;
	padding-left: 17px;
	margin: 10px;
}

.SideBar .RightButton {
	background: url('DefaultSkin/background/RightButton17x33.gif') no-repeat right;
	padding-right: 16px;
}

.SideBar .CenterButton {
	background: url('DefaultSkin/background/CenterButton1x33.gif') repeat-x ;
	line-height: 33px;
	font-size: 18px;
	font-family: tahoma;
	font-weight: bold;
	padding-left: 20px;
	color: white;
}

.SideBar .SignUp {
	font-size: 18px;
	font-family: tahoma;
	font-weight: bold;
	padding-left: 70px;
	color: #e63c00;
}


.SideBar .VersionIcon {
	background: url('DefaultSkin/background/VersionIcon.gif') no-repeat ;
	width: 58px; height: 72px;
	margin: auto;
	padding-bottom: 15px;
}

.SideBar .ProVersion {
	font-family: tahoma;
	font-weight: bold;
	padding-left: 30px;
	color: #5d8c18;
	font-size: 12px;
}

/****************************************************UIBannerPortlet***********************************************/
.UIBannerPortlet {
	overflow: auto;
}

.UIBannerPortlet .LeftBannerCS {
  background: url('DefaultSkin/background/BannerPortlet.gif') repeat-x left top;
}

.UIBannerPortlet .RightBannerCS {
  background: url('DefaultSkin/background/Logo.gif') no-repeat left bottom;
}

.UIBannerPortlet .MiddleBannerCS {
  height: 74px ;
}

.UIBannerPortlet .LeftLoginContainer {
  background: url('DefaultSkin/background/Container.gif') no-repeat top left;
  padding-left: 10px;
  float: right;
  margin-right: 5px;
}

.UIBannerPortlet .RightLoginContainer {
  background: url('DefaultSkin/background/Container.gif') no-repeat top right;
  padding-right: 5px;
}

.UIBannerPortlet .MiddleLoginContainer {
  background: url('DefaultSkin/background/Container.gif') left -50px repeat-x;
  padding: 5px 15px 7px 15px;
}

.UIBannerPortlet .Signin {
  background: url('DefaultSkin/background/Container.gif') left -50px repeat-x;
  padding: 15px 15px 20px 15px;
}

.UIBannerPortlet .MiddleLoginContainer a {
  color: #0d62af;
  display: block;
}

.UIBannerPortlet .MiddleLoginContainer a:hover {
  color: #058ee6;
}

.UIBannerPortlet .MiddleLoginContainer .Name {
	text-align: left;
	color: #0d62af;
	font-size: 10px;
	margin-bottom: 6px;
	line-height: 15px;
}

.UIBannerPortlet .MiddleLoginContainer .Logout {
  background: url('DefaultSkin/background/Container.gif') no-repeat left -144px;
  margin-right: 12px;
  padding-left: 20px;
  cursor: pointer;
  float: left;
  font-weight: bold;
  font-size: 10px;
  display: block;
  line-height: 17px;
}

.UIBannerPortlet .MiddleLoginContainer .Login {
  background: url('DefaultSkin/background/Container.gif') no-repeat left -124px;
  margin-right: 12px;
  padding-left: 20px;
  cursor: pointer;
  float: left;
  font-weight: bold;
  font-size: 10px;
  display: block;
  line-height: 17px;
}
 
.UIBannerPortlet .MiddleLoginContainer .Language {
  background: url('DefaultSkin/background/Container.gif') no-repeat left -105px;
  padding-left: 18px;
  cursor: pointer;
  font-weight: bold;
  float: left;
  display: block;
  font-size: 10px;
  line-height: 17px;
}
