body {
	background: #ebedf2;
}
	
.UIWindow .UIHomePagePortlet {	
	margin: 0px;
	padding: 10px;
}

.UIHomePagePortlet {	
	margin: 0px 5px 5px 5px;
	border: 1px solid #fff;
}

.UIHomePagePortlet .PortletDecoration{	
	padding: 7px 7px 10px 7px;
	border: 1px solid #dedede;
	background: #fff;
}

.UIHomePagePortlet .HomePortletAdBackround{	
	background: #fff url('DefaultSkin/background/BgRepeat.jpg') repeat-x top;
}

.UIHomePagePortlet .LeftAdImage{	
	background: transparent url('DefaultSkin/background/LeftHomePage.jpg') no-repeat left center;
}

.UIHomePagePortlet .RightAdImage {
 background: transparent url('DefaultSkin/background/RightHomePage.jpg') no-repeat right top; 
 height: 229px;
 text-align: right;
 padding-right: 20px;
}

.UIHomePagePortlet .HomePortletAdBackround .EmptyBlock{
	height: 125px;
}

.UIHomePagePortlet .HomePortletAdBackround .ProductSlogan {
	font-size: 22px;
	font-weight: bold;
	height: 58px;
	letter-spacing: 1px;
	color: #656669;
}

.UIHomePagePortlet .HomePortletAdBackround .ProductIntro {
	font-size: 13px;
	letter-spacing: 1px;
	color: #fff;
	line-height: 14px;
}

.UIHomePagePortlet .HomePortletContainer {
}

.UIHomePagePortlet .HomePortletContainer .Mail {
	background: transparent url('DefaultSkin/background/ProductsCS.jpg') no-repeat left top;
	padding-left: 95px;
	height: 89px; line-height: 89px;
}

.UIHomePagePortlet .HomePortletContainer .Calendar {
	background: transparent url('DefaultSkin/background/ProductsCS.jpg') no-repeat left -178px;
	padding-left: 95px;
	height: 89px; line-height: 89px;
}

.UIHomePagePortlet .HomePortletContainer .Addressbook {
	background: transparent url('DefaultSkin/background/ProductsCS.jpg') no-repeat left -267px;
	padding-left: 95px;
	height: 89px; line-height: 89px;
}

.UIHomePagePortlet .HomePortletContainer .BgReat {
	background: url('DefaultSkin/background/ProductsCS.jpg') repeat-x left -89px;
	
}

.UIHomePagePortlet .HomePortletContainer .LableProduct {
	font-family: Arial;
	font-size: 16px;
	color: #454e56;
}

.UIHomePagePortlet .HomePortletContainer .ContentProductsCS {
	background-color: #cacaca;
	padding-left: 30px;
	height: auto;
}

.UIHomePagePortlet .HomePortletContainer .ContentProductsCS .Bullet {
	background: url('DefaultSkin/background/Bullet.gif') no-repeat;
	padding-left: 25px;
}

.UIHomePagePortlet .HomePortletContainer .ContentProductsCS .Text {
	font-size: 11px;
	line-height: 16px;
}

.UIHomePagePortlet .HomePortletContainer .LeftBottom {
	background: transparent url('DefaultSkin/background/BgBottom.gif') no-repeat left top;
	padding-left: 3px;
}

.UIHomePagePortlet .HomePortletContainer .RightBottom {
	background: transparent url('DefaultSkin/background/BgBottom.gif') no-repeat right -7px;
	padding-right: 3px;
	height: 7px;
}

.UIHomePagePortlet .HomePortletContainer .CenterBottom {
	background: url('DefaultSkin/background/BgBottom.gif') repeat-x center -14px;
	
}

/*****************************************************sidebar**********************************************/

.sidebarTDContaineCS {
	width: 220px;
}

.SideBar {
	padding: 8px 8px 22px 8px;
	margin-top: 2px;
	border: 1px solid #dedede;
	background: white;
}

.SideBar .DownloadButton{
	background: #f1f1f1 url('DefaultSkin/background/DownloadButton.gif') no-repeat ;
	width: 192px; height: 89px;
	margin:18px 0px 0px 0px;
}

.SideBar .NormalText{
	padding-left: 30px;
	color: #3d3d3d;
}

.SideBar .DotLine{
	background: url('DefaultSkin/background/DotLine.gif') repeat-x ;
	height: 1px;
	margin: 10px;
}

.SideBar .LeftButton {
	background: url('DefaultSkin/background/LeftButton17x33.gif') no-repeat left;
	padding-left: 17px;
	margin: 10px;
}

.SideBar .RightButton {
	background: url('DefaultSkin/background/RightButton17x33.gif') no-repeat right;
	padding-right: 16px;
}

.SideBar .CenterButton {
	background: url('DefaultSkin/background/CenterButton1x33.gif') repeat-x ;
	line-height: 33px;
	font-size: 18px;
	font-family: tahoma;
	font-weight: bold;
	padding-left: 20px;
	color: white;
}

.SideBar .SignUp {
	font-size: 18px;
	font-family: tahoma;
	font-weight: bold;
	padding-left: 70px;
	color: #e63c00;
}


.SideBar .VersionIcon {
	background: url('DefaultSkin/background/VersionIcon.gif') no-repeat ;
	width: 58px; height: 72px;
	margin: auto;
	padding-bottom: 15px;
}

.SideBar .ProVersion {
	font-family: tahoma;
	font-weight: bold;
	padding-left: 30px;
	color: #5d8c18;
	font-size: 12px;
}

/***************************UIBreadcumbsPortlet**************************/

.UIWindow .UIBreadcumbsPortlet {
  margin: 0px;
}

.UIBreadcumbsPortlet {
  margin: 0 0 3px 0;
}

.UIBreadcumbs {
  line-height: 25px ;
}

.UIBreadcumbs a {
  float: left ;
  color: #6d7fa1 ; 
}

.UIBreadcumbs a.Selected {
  color: black;
}

.UIBreadcumbs .HomeIcon {
  float: left;
  margin: 4px 5px 0 0 ;
}

.UIBreadcumbs .LeftBreadcumbsBar {
  background: url('DefaultSkin/background/BreadcumbBG.gif') repeat-x left top;
  height: 25px;
}

.UIBreadcumbs .RightBreadcumbsBar {
  height: 25px;
  background: none;
}

.UIBreadcumbs .BreadcumbsInfoBar {
  height: 25px; 
  line-height: 25px;
  padding-left: 10px; 
  background: none;
}

.UIBreadcumbs .RightBlackGridArrowIcon {
  float: left;
  margin: 5px 0px 0px 0px;
}