.UIWindow .UIHomePagePortlet {	
	margin: 0px;
	padding: 10px;
}

.UIHomePagePortlet {	
	margin: 0px 5px 5px 5px;
}

.UIHomePagePortlet .PortletDecoration{	
	padding: 8px;
	border: 1px solid #dedede;
	background: #fff;
}

.UIHomePagePortlet .HomePortletAdBackround{	
	background: #fff url('DefaultSkin/background/BgRepeat.jpg') repeat-x top;
}

.UIHomePagePortlet .LeftAdImage{	
	background: transparent url('DefaultSkin/background/LeftHomePage.jpg') no-repeat left center;
	height: 274px;
	text-align: right;
	padding-right: 130px;
}

.UIHomePagePortlet .RightAdImage {
	 background: transparent url('DefaultSkin/background/RightHomePage.jpg') no-repeat right top;
}

.UIHomePagePortlet .HomePortletAdBackround .EmptyBlock{
	height: 148px;
}

.UIHomePagePortlet .HomePortletAdBackround .ProductSlogan {
	font-size: 29px;
	font-weight: bold;
	height: 45px;
	letter-spacing: 1px;
	color: #fff;
}

.UIHomePagePortlet .HomePortletAdBackround .ProductIntro {
	font-size: 15px;
	letter-spacing: 1px;
	color: #fff;
	line-height: 14px;
	border-top: dashed 1px #ffffff;
	width: 300px;
	float: right;
	padding-top: 10px;
}

.UIHomePagePortlet .HomePortletContainer {
	background: #fbfbfc url('DefaultSkin/background/Bg.jpg') repeat-x left top;
	height: 125px;
	border-bottom: solid 1px #d7d7d7;
}

.UIHomePagePortlet .HomePortletContainer .LableProduct {
	font-family: Arial;
	font-size: 16px;
	color: #454e56;
}

.UIHomePagePortlet .HomePortletContainer .ContentProductsCS {
	padding-left: 25px;
	height: auto;
	margin-left: 193px;
	background: transparent url('DefaultSkin/background/BgRightContainter.jpg') no-repeat right top;
	height: 125px;
}

.UIHomePagePortlet .HomePortletContainer .ContentProductsCS .Bullet {
	background: url('DefaultSkin/background/Bullet.gif') no-repeat;
	padding-left: 12px;
}

.UIHomePagePortlet .HomePortletContainer .ContentProductsCS .Text {
	font-size: 11px;
	line-height: 16px;
}

.UIHomePagePortlet .HomePortletContainer .ContainerBox{
	width: 192px;
	color: #000000;
	text-align: center;
	float: left;
}


/*****************************************************Add new HomePagePortlet**********************************************/

.UIHomePagePortlet .HomePortletContainer .LeftTitleHomePage{
	background: url('DefaultSkin/background/BgConerTitle.gif') no-repeat left top;
	padding-left: 4px;
}

.UIHomePagePortlet .HomePortletContainer .RightTitleHomePage{
	background: url('DefaultSkin/background/BgConerTitle.gif') no-repeat right top;
	padding-right: 4px;
}

.UIHomePagePortlet .HomePortletContainer .CenterTitleHomePage{
	background: url('DefaultSkin/background/BgConerTitle.gif') repeat-x left -37px;
	height: 37px;
	line-height: 32px;
	font-size: 14px;
}

.UIHomePagePortlet .HomePortletContainer .ContainerIcon{
	border-right: solid 1px #d7d7d7;
	border-left: solid 1px #d7d7d7;
	padding: 10px 0px;
}

.UIHomePagePortlet .HomePortletContainer .IconCalenda{
	background: url('DefaultSkin/background/ProductsCS.gif') no-repeat center 0px;
	height: 68px;
	width: 74px;
	margin: auto;
}

.UIHomePagePortlet .HomePortletContainer .IconAddressBook{
	background: url('DefaultSkin/background/ProductsCS.gif') no-repeat center -68px;
	height: 68px;
	width: 74px;
	margin: auto;
}

.UIHomePagePortlet .HomePortletContainer .IconMail{
	background: url('DefaultSkin/background/ProductsCS.gif') no-repeat center -136px;
	height: 68px;
	width: 74px;
	margin: auto;
}

.UIHomePagePortlet .HomePortletContainer .IconChat{
	background: url('DefaultSkin/background/ProductsCS.gif') no-repeat center -204px;
	height: 68px;
	width: 74px;
	margin: auto;
}
/*****************************************************sidebar**********************************************/

.sidebarTDContaineCS {
	width: 220px;
}

.SideBar { 
background:white none repeat scroll 0 0;
border:1px solid #DEDEDE;
padding:14px 8px 22px;
}
.SideBarContainer {
  text-align: center;
}
.SideBar .DownloadButton{
	background:url('DefaultSkin/background/DownloadButton.jpg') no-repeat center top;
	height: 110px;
	margin: 18px 0px 0px 0px;
	display: block;
	width: 100%;
	color: #fff;
	cursor: pointer;
}

.SideBar .DownloadButton .TextDownload{
	font-size: 15px;
	font-weight: bold;
}

.SideBar .NormalText { 
    color:#3D3D3D;
    line-height:16px;
	margin-top: 17px;
}

.SideBar .DotLine {
   background:transparent url(DefaultSkin/background/DotLine.gif) repeat-x scroll 0 0;
   height:1px;
   margin:0px 10px;
}
.SideBar .LeftButton {
	background: url('DefaultSkin/background/Button.gif') no-repeat left 0px;
	padding-left: 24px;
	margin: 17px 20px 0px 20px;
}

.SideBar .RightButton {
	background: url('DefaultSkin/background/Button.gif') no-repeat right -79px;
	padding-right: 23px;
}

.SideBar .CenterButton {
	background: url('DefaultSkin/background/Button.gif') repeat-x left -158px;
	height: 74px;
	font-size: 15px;
	font-family: tahoma;
	font-weight: bold;
	padding-top: 5px;
	color: white;
}

.SideBar .CenterButton  .TextBntColla{
	font-size: 11px;
	white-space: nowrap;
	font-weight:normal;
}

.SideBar .SignUp {
   color:#E63C00;
   font-family:tahoma;
   font-size:18px;
   font-weight:bold;
   line-height:30px;
}


.SideBar .VersionIcon {
	background: url('DefaultSkin/background/VersionIcon.gif') no-repeat ;
	width: 58px; height: 72px;
	margin: auto;
	padding-bottom: 15px;
}

.SideBar .ProVersion { 
   color:#e27e26;
   font-family:tahoma;
   font-size:12px;
   font-weight:bold;
   line-height:18px;
}