.UIWindow .UIHomePagePortlet {	
	margin: 0px;
	padding: 10px;
}

.BackgroundHomepage {
	background: #fff url('DefaultSkin/background/BgHomepage.gif') repeat-x top;
}

.UIHomePagePortlet {	
	margin: 0px 20px 0px 90px;
}

.UIHomePagePortlet .PortletDecoration{	
}

.UIHomePagePortlet .HomePortletAdBackround{	
	background:  url('DefaultSkin/background/IMHomepage.jpg') no-repeat top center;
}

.UIHomePagePortlet .RightAdImage {
	background: transparent url('DefaultSkin/background/RightHomePage.gif') no-repeat left 70px; /* orientation=lt */
	background: transparent url('DefaultSkin/background/RightHomePage-rt.gif') no-repeat right 70px; /* orientation=rt */
	height: 190px;
}

.UIHomePagePortlet .HomePortletAdBackround .EmptyBlock{
	height: 71px;
}

.UIHomePagePortlet .HomePortletAdBackround .VersionDemo{
	float: left;
	font-size: 10px;
	font-weight: bold;
	width: 120px;
	margin: 36px 0px 0px 144px;
}

.UIHomePagePortlet .HomePortletAdBackround .RegisterButton{
	float: right;
	cursor: pointer;
}

.UIHomePagePortlet .HomePortletAdBackround .RegisterButton .RegisterButtonL{
	background:  url('DefaultSkin/background/RegisterButtonL.gif') no-repeat left top;
	padding-left: 46px;
}

.UIHomePagePortlet .HomePortletAdBackround .RegisterButton .RegisterButtonR{
	background:  url('DefaultSkin/background/RegisterButtonR.gif') no-repeat right top;
	padding-right: 9px;
}

.UIHomePagePortlet .HomePortletAdBackround .RegisterButton .RegisterButtonC{
	background:  url('DefaultSkin/background/RegisterButtonC.gif') repeat-x top;
	height: 47px;
	padding: 7px 6px 0px 6px;
}

.UIHomePagePortlet .HomePortletAdBackround .BoldLabel{
	font-weight: bold;
	font-size: 13px;
	color: #5a5a5a;
}

.UIHomePagePortlet .HomePortletAdBackround .NormalLabel{
	color: #5a5a5a;
	font-size: 11px;
	text-transform:uppercase;
}

.UIHomePagePortlet .HomePortletAdBackround .LoginButton{
	float: right;
	margin-right: 11px;
	cursor: pointer;
}

.UIHomePagePortlet .HomePortletAdBackround .LoginButton .LoginButtonL{
	background:  url('DefaultSkin/background/LoginButtonL.gif') no-repeat left top;
	padding-left: 46px;
}

.UIHomePagePortlet .HomePortletAdBackround .LoginButton .LoginButtonR{
	background:  url('DefaultSkin/background/RegisterButtonR.gif') no-repeat right top;
	padding-right: 9px;
}

.UIHomePagePortlet .HomePortletAdBackround .LoginButton .LoginButtonC{
	background:  url('DefaultSkin/background/RegisterButtonC.gif') repeat-x top;
	height: 47px;
	padding: 7px 6px 0px 6px;
}

.UIHomePagePortlet .HomePortletAdBackround .ProductSlogan {
	font-size: 29px;
	font-weight: bold;
	height: 45px;
	letter-spacing: 1px;
	color: #fff;
}

.UIHomePagePortlet .HomePortletAdBackround .ProductIntro {
	font-size: 15px;
	letter-spacing: 1px;
	color: #fff;
	line-height: 14px;
	border-top: dashed 1px #ffffff;
	width: 300px;
	float: right;  /* orientation=lt */
	float: left;  /* orientation=rt */
	padding-top: 10px;
}

.UIHomePagePortlet td .BlockAddressBook{
	margin: 0px 0px 10px 0px;
}

.UIHomePagePortlet .HomePortletContainer {
	background: #fbfbfc url('DefaultSkin/background/Bg.gif') repeat-x left top;
	border: solid 1px #d7d7d7;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	margin: 0px 8px 10px 0px; /* orientation=lt */
	margin: 0px 0px 10px 8px; /* orientation=rt */
}

.UIHomePagePortlet .HomePortletContainer .LableProduct {
	font-family: Arial;
	font-size: 16px;
	color: #454e56;
}

.UIHomePagePortlet .HomePortletContainer .ContentProductsCS {
	padding: 0px 0px 8px 8px; /* orientation=lt */
	padding: 0px 8px 8px 0px; /* orientation=rt */
	height: auto;
	margin-left: 100px; /* orientation=lt */
	margin-right: 100px; /* orientation=rt */
}

.UIHomePagePortlet .HomePortletContainer .ContentProductsCS .ProductLabel{
	border-bottom:1px solid #D7D7D7;
	font-size:16px;
	font-weight:bold;
	padding:8px 0 5px 4px;
	width:90%;
}

.UIHomePagePortlet .HomePortletContainer .ContentProductsCS .Text {
	font-size: 11px;
	line-height: 20px;
}

.UIHomePagePortlet .HomePortletContainer .ContainerBox{
	width: 102px;
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
}

.UIHomePagePortlet .HomePortletContainer .ContainerBox .IconLink{
	height: 88px;
	width: 65px;
	display: block;
}


/*****************************************************Add new HomePagePortlet**********************************************/

.UIHomePagePortlet .HomePortletContainer .LeftTitleHomePage{
	background: url('DefaultSkin/background/BgConerTitle.gif') no-repeat left top; /* orientation=lt */
	background: url('DefaultSkin/background/BgConerTitle-rt.gif') no-repeat right top; /* orientation=rt */
	padding-left: 3px; /* orientation=lt */
	padding-right: 3px; /* orientation=rt */
}

.UIHomePagePortlet .HomePortletContainer .RightTitleHomePage{
	background: url('DefaultSkin/background/BgConerTitle.gif') no-repeat right top; /* orientation=lt */
	background: url('DefaultSkin/background/BgConerTitle-rt.gif') no-repeat left top; /* orientation=rt */
	padding-right: 3px; /* orientation=lt */
	padding-left: 3px; /* orientation=rt */
}

.UIHomePagePortlet .HomePortletContainer .CenterTitleHomePage{
	background: url('DefaultSkin/background/BgConerTitle.gif') repeat-x left -37px;
	height: 37px;
	line-height: 32px;
	font-size: 14px;
}

.UIHomePagePortlet .HomePortletContainer .ContainerIcon{
	border-right: solid 1px #d7d7d7;
	border-left: solid 1px #d7d7d7;
	padding: 10px 0px;
}

.UIHomePagePortlet .HomePortletContainer .IconCalenda{
	background: url('DefaultSkin/background/ProductsCS.gif') no-repeat center 0px;
	height: 88px;
	width: 65px;
	margin: auto;
}

.UIHomePagePortlet .HomePortletContainer .IconAddressBook{
	background: url('DefaultSkin/background/ProductsCS.gif') no-repeat center -159px;
	height: 88px;
	width: 65px;
	margin: auto;
}

.UIHomePagePortlet .HomePortletContainer .IconMail{
	background: url('DefaultSkin/background/ProductsCS.gif') no-repeat center -438px;
	height: 88px;
	width: 65px;
	margin: auto;
}

.UIHomePagePortlet .HomePortletContainer .IconChat{
	background: url('DefaultSkin/background/ProductsCS.gif') no-repeat center -293px;
	height: 88px;
	width: 65px;
	margin: auto;
}
/*****************************************************sidebar**********************************************/

.sidebarTDContaineCS {
	width: 345px;
}

.SideBar { 
	margin:14px 90px 22px 0px;
}

.SideBarContainer {

}

.SideBar .SideBarTL{ 
	background:url('DefaultSkin/background/SideBarTL.gif') no-repeat left top;
	padding-left: 6px;
}

.SideBar .SideBarTR{ 
	background:url('DefaultSkin/background/SideBarTR.gif') no-repeat right top;
	padding-right: 6px;
}

.SideBar .SideBarTC{ 
	border-top: 1px solid #cfcfcf;
	height: 5px;
}

.SideBar .SideBarML{ 
	border-left: 1px solid #cfcfcf;
}

.SideBar .SideBarMR{ 
	border-right: 1px solid #cfcfcf;
}

.SideBar .SideBarMC{ 
	padding: 8px 8px 193px 8px;
}

.SideBar .SideBarBL{ 
	background:url('DefaultSkin/background/SideBarBL.gif') no-repeat left top;
	padding-left: 6px;
}

.SideBar .SideBarBR{ 
	background:url('DefaultSkin/background/SideBarBR.gif') no-repeat right top;
	padding-right: 6px;
}

.SideBar .SideBarBC{ 
	border-bottom: 1px solid #cfcfcf;
	height: 5px;
}



.SideBar .DownloadButton{
	background:url('DefaultSkin/background/DownloadButton.png') no-repeat center top;
	height: 125px;
	margin: 36px 0px 0px 0px;
	display: block;
	width: 100%;
	cursor: pointer;
	border-bottom: 1px solid #b7b7b7;
}

.SideBar .DownloadButton .TextDownload{
	font-size: 14px;
	font-weight: bold;
}

.SideBar .NormalText { 
    line-height:16px;
	margin-top: 24px;
	margin-left: 34px;
}

.SideBar .AlignBnt{
	margin: 0px 25px;
}

.SideBar .LeftButton {
	background: url('DefaultSkin/background/Button.gif') no-repeat left top;	
	padding-left: 23px;
	margin: 20px 15px 0px 15px;
	height: 74px;
}

.SideBar .RightButton {
	background: url('DefaultSkin/background/Button.gif') no-repeat right -79px;  
	padding-right: 23px;
	height: 74px;
}

.SideBar .CenterButton {
	background: url('DefaultSkin/background/Button.gif') repeat-x left -158px;
	height: 69px;
	font-size: 15px;
	font-family: tahoma;
	font-weight: bold;
	padding-top: 5px;
	color: white;
}

.SideBar .CenterButton  .TextBntColla{
	font-size: 11px;
	white-space: nowrap;
	font-weight:normal;
}

.SideBar .SignUp {
   color:#E63C00;
   font-family:tahoma;
   font-size:18px;
   font-weight:bold;
   line-height:30px;
}


.SideBar .VersionIcon {
	background: url('DefaultSkin/background/VersionIcon.gif') no-repeat ;
	width: 58px; height: 72px;
	margin: auto;
	padding-bottom: 15px;
}

.SideBar .ProVersion { 
   color:#369a00;
   font-family:tahoma;
   font-size:14px;
   font-weight:bold;
   line-height:18px;
}

/***********************************banner**********************************/
