.UIHomePagePorlet{
	margin:0 auto;
	padding-top:1px;
	width:984px;
}

.UIHomePagePorlet .CSHomeContainer a:hover {
	text-decoration: underline;
}

.UIPageBody .VIEW-PAGEBODY .UIPage .UIComponentBlock {
	background:#eeeeee;
}

.UIHomePagePorlet .CSProductName {
	background: url('DefaultSkin/background/BannerDefault.gif') no-repeat center top;  /* orientation=lt */
	background: url('DefaultSkin/background/BannerDefault-rt.gif') no-repeat center top;  /* orientation=rt */
	height: 233px;
	margin: 5px auto auto;
	padding: 66px 45px 0;
	text-align:right;
}

.UIHomePagePorlet .CSProductName h2 {
	font-size:52px;
	color: #FFF;
	font-family:Hattori,Lucida sans,Tahoma,Verdana,Arial,Helvetica,sans-serif;
	font-weight: normal;
}

.UIHomePagePorlet .CSProductName h3 {
	font-size:35px;
	color: #FFF;
	font-family:Hattori,Lucida sans,Tahoma,Verdana,Arial,Helvetica,sans-serif;
	font-weight: normal;
}

.UIBox  {
	width: 981px;
	margin: 5px auto;
	background: url('DefaultSkin/background/BgBox.png') repeat-y left top; /* orientation=lt */
	background: url('DefaultSkin/background/BgBox-rt.png') repeat-y left top; /* orientation=rt */
}

.UIBox .BoxBottom {
	background: url('DefaultSkin/background/Box.png') no-repeat -982px bottom; /* orientation=lt */
	background: url('DefaultSkin/background/Box-rt.png') no-repeat -982px bottom; /* orientation=rt */
}

.UIBox .BoxTop{
	background: url('DefaultSkin/background/Box.png') no-repeat left top; /* orientation=lt */
	background: url('DefaultSkin/background/Box-rt.png') no-repeat right top; /* orientation=rt */
}

.UIHomePagePorlet .Container {
	width: 490px;
}

.UIBox .Container .BoxDocument {
	padding-left: 66px; /* orientation=lt */
	padding-right: 66px; /* orientation=rt */
	background: url('DefaultSkin/background/IconDoc.gif') no-repeat left top; /* orientation=lt */
	background: url('DefaultSkin/background/IconDoc-rt.gif') no-repeat right top; /* orientation=rt */
	margin: 14px 15px 16px;
}

.UIBox .Container .BoxTry {
	padding-left: 108px; /* orientation=lt */
	padding-right: 108px; /* orientation=rt */
	background: url('DefaultSkin/background/logo.gif') no-repeat left top; /* orientation=lt */	
	background: url('DefaultSkin/background/logo.gif') no-repeat right top; /* orientation=rt */	
	margin: 14px 15px 16px;
	padding-bottom:2px;
}

.UIBox .Container h4 {
	font-family:Lucida;
	font-size: 20px;
	color: #20263f;
	line-height: 28px;
	margin: 0;
}

.UIBox .Container .ArrowBlue {
	font-family:Lucida;
	padding-left:18px; /* orientation=lt */
	padding-right:18px; /* orientation=rt */
	color: #0068ff;
	background: url('DefaultSkin/background/ArrowBlue.gif') no-repeat left 2px; /* orientation=lt */
	background: url('DefaultSkin/background/ArrowBlue-rt.gif') no-repeat right 2px; /* orientation=rt */
	line-height: 25px;
	font-size: 16px;
	font-weight: bold;
}

.CSHomeContainer .LeftContainer {
	margin-right: 241px; /* orientation=lt */
	margin-left: 241px; /* orientation=rt */
	overflow:hidden;
}

.CSHomeContainer .LeftContainer .RowContent a {
	font-size: 14px;
}

.CSHomeContainer .LeftContainer .RowContent a:hover {
	text-decoration: none !important;
}

.CSHomeContainer .LeftContainer .RowContent  {	
	padding: 5px 0px 5px 24px; /* orientation=lt */
	padding: 5px 24px 5px 0px; /* orientation=rt */
}

.CSHomeContainer .LeftContainer .RowContent .ProductTitle {
	font-size: 18px;
	line-height: 26px;
	font-weight: normal;
}

.CSHomeContainer .LeftContainer .ListArrow {
	background:url('DefaultSkin/background/IconList.gif') no-repeat  left center;  /* orientation=lt */
	background:url('DefaultSkin/background/IconList-rt.gif') no-repeat  right center;  /* orientation=rt */
	color:#565759;
	padding-left: 13px; /* orientation=lt */
	padding-right: 13px; /* orientation=rt */
	line-height: 18px;
	font-size: 12px;
}

.CSHomeContainer .LeftContainer .ColsProduct {
	width: 363px;
}

.CSHomeContainer .LeftContainer .Information {
	background:url('DefaultSkin/background/ArrowBlack.gif') no-repeat  left center; /* orientation=lt */
	background:url('DefaultSkin/background/ArrowBlack-rt.gif') no-repeat  right center; /* orientation=rt */
	font-size: 14px;
	padding:4px 0 6px 15px; /* orientation=lt */
	padding:4px 15px 6px 0; /* orientation=rt */
	color: #20263f;
}

/* style for  corner */

.DecorationTop  {
	background:url('DefaultSkin/background/Decoration.png') no-repeat left top; /* orientation=lt */
	background:url('DefaultSkin/background/Decoration-rt.png') no-repeat right top; /* orientation=rt */
	padding-top:8px;
}

.DecorationTop .DecorationBottom {
	background:url('DefaultSkin/background/Decoration.png') no-repeat -982px bottom; /* orientation=tt */
	background:url('DefaultSkin/background/Decoration-rt.png') no-repeat -979px bottom; /* orientation=rt */
	padding-bottom:12px;
}

.DecorationTop .DecorationCenter {
	background:url('DefaultSkin/background/Decoration.png') repeat-y -1964px center; /* orientation=lt */
	background:url('DefaultSkin/background/Decoration-rt.png') repeat-y 3px center; /* orientation=rt */
}

.CSHomeContainer .BorderBottom {
	border-bottom: 1px solid #eeeeee;
}

.CSHomeContainer .RowContent .Introduction {
	padding-bottom:0;
	font-size:14px;
	color: #20263f;
}

.CSHomeContainer .RowContent .TextBold {
	font-size:14px;
	font-weight:bold;
	line-height:20px;
}

.CSHomeContainer .RowContent .Introduction  span{	
	color: #20263f;
	font-size: 14px;
}

.CSHomeContainer .RightContainer {
	width: 225px;
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
	margin-right: 2px; /* orientation=lt */
	margin-left: 2px; /* orientation=rt */
	padding: 10px 5px;
	min-height: 300px;
}
	
.CSHomeContainer .RightContainer .DecorationMC .ClearFix{
	padding: 15px 0 0 6px;  /* orientation=lt */
	padding: 15px 6px 0 0; /* orientation=rt */
}

.CSHomeContainer .BlockWebsite {
	padding-bottom:25px;
	text-align:center;
	width: 90px;
}

.CSHomeContainer .BlockResource {
	padding-bottom:25px;
	text-align:center;
	width: 125px;
}

.CSHomeContainer .TxtLinkIcon {
	font-weight: bold;
	color: #565759;	
	display:block;
	padding-top: 5px;
}

.CSHomeContainer .TxtLinkIcon:hover {
	text-decoration: none !important;
}

.CSHomeContainer .RightContainer .Icon {
	display: block;
	height:53px;
	margin:auto;
	width:57px;
}

.CSHomeContainer .RightContainer .IconContact {
	background:url('DefaultSkin/background/IconPlatForm.png') no-repeat left -273px; /* orientation=lt */
	background:url('DefaultSkin/background/IconPlatForm-rt.png') no-repeat right -273px; /* orientation=rt */
}

.CSHomeContainer .RightContainer .IconResource {
	background:url('DefaultSkin/background/IconPlatForm.png') no-repeat left top; /* orientation=lt */
	background:url('DefaultSkin/background/IconPlatForm-rt.png') no-repeat right top; /* orientation=rt */
}

.CSHomeContainer .RightContainer .IconSupport {
	background:url('DefaultSkin/background/IconPlatForm.png') no-repeat left -55px; /* orientation=lt */
	background:url('DefaultSkin/background/IconPlatForm-rt.png') no-repeat left -55px; /* orientation=rt */
}

.CSHomeContainer .RightContainer .IconTraining {
	background:url('DefaultSkin/background/IconPlatForm.png') no-repeat left -110px; /* orientation=lt */
	background:url('DefaultSkin/background/IconPlatForm-rt.png') no-repeat right -110px; /* orientation=rt */
}

.CSHomeContainer .RightContainer .IconBlog {
	background:url('DefaultSkin/background/IconPlatForm.png') no-repeat left -165px; /* orientation=lt */
	background:url('DefaultSkin/background/IconPlatForm-rt.png') no-repeat right -165px; /* orientation=rt */
}

.CSHomeContainer .RightContainer .IconWebsite {
	background:url('DefaultSkin/background/IconPlatForm.png') no-repeat left -220px; /* orientation=lt */
	background:url('DefaultSkin/background/IconPlatForm-rt.png') no-repeat right -220px; /* orientation=rtt */
}

.UIWorkingWorkspace .UIFooterPortlet .CopyrightInfo  {
	color:#7b7b7b;
	font-size:11px;
	padding:10px 0;
	text-align:center;
	font-weight: normal;
	background-color: #EEE;
}