.UIHomePage {
	margin:0 auto;
	padding-top:7px;
	width:984px;
}

.UIHomePage  .CSHomeContainer a:hover {
	text-decoration: underline;
}

.UIPageBody .VIEW-PAGEBODY .UIPage .UIComponentBlock {
	background:#eeeeee;
}

.UIHomePage .BannerDefault {
	background: url("/csdemo/templates/skin/webui/component/UIHomePagePortlet/DefaultSkin/background/BannerDefault.gif") no-repeat left top;
	height: 300px;
	width: 984px;
}

.UIHomePage .BannerDefault .CSProductName {
	padding: 66px 45px;
	text-align: right;	
}

.UIHomePage .BannerDefault .CSProductName h2 {
	font-size:52px;
	color: #FFF;
	font-family:Hattori,Lucida sans,Tahoma,Verdana,Arial,Helvetica,sans-serif;
	font-weight: normal;
}

.UIHomePage .BannerDefault .CSProductName h3 {
	font-size:35px;
	color: #FFF;
	font-family:Hattori,Lucida sans,Tahoma,Verdana,Arial,Helvetica,sans-serif;
	font-weight: normal;
}

.UIHomePage .BoxButton  {
	padding:2px 0 4px 0;
}

.UIHomePage .BoxButton  .Container {
	width: 492px;
	height: 94px;	
}

.UIHomePage .BoxButton  .FL {
	background: url("/csdemo/templates/skin/webui/component/UIHomePagePortlet/DefaultSkin/background/BgDocument.gif") no-repeat left top;
}


.UIHomePage .BoxButton  .FR {
	background: url("/csdemo/templates/skin/webui/component/UIHomePagePortlet/DefaultSkin/background/BgTry.gif") no-repeat left top;	
}

.UIHomePage .BoxButton  .Container .BoxDocument {
	padding-left: 66px;
	background: url("/csdemo/templates/skin/webui/component/UIHomePagePortlet/DefaultSkin/background/IconDoc.gif") no-repeat left top;
	height: 54px;
	margin: 19px 0 0 15px;
}

.UIHomePage .BoxButton  .Container .BoxTry {
	padding-left: 108px;
	height: 54px;
	background: url("/csdemo/templates/skin/webui/component/UIHomePagePortlet/DefaultSkin/background/PlatformIcon.gif") no-repeat left top;	
	margin: 19px 0 0 20px;
}

.UIHomePage .BoxButton  .Container  h4 {	
	font-size: 20px;
	color: #20263f;
	line-height: 28px;
}

.UIHomePage .BoxButton  .Container  .ArrowBlue {
	font-weight: bold;
	padding-left:14px;
	background: url("/csdemo/templates/skin/webui/component/UIHomePagePortlet/DefaultSkin/background/ArrowBlue.gif") no-repeat left center;	
	line-height: 25px;
	font-size: 16px;
}

.CSHomeContainer  .LeftContainer {
	margin-right: 270px;
}

.CSHomeContainer  .LeftContainer .RowContent  a{
	font-size: 14px;
}


.CSHomeContainer  .LeftContainer  .RowContent  {	
	padding: 5px 0 5px 24px;
}

.CSHomeContainer .LeftContainer  .RowContent .ProductTitle {
	font-size: 18px;
	line-height: 26px;
	font-weight: normal;
}

.CSHomeContainer  .LeftContainer  .ListArrow {
	background:url("/csdemo/templates/skin/webui/component/UIHomePagePortlet/DefaultSkin/background/IconList.gif") no-repeat  left center;
	color:#626262;
	padding-left:15px;
	line-height: 20px;
	
}

.CSHomeContainer  .LeftContainer  .ColsProduct {
	width: 363px;
}

.CSHomeContainer  .LeftContainer  .Information {
	background:url("/csdemo/templates/skin/webui/component/UIHomePagePortlet/DefaultSkin/background/ArrowBlack.gif") no-repeat  left center;
	font-size: 14px;
	padding:4px 0 6px 15px;
	color: #20263f;
}


/* style for  corner */

.DecorationContainer  .DecorationTL {
	background:url("/csdemo/templates/skin/webui/component/UIHomePagePortlet/DefaultSkin/background/BgBorder.gif") no-repeat left top ;
	padding-left:10px;
}

.DecorationContainer  .DecorationTR {
	background:url("/csdemo/templates/skin/webui/component/UIHomePagePortlet/DefaultSkin/background/BgBorder.gif") no-repeat  right -20px ;
	padding-right:10px;
}

.DecorationContainer .DecorationTC {
	background:url("/csdemo/templates/skin/webui/component/UIHomePagePortlet/DefaultSkin/background/BgBorder.gif") repeat-x  left -10px ;
	padding-top:10px;
}

.DecorationContainer .DecorationML {
	background:url("/csdemo/templates/skin/webui/component/UIHomePagePortlet/DefaultSkin/background/BgMiddle.gif") repeat-y  left top ;
	padding-left:3px;
}

.DecorationContainer .DecorationMR {
	background:url("/csdemo/templates/skin/webui/component/UIHomePagePortlet/DefaultSkin/background/BgMiddle.gif") repeat-y  right top ;
	padding-right:3px;
}


.CSHomeContainer .DecorationContainer .DecorationMC {
	background: #FFF;
	overflow: hidden;
	min-height: 365px;
	_height: 365px;
}

.DecorationContainer .DecorationBL {
	background:url("/csdemo/templates/skin/webui/component/UIHomePagePortlet/DefaultSkin/background/BgBorder.gif") no-repeat  left -30px;
	padding-left:10px;
}

.DecorationContainer .DecorationBR {
	background:url("/csdemo/templates/skin/webui/component/UIHomePagePortlet/DefaultSkin/background/BgBorder.gif") no-repeat right -50px;
	padding-right:10px;	
}

.DecorationContainer .DecorationBC {
	background:url("/csdemo/templates/skin/webui/component/UIHomePagePortlet/DefaultSkin/background/BgBorder.gif") repeat-x  left -40px;
	padding-top:10px;
}

.CSHomeContainer .BorderBottom {
	border-bottom: 1px solid #eeeeee;
	
}

.CSHomeContainer .RowContent .Introduction {
	font-size: 14px;
	line-height: 22px;	
	color: #20263f;
}
.CSHomeContainer .RowContent .Introduction  span{	
	color: #20263f;
	font-size: 14px;
}

.CSHomeContainer .RightContainer {
	width: 264px;
	float: right;
}
	
.CSHomeContainer .RightContainer .DecorationMC .ClearFix{
	padding: 15px 0 0 6px;
}


.CSHomeContainer  .BlockWebsite {
	padding-bottom:10px;
	text-align:center;
	width:112px;
}


.CSHomeContainer  .TxtLinkIcon {
	font-weight: bold;
	color: #565759;	
	display:block;
	padding-top: 5px;
}

.CSHomeContainer  .BlockWebsite .Icon {
	display: block;
	height:54px;
	margin:auto;
	width:57px;
	background:url("/csdemo/templates/skin/webui/component/UIHomePagePortlet/DefaultSkin/background/IconPlatForm.png") no-repeat;
}

.CSHomeContainer .BlockWebsite  .IconContact {
	background-position: left -274px;
}


.CSHomeContainer  .BlockWebsite .IconResource {
	background-position: left top;
}

.CSHomeContainer .BlockWebsite .IconSupport {
	background-position: left -55px;	
}

.CSHomeContainer  .BlockWebsite .IconTraining {
	background-position: left -110px;
}

.CSHomeContainer  .BlockWebsite .IconBlog {
	background-position: left -165px;
}

.CSHomeContainer  .BlockWebsite .IconWebsite {
	background-position: left -220px;
}


.UIWorkingWorkspace .UIFooterPortlet .CopyrightInfo  {
	color:#7b7b7b;
	font-size:11px;
	padding:10px 0;
	text-align:center;
	font-weight: normal;
	background-color: #EEE;
}