.UIMailPortlet .TagIcon {
	background: url('icons/RedTag.gif') no-repeat;
	width: 16px; height: 16px;
	cursor: pointer;
	float: left;
}

.UIMailPortlet .CheckedMenu {
	background: url('icons/BlueCheckerIcon.gif') no-repeat left center;
}

.UIMailPortlet .MaximizeReadingPane {
	background: url('icons/MaximizeReadingPane.gif') no-repeat;
	width: 17px; height: 16px;
	cursor: pointer;
}

.UIMailPortlet .MinimumReadingPane {
	background: url('icons/MinimumReadingPane.gif') no-repeat;
	width: 17px; height: 16px;
	cursor: pointer;
}

.UIMailPortlet .PriorityIcon {
	background: url('icons/LowPriorityIcon.gif') no-repeat;
	width: 16px; height: 16px;
}

.UIMailPortlet .PriorityHighlightIcon {
	background: url('icons/PriorityHighLight.gif') no-repeat;
	width: 16px; height: 16px;
}

.UIMailPortlet .TotalMessageIcon {
	background: url('icons/TotalMessageIcon.gif') no-repeat;
	width: 16px; height: 16px;
}

.UIMailPortlet .DownArrow3Icon {
	background: url('icons/BlackDownArrow.gif') no-repeat left center;
	height: 16px; width: 16px;
	cursor: pointer;
}

.UIMailPortlet .AddressIcon {
	background: url('icons/AddressBookIcon.gif') no-repeat left center;
}

.UIMailPortlet .BlueTag {
	background: url('icons/BlueTag.gif') no-repeat left center; /* orientation=lt */
	background: url('icons/BlueTag.gif') no-repeat right center; /* orientation=rt */
}

.UIMailPortlet .RedTag {
	background: url('icons/RedTag.gif') no-repeat left center;
}

.UIMailPortlet .GreenTag {
	background: url('icons/GreenTag.gif') no-repeat left center;
}

.UIMailPortlet .VioletTag {
	background: url('icons/VioletTag.gif') no-repeat left center;
}

.UIMailPortlet .brownTag {
	background: url('icons/brownTag.gif') no-repeat left center;
}

.UIMailPortlet .OrangeTag {
	background: url('icons/OrangeTag.gif') no-repeat left center;
}

.UIMailPortlet .PingTag {
	background: url('icons/PingTag.gif') no-repeat left center;
}

.UIMailPortlet .PingVioletTag {
	background: url('icons/PingVioletTag.gif') no-repeat left center;
}

.UIMailPortlet .YellowTag {
	background: url('icons/YellowTag.gif') no-repeat left center;
}

.UIMailPortlet .MultipTag {
	background: url('icons/MultipTag.gif') no-repeat left center;
}

.UIMailPortlet .MoreActionsIcon {
	background: url('icons/MoreActions.gif') no-repeat left; /* orientation=lt */
	background: url('icons/MoreActions.gif') no-repeat right; /* orientation=rt */
}

.UIMailPortlet .View {
	background: url('icons/View.gif') no-repeat left; /* orientation=lt */
	background: url('icons/View.gif') no-repeat right; /* orientation=rt */
}

.UIMailPortlet .ReplyMailIcon {
	background: url('icons/Replyicon16x14.gif') no-repeat left 6px;
}

.UIMailPortlet .ReplyIcon {
	background: url('icons/ReplyIcon.gif') no-repeat left 6px;
}

.UIMailPortlet .DeleteMailIcon {
	background: url('icons/DeleteMail16x11.gif') no-repeat left 6px;
}

.UIMailPortlet .ExportIcon {
	background: url('icons/ExportMail.gif') no-repeat left 6px;
}

.UIMailPortlet .ViewFullHeadersIcon {
	background: url('icons/ViewFullHeaders.gif') no-repeat left 6px;
}

.UIMailPortlet .AddContactIcon {
	background: url('icons/AddContact16x13.gif') no-repeat left 6px;
}


.UIMailPortlet .PrintMailIcon {
	background: url('icons/Printmail16x16.gif') no-repeat left 6px;
}

.UIMailPortlet .ReplyAllMailIcon {
	background: url('icons/ReplyAllcon16x14.gif') no-repeat left 6px;
}

.UIMailPortlet .ForwardMailIcon {
	background: url('icons/Forward16x14.gif') no-repeat left 6px;
}

.UIMailPortlet .MoveMailIcon {
	background: url('icons/MoveMessageIcon.gif') no-repeat left 6px;
}

.UIMailPortlet .CreateFilterIcon {
	background: url('icons/FilterAddIcon.gif') no-repeat left 6px;
}

.UIMailPortlet .TagMailIcon {
	background: url('icons/VioletTag.gif') no-repeat left 6px;
}

.UIMailPortlet .OpenMailIcon {
	background: url('icons/ReadMessagesIcon.gif') no-repeat left 6px;
}

.UIMailPortlet .ReplyAllIcon {
	background: url('icons/ReplyAllIcon.gif') no-repeat left 6px;
}

.UIMailPortlet .ForwardIcon {
	background: url('icons/ForwardIcon.gif') no-repeat left 6px;
}

.UIMailPortlet .DefaultLayoutIcon {
	background: url('icons/DefaultLayout.gif') no-repeat left 6px;
}

.UIMailPortlet .HideFolderListIcon {
	background: url('icons/HideFolderList.gif') no-repeat left 6px;
}

.UIMailPortlet .HideMessagesPaneIcon {
	background: url('icons/HideMessagesPane.gif') no-repeat left 6px;
}

.UIMailPortlet .HideReadingPaneIcon {
	background: url('icons/HideReadingPane.gif') no-repeat left 6px;
}

.UIMailPortlet .EditDraftIcon {
	background: url('icons/EditDraftsIcon.gif') no-repeat left;
}

.UIMailPortlet .PrintIcon {
	background: url('icons/PrintIcon.gif') no-repeat center;
	width: 2px; height: 26px;
}

.UIMailPortlet .MarkReadIcon {
	background: url('icons/MarkReadIcon.gif') no-repeat;
}

.UIMailPortlet .MarkUnreadIcon {
	background: url('icons/MarkUnreadIcon.gif') no-repeat left;
}

.UIMailPortlet .RemoveStarIcon {
	background: url('icons/RemoveStarIcon.gif') no-repeat;
}

.UIMailPortlet .MoveMessageIcon {
	background: url('icons/MoveMessageIcon.gif') no-repeat;
}

.UIMailPortlet .ImportMessageIcon {
	background: url('icons/ImportMessageIcon.gif') no-repeat;
}

.UIMailPortlet .EmportMessageIcon {
	background: url('icons/EmportMessageIcon.gif') no-repeat;
}

.UIMailPortlet .AllMessagesIcon {
	background: url('icons/AllMessagesIcon.gif') no-repeat;
}

.UIMailPortlet .ViewAsIcon {
	background: url('icons/ViewAsIcon.gif') no-repeat left 6px;
}

.UIMailPortlet .ListIcon {
	background: url('icons/ListIcon.gif') no-repeat;
}

.UIMailPortlet .ThreadIcon {
	background: url('icons/ThreadIcon.gif') no-repeat;
}

.UIMailPortlet .ConversationIcon {
	background: url('icons/ConversationIcon.gif') no-repeat;
}

.UIMailPortlet .UIDayViewIcon {
	background: url('icons/CalendarIcons.gif') no-repeat;
	margin: 1px 0px 0px 10px; /* orientation=lt */
	margin: 1px 10px 0px 0px; /* orientation=rt */
	line-height: 27px;
	padding-left: 24px; /* orientation=lt */
	padding-right: 24px; /* orientation=rt */
}


.UIMailPortlet .StaredMessagesIcon {
	background: url('icons/AllMessagesIcon.gif') no-repeat;
}

.UIMailPortlet .UnreadMessagesIcon {
	background: url('icons/UnreadMessagesIcon.gif') no-repeat;
}

.UIMailPortlet .ReadMessagesIcon {
	background: url('icons/ReadMessagesIcon.gif') no-repeat;
}

.UIMailPortlet .MessagesAttachmentIcon {
	background: url('icons/MessagesAttachmentIcon.gif') no-repeat;
}

.UIMailPortlet .DeleteIcon {
	background: url('icons/Dustbin.gif') no-repeat center;
	width: 2px; height: 26px;
}

.UIMailPortlet .UnStarredIcon {
	background: url('icons/NomalStarIcon.gif') no-repeat;
	width: 16px; height: 16px;
	cursor: pointer;
}

.UIMailPortlet .StarredIcon {
	background: url('icons/HighLightStarIcon.gif') no-repeat;
	width: 16px; height: 16px;
	cursor: pointer;
}

.UIMailPortlet .AttachmentIcon {
	background: url('icons/AttackmentIcon.gif') no-repeat;
	width: 16px; height: 16px;
	cursor: pointer;
}

.UIMailPortlet .WarningAttachmentIcon {
	background: url('icons/WarningAttachmentIcon.gif') no-repeat;
	width: 16px; height: 16px;
	cursor: pointer;
}


.UIMailPortlet .NomalReadingPane {
	background: url('icons/NomalReadingPane.gif') no-repeat;
	width: 17px; height: 16px;
	cursor: pointer;
}

.UIMailPortlet .NextPageArrow {
	background: url('icons/NextPage.gif') no-repeat;
	width: 16px; height: 16px;
	cursor: pointer;
}

.UIMailPortlet .LastPageArrow {
	background: url('icons/LastPage.gif') no-repeat;
	width: 16px; height: 16px;
	cursor: pointer;
}

.UIMailPortlet .FirstPageArrow{
	background: url('icons/PreviousPage.gif') no-repeat;
	width: 16px; height: 16px;
	cursor: pointer;
}

.UIMailPortlet .PreviousPageArrow {
	background: url('icons/BackPage.gif') no-repeat;
	width: 16px; height: 16px;
	cursor: pointer;
}

.UIMailPortlet .FolderIcon {
	background: url('icons/FolderIcon.gif') no-repeat left center; /* orientation=lt */
	background: url('icons/FolderIcon.gif') no-repeat right center; /* orientation=rt */
}

.UIMailPortlet .AccountIcon {
	background: url('icons/AccountIcon.gif') no-repeat;
	height: 16px; width: 17px;
}

.UIMailPortlet .NoPriority { }

.UIMailPortlet .LowPriority {
	background: url('icons/LowPriorityIcon.gif') no-repeat;
	text-align: center;
	cursor: pointer;
	width: 16px; height: 16px;
	margin: auto;
}

.UIMailPortlet .HighPriority {
	background: url('icons/HighPriorityIcon.gif') no-repeat;
	text-align: center;
	cursor: pointer;
	width: 16px; height: 16px;
	margin: auto;
}

.UIMailPortlet .UpArrow1Icon {
	background: url('icons/BlueUpArrow.gif') no-repeat;
}

.UIMailPortlet .ViewDownloadIcon {
	background: url('icons/ViewIcon.gif') no-repeat;
}

.UIMailPortlet .DownloadIcon {
	background: url('icons/DownloadIcon.gif') no-repeat;
}

.UIMailPortlet .AddAccount {
	background: url('icons/AddAccount.gif') no-repeat left center;
}

.UIMailPortlet .AddFolderIcon {
	background: url('icons/AddNewFolderIcon.gif') no-repeat left center;
}

.UIMailPortlet .AddTagIcon {
	background: url('icons/AddNewTagIcon.gif') no-repeat left center;
}

.UIMailPortlet .CheckItem {
	background: url('icons/CheckItem.gif') no-repeat left center;
}

.UIMailPortlet .CloseFolder {
	background: url('icons/DefaultIcon.gif') no-repeat left center;
}

.UIMailPortlet .Folder {
	background: url('icons/DefaultIcon.gif') no-repeat left center; /* orientation=lt */
	background: url('icons/DefaultIcon-rt.gif') no-repeat right center; /* orientation=rt */
}

.UIMailPortlet .DeleteAccount {
	background: url('icons/DeleteAccount.gif') no-repeat left center;
}

.UIMailPortlet .EditAccount {
	background: url('icons/EditAccount.gif') no-repeat left center;
}

.UIMailPortlet .EmptyIcon {
	background: url('icons/EmptyIcon.gif') no-repeat left center;
}

.UIMailPortlet .MarkAll {
	background: url('icons/MarkAll.gif') no-repeat left center;
}

.UIMailPortlet .MoveToTrash {
	background: url('icons/MoveToTrashIcon.gif') no-repeat left center;
}

.UIMailPortlet .RemoveFolderIcon {
	background: url('icons/RemoveFolderIcon.gif') no-repeat left center;
}

.UIMailPortlet .RenameFolderIcon {
	background: url('icons/RenameFolderIcon.gif') no-repeat left center;
}

.UIMailPortlet .SearchFolderIcon {
	background: url('icons/SearchFolderIcon.gif') no-repeat left center;
}

.UIMailPortlet .SearchActions {
	background: url('icons/SearchActions.gif') no-repeat center;
}

.UIMailPortlet .LoadingIcon {
	background: url('icons/loading.gif') no-repeat center;
	float: left;
	width: 16px;
	height: 16px;
	margin: 0px 2px 0px 0px;
}
.UIMailPortlet .OwnerIcon {
	background: url('icons/OwnerIcon.gif') no-repeat;
	height: 16px; width: 17px;
}

.UIMailPortlet .OfflineIcon {
	background: url('icons/OffLineIcon.png') no-repeat;
	height: 16px; width: 17px;
}
 