
.TagIcon {
	background: url('icons/RedTag.gif') no-repeat;
	width: 16px; height: 16px;
	cursor: pointer;
	float: left;
}

.MaximizeReadingPane {
	background: url('icons/MaximizeReadingPane.gif') no-repeat;
	width: 17px; height: 16px;
	cursor: pointer;
}

.PriorityIcon {
	background: url('icons/NomalPriorityIcon.gif') no-repeat;
	width: 16px; height: 16px;
}

.PriorityHighlightIcon {
	background: url('icons/PriorityHighLight.gif') no-repeat;
	width: 16px; height: 16px;
}

.TotalMessageIcon {
	background: url('icons/TotalMessageIcon.gif') no-repeat;
	width: 16px; height: 16px;
}

.DownArrow3Icon {
	background: url('icons/BlackDownArrow.gif') no-repeat left center;
	height: 16px; width: 16px;
	cursor: pointer;
}

.AddressIcon {
	background: url('icons/AddressBookIcon.gif') no-repeat left center;
}

.BlueTag {
	background: url('icons/BlueTag.gif') no-repeat left center;
}

.RedTag {
	background: url('icons/RedTag.gif') no-repeat left center;
}

.GreenTag {
	background: url('icons/GreenTag.gif') no-repeat left center;
}

.VioletTag {
	background: url('icons/VioletTag.gif') no-repeat left center;
}

.MoreActionsIcon {
	background: url('icons/MoreActions.gif') no-repeat left;
}

.View {
	background: url('icons/View.gif') no-repeat left;
}

.ReplyIcon {
	background: url('icons/ReplyIcon.gif') no-repeat left 6px;
}

.ReplyAllIcon {
	background: url('icons/ReplyAllIcon.gif') no-repeat left 6px;
}

.ForwardIcon {
	background: url('icons/ForwardIcon.gif') no-repeat left 6px;
}

.PrintIcon {
	background: url('icons/PrintIcon.gif') no-repeat center;
	width: 2px; height: 26px;
}

.DeleteIcon {
	background: url('icons/Dustbin.gif') no-repeat center;
	width: 2px; height: 26px;
}

.UnStarredIcon {
	background: url('icons/NomalStarIcon.gif') no-repeat;
	width: 16px; height: 16px;
	cursor: pointer;
}

.StarredIcon {
	background: url('icons/HighLightStarIcon.gif') no-repeat;
	width: 16px; height: 16px;
	cursor: pointer;
}

.AttachmentIcon {
	background: url('icons/AttackmentIcon.gif') no-repeat;
	width: 16px; height: 16px;
	cursor: pointer;
}

.NomalReadingPane {
	background: url('icons/NomalReadingPane.gif') no-repeat;
	width: 17px; height: 16px;
	cursor: pointer;
}

.NextPageArrow {
	background: url('icons/NextPage.gif') no-repeat;
	width: 16px; height: 16px;
	cursor: pointer;
}

.LastPageArrow {
	background: url('icons/LastPage.gif') no-repeat;
	width: 16px; height: 16px;
	cursor: pointer;
}

.FirstPageArrow{
	background: url('icons/PreviousPage.gif') no-repeat;
	width: 16px; height: 16px;
	cursor: pointer;
}

.PreviousPageArrow {
	background: url('icons/BackPage.gif') no-repeat;
	width: 16px; height: 16px;
	cursor: pointer;
}

.FolderIcon {
	background: url('icons/FolderIcon.gif') no-repeat left center;
}

.AccountIcon {
	background: url('icons/AccountIcon.gif') no-repeat;
	height: 16px; width: 17px;
}
