
.TagIcon {
	background: url('icons/RedTag.gif') no-repeat;
	width: 16px; height: 16px;
	cursor: pointer;
	float: left;
}

.MaximizeReadingPane {
	background: url('icons/MaximizeReadingPane.gif') no-repeat;
	width: 17px; height: 16px;
	cursor: pointer;
}

.PriorityIcon {
	background: url('icons/LowPriorityIcon.gif') no-repeat;
	width: 16px; height: 16px;
}

.PriorityHighlightIcon {
	background: url('icons/PriorityHighLight.gif') no-repeat;
	width: 16px; height: 16px;
}

.TotalMessageIcon {
	background: url('icons/TotalMessageIcon.gif') no-repeat;
	width: 16px; height: 16px;
}

.DownArrow3Icon {
	background: url('icons/BlackDownArrow.gif') no-repeat left center;
	height: 16px; width: 16px;
	cursor: pointer;
}

.AddressIcon {
	background: url('icons/AddressBookIcon.gif') no-repeat left center;
}

.BlueTag {
	background: url('icons/BlueTag.gif') no-repeat left center;
}

.RedTag {
	background: url('icons/RedTag.gif') no-repeat left center;
}

.GreenTag {
	background: url('icons/GreenTag.gif') no-repeat left center;
}

.VioletTag {
	background: url('icons/VioletTag.gif') no-repeat left center;
}

.brownTag {
	background: url('icons/brownTag.gif') no-repeat left center;
}

.OrangeTag {
	background: url('icons/OrangeTag.gif') no-repeat left center;
}

.PingTag {
	background: url('icons/PingTag.gif') no-repeat left center;
}

.PingVioletTag {
	background: url('icons/PingVioletTag.gif') no-repeat left center;
}

.YellowTag {
	background: url('icons/YellowTag.gif') no-repeat left center;
}


.MoreActionsIcon {
	background: url('icons/MoreActions.gif') no-repeat left;
}

.View {
	background: url('icons/View.gif') no-repeat left;
}

.ReplyMailIcon {
	background: url('icons/Replyicon16x14.gif') no-repeat left 6px;
}

.ReplyIcon {
	background: url('icons/ReplyIcon.gif') no-repeat left 6px;
}

.DeleteMailIcon {
	background: url('icons/DeleteMail16x11.gif') no-repeat left 6px;
}

.ExportIcon {
	background: url('icons/ExportMail.gif') no-repeat left 6px;
}

.AddContactIcon {
	background: url('icons/AddContact16x13.gif') no-repeat left 6px;
}


.PrintMailIcon {
	background: url('icons/Printmail16x16.gif') no-repeat left 6px;
}

.ReplyAllMailIcon {
	background: url('icons/ReplyAllcon16x14.gif') no-repeat left 6px;
}

.ForwardMailIcon {
	background: url('icons/Forward16x14.gif') no-repeat left 6px;
}

.MoveMailIcon {
	background: url('icons/MoveMessageIcon.gif') no-repeat left 6px;
}

.TagMailIcon {
	background: url('icons/VioletTag.gif') no-repeat left 6px;
}

.OpenMailIcon {
	background: url('icons/ReadMessagesIcon.gif') no-repeat left 6px;
}

.ReplyAllIcon {
	background: url('icons/ReplyAllIcon.gif') no-repeat left 6px;
}

.ForwardIcon {
	background: url('icons/ForwardIcon.gif') no-repeat left 6px;
}

.DefaultLayoutIcon {
	background: url('icons/DefaultLayout.gif') no-repeat left 6px;
}

.HideFolderListIcon {
	background: url('icons/HideFolderList.gif') no-repeat left 6px;
}

.HideMessagesPaneIcon {
	background: url('icons/HideMessagesPane.gif') no-repeat left 6px;
}

.HideReadingPaneIcon {
	background: url('icons/HideReadingPane.gif') no-repeat left 6px;
}

.PrintIcon {
	background: url('icons/PrintIcon.gif') no-repeat center;
	width: 2px; height: 26px;
}

.MarkReadIcon {
	background: url('icons/MarkReadIcon.gif') no-repeat;
}

.MarkUnreadIcon {
	background: url('icons/MarkUnreadIcon.gif') no-repeat left;
}

.RemoveStarIcon {
	background: url('icons/RemoveStarIcon.gif') no-repeat;
}

.MoveMessageIcon {
	background: url('icons/MoveMessageIcon.gif') no-repeat;
}

.ImportMessageIcon {
	background: url('icons/ImportMessageIcon.gif') no-repeat;
}

.EmportMessageIcon {
	background: url('icons/EmportMessageIcon.gif') no-repeat;
}

.AllMessagesIcon {
	background: url('icons/AllMessagesIcon.gif') no-repeat;
}

.StaredMessagesIcon {
	background: url('icons/AllMessagesIcon.gif') no-repeat;
}

.UnreadMessagesIcon {
	background: url('icons/UnreadMessagesIcon.gif') no-repeat;
}

.ReadMessagesIcon {
	background: url('icons/ReadMessagesIcon.gif') no-repeat;
}

.MessagesAttachmentIcon {
	background: url('icons/MessagesAttachmentIcon.gif') no-repeat;
}

.DeleteIcon {
	background: url('icons/Dustbin.gif') no-repeat center;
	width: 2px; height: 26px;
}

.UnStarredIcon {
	background: url('icons/NomalStarIcon.gif') no-repeat;
	width: 16px; height: 16px;
	cursor: pointer;
}

.StarredIcon {
	background: url('icons/HighLightStarIcon.gif') no-repeat;
	width: 16px; height: 16px;
	cursor: pointer;
}

.AttachmentIcon {
	background: url('icons/AttackmentIcon.gif') no-repeat;
	width: 16px; height: 16px;
	cursor: pointer;
}

.NomalReadingPane {
	background: url('icons/NomalReadingPane.gif') no-repeat;
	width: 17px; height: 16px;
	cursor: pointer;
}

.NextPageArrow {
	background: url('icons/NextPage.gif') no-repeat;
	width: 16px; height: 16px;
	cursor: pointer;
}

.LastPageArrow {
	background: url('icons/LastPage.gif') no-repeat;
	width: 16px; height: 16px;
	cursor: pointer;
}

.FirstPageArrow{
	background: url('icons/PreviousPage.gif') no-repeat;
	width: 16px; height: 16px;
	cursor: pointer;
}

.PreviousPageArrow {
	background: url('icons/BackPage.gif') no-repeat;
	width: 16px; height: 16px;
	cursor: pointer;
}

.FolderIcon {
	background: url('icons/FolderIcon.gif') no-repeat left center;
}

.AccountIcon {
	background: url('icons/AccountIcon.gif') no-repeat;
	height: 16px; width: 17px;
}

.NoPriority { }

.LowPriority {
	background: url('icons/LowPriorityIcon.gif') no-repeat;
	text-align: center;
	cursor: pointer;
	width: 16px; height: 16px;
	margin: auto;
}

.NormalPriority { }

.HighPriority {
	background: url('icons/HighPriorityIcon.gif') no-repeat;
	text-align: center;
	cursor: pointer;
	width: 16px; height: 16px;
	margin: auto;
}

.UpArrow1Icon {
	background: url('icons/BlueUpArrow.gif') no-repeat;
}

.ViewDownloadIcon {
	background: url('icons/ViewIcon.gif') no-repeat;
}

.DownloadIcon {
	background: url('icons/DownloadIcon.gif') no-repeat;
}

.AddAccount {
	background: url('icons/AddAccount.gif') no-repeat left center;
}

.AddFolderIcon {
	background: url('icons/AddNewFolderIcon.gif') no-repeat left center;
}

.CheckItem {
	background: url('icons/CheckItem.gif') no-repeat left center;
}

.CloseFolder {
	background: url('icons/DefaultIcon.gif') no-repeat left center;
}

.Folder {
	background: url('icons/DefaultIcon.gif') no-repeat left center;
}

.DeleteAccount {
	background: url('icons/DeleteAccount.gif') no-repeat left center;
}

.EditAccount {
	background: url('icons/EditAccount.gif') no-repeat left center;
}

.EmptyIcon {
	background: url('icons/EmptyIcon.gif') no-repeat left center;
}

.MarkAll {
	background: url('icons/MarkAll.gif') no-repeat left left center;
}

.RemoveFolderIcon {
	background: url('icons/RemoveFolderIcon.gif') no-repeat left center;
}

.RenameFolderIcon {
	background: url('icons/RenameFolderIcon.gif') no-repeat left center;
}

.SearchFolderIcon {
	background: url('icons/SearchFolderIcon.gif') no-repeat left center;
}