.UICalendarPortlet .UIAddTask {
	background-color: #ffffff;
	padding: 8px;
}

.UICalendarPortlet .UIAddTask .HorizontalLayout {
	background-color: #f7f7f7;
	padding: 8px;
}

.UICalendarPortlet .UIAddTask .UIFormWithTitle {
	margin: 8px auto ;
}

.UICalendarPortlet .UIAddTask .AddCategory {
	width: 16px; height: 16px;
	margin: 1px 0px 0px 6px;
}

.UICalendarPortlet .UIAddTask .HorizontalLayout .DateTime {
	float: left;
	margin-right: 3px;
}

.UICalendarPortlet .UIAddTask .HorizontalLayout .DateTime input {
	font-size: 11px;
	width: 104px;
}

.UICalendarPortlet .UIAddTask .HorizontalLayout .AddIcon16x16 {
	width: 16px;
	height: 16px;
	margin: 0px 2px;
}

.UICalendarPortlet .UIAddTask .HorizontalLayout .SelectUserIcon {
	background: url('/forum/skin/DefaultSkin/webui/skinIcons/16x16/icons/SmallUserIcon.gif') no-repeat;
}

.UICalendarPortlet .UIAddTask .HorizontalLayout .SelectMemberIcon {
	background: url('/forum/skin/DefaultSkin/webui/skinIcons/16x16/icons/SmallGroupIcon.gif') no-repeat;
}

.UICalendarPortlet .UIAddTask .HorizontalLayout .AddAnyIcon {
	background: url('/forum/skin/DefaultSkin/webui/skinIcons/16x16/icons/SmallMemberIcon.gif') no-repeat;
}

.UICalendarPortlet .UIAddTask .HorizontalLayout .UIAction {
	width: 65px;
	float: left;
	padding: 0px;
	margin-left: 4px; 
}