.UIForumPortlet {
}
 
/******************************************** ForumBanner ****************************************/
.UIForumPortlet .ForumBanner {
  background: url('background/BgBanner1x66.gif') repeat-x top;	
}

.UIForumPortlet .ForumBanner .LeftBanner {
  background: url('background/Logo223x66.gif') no-repeat left top;	
  height: 66px;
  padding-left: 223px;
}

.UIForumPortlet .ForumBanner .BannerTitle {
	color: #ffa200;
	font-size: 14px; font-weight: bold;
	padding: 12px 0px 0px 40px;
}

.UIForumPortlet .ForumBanner .SearchForm {
	padding-right: 13px;
}

.UIForumPortlet .ForumBanner .Label {
	float: right;
	line-height: 20px;
	margin: 2px 0px;
	color: #595b6a; 
}

.UIForumPortlet .ForumBanner .Input {
	width: 195px;
	float: right;
	margin: 0px 8px;
}

.UIForumPortlet .ForumBanner .Search {
  background: url('icons/16x16/SearchIcon.gif') no-repeat ;	
  height: 16px;
  width: 16px;
  float: right;
  margin: 3px 5px 0px 0px;
  cursor: pointer;
}

.UIForumPortlet .ForumBanner .AdvancedSearch {
  background: url('icons/16x16/FindIcon.gif') no-repeat ;	
  height: 16px; width: 16px;
  float: right; cursor: pointer;
  margin: 3px 0px 0px 2px;
}

.UIForumPortlet .ForumBanner .SeparatorLine {
	background: url('background/SeparatorLine2x27.gif') no-repeat ;
  float: right;
  margin: 0px 7px;
  height: 27px; width: 2px;
}

/******************************************** UIBreadcumbs ****************************************/

.UIForumPortlet .UIBreadcumbs {
	background: #f6f6f6;
	border: 1px solid #e2e2e2;
	padding: 0px 15px 0px 10px;
	margin: 3px 10px;
}

.UIForumPortlet .UIBreadcumbs .BreadcumbsInfoBar {
	float: left;
	background: none;
}

.UIForumPortlet .UIBreadcumbs .BreadcumbsInfoBar .OpenIcon {
	float:left;
	background: url('icons/24x24/OpenFolder.gif') no-repeat ;
	width: 24px; height: 24px;
}

.UIForumPortlet .UIBreadcumbs .BreadcumbsInfoBar a.Selected {
	float: left;
	color: #1e1f21;	font-weight: bold;
	padding: 0px 5px;
	line-height: 25px;
}

.UIForumPortlet .UIBreadcumbs .BreadcumbsInfoBar .RightArrowIcon {
	float: left;
	background: url('/eXoResources/skin/DefaultSkin/skinIcons/16x16/icons/BlueNextArrow.gif') no-repeat ;
	width: 16px; height: 16px;	
	margin: 6px 0px 0px 0px;
}

.UIForumPortlet .UIBreadcumbs .RSSBar {
	float: right;
}

.UIForumPortlet .UIBreadcumbs .RSSBar .SeparatorLine {
	background: url('background/SeparatorLine2x27.gif') no-repeat left;
	padding-left: 12px;
}

.UIForumPortlet .UIBreadcumbs .RSSBar .RSSIcon {
	padding: 0px 0px 0px 28px;
	line-height: 25px;
	background: url('icons/16x16/RSSIcon.gif') no-repeat left;
}

/******************************************** UIForumActionBar ****************************************/
.UIForumPortlet .UIForumActionBar {
	border: 1px solid #9499d8;
	margin: 7px 10px;
	height: 30px;
}

.UIForumPortlet .UIForumActionBar .ControlbarCotainer {
	border: 2px solid white;
	border-bottom: none;
	background: url('background/BgToolbar1x28.gif') repeat-x ;
	padding: 0px 0px 0px 13px;
	line-height: 28px;
}

.UIForumPortlet .UIForumActionBar .Icon {
	float: left;
	padding-left: 30px;
	margin: 0px 13px;
}

.UIForumPortlet .UIForumActionBar .SeparatorLine {
	float: left;
	background: url('background/SeparatorLineToolbar1x27.gif') no-repeat ;
	height: 27px;
	width: 2px;
}

.UIForumPortlet .UIForumActionBar .AddCategory {
	background: url('icons/24x24/AddCategory.gif') no-repeat left center;
	margin: 0px 13px 0px 0px;
}

.UIForumPortlet .UIForumActionBar .ManageModerators {
	background: url('icons/24x24/Manage.gif') no-repeat left center ;
}

.UIForumPortlet .UIForumActionBar .ForumOption {
	background: url('icons/24x24/ForumOption.gif') no-repeat left center ;
}

/******************************************** UIForumDescription ****************************************/

.UIForumPortlet .UIForumDescription {
	border: 1px solid #cdcdcd;
	line-height: 28px;
	padding-left: 10px; 
	margin: 0px 0px 10px 0px;
}

.UIForumPortlet .UIForumDescription .Forum {
	color: #373737;
	font-size: 12px;
}

.UIForumPortlet .UIForumDescription .NameForum {
	color: #373737;
	font-size: 12px;
	font-weight: bold;
}

.UIForumPortlet .UIForumDescription .Description {
	color: #5a5a5a;
	padding: 0px 5px;
}

/******************************************** ForumContains ****************************************/

.UIForumPortlet .ForumContains {
	border: 1px solid #cdcdcd;
	line-height: 42px; 
	margin: 10px 0px;
	padding: 0px 0px 0px 15px;
}

.UIForumPortlet .ForumContains .IconPost {
	float: left;
	padding: 0px 31px;
	font-size: 12px;
}

.UIForumPortlet .ForumContains .NewPost {
	background: url('icons/24x24/NewPostIcon.gif') no-repeat left;
}

.UIForumPortlet .ForumContains .NoNewPost {
	background: url('icons/24x24/NoNewPostIcon.gif') no-repeat left;
}

.UIForumPortlet .ForumContains .ClosedPost {
	background: url('icons/24x24/ClosePostIcon.gif') no-repeat left;
}