.UIMailPortlet .UIFormColorPicker {
 
}
.UIMailPortlet .UIFormColorPicker .UIColorPickerItem {
	display: block ;
	padding: 3px 5px ;
	text-decoration: none ;
	color: black ;
}
.UIMailPortlet .UIFormColorPicker .UIColorPickerInput {
	border: solid 1px gray ;
	width: 235px;
	height: 18px;
	*height: 18px;
	line-height: 18px;
}
.UIMailPortlet .UIFormColorPicker  .DisplayValue {
	display:block ;
 	margin: 1px;
 	height: 15px;
	*height: 15px;
	line-height: 15px;
  border: solid 1px #cccccc ;
}

.UIMailPortlet .UIFormColorPicker  .UIColorLine {
	margin: 5px 0px ;
}

.UIMailPortlet .UIFormColorPicker a:hover{
	color: white ;
}

.UIMailPortlet .UIFormColorPicker a:visit{
	color: black ;
}

.UIMailPortlet .UIFormColorPicker .UIColorPickerLabel {
	font-family: tahoma ;
	font-size: 11px ;
	margin-left: 16px ;
}
.UIMailPortlet .UIFormColorPicker .MailTableColor {
	display: none;
 	position: absolute;
 	background: #e4eaf5;
	padding: 2px;
  border: solid 1px #cccccc ;
}
 

.UIMailPortlet .MailTableColor .ColorCell {
 width: 12px; height: 12px;
 margin: 2px;
 border: 1px solid #ffffff;
}

.UIMailPortlet .MailTableColor .ColorCell img {
 width: 12px; height: 12px;
}
.UIMailPortlet .MailTableColor .SelectedColorCell {
	border: solid 1px red ;
}

.UIMailPortlet .MailTableColor a:hover {
	border: 2px solid red;
  margin: 2px ;
}

/* Colors*/
.UIMailPortlet .Olive {background-color: #808000; }
.UIMailPortlet .OliveDrab {background-color: #6B8E23;}   
.UIMailPortlet .Orange {background-color: #FFA500;}    
.UIMailPortlet .OrangeRed {background-color: #FF4500;}    
.UIMailPortlet .Orchid {background-color: #DA70D6;}    
.UIMailPortlet .PaleGoldenRod {background-color: #EEE8AA;}    
.UIMailPortlet .PaleGreen {background-color: #98FB98;}    
.UIMailPortlet .PaleTurquoise {background-color: #AFEEEE;}    
.UIMailPortlet .PaleVioletRed {background-color: #D87093;}    
.UIMailPortlet .PapayaWhip  {background-color: #FFEFD5;}    
.UIMailPortlet .PeachPuff {background-color: #FFDAB9;}    
.UIMailPortlet .Peru {background-color: #CD853F;}    
.UIMailPortlet .Pink {background-color: #FFC0CB ;}   
.UIMailPortlet .Plum {background-color: #DDA0DD ;}   
.UIMailPortlet .PowderBlue {background-color: #B0E0E6;}    
.UIMailPortlet .Purple {background-color: #800080;}    
.UIMailPortlet .Red {background-color: #FF0000;}    
.UIMailPortlet .RosyBrown {background-color: #BC8F8F;}    
.UIMailPortlet .RoyalBlue {background-color: #4169E1;}    
.UIMailPortlet .SaddleBrown {background-color: #8B4513;}    
.UIMailPortlet .Salmon {background-color: #FA8072;}    
.UIMailPortlet .SandyBrown {background-color: #F4A460;}    
.UIMailPortlet .SeaGreen {background-color: #2E8B57;}    
.UIMailPortlet .SeaShell {background-color: #FFF5EE;}    
.UIMailPortlet .Sienna {background-color: #A0522D;}    
.UIMailPortlet .Silver {background-color: #C0C0C0;}    
.UIMailPortlet .SkyBlue {background-color: #87CEEB;}
.UIMailPortlet .Thistle {background-color: #D8BFD8;}    
.UIMailPortlet .Tomato {background-color: #FF6347;}    
.UIMailPortlet .Turquoise {background-color: #40E0D0;}    
.UIMailPortlet .Violet {background-color: #EE82EE;}    
.UIMailPortlet .Wheat {background-color: #F5DEB3;}    
.UIMailPortlet .Yellow {background-color: #FFFF00;}    
