.UIMailPortlet .UIAddMessageFilter {
	background: #f3f3f3;
}

.UIMailPortlet .UIAddMessageFilter .FinterName {
	background: white;
	height: 45px;
}

.UIMailPortlet .UIAddMessageFilter .AddMessageFilter {
	border-top: 1px solid #c0c0c0;
	border-bottom: 1px solid white;
}

.UIMailPortlet .UIAddMessageFilter .WorkingContent {
	border-top: 1px solid white;
	border-bottom: 1px solid #c0c0c0;
	height: 100%;
}

.UIMailPortlet .UIAddMessageFilter .WorkingContent .Title {
	background: #e9e9e9;
	font-weight: bold;
	padding-left: 20px;
	line-height: 25px;
}

.UIMailPortlet .UIAddMessageFilter .UIForm .HorizontalLayout {
	border: none;
}

.UIMailPortlet .UIAddMessageFilter .UIForm .HorizontalLayout .UIFormGrid {
	margin: 10px auto;
	width: auto;
}

.UIMailPortlet .UIAddMessageFilter .UIForm .UIFormGrid td.FieldLabel {
	width: 145px;
}

.UIMailPortlet .UIAddMessageFilter .UIForm .UIFormGrid td.FieldComponent td.FieldLabel {
	display: none;
}

.UIMailPortlet .UIAddMessageFilter .UIForm .UIFormGrid td.FieldComponent td{
	padding: 4px 0px;
}

.UIMailPortlet .UIAddMessageFilter td.FieldComponent .UIFormInputSet {
	padding: 0px;
}

.UIMailPortlet .UIAddMessageFilter td.FieldComponent .UIFormInputSet .UIFormGrid {
	margin: 0px;
}
.UIMailPortlet .UIAddMessageFilter .UIForm .HorizontalLayout .WorkingContent input {
	width: 125px;
}

.UIMailPortlet .UIAddMessageFilter .UIForm .HorizontalLayout .WorkingContent select {
	width: 200px;
}

.UIMailPortlet .UIAddMessageFilter .UIForm .HorizontalLayout .WorkingContent input.checkbox {
	width: 16px;
}