#chat #PORTLET-FRAGMENT {
  overflow-y: auto;
}

.UIChat {
  border-top: 1px solid #efefef;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  background: url('DefaultSkin/background/BackgroundChat.gif') repeat-x top;
  padding: 11px 8px;
}

.UIChat .LeftContainer {
  background: url('DefaultSkin/background/Background.gif') no-repeat left -30px;
  padding-left: 2px;	
  height: 30px; line-height: 30px;	
}

.UIChat .RightContainer {
  background: url('DefaultSkin/background/Background.gif') no-repeat right -60px;
  padding-right: 2px;		
  height: 30px; line-height: 30px;
}

.UIChat .CenterContainer {
  background: url('DefaultSkin/background/Background.gif') repeat-x center top;
  height: 30px; line-height: 30px;	
}

.UIChat .TextContent {
  font-weight: bold;
  float: left;
  padding-left: 8px;
}

.UIChat .SeperatorLine {
  background: url('DefaultSkin/background/Background.gif') no-repeat left -420px;	
  line-height: 30px; height: 30px;
  width: 2px;
  float: left;
  margin: 0px 10px;
}

.UIChat .TabUser {
  float: left;
  cursor: pointer;
  width: auto;
}

.UIChat .TabUser .LeftTabUser {
  background: url('DefaultSkin/background/Background.gif') no-repeat left -115px;
  padding-left: 2px; 
}

.UIChat .TabUser .RightTabUser {
  background: url('DefaultSkin/background/Background.gif') no-repeat right -140px;
  padding-right: 2px;
}

.UIChat .TabUser .CenterTabUser {
  background: url('DefaultSkin/background/Background.gif') repeat-x left -90px;
  line-height: 25px;
  cursor: point;
  padding: 0px 30px 0px 10px;
}

.UIChat .Menubar {
  background: #f0f0f0;
  overflow: hidden;
}

.UIChat .Menubar .MenuItem {
  border: solid 1px #f0f0f0;
  cursor: pointer;
  padding: 2px;
  margin-left: 5px;
  float: left;
}

.UIChat .Menubar .MenuItem:hover {
  border: solid 1px black;
  float: left;
}

.UIChat .Actionbar {
  margin-bottom: 5px;
}

.UIChat .Actionbar .RowContainer {
}

.UIChat .Actionbar .Icon {
  float: left;
  cursor: pointer;
  padding-left: 30px;
  line-height: 25px; height: 25px;
  margin-top: 2px;
}

.UIChat .Actionbar .Icon:Hover {
  float: left;
  cursor: pointer;
}

.UIChat .Actionbar .AddContactIcon {
  background: url('DefaultSkin/skinIcons/SmallChatIcons.gif') no-repeat left -225px;
  
}

.UIChat .Actionbar .NewRoomIcon {
  background: url('DefaultSkin/skinIcons/SmallChatIcons.gif') no-repeat left -175px;
}

.UIChat .Actionbar .JoinRoomIcon {
  background: url('DefaultSkin/skinIcons/SmallChatIcons.gif') no-repeat left -200px;
}

.UIChat .Actionbar .DisabledAddContactIcon {
  background: url('DefaultSkin/skinIcons/SmallDisabledIcon.gif') no-repeat left -50px;
  
}

.UIChat .Actionbar .DisabledNewRoomIcon {
  background: url('DefaultSkin/skinIcons/SmallDisabledIcon.gif') no-repeat left top;
}

.UIChat .Actionbar .DisabledJoinRoomIcon {
  background: url('DefaultSkin/skinIcons/SmallDisabledIcon.gif') no-repeat left -25px;
}

.UIChat .LeftStatusIcon {
  float: left;
  font-weight: bold;
  height: 24px; line-height: 24px;
}

.UIChat .BuddyList {
  height: 100%;
}

.UIChat .TitleIconChat {
	float: left;
  font-weight: bold;
  height: 24px; line-height: 24px;
  width: 100%;
}

.UIChat .IconChat {
	height: 24px; line-height: 24px;
}

.UIChat .UITabContainer {
	padding: 0px;
}

.UIChat .LoadingIcon {
  background: url('DefaultSkin/skinIcons/LoadingProgress24x24.gif') no-repeat center center;
}

.UIChat .Text {
	margin-left: 35px;
}

.UIChat .StatusIcon {
  background: url('DefaultSkin/skinIcons/ArrowIcon7x4.gif') no-repeat 24px;
  cursor: pointer;
  *width: 45px; *height: 25px;
}

.UIChat .Actionbar .FilterField {
  border: solid 1px #b7b7b7;
  background-color: #fff;
  margin: 0px 0px 0px 350px;
  height: 18px; line-height: 18px;
}

.UIChat .MainWindow {
}

.UIChat .UIHorizontalTabs {
	line-height: 25px; height: 25px;
}

.UIChat .RightHorizontalTabs {
	background: url('DefaultSkin/skinIcons/RightHorizontalTabs.gif') no-repeat right bottom;
	padding-right: 2px;
}

.UIChat .CenterHorizontalTabs {
	background: url('DefaultSkin/background/LineDecorator1x4.gif') repeat-x bottom;
  height: 25px; line-height: 25px;
  padding: 0px;
}

.UIChat .TabsContainer {
	height: 25px;
	line-height: 25px;
}

.UIChat .HorizontalLayout {
  min-height: 200px;
  height:auto !important;
  height: 200px;
}

.UIChat .MainWindow .HorizontalLayout {
  min-height: 365px;
  height:auto !important;
  height: 365px;
}

/* Down menu status */
.UIChat .UIRightClickPopupMenu {
	position: absolute;
	top: 230px;
	left: 30px;
}

.UIChat .UIRightClickPopupMenu .ItemIcon {
	text-align: left;
	height: 25px; line-height: 25px;
	cursor: pointer;
	display: block;
	padding: 0px 0px 0px 26px;
}

.UIChat .UIRightClickPopupMenu .TypeViewContactPortlet {
	text-align: left;
}

.UIGrid td {
	line-height: 15px;
}

/* ====================== User status shared Icons =================== */
.ChatSharedIcons .IconChat {
  padding-left: 24px;
  display: block;
}

.ChatSharedIcons .OnlineIcon {
  background: url('DefaultSkin/skinIcons/SmallChatIcons.gif') no-repeat left 0px;
}

.ChatSharedIcons .OfflineIcon {
  background: url('DefaultSkin/skinIcons/SmallChatIcons.gif') no-repeat left -75px;
}

.ChatSharedIcons .AwayIcon {
  background: url('DefaultSkin/skinIcons/SmallChatIcons.gif') no-repeat left -25px;
}

.ChatSharedIcons .FreeToChat {
  background: url('DefaultSkin/skinIcons/SmallChatIcons.gif') no-repeat left -50px;
}

/** Chat session style **/

.UIChat .ChatSession {
}

.UIChat .UIAction {
  overflow: hidden;
}

/* For normal page */
.ResizeArea {
  background: transparent url('DefaultSkin/background/ResizeArea18x18.gif') no-repeat scroll 0%;
  cursor:nw-resize;
  float:right;
  height:18px;
  width:18px;
}

/* Chat Message */

.UIConversation {
	background: none;
	padding: 8px;
}

.UIConversation .UITabPane {
	height: auto;
}

/* PopUp menu right click of member */
.UIChat .TitleIconChat .UIRightClickPopupMenu {
	position: absolute;
	top: 252px;
	left: 60px;
}

.UIChat .TitleIconChat .UIRightClickPopupMenu .ItemIcon {
	font-weight: normal;
}

.BuddyItemActionMenu .RemoveIcon {
	background: url('DefaultSkin/skinIcons/ActionMenuIcon.png') no-repeat left top;
}

.BuddyItemActionMenu .MessageIcon {
	background: url('DefaultSkin/skinIcons/ActionMenuIcon.png') no-repeat left -26px;
}
 /* Form Join Room */
.UIJoinRoom .FieldName {
 	width: 20%;
}
 
.UIJoinRoom .PopupContent {
 	padding: 10px 5px 0px 5px;
 	width: auto;
}
 
.UIJoinRoom .ListAddress {
  	padding-top: 5px;
}
  
.UIJoinRoom .UIWindowContent .PopupContent .UIInsertAddress {
	margin: 5px 5px 10px 5px;
	border: 1px solid #B3B3B3;
	background-color: #efefef;
}

.UIJoinRoom .UIWindowContent .PopupContent .InsertAddressContainer {
	padding: 6px;
}

.UIJoinRoom .UIGrid tr.UIRoomRow {
	background-color: #fff;
}

.UIJoinRoom .UIGrid tr.UIRoomRowC {
	background-color: #fbf8f8;
}

.UIJoinRoom .UIGrid td {
	padding: 5px 0 2px 7px;
}

.UIJoinRoom .UIGrid input.CheckBox {
	height: 15px;
	margin: 0px 8px 0px 0px;
	width: 15px;
}
/* Form New Room */
form {
	margin: 0px;
	padding: 0px;
}

.UINewRoom .FieldName {
 	text-align: right;
 	width: 150px;
}

.UINewRoom .PopupContent {
 	padding: 10px 5px 0px 5px;
 	width: auto;
}

.UINewRoom .ListAddress {
	padding: 0px 5px 5px 5px;
}

.UINewRoom .UIGrid {
	width: 100%;
	margin: auto;
	border: none;
}

.UINewRoom .UIGrid td {
	border: none;
}

.UINewRoom .UIGrid input {
	width: 60%;
	border: 1px solid gray;
	background: none;
}

/* Form GroupChat */
.GroupChat .NicksGroupChat {
	float: right;
	width: 100px;
	border: 1px solid #ACACAC;
	overflow-x: hidden;
	overflow-y: auto;
	height: 245px;
	margin-left: 5px;
}

.UIConversation .Buttons {
	background: white;
	margin-bottom: 10px;
}

.GroupChat .TitleIconChat {
	float: left;
  font-weight: bold;
  width: 100%;
  overflow: hidden;
  margin-bottom: 5px;
  background: url('DefaultSkin/background/Background.gif') repeat-x center top;
  height: 30px; line-height: 30px;
}

.GroupChat .UserOffline {
	background: url('DefaultSkin/skinIcons/ChatFriend.gif') no-repeat left;
	padding-left: 24px;
	display: block;
}

.GroupChat .IconChat {
	height: 30px; line-height: 30px;
}

.GroupChat .ChatSession .MessagesContainer {
	overflow-y: scroll;
	height: auto;
}

.UIConversation .Buttons .LeftContainer {
  background: url('DefaultSkin/background/Background.gif') no-repeat left -30px;
  padding-left: 2px;	
  height: 30px; line-height: 30px;	
}

.UIConversation .Buttons .RightContainer {
  background: url('DefaultSkin/background/Background.gif') no-repeat right -60px;
  padding-right: 2px;		
  height: 30px; line-height: 30px;
}

.UIConversation .Buttons .CenterContainer {
  background: url('DefaultSkin/background/Background.gif') repeat-x center top;
  height: 30px; line-height: 30px;	
}

.UIConversation .Buttons .TextContent {
  font-weight: bold;
  float: left;
  padding-left: 8px;
}

.UIConversation .Buttons .SeperatorLine {
  background: url('DefaultSkin/background/Background.gif') no-repeat left -420px;	
  line-height: 30px; height: 30px;
  width: 2px;
  float: left;
  margin: 0px 7px;
}

.UIConversation .Buttons .Actionbar .ExportMessageIcon {
  background: url('DefaultSkin/skinIcons/SmallChatIcons.gif') no-repeat left -275px;
}

.UIConversation .Buttons .Actionbar .AddChatIcon {
  background: url('DefaultSkin/skinIcons/SmallChatIcons.gif') no-repeat left -100px;
}

.UIConversation .Buttons .Actionbar .LeaveIcon {
  background: url('DefaultSkin/skinIcons/SmallChatIcons.gif') no-repeat left -125px;
}

.UIConversation .Buttons .Actionbar .OptionsIcon {
  background: url('DefaultSkin/skinIcons/SmallChatIcons.gif') no-repeat left -150px;
}

.UIConversation .Buttons .Actionbar .SendFileIcon {
  background: url('DefaultSkin/skinIcons/SendFile.gif') no-repeat;
  width: 100px; height: 25px; float: left;
  cursor: pointer;
  overflow: hidden;
}

.UIConversation .Buttons .Actionbar .InputSendFile{
	opacity:0; 
	filter: alpha(opacity=0);
	cursor: pointer;
	position: relative;
	left: -25px;
}

.UIConversation .Buttons .Actionbar .Icon {
	padding: 0px 0px 0px 25px;
	margin-top: 2px;
  float: left;
  cursor: pointer;
  height: 25px; line-height: 25px; 
}

.UIConversation .Buttons .Actionbar .Icon:Hover {
  float: left;
  cursor: pointer;
}

/* New Form */
.UINewForm .ContainerForm {
	background: #fff;
	border: 1px solid gray;
	padding: 10px;
}

.UINewForm .BoxForm {
	border: 1px solid #B7B7B7;
	margin-top: 3px;
}

.UINewForm .BorderForm {
	border: 1px solid #fff;
	background: #F7F7F7;
	padding: 8px;
}

.UINewForm .UIFormGrid td {
}


.UINewForm .UIFormGrid td.FieldLabel {
	text-align: right;
	vertical-align: top;
	padding: 4px 10px 4px 4px;
	width: 150px;
}

.UINewForm .UIFormGrid input {
	font-size: 11px;
}

.UINewForm .UIFormGrid .FieldComponent select {
	font-size: 11px;
	width: 120px;
	border: 1px solid gray;
}

.UINewForm .UIFormGrid .FieldComponent TEXTAREA {
	border: 1px solid gray;
}

.UINewForm .UIFormGrid td.FieldComponent {
	padding: 4px;
	white-space: nowrap;
	
}

/* Scroll chat window */

.ScrollButtons {
  float: right;
  padding: 4px;
  display: block;
}

.ScrollLeftButton {
  cursor: pointer;
  background: url('DefaultSkin/skinIcons/ScollArrow.gif') no-repeat left 0px;
  width: 17px;
  height: 17px;
  padding-left: 17px;
  margin: 0px 5px;
}

.ScrollRightButton {
  cursor: pointer;
  background: url('DefaultSkin/skinIcons/ScollArrow.gif') no-repeat left -18px;
  width: 17px;
  height: 17px;
  margin: 0px 5px;
}

.DisableScrollLeftButton {
  cursor: pointer;
  background: url('DefaultSkin/skinIcons/ScollArrow.gif') no-repeat left -36px;
  width: 17px;
  height: 17px;
  padding-left: 17px;
  margin: 0px 5px;
}

.DisableScrollRightButton { 
  cursor: pointer;
  background: url('DefaultSkin/skinIcons/ScollArrow.gif') no-repeat left -54px;
  width: 17px;
  height: 17px;
  margin: 0px 4px;
}

.HighlightScrollLeftButton {
  cursor: pointer;
  background: url('DefaultSkin/skinIcons/ScollArrow.gif') no-repeat left -72px;
  width: 17px;
  height: 17px;
  padding-left: 17px;
  margin: 0px 5px;
}

.HighlightScrollRightButton {
  cursor: pointer;
  background: url('DefaultSkin/skinIcons/ScollArrow.gif') no-repeat left -90px;
  width: 17px;
  height: 17px;
  margin: 0px 4px;
}	

/* Form Add Contact */
.AddContactPopup .UIWindowContent .PopupContent .UIInsertAddress {
	margin: 10px;
	border: 1px solid #B3B3B3;
	background-color: #efefef;
}

.AddContactPopup .UIWindowContent .PopupContent .InsertAddressContainer {
	padding: 6px;
}

.AddContactPopup .StyleInput {
	width: 20px;
	padding: 5px 0 2px 7px;
}

.AddContactPopup .UIGrid input.CheckBox {
	height: 15px;
	width: 15px;
	margin: 0px 8px 0px 0px;
}

.AddContactPopup .UIGrid tr.UIContactRow {
	background-color: #fff;
}

.AddContactPopup .UIGrid tr.UIContactRowC {
	background-color: #fbf8f8;
	
}

.AddContactPopup .UIGrid td {
	padding: 5px 0px 2px 7px;
}

.AddContactPopup .UIGrid .Label {
	line-height: 25px;
}

/* WindowChat moi moi */
.ChatContainer .RightPage {	
	float: right;
	width: 130px;
	height: 215px;
	border: 1px solid #acacac;
}

.ChatContainer .RightPage .OverflowGroupNick {	
	height: 215px;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #f7f7f8; 
}

.ChatContainer .RightPage .GroupNick {	
	padding: 2px 5px; 
}

.ChatContainer .RightPage .StatusIcon {	
	float: left;
	background: url('DefaultSkin/skinIcons/SmallChatIcons.gif') no-repeat left 0px;
	height: 25px; line-height: 25px;
}

.ChatContainer .RightPage .NameId {	
	padding-left: 22px;
	font-size: 11px;
	font-family: tahoma;
  height: 24px;
  line-height: 24px;
}

.ChatContainer .RightPage .LeftTopNick {	
	background: url('DefaultSkin/background/Background.gif') no-repeat left -171px;
	padding-left: 6px;
}

.ChatContainer .RightPage .RightTopNick {	
	background: url('DefaultSkin/background/Background.gif') no-repeat right -177px;
	padding-right: 6px;
}

.ChatContainer .RightPage .CenterTopNick {	
	background: url('DefaultSkin/background/Background.gif') repeat-x center -165px;
	height: 6px;
}

.ChatContainer .RightPage .LeftMiddleNick {	
	background: url('DefaultSkin/background/LeftMiddleNick3x1.gif') repeat-y left;
	padding-left: 3px;
}

.ChatContainer .RightPage .RightMiddleNick {	
	background: url('DefaultSkin/background/RightMiddleNick3x1.gif') repeat-y right;
	padding-right: 3px;
}

.ChatContainer .RightPage .BackgroundNick {	
	background-color: white;
}

.ChatContainer .RightPage .NickName {	
	height: 25px;
	padding-left: 7px;
}

.ChatContainer .RightPage .LeftBottomNick {	
	background: url('DefaultSkin/background/Background.gif') no-repeat left -183px;
	padding-left: 6px; 
}

.ChatContainer .RightPage .RightBottomNick {	
	background: url('DefaultSkin/background/Background.gif') no-repeat right -189px;
	padding-right: 6px; 
}

.ChatContainer .RightPage .CenterBottomNick {	
	background: white url('DefaultSkin/background/Background.gif') repeat-x center -195px;
	height: 6px;
}

.ChatContainer .MessagesContainer {
	background-color: #fff;
	height: 215px;
	border: 1px solid #ACACAC;
	margin-right: 140px;
}

.ChatContainer .MarginContainer {
	margin: 0px;
}

.ChatContainer .MessagesContainer .OverflowMessagesContainer {
	overflow: auto;
	height: 215px;
	width: 100%;
}

.ChatContainer .MessagesContainer .OverflowMessagesContainer .Message {
	padding: 8px;
}

.ChatContainer .UserMessage .ChatName {
	float: left;
	font-weight: bold;
	color: #ff9d03;
	font-style: italic;
	width: 60%;
}

.ChatContainer .GuestMessage .ChatName {
	float: left; width: 60%;
	font-weight: bold;
	color: #0473c0;
	font-style: italic;
}

.ChatContainer .ChatTime {
	float: right;
	padding-top: 5px;
	width: 120px;
	text-align: right;
}

.ChatContainer .ChatTimeHistory {
	float: right;
	padding-top: 5px;
	width: 155px;
	text-align: right;
}

.ChatContainer .UserMessage .ChatIcon {
	background: transparent url(DefaultSkin/skinIcons/ChatIcon.gif) no-repeat scroll left -24px;
	padding-left: 28px;
	display: block;
}

.ChatContainer .GuestMessage .ChatIcon {
	background: transparent url('DefaultSkin/skinIcons/ChatIcon.gif') no-repeat left top;
	padding-left: 28px;
	display: block;
}

.ChatContainer .IconStatus {
	height: 24px; line-height: 24px;
}

.ChatContainer .ChatTime .LeftTime {
	background: transparent url('DefaultSkin/background/Background.gif') no-repeat left -219px;
	padding-left: 6px;
	height: 18px; line-height: 18px;
}

.ChatContainer .ChatTime .RightTime {
	background: transparent url('DefaultSkin/background/Background.gif') no-repeat right -237px;
	padding-right: 6px;
	height: 18px; line-height: 18px;
}

.ChatContainer .ChatTime .CenterTime {
	background: transparent url('DefaultSkin/background/Background.gif') repeat-x center -201px;
	height: 18px; line-height: 18px;
	padding: 0px 10px 0px 20px;
}

.ChatContainer .UserMessage .BoxMessageChat {
	display: block;
	position: static;
}

.ChatContainer .UserMessage .UIContextMenuContainer {
	background: none;
	border: none;
}

.ChatContainer .UserMessage .BoxMessageChat .TopLeftBoxMessageChat {
	background: transparent url('DefaultSkin/background/Background.gif') no-repeat left -255px;
	padding-left: 7px;
	height: 20px; line-height: 20px;
}

.ChatContainer .UserMessage .BoxMessageChat .TopRightBoxMessageChat {
	background: transparent url('DefaultSkin/background/Background.gif') no-repeat right -275px;
	padding-right: 7px;
	height: 20px; line-height: 20px;
}

.ChatContainer .UserMessage .BoxMessageChat .TopCenterBoxMessageChat {
	background: transparent url('DefaultSkin/background/Background.gif') repeat-x center -295px;
	height: 20px; line-height: 20px;
}

.ChatContainer .UserMessage .BoxMessageChat .MiddleLeftBoxMessageChat {
	background: transparent url('DefaultSkin/background/LeftMiddeUserChat4x1.gif') repeat-y left;
	padding-left: 4px;
}

.ChatContainer .UserMessage .BoxMessageChat .MiddleRightBoxMessageChat {
	background: transparent url('DefaultSkin/background/RightMiddeUserChat4x1.gif') repeat-y right;
	padding-right: 4px;
}

.ChatContainer .UserMessage .BoxMessageChat .BottomLeftBoxMessageChat {
	background: transparent url('DefaultSkin/background/Background.gif') no-repeat left -315px;
	padding-left: 7px;
	height: 7px; line-height: 7px;
}

.ChatContainer .UserMessage .BoxMessageChat .BottomRightBoxMessageChat {
	background: transparent url('DefaultSkin/background/Background.gif') no-repeat right -322px;
	padding-right: 7px;
	height: 7px; line-height: 7px;
}

.ChatContainer .UserMessage .BoxMessageChat .BottomCenterBoxMessageChat {
	background: transparent url('DefaultSkin/background/Background.gif') repeat-x center -329px;
	height: 7px; line-height: 7px;
}

.ChatContainer .UserMessage .BoxMessageChat .TipRight {
	background: transparent url('DefaultSkin/background/ClickCenterTop29x20.gif') no-repeat 38px;
	height: 18px; line-height: 18px;
}

.ChatContainer .UserMessage .BoxMessageChat .UIRightPopupMenuContainer {
	background: #fef2b7 url('DefaultSkin/background/BgCenterMiddle1x52.gif') repeat-x top;
  margin: 0px;
}

.ChatContainer .UserMessage .BoxMessageChat .ContextChat {
	padding: 10px 15px;
	line-height: 20px;
}

.ChatContainer .GuestMessage .BoxMessageChat {
	display: block;
	position: static;
}

.ChatContainer .GuestMessage .UIContextMenuContainer {
	background: none;
	border: none;
}

.ChatContainer .GuestMessage .BoxMessageChat .TopLeftBoxMessageChat {
	background: transparent url('DefaultSkin/background/Background.gif') no-repeat left -336px;
	padding-left: 6px;
	height: 21px; line-height: 21px;
}

.ChatContainer .GuestMessage .BoxMessageChat .TopRightBoxMessageChat {
	background: transparent url('DefaultSkin/background/Background.gif') no-repeat right -357px;
	padding-right: 6px;
	height: 21px; line-height: 21px;
}

.ChatContainer .GuestMessage .BoxMessageChat .TopCenterBoxMessageChat {
	background: transparent url('DefaultSkin/background/Background.gif') repeat-x center -378px;
	height: 21px; line-height: 21px;
}

.ChatContainer .GuestMessage .BoxMessageChat .MiddleLeftBoxMessageChat {
	background: transparent url('DefaultSkin/background/LeftMiddleGuestChat3x1.gif') repeat-y left;
	padding-left: 3px;
}

.ChatContainer .GuestMessage .BoxMessageChat .MiddleRightBoxMessageChat {
	background: transparent url('DefaultSkin/background/RightMiddleGuestChat4x1.gif') repeat-y right;
	padding-right: 4px;
}

.ChatContainer .GuestMessage .BoxMessageChat .BottomLeftBoxMessageChat{
	background: transparent url('DefaultSkin/background/Background.gif') no-repeat left -399px;
	padding-left: 6px;
	height: 7px; line-height: 7px;
}

.ChatContainer .GuestMessage .BoxMessageChat .BottomRightBoxMessageChat {
	background: transparent url('DefaultSkin/background/Background.gif') no-repeat right -406px;
	padding-right: 6px;
	height: 7px; line-height: 7px;
	
}

.ChatContainer .GuestMessage .BoxMessageChat .BottomCenterBoxMessageChat {
	background: transparent url('DefaultSkin/background/Background.gif') repeat-x center -413px;
	height: 7px; line-height: 7px;
}

.ChatContainer .GuestMessage .BoxMessageChat .TipRight {
	background: transparent url('DefaultSkin/background/TipRightGuestChat28x21.gif') no-repeat 38px;
	height: 21px; line-height: 21px;
}

.ChatContainer .GuestMessage .BoxMessageChat .UIRightPopupMenuContainer {
  background: #d0d8fe url('DefaultSkin/background/BgCenterGuestChat1x67.gif') repeat-x top;
  margin: 0px;
}

.ChatContainer .GuestMessage .BoxMessageChat .ContextChat {
	padding: 10px 15px;
}

.UIConversation .UIAction {
	margin: 10px 0px;
	width: 100%; height: auto;
}

.UIConversation .UITabPane .UITabContentContainer .UITabContent {
	padding-bottom: 0px;
}

.UIConversation .UIAction .SendButton {
	float: right; width: 6%;
	border: 1px solid #ACACAC
}

.UIConversation .UIAction .SendButton .Button {
	border: 1px solid white;
	background: url('DefaultSkin/background/BgButton.gif') repeat-x scroll center;
}

.UIConversation .UIAction .SendButton .Button .IconSend {
	background: url('DefaultSkin/skinIcons/ButtonSend.gif') no-repeat scroll center;
	height: 68px;
}

.UIConversation .UIAction .MsgBox{
	width: 92%; overflow-y: auto;
	float: left;
	height: 68px;
	margin: 0px;
}

/**************************** MiniBoxChat*****************************/
.MiniBoxChat {
	width: 215px;
}

.MiniBoxChat .BgMiniBoxChat {
	background-image: url('DefaultSkin/background/BgMiniBoxChat.gif');
}

.MiniBoxChat .NormalMiniBoxChat .LeftMiniBoxChat {
	background-repeat: no-repeat;
	background-position: left top;
	padding-left: 3px;
}

.MiniBoxChat .NormalMiniBoxChat .RightMiniBoxChat {
	background-repeat: no-repeat;
	background-position: right -25px;
	padding-right: 3px;
}

.MiniBoxChat .NormalMiniBoxChat .CenterMiniBoxChat {
	background-repeat: repeat-x;
	background-position: left -50px;
}
		
.MiniBoxChat .HightLightMiniBoxChat .LeftMiniBoxChat {
	background-repeat: no-repeat;
	background-position: left -75px;
	padding-left: 3px;
}

.MiniBoxChat .HightLightMiniBoxChat .RightMiniBoxChat {
	background-repeat: no-repeat;
	background-position: right -100px;
	padding-right: 3px;
}

.MiniBoxChat .HightLightMiniBoxChat .CenterMiniBoxChat {
	background-repeat: repeat-x;
	background-position: left -125px;
}

.MiniBoxChat .FixHeight {
	height: 23px; line-height: 23px;
}

.MiniBoxChat .ControlMiniBoxChat {
	float: right;
}

.MiniBoxChat .ControlMiniBoxChat .ControlIconChat {
	float: left;
	background-image: url('DefaultSkin/skinIcons/ControlIcon.gif');
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	margin: 3px 1px 0px 1px;
  cursor: pointer;
}

.MiniBoxChat .ControlMiniBoxChat .RestoreIcon {
	background-position: left top;
}

.MiniBoxChat .ControlMiniBoxChat .OverRestoreIcon {
	background-position: right top;
}

.MiniBoxChat .ControlMiniBoxChat .CloseIcon {
	background-position: left -16px;
}

.MiniBoxChat .ControlMiniBoxChat .OverCloseIcon {
	background-position: right -16px;
}

.MiniBoxChat .InfoMiniBoxChat .InfoIcon {
	float: left;
	background: url('DefaultSkin/skinIcons/Chat.gif') no-repeat center;
	width: 16px; height: 16px;
	margin: 3px 4px 0px 4px;
}

.MiniBoxChat .InfoMiniBoxChat .NameChat {
	float: left;
	font-size: 10px;
	font-weight: bold;
	font-family: tahoma;
}

/**************************** HistoryList*****************************/
.HistoryList {
	padding: 5px 5px 0px 5px;
}

.HistoryList .LeftHistoryList {
  background-image: url('DefaultSkin/background/HistoryList.gif');
  background-repeat: no-repeat;
  background-position: left -66px;
  padding-left: 6px;
}
			
.HistoryList .RightHistoryList {
  background-image: url('DefaultSkin/background/HistoryList.gif');
  background-repeat: no-repeat;
  background-position: right -33px;
  padding-right: 6px;
}
			
.HistoryList .CenterHistoryList {
  background-image: url('DefaultSkin/background/HistoryList.gif');
  background-repeat: repeat-x;
  background-position: left top;
}
			
.HistoryList .FixHeight {
  height: 33px; line-height: 30px;
}
			
.HistoryList .ContainerHistoryList {
  text-align: center;
}
			
.HistoryList .ContainerHistoryList .LableHistory {
  font-family: tahoma;
  font-size: 11px;
  color: #333;
  padding-right: 7px;
}
			
.HistoryList .ContainerHistoryList .Line {
  font-family: tahoma;
  font-size: 11px;
  color: #999;
  padding: 0px 5px;
}
			
.HistoryList .ContainerHistoryList .LinkHistory {
  font-family: tahoma;
  font-size: 11px;
  color: #0044bb; 
  text-decoration: none;              
  cursor: pointer;
}
			
.HistoryList .ContainerHistoryList .LinkHistory a {
  font-family: tahoma;
  font-size: 11px;
  color: #0044bb;
}

/**************************** Send File*****************************/
.SendFile {
	padding: 8px 15px 8px 8px;
}

.SendFile .BackgroundSendFile {
	background-color: #fbfaf3;
	border-bottom: 1px solid #dfdcc4;
	height: auto;
	padding-bottom: 2px;
}

.SendFile .BackgroundSendFile .ImageFile {
	float: left;
	background: url('DefaultSkin/background/Picture50x46.gif') no-repeat center;
	height: 46px;
	padding: 3px 5px 2px 65px;
}

.SendFile .BackgroundSendFile .ContentSendFile {
	float: left;
	line-height: 16px;
}

.SendFile .BackgroundSendFile .ContentSendFile .LableSendFile {
	font-weight: bold;
	color: #e1ad29;
}

.SendFile .BackgroundSendFile .ContentSendFile .NameFile {
}

.SendFile .BackgroundSendFile .ContentSendFile .ActionFile {
	font-weight: bold;
	color: #0066cc;
	cursor: pointer;
	text-decoration: underline;
	padding-right: 20px;
	float: left;
}

.UINewForm {
    overflow:auto;
}

.UINewForm .StyleLegend {
	color: #5286d6;
	font-size: 11px;
}
