.UIForumOptionForm {
	background-color: #ffffff;
	padding: 8px;
}

.UIForumOptionForm .HorizontalLayout {
	border:1px solid #AEAEAE;
	background-color: #f7f7f7;
}

.UIForumOptionForm .UIAction {
	padding: 10px 0px;
}
.UIForumOptionForm .UIFormInput {
	border: solid 1px #ffffff;
} 