@import url('skinIcons/16x16/Stylesheet.css') ;
@import url('skinIcons/24x24/Stylesheet.css') ;
@import url('popup/Stylesheet.css') ;
@import url('UICategories/Stylesheet.css') ;
@import url('UIForumContainer/Stylesheet.css') ;
@import url('UIForumLinks/Stylesheet.css') ;
@import url('UIForumPortlet/Stylesheet.css') ;
@import url('UIPrintView/Stylesheet.css') ;
@import url('UITopicDetail/Stylesheet.css') ;
@import url('UITopicPoll/Stylesheet.css') ;
@import url('UIForumPageIterator/Stylesheet.css') ;

/**************************** UIActionForum *********************************/
.UIForumPortlet .UIActionForum .ActionButton {
	margin: 2px 3px 0px 3px;
	float: left;
}
 
.UIForumPortlet .UIActionForum .NormalStyle {
}
 
.UIForumPortlet .UIActionForum .NormalStyle .ButtonLeft {
  background: url('background/buttons/LeftNormalStyleButton7x22.gif') no-repeat left top;
  padding: 0px 0px 0px 7px;
}

.UIForumPortlet .UIActionForum .NormalStyle .ButtonRight {
  background: url('background/buttons/RightNormalStyleButton7x22.gif') no-repeat right top;
  padding: 0px 7px 0px 0px ;
}

.UIForumPortlet .UIActionForum .NormalStyle .ButtonMiddle {
  line-height: 20px;
	background: url('background/buttons/MiddleNormalStyleButton1x22.gif') repeat-x top;
}

.UIForumPortlet .UIActionForum .NormalStyle .IconButton {
	background-repeat: no-repeat;
	padding: 0px 3px 0px 20px;
	cursor: pointer;
}

.UIForumPortlet .LockActionForum .NormalStyle .IconButton {
	cursor: default;
}

.UIForumPortlet .UIActionForum .NormalStyle .LabelIcon {
	line-height: 20px;
}

/**************************** UIForumPortlet ForumToolBar *********************************/
.UIForumPortlet .UIActionForum .NormalButtom {
	margin: 0px;
}
 
.UIForumPortlet .UIActionForum .NormalButtom .ButtonLeft {
  background: url('background/buttons/LeftButtom3x18.gif') no-repeat left top;
  padding: 0px 0px 0px 3px;
}

.UIForumPortlet .UIActionForum .NormalButtom .ButtonRight {
  background: url('background/buttons/RightButtom3x18.gif') no-repeat right top;
  padding: 0px 3px 0px 0px ;
}

.UIForumPortlet .UIActionForum .NormalButtom .ButtonMiddle {
  line-height: 18px;
	background: url('background/buttons/MiddleButtom1x18.gif') repeat-x top;
}

/**************************** UIForumPortlet ForumToolBar *********************************/
.UIForumPortlet .ForumToolbar {
	height: 26px;
}

.UIForumPortlet .ForumToolbar .CollapseButton {
	float: right;
	width: 16px; height: 16px; 
	margin: 5px 5px 0px 0px;
	cursor: pointer;
	
}

.UIForumPortlet .ForumToolbar .ExpandButton {
	float: right;
	width: 16px; height: 16px; 
	margin: 5px 5px 0px 0px;
	cursor: pointer;
}

.UIForumPortlet a {
	color: #000000;
}

.UIForumPortlet a:hover {
	color: #058ee6;
}

.UIForumPortlet .ForumToolbar .Title {
	float: left;
	font-weight: bold;
	margin: 6px 0px 0px 8px;
}

.UIForumPortlet .ForumToolbar .SeparatorLine {
	background: url(background/SeparatorLine2x19.gif) no-repeat;
	width: 2px; height: 19px;
	margin: 3px;
}

.UIForumPortlet .ForumToolbar .LeftBar {
	background: url('background/ForumToolBarLeft3x26.gif') no-repeat left top;
	padding-left: 3px;
}

.UIForumPortlet .ForumToolbar .RightBar {
	background: url('background/ForumToolBarRight3x26.gif') no-repeat right top;
	padding-right: 3px;
}

.UIForumPortlet .ForumToolbar .CenterBar {
	background: url('background/ForumToolBarCenter1x26.gif') repeat-x top;
	height: 26px;
}

.UIForumPortlet .ForumToolbar .UIPopupCategory {
	left: -20px;
	position:absolute;
	top:3px;
	width: auto;
}

.UIForumPortlet .ForumToolbar .UIRightClickPopupMenu {
	width:175px;
}

.UIForumPortlet .ForumToolbar .UIRightClickPopupMenu .LineMenu {
	width:150px;
	margin: 4px auto;
	border-top: solid 1px #7b7b7b;
}

.Vista .UIForumPortlet .ForumToolbar .UIRightClickPopupMenu {
	min-width:190px;
	white-space: nowrap;
}

/******************************  OverButton  ***************************************/
.UIForumPortlet .UICategoryStyle .LeftOverButton {
	background: url('background/LeftOverButton5x22.gif') no-repeat left top;
	padding-left: 5px;
}

.UIForumPortlet .UICategoryStyle .RightOverButton {
	background: url('background/RightOverButton5x22.gif') no-repeat right top;
	padding-right: 5px;
}

.UIForumPortlet .UICategoryStyle .CenterOverButton {
	background: url('background/CenterOverButton1x22.gif') repeat-x top;
	height: 22px;
	padding-left: 3px;
}

.UIForumPortlet .UICategory .LeftOverButton {
	padding-left: 5px;
}

.UIForumPortlet .UICategory .RightOverButton {
	padding-right: 5px;
}

.UIForumPortlet .UICategory .CenterOverButton {
	height: 22px;
	padding-left: 3px;
}

.UIRightClickPopupMenu .UIRightPopupMenuContainer .DisableMenuItem {
	color:#cccccc ;	
}

.UIRightClickPopupMenu .UIRightPopupMenuContainer a:hover.DisableMenuItem {
	color:#cccccc ;	
}

.SelectedItem {
	background: #ffffcc ;
}

.DisableLabel {
	opacity:0.3;
}

.UIForumPortlet .UIPageIterator .Number {
	padding: 0px 2px;
	margin: 0px;
}