@import url('skinIcons/16x16/Stylesheet.css') ;
@import url('skinIcons/24x24/Stylesheet.css') ;
@import url('UIForumPortlet/Stylesheet.css') ;
@import url('UICategories/Stylesheet.css') ;
@import url('UIThreadsInForum/Stylesheet.css') ;
@import url('UIPostsInThread/Stylesheet.css') ;

/**************************** UIActionForum *********************************/
.UIForumPortlet .UIActionForum .ActionButton {
	margin: 0px 3px;
	float: left;
}
 
.UIForumPortlet .UIActionForum .ActionButton .NormalStyle {
}
 
.UIForumPortlet .UIActionForum .ActionButton .NormalStyle .ButtonLeft {
  background: url('background/buttons/LeftNormalStyleButton7x22.gif') no-repeat left top;
  padding: 0px 0px 0px 7px;
}

.UIForumPortlet .UIActionForum .ActionButton .NormalStyle .ButtonRight {
  background: url('background/buttons/RightNormalStyleButton7x22.gif') no-repeat right top;
  padding: 0px 7px 0px 0px ;
}

.UIForumPortlet .UIActionForum .ActionButton .NormalStyle .ButtonMiddle {
  line-height: 20px;
	background: url('background/buttons/MiddleNormalStyleButton1x22.gif') repeat-x top;
	height: 22px;
}

.UIForumPortlet .UIActionForum .ActionButton .NormalStyle .IconButtom {
	background-repeat: no-repeat;
	padding: 0px 3px 0px 20px;
}

.UIForumPortlet .UIActionForum .ActionButton .NormalStyle .LabelIcon {
	line-height: 20px;
}

/**************************** UIForumPortlet ForumToolBar *********************************/
.UIForumPortlet .ForumToolbar {
	height: 26px;
}

.UIForumPortlet .ForumToolbar .Title {
	float: left;
	font-weight: bold;
	margin: 6px 0px 0px 8px;
}

.UIForumPortlet .ForumToolbar .SeparatorLine {
	background: url(background/SeparatorLine2x19.gif) no-repeat;
	width: 2px; height: 19px;
}

.UIForumPortlet .ForumToolbar .LeftBar {
	background: url('background/ForumToolBarLeft3x26.gif') no-repeat left top;
	padding-left: 3px;
}

.UIForumPortlet .ForumToolbar .RightBar {
	background: url('background/ForumToolBarRight3x26.gif') no-repeat right top;
	padding-right: 3px;
}

.UIForumPortlet .ForumToolbar .CenterBar {
	background: url('background/ForumToolBarCenter1x26.gif') repeat-x top;
	height: 26px;
}

/*=============================Content Container====================*/

.UIForumPortlet .ContentContainer {
	padding-left: 1px;
}

.UIForumPortlet .ContentContainer .ForumList a {
	color: #126ca5;
}

.UIForumPortlet .ContentContainer .ForumStatsList a {
	color: #126ca5;
}

.UIForumPortlet .ContentContainer .UIGrid th {
	background: url(background/ForumTitleBar1x19.gif) repeat-x;
	border: 1px solid #d2d4dc;
}

.UIForumPortlet .ContentContainer .UIGrid td {
	padding: 5px 0px 0px 5px;
}

.UIForumPortlet .ContentContainer .ForumStatusIcon {
	width: 22px; height: 22px;
	margin: 9px 0px 0px 10px;
}

.UIForumPortlet .ContentContainer .ForumTitle {
	font-weight: bold;
}

.UIForumPortlet .ContentContainer .LastPostTitle {
	font-weight: bold;
	color: #126ca5;
	cursor: pointer;
	padding-left: 18px;
}

.UIForumPortlet .ContentContainer .ForumQuantity {
	font-weight: normal;
	color: black;
	cursor: normal;
}

.UIForumPortlet .ContentContainer .Moderator {
	float: left;
	font-weight: bold;
	line-height: 30px;
}

.UIForumPortlet .ContentContainer .EmoticonsIcon {
	float: left;
	width: 16px; height: 16px;
	margin: 8px 4px 0px 4px;
}

.UIForumPortlet .ContentContainer .UIGrid .Tdbox  {
	padding: 13px 0px 0px 7px;
}

.UIForumPortlet .ContentContainer .ForumDescription {
	line-height: 22px;
}

.UIForumPortlet .ContentContainer .LastPostInfos {
	line-height: 22px;
}



