@import url('skinIcons/16x16/icons/Stylesheet.css') ;
@import url('skinIcons/24x24/icons/Stylesheet.css') ;
@import url('UIForumPortlet/Stylesheet.css') ;
@import url('UICategory/Stylesheet.css') ;
@import url('UIThreadsInForum/Stylesheet.css') ;
@import url('UIPostsInThread/Stylesheet.css') ;

/**************************** UIActionForum *********************************/
.UIActionForum .ActionButton {
	margin: 0px 3px;
	float: left;
}
 
.UIActionForum .ActionButton .NormalStyle {
}
 
.UIActionForum .ActionButton .NormalStyle .ButtonLeft {
  background: url('background/buttons/LeftNormalStyleButton7x22.gif') no-repeat left top;
  padding: 0px 0px 0px 7px;
}

.UIActionForum .ActionButton .NormalStyle .ButtonRight {
  background: url('background/buttons/RightNormalStyleButton7x22.gif') no-repeat right top;
  padding: 0px 7px 0px 0px ;
}

.UIActionForum .ActionButton .NormalStyle .ButtonMiddle {
  line-height: 22px;
	background: url('background/buttons/MiddleNormalStyleButton1x22.gif') repeat-x top;
}

.UIActionForum .ActionButton .NormalStyle .IconButtom {
	background-repeat: no-repeat;
	padding-left: 20px;
}

.UIActionForum .ActionButton .NormalStyle .LabelIcon {
	line-height: 22px;
}

/**************************** ForumToolBar *********************************/
.ForumToolbar {
	height: 26px;
	margin: 5px 0px 0px 0px;
}

.ForumToolbar .LeftBar {
	background: url('background/ForumToolBarLeft3x26.gif') no-repeat left top;
	padding-left: 3px;
}

.ForumToolbar .RightBar {
	background: url('background/ForumToolBarRight3x26.gif') no-repeat right top;
	padding-right: 3px;
}

.ForumToolbar .CenterBar {
	background: url('background/ForumToolBarCenter1x26.gif') repeat-x top;
	height: 26px;
}

.ForumToolbar a {
	color: black;
}

.ForumToolbar a:hover {
	color: #126ca5;
}

.ForumToolbar .Title {
	float: left;
	font-weight: bold;
	line-height: 24px;
	margin: 0px 0px 0px 8px;
}

.ForumToolbar .CollapseButton {
	background: url('skinIcons/16x16/icons/Collapser.gif') no-repeat ;
	float: right;
	width: 16px; height: 16px; 
	margin: 5px 5px 0px 0px;
	cursor: pointer;
	
}

.ForumToolbar .ExpandButton {
	background: url('skinIcons/16x16/icons/Expand.gif') no-repeat ;
	float: right;
	width: 16px; height: 16px; 
	margin: 5px 5px 0px 0px;
	cursor: pointer;
	
}

.ForumToolbar .ToolbarActionsContainer {
	float: right;
	width: 150px;
	margin: 5px 0px 0px 0px;
}

.ForumToolbar .ToolbarActionsContainer .ManageCategoryButton {
	float: right;
	cursor: pointer;
	padding-left: 20px;
	line-height: 16px;
}

.ForumToolbar .ToolbarActionsContainer .SeparatorLine {
	background: url('background/SeparatorLine2x19.gif') no-repeat ;
	float: right;
	width: 2px; height: 19px;
	margin: 0px 5px 0px 5px;
}

/*=============================Content Container====================*/

.ContentContainer  {
	padding-left: 1px;
}

.ContentContainer .ForumList a {
	color: #126ca5;
}

.ContentContainer .ForumStatsList a {
	color: #126ca5;
}

.ContentContainer .UIGrid th {
	background: url(background/ForumTitleBar1x19.gif) repeat-x;
	border: 1px solid #d2d4dc;
}

.ContentContainer .UIGrid td {
	padding: 5px 0px 0px 5px;
}

.ContentContainer .ForumStatusIcon {
	width: 22px; height: 22px;
	margin: 9px 0px 0px 10px;
}

.ContentContainer .ForumTitle {
	font-weight: bold;
}

.ContentContainer .LastPostTitle {
	font-weight: bold;
	color: #126ca5;
	cursor: pointer;
	padding-left: 18px;
}

.ContentContainer .ForumQuantity {
	font-weight: normal;
	color: black;
	cursor: normal;
}

.ContentContainer .Moderator {
	float: left;
	font-weight: bold;
	line-height: 30px;
}

.ContentContainer .EmoticonsIcon {
	float: left;
	width: 16px; height: 16px;
	margin: 8px 4px 0px 4px;
}

.ContentContainer .UIGrid .Tdbox  {
	padding: 13px 0px 0px 7px;
}

.ContentContainer .ForumDescription {
	line-height: 22px;
}

.ContentContainer .LastPostInfos {
	line-height: 22px;
}

/*========================Icons=====================================*/

.BusyIcon {
	background: url('skinIcons/16x16/icons/BusyIcon.gif') no-repeat ;
}

.BigGrinIcon {
	background: url('skinIcons/16x16/icons/BigGrinIcon.gif') no-repeat ;
}

.OfflineIcon {
	background: url('skinIcons/16x16/icons/OffLineIcon.gif') no-repeat ;
}

.OnlineIcon {
	background: url('skinIcons/16x16/icons/OnlineIcon.gif') no-repeat ;
}

.ContainNewPostIcon {
	background: url('skinIcons/24x24/icons/NewPostIcon.gif') no-repeat ;
}

.ForumCloseIcon {
	background: url('skinIcons/24x24/icons/ForumCloseIcon.gif') no-repeat ;
}

.NoNewPostIcon {
	background: url('skinIcons/24x24/icons/NoNewPostIcon.gif') no-repeat ;
}

.ManageCategoryButton {
	background: url('skinIcons/16x16/icons/ManageCategory.gif') no-repeat ;
}

.ToolIcon {
	background: url('skinIcons/16x16/icons/ToolIcon.gif') no-repeat ;
}

.ModeratedIcon {
	background: url('skinIcons/16x16/icons/ModeratedIcon.gif') no-repeat ;
}

.SeachIcon {
	background: url('skinIcons/16x16/icons/SeachIcon.gif') no-repeat ;
}

.StickyIcon {
	background: url('skinIcons/16x16/icons/StickyIcon.gif') no-repeat ;
}

.BlueTagIcon {
	background: url('skinIcons/16x16/icons/BlueTagIcon.gif') no-repeat ;
}

.GreenTagIcon {
	background: url('skinIcons/16x16/icons/GreenTagIcon.gif') no-repeat ;
}

.RedTagIcon {
	background: url('skinIcons/16x16/icons/RedTagIcon.gif') no-repeat ;
}

.VioletTagIcon {
	background: url('skinIcons/16x16/icons/VioletTagIcon.gif') no-repeat ;
}

.LeftArrowIcon {
	background: url('skinIcons/16x16/icons/LeftArrowIcon.gif') no-repeat ;
}

.RightArrowIcon {
	background: url('skinIcons/16x16/icons/LeftArrowIcon.gif') no-repeat ;
}

.BlueTagIcon {
	background: url('skinIcons/16x16/icons/BlueTagIcon.gif') no-repeat ;
}

.HotThreadNewPost {
	background: url('skinIcons/24x24/icons/HotThreadNewPost.gif') no-repeat ;
}

.HotThreadNoNewPost {
	background: url('skinIcons/24x24/icons/HotThreadNoNewPost.gif') no-repeat ;
}

.ThreadIsClose {
	background: url('skinIcons/24x24/icons/ThreadIsClose.gif') no-repeat ;
}

.ThreadNewPost {
	background: url('skinIcons/24x24/icons/ThreadNewPost.gif') no-repeat ;
}

.ThreadNoNewPost {
	background: url('skinIcons/24x24/icons/ThreadNoNewPost.gif') no-repeat ;
}

.AttachmentIcon {
	background: url('skinIcons/16x16/icons/AttachmentIcon.gif') no-repeat ;
}


