.UIComboboxContainer {
	
}
.UIComboboxContainer .UIComboboxInput {
	z-index: 0 ;
	border: solid 1px gray ;
}
.UIComboboxContainer .UIComboboxList {
	background: white ;
	position: absolute ;
	border: solid 1px gray ;
	overflow-y: auto ;
	display: none ;
}
.UIComboboxContainer .UIComboboxItem {
	display: block ;
	padding: 3px 5px ;
	text-decoration: none ;
	color: black ;
}

.UIComboboxContainer .UIComboboxList a:hover{
	background: blue ;
	color: white ;
}

.UIComboboxContainer .UIComboboxList a:visit{
	background: white ;
	color: black ;
}

.UIComboboxContainer .UIComboboxIcon {

}

.UIComboboxContainer .UIComboboxSelectedIcon a{
	background: blue ;
}

.UIComboboxContainer .UIComboboxLabel {
	font-family: tahoma ;
	font-size: 11px ;
	margin-left: 16px ;
}
